@if (!dialogMode) {
  <div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
    <div class="d-md-flex align-items-center">
      <h5 class="mb-0 d-inline ml-10">
        <h5 class="mb-0 ml-10">
          <span i18n>{{ titleHeader }}</span>
        </h5>
      </h5>

    </div>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
      <li class="breadcrumb-item d-inline-block position-relative" i18n>
        Invoice
      </li>
      <li class="breadcrumb-item d-inline-block position-relative" i18n>
        List of Invoice
      </li>
      <li class="breadcrumb-item d-inline-block position-relative" i18n>
        {{ titleHeader }}
      </li>
    </ol>
  </div>

  <div (scroll)="onScroll()" [ngClass]="isSticky ? 'fixed' : 'notfixed'" class="w-100 text-end mb-10">
    <button (click)="goBack()" class="step-2-menu-button btn-slot-3" extended i18n mat-fab>
      <i class="material-symbols-outlined">
        undo
      </i>
      Back
    </button>
    <button (click)="saveAndNext()" *ngIf="!readMode" class="step-2-menu-button btn-slot-4" extended i18n mat-fab>
      <i class="material-symbols-outlined">
        redo
      </i>
      Save and reconcile
    </button>
    <button (click)="save()" *ngIf="!readMode" class="step-2-menu-button btn-slot-1" extended i18n mat-fab>
      <i class="material-symbols-outlined">
        save
      </i>
      Save
    </button>
    <button (click)="toggleDialogFinish()" *ngIf="!readMode" class="step-2-menu-button btn-slot-1" extended i18n mat-fab>
      <i class="material-symbols-outlined">
        task_alt
      </i>
      Chốt hóa đơn
    </button>
  </div>
}
<mat-accordion multi>
  <mat-expansion-panel [expanded]="expandList.has('tab1')">
    <mat-expansion-panel-header i18n>
      <div (click)="$event.stopPropagation();" class="title-no-event">1. General information</div>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <form [formGroup]="formGroupDetail" autocomplete="off" class="w-100">
        <div class="row">
          <div class="col-12 d-flex align-items-center mb-10" sizeInput="sm">
            <label i18n>
              Type <span style="color:red">*</span>
            </label>
            <div>
              <mat-radio-group formControlName="partnerType">
                <mat-radio-button i18n value="HOTEL">
                  Hotel
                </mat-radio-button>
                <mat-radio-button i18n value="TRANSPORTATION">
                  Transportation
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
        <!--        dong1-->
        <div class="row">
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Airport code</mat-label>
              <mat-select formControlName="airportCode" required>
                @for (item of listFlightMarket; track item) {
                  <mat-option [value]="item">{{ item }}</mat-option>
                }
              </mat-select>
              <mat-error>
                <app-control-error controlName="airportCode"></app-control-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Period From</mat-label>
              <input [matDatepicker]="periodFrom" formControlName="periodFrom" matInput [max]="today"
                     required trim="blur">
              <mat-datepicker-toggle [for]="periodFrom" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #periodFrom></mat-datepicker>
              <mat-error>
                <app-control-error controlName="periodFrom"></app-control-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Period To</mat-label>
              <input [matDatepicker]="periodTo" formControlName="periodTo" matInput [max]="today"
                     required trim="blur">
              <mat-datepicker-toggle [for]="periodTo" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #periodTo></mat-datepicker>
              <mat-error>
                <app-control-error controlName="periodTo"></app-control-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Invoice date</mat-label>
              <input [matDatepicker]="invoiceDate" formControlName="invoiceDate" matInput [max]="today"
                     required trim="blur">
              <mat-datepicker-toggle [for]="invoiceDate" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #invoiceDate></mat-datepicker>
              <mat-error>
                <app-control-error controlName="invoiceDate"></app-control-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--        dong2-->
        <div class="row mt-20">
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Receive Date</mat-label>
              <input [matDatepicker]="invoiceReceiveDate" formControlName="invoiceReceiveDate" matInput [max]="today"
                     required trim="blur">
              <mat-datepicker-toggle [for]="invoiceReceiveDate" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #invoiceReceiveDate></mat-datepicker>
              <mat-error>
                <app-control-error controlName="invoiceReceiveDate"></app-control-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Invoice number</mat-label>
              <input formControlName="invoiceNumber" matInput required trim="blur" upperCase="blur">
              <mat-error>
                <app-control-error controlName="invoiceNumber"></app-control-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Invoice Type</mat-label>
              <mat-select formControlName="ctype" required>
                @for (item of listDocumentType; track item) {
                <mat-option [value]="item.key">{{ item.value }}</mat-option>
                }
              </mat-select>
              <mat-error>
                <app-control-error controlName="ctype"></app-control-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <app-datepicker-year-month formControlName="periodOccurrence" i18n-label label="Period Occurrence" required
                                       size="sm">
            </app-datepicker-year-month>
          </div>
        </div>
        <!--        dong3-->
        <div class="row mt-20">
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Payment Due Day</mat-label>
              <input formControlName="paymentDueDay" matInput trim="blur">
              <mat-error>
                <app-control-error controlName="paymentDueDay"></app-control-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Payment Due Date</mat-label>
              <input [matDatepicker]="paymentDueDate" formControlName="paymentDueDate" matInput
                     required trim="blur">
              <mat-datepicker-toggle [for]="paymentDueDate" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #paymentDueDate></mat-datepicker>
              <mat-error>
                <app-control-error controlName="paymentDueDate"></app-control-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>BizDocId</mat-label>
              <input formControlName="bizDocId" matInput trim="blur">
              <mat-error>
                <app-control-error controlName="bizDocId"></app-control-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Partner Code</mat-label>
              <input formControlName="partnerCode" matInput trim="blur">
              <mat-error>
                <app-control-error controlName="partnerCode"></app-control-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--        dong4-->
        <div class="row mt-20">
          <div class="col-9" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Partner Name</mat-label>
              <input formControlName="partnerName" matInput trim="blur">
              <mat-error>
                <app-control-error controlName="partnerName"></app-control-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Contract Service Type</mat-label>
              <input formControlName="contractServiceType" matInput required trim="blur">
              <mat-error>
                <app-control-error controlName="contractServiceType"></app-control-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--        dong5-->
        <div class="row mt-20">
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Currency</mat-label>
              <input formControlName="currency" matInput trim="blur">
              <mat-error>
                <app-control-error controlName="currency"></app-control-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Exchange Rate Date</mat-label>
              <input [matDatepicker]="exchangeRateDate" formControlName="exchangeRateDate" matInput
                     required trim="blur">
              <mat-datepicker-toggle [for]="exchangeRateDate" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #exchangeRateDate></mat-datepicker>
              <mat-error>
                <app-control-error controlName="exchangeRateDate"></app-control-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Exchange Rate</mat-label>
              <input formControlName="exchangeRate" matInput trim="blur">
              <mat-error>
                <app-control-error controlName="exchangeRate"></app-control-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Exchange Type</mat-label>
              <input formControlName="exchangeRateType" matInput trim="blur">
              <mat-error>
                <app-control-error controlName="exchangeRateType"></app-control-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--        dong6-->
        <div class="row mt-20">
          <mat-form-field>
            <mat-label i18n>Description</mat-label>
            <textarea cdkAutosizeMaxRows="5" cdkAutosizeMaxRows="5" cdkAutosizeMinRows="2" cdkAutosizeMinRows="2"
                      cdkTextareaAutosize
                      formControlName="description" i18n-placeholder matInput
                      required trim="blur"></textarea>
            <mat-error>
              <app-control-error controlName="description"></app-control-error>
            </mat-error>
          </mat-form-field>
        </div>
        <!--        dong7-->
        <div class="row mt-20">
          <mat-form-field>
            <mat-label i18n>Note</mat-label>
            <textarea cdkAutosizeMaxRows="5" cdkAutosizeMinRows="2" cdkTextareaAutosize formControlName="note"
                      i18n-placeholder
                      matInput trim="blur"></textarea>
            <mat-error>
              <app-control-error controlName="note"></app-control-error>
            </mat-error>
          </mat-form-field>
        </div>
        <!--        dong8-->
        <div class="row mt-20">
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Root</mat-label>
              <mat-select formControlName="idParent">
                <mat-option [value]="null">&nbsp;</mat-option>
                @for (item of listDocumentParent; track item) {
                  <mat-option
                      [value]="item.id">{{
                          (item.invoiceNumber) + ' - ' + (item.invoiceDate | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT])
                    }}
                  </mat-option>
                }
              </mat-select>
              <mat-error>
                <app-control-error controlName="idParent"></app-control-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Version</mat-label>
              <input formControlName="version" matInput trim="blur">
              <mat-error>
                <app-control-error controlName="version"></app-control-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Status</mat-label>
              <mat-select formControlName="status">
                <mat-option [value]="null" i18n>-- All Status --</mat-option>
                @for (item of listInvoiceDocumentStatus; track item) {
                  <mat-option [value]="item.key">{{ item.value }}</mat-option>
                }
              </mat-select>
              <mat-error>
                <app-control-error controlName="status"></app-control-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="expandList.has('tab2')">
    <mat-expansion-panel-header i18n>
      <div (click)="$event.stopPropagation();" class="title-no-event">2. Detailed payment information</div>
    </mat-expansion-panel-header>
    <mat-panel-description class="d-block">
      <div class="w-100 text-end">
        <button (click)="addRow()" *ngIf="!readMode" class="add-btn right-0 mb-10" i18n mat-button type="button">
          <i class="material-symbols-outlined">
            add
          </i>
          Add
        </button>
      </div>
      <div class="table-responsive">
        @defer (on timer(1000)) {
          <table [dataSource]="dsInvoiceDocumentDtl" class="table-light table-responsive"
                 mat-table>
            <ng-container matColumnDef="stt">
              <th *matHeaderCellDef class="text-center" mat-header-cell mat-sort-header rowspan="2">#</th>
              <td *matCellDef="let element; let i = index" class="text-center"
                  mat-cell>{{ (pageIndex * pageSize) + i + 1 }}
              </td>
            </ng-container>
            <ng-container matColumnDef="serviceCode">
              <th *matHeaderCellDef class="text-center required-label" i18n mat-header-cell mat-sort-header rowspan="2">Service Code
              </th>
              <td *matCellDef="let row; let i = index" [formGroup]="row" mat-cell>
                <div class="input-cell">
                  <app-selection-suggest-2
                      (selectionChange)="changeServiceFee(row);"
                      [editInlineTable]="true"
                      [options]="listFeeService"
                      attrDisplay="code"
                      attrDisplay2="name"
                      attrValue="code" formControlName="serviceCode" i18n-label2
                      label2="Code"
                      size="sm"/>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="serviceName">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">Service Name</th>
              <td *matCellDef="let row; let i = index" [formGroup]="row" mat-cell>
                <div class="input-cell">
                  <mat-form-field class="edit-inline-table">
                    <input formControlName="serviceName" matInput readonly required trim="blur">
                    <mat-error *ngxControlError="row.controls['serviceName']; track: 'required'">
                      <span i18n>Category name</span><span i18n> is required</span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="unit">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">Unit</th>
              <td *matCellDef="let row; let i = index" [formGroup]="row" mat-cell>
                <div class="input-cell">
                  <mat-form-field class="edit-inline-table">
                    <input formControlName="unit" matInput readonly required trim="blur">
                    <mat-error *ngxControlError="row.controls['unit']; track: 'required'">
                      <span i18n>Service Unit</span><span i18n> is required</span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="periodOccurrence">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">Period
                Occurrence
              </th>
              <td *matCellDef="let row; let i = index" [formGroup]="row" mat-cell>
                <div class="input-cell">
                  <app-datepicker-year-month [editInlineTable]="true" formControlName="periodOccurrence">
                  </app-datepicker-year-month>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="nsCode">
              <th *matHeaderCellDef class="text-center required-label" i18n mat-header-cell mat-sort-header rowspan="2">NS Code</th>
              <td *matCellDef="let row; let i = index" [formGroup]="row" mat-cell>
                <div class="input-cell">
                  <mat-form-field class="edit-inline-table">
                    <input formControlName="nsCode" matInput required trim="blur">
                    <mat-error *ngxControlError="row.controls['nsCode']; track: 'required'">
                      <span i18n>Ns code</span><span i18n> is required</span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="quantity">
              <th *matHeaderCellDef class="text-center required-label" i18n mat-header-cell mat-sort-header rowspan="2">Quantity
              </th>
              <td *matCellDef="let row; let i = index" [formGroup]="row" mat-cell>
                <div class="input-cell">
                  <mat-form-field class="edit-inline-table">
                    <input appThousandsSeparator formControlName="quantity" matInput required trim="blur">
                    <mat-error>
                    <app-control-error controlName="quantity"></app-control-error>
                    </mat-error>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="unitPrice">
              <th *matHeaderCellDef class="text-center required-label" i18n mat-header-cell mat-sort-header rowspan="2">Unit Price
              </th>
              <td *matCellDef="let row; let i = index" [formGroup]="row" mat-cell>
                <div class="input-cell">
                  <mat-form-field class="edit-inline-table">
                    <input appThousandsSeparator formControlName="unitPrice" matInput required trim="blur">
                    <mat-error *ngxControlError="row.controls['unitPrice']; track: 'required'">
                      <span i18n>Unit Price </span><span i18n> is required</span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="amountFcBeforeVat">
              <th *matHeaderCellDef class="text-center required-label" i18n mat-header-cell mat-sort-header rowspan="2">
                Amount Fc Before Vat
              </th>
              <td *matCellDef="let row; let i = index" [formGroup]="row" mat-cell>
                <div class="input-cell">
                  <mat-form-field class="edit-inline-table">
                    <input appThousandsSeparator formControlName="amountFcBeforeVat" matInput trim="blur">
                    <mat-error>
                      <app-control-error controlName="amountFcBeforeVat"></app-control-error>
                    </mat-error>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="amountVndBeforeVat">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">
                Amount Vnd Before Vat
              </th>
              <td *matCellDef="let row; let i = index" [formGroup]="row" mat-cell>
                <div class="input-cell">
                  <mat-form-field class="edit-inline-table">
                    <input appThousandsSeparator formControlName="amountVndBeforeVat" matInput trim="blur">
                    <mat-error>
                      <app-control-error controlName="amountVndBeforeVat"></app-control-error>
                    </mat-error>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="amountFcVat">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">Amount Fc</th>
              <td *matCellDef="let row; let i = index" [formGroup]="row" mat-cell>
                <div class="input-cell">
                  <mat-form-field class="edit-inline-table">
                    <input appThousandsSeparator formControlName="amountFcVat" matInput trim="blur">
                    <mat-error>
                      <app-control-error controlName="amountFcVat"></app-control-error>
                    </mat-error>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="amountVndVat">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">Amount Vnd</th>
              <td *matCellDef="let row; let i = index" [formGroup]="row" mat-cell>
                <div class="input-cell">
                  <mat-form-field class="edit-inline-table">
                    <input appThousandsSeparator formControlName="amountVndVat" matInput trim="blur">
                    <mat-error>
                      <app-control-error controlName="amountVndVat"></app-control-error>
                    </mat-error>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="vatType">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">Vat Type</th>
              <td *matCellDef="let row; let i = index" [formGroup]="row" mat-cell>
                <div class="input-cell">
                  <mat-form-field class="edit-inline-table">
                    <input formControlName="vatType" matInput trim="blur">
                    <mat-error>
                      <app-control-error controlName="vatType"></app-control-error>
                    </mat-error>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="vat">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">%VAT</th>
              <td *matCellDef="let row; let i = index" [formGroup]="row" mat-cell>
                <div class="input-cell">
                  <mat-form-field class="edit-inline-table">
                    <input appThousandsSeparator formControlName="vat" matInput trim="blur">
                    <mat-error>
                      <app-control-error controlName="vat"></app-control-error>
                    </mat-error>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="vatHeader">
              <th *matHeaderCellDef class="text-center" colspan="4" i18n mat-header-cell mat-sort-header>VAT
            </ng-container>
            <tr
                *matHeaderRowDef="['stt','serviceCode','serviceName','unit','periodOccurrence','nsCode','quantity','unitPrice','amountFcBeforeVat','amountVndBeforeVat','vatHeader']"
                mat-header-row></tr>
            <tr
                *matHeaderRowDef="['vatType','vat','amountFcVat','amountVndVat']" mat-header-row></tr>
            <tr
                *matRowDef="let row; columns: ['stt','serviceCode','serviceName','unit','periodOccurrence','nsCode','quantity','unitPrice','amountFcBeforeVat','amountVndBeforeVat','vatType','vat','amountFcVat','amountVndVat',];"
                class="input-row" mat-row></tr>
            <tr *matNoDataRow class="mat-row">
              <td [attr.colspan]="1" class="mat-cell border-none text-center"><span
                  i18n>No data!</span></td>
            </tr>
          </table>
        }
      </div>
      <form #totalab [formGroup]="formGroupDetail" autocomplete="off" class="w-100">
        <mat-grid-list class="mt-20 grid-list-form" cols="12" gutterSize="24px" rowHeight="65px">
          @if (isInternational()) {
            <mat-grid-tile [colspan]="3">
              <div class="w-100 ok" sizeInput='sm'>
                <mat-form-field>
                  <mat-label i18n>Amount Fc Before Vat</mat-label>
                  <input appThousandsSeparator formControlName="amountFcBeforeVat" matInput required
                         trim="blur" >
                  <mat-error>
                    <app-control-error controlName="airportCode"></app-control-error>
                  </mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3">
              <div class="w-100" sizeInput='sm'>
                <mat-form-field>
                  <mat-label i18n>Vat Fc</mat-label>
                  <input appThousandsSeparator formControlName="vatFc" matInput required
                         trim="blur" >
                  <mat-error>
                    <app-control-error controlName="airportCode"></app-control-error>
                  </mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3">
              <div class="w-100" sizeInput='sm'>
                <mat-form-field>
                  <mat-label i18n>Total Amount Fc</mat-label>
                  <input #inputElementRef3 appThousandsSeparator formControlName="totalAmountFc" matInput required
                         trim="blur" >
                  <mat-error>
                    <app-control-error controlName="airportCode"></app-control-error>
                  </mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3">
              <div class="w-100" sizeInput='sm'>
                <mat-form-field>
                  <mat-label i18n>Reimbursement Total Fc</mat-label>
                  <input appThousandsSeparator formControlName="reimbursementTotalFc" matInput required
                         trim="blur" >
                  <mat-error>
                    <app-control-error controlName="reimbursementTotalFc"></app-control-error>
                  </mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>
          }
          <mat-grid-tile [colspan]="3">
            <div class="w-100" sizeInput='sm'>
              <mat-form-field>
                <mat-label i18n>Amount Vnd Before Vat</mat-label>
                <input #inputElementRef2 appThousandsSeparator formControlName="amountVndBeforeVat" matInput required
                       trim="blur" >
                <mat-error>
                  <app-control-error controlName="airportCode"></app-control-error>
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3">
            <div class="w-100" sizeInput='sm'>
              <mat-form-field>
                <mat-label i18n>Vat Vnd</mat-label>
                <input appThousandsSeparator formControlName="vatVnd" matInput required
                       trim="blur" >
                <mat-error>
                  <app-control-error controlName="airportCode"></app-control-error>
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3">
            <div class="w-100" sizeInput='sm'>
              <mat-form-field>
                <mat-label i18n>Total Amount Vnd</mat-label>
                <input #inputElementRef4 appThousandsSeparator formControlName="totalAmountVnd" matInput required
                       trim="blur" >
                <mat-error>
                  <app-control-error controlName="airportCode"></app-control-error>
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3">
            <div class="w-100" sizeInput='sm'>
              <mat-form-field>
                <mat-label i18n>Reimbursement Total Vnd</mat-label>
                <input appThousandsSeparator formControlName="reimbursementTotalVnd" matInput required
                       trim="blur">
                <mat-error>
                  <app-control-error controlName="reimbursementTotalVnd"></app-control-error>
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="expandList.has('tab3')">
    <mat-expansion-panel-header i18n>
      <div (click)="$event.stopPropagation();" class="title-no-event">3. File Attachments</div>
    </mat-expansion-panel-header>
    <mat-panel-description class="d-block">
      <form [formGroup]="formGroupDetail" autocomplete="off" class="w-100">
        <div class="row">
          <table [dataSource]="formGroupDetail.getRawValue().fileAttachments" class="table-light" mat-table>
            <ng-container matColumnDef="stt">
              <th *matHeaderCellDef class="text-center" mat-header-cell mat-sort-header>#</th>
              <td *matCellDef="let element; let i = index" class="text-center"
                  mat-cell>{{ (pageIndex * pageSize) + i + 1 }}
              </td>
            </ng-container>
            <ng-container matColumnDef="fileName">
              <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>File Name</th>
              <td *matCellDef="let element" mat-cell>
                <a (click)="download(element)"
                   class="d-flex align-items-center justify-content-between position-relative"
                   style="color: rgba(0,0,255,0.7); text-decoration: underline; cursor: pointer;">
                  {{ element.fileName }}
                </a>
              </td>
            </ng-container>
            <tr *matHeaderRowDef="['stt','fileName']" mat-header-row></tr>
            <tr *matRowDef="let row; columns: ['stt','fileName']" mat-row></tr>
          </table>
        </div>
        <div *ngIf="!readMode" class="row mt-25">
          <div class="col-lg-6" sizeInput='sm'>
            <file-upload (change)="actionUpload()" [accept]="COMMON_CONFIG.FILE_ACCEPT" [multiple]="false"
                         class="file-uploader"
                         formControlName="fileUpload"></file-upload>
          </div>
        </div>
      </form>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>

<app-confirm-dialog
    (closeDialog)="toggleDialogFinish()"
    (confirm)="saveAndFinish()"
    [icon]="'check_circle'"
    [mainText]="'Bạn có chắc chắn chốt số liệu chứng từ hóa đơn này không?'"
    [showDialog]="showDialogFinish"
    [subText]="'Số liệu chứng từ hóa đơn này sẽ không được chỉnh sửa sau khi đã chốt!'"
    i18n-mainText
    i18n-subText>
</app-confirm-dialog>
