<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
  <div class="d-md-flex align-items-center">
    <h5 class="mb-0 d-inline ml-10">
      <h5 class="mb-0 ml-10">
        <span i18n>Reconcile invoice</span>
      </h5>
    </h5>

  </div>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
    <li class="breadcrumb-item d-inline-block position-relative" i18n>
      Invoice
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n>
      List of invoice
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n>
      Reconcile invoice
    </li>
  </ol>
</div>
<div (scroll)="onScroll()" [ngClass]="isSticky ? 'fixed' : 'notfixed'" class="w-100 text-end mb-10">
  <button (click)="goBack()" class="step-2-menu-button btn-slot-3" extended i18n mat-fab>
    <i class="material-symbols-outlined">
      undo
    </i>
    Back
  </button>
  <button (click)="toggleDialogUnMatched()" *ngIf="!readMode &&
          ([InvoiceDocumentStatusEnum.UNMATCHED,
          InvoiceDocumentStatusEnum.UNVERIFIED]).includes(formGroupDetail.getRawValue().status)"
          class="step-2-menu-button btn-slot-4" extended i18n mat-fab>
    <i class="material-symbols-outlined">
      edit
    </i>
    Save and Update
  </button>
  <button (click)="save()" *ngIf="!readMode" class="step-2-menu-button btn-slot-1" extended i18n mat-fab>
    <i class="material-symbols-outlined">
      save
    </i>
    Save
  </button>
  <button (click)="toggleDialogFinish()"
          *ngIf="!readMode &&
          ([InvoiceDocumentStatusEnum.MATCHED,
          InvoiceDocumentStatusEnum.VERIFIED]).includes(formGroupDetail.getRawValue().status)"
          class="step-2-menu-button btn-slot-1" extended i18n mat-fab>
    <i class="material-symbols-outlined">
      save
    </i>
    Confirm
  </button>
</div>
<mat-accordion multi>
  <mat-expansion-panel [expanded]="expandList.has('tab1')">
    <mat-expansion-panel-header i18n>
      <div (click)="$event.stopPropagation();" class="title-no-event">1. General information</div>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <form [formGroup]="formGroupDetail" autocomplete="off" class="w-100">
        <!--        dong1-->
        <div class="row">
          <div class="col-2" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Airport code</mat-label>
              <mat-select formControlName="airportCode" required>
                @for (item of listFlightMarket; track item) {
                  <mat-option [value]="item">{{ item }}</mat-option>
                }
              </mat-select>
              @if (!!formGroupDetail.controls['airportCode'].hasError('required')) {
                <mat-error><span i18n>Airport Code</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-2" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Invoice number</mat-label>
              <input formControlName="invoiceNumber" matInput>
              @if (!!formGroupDetail.controls['invoiceNumber'].hasError('required')) {
                <mat-error><span i18n>Invoice Number</span><span i18n> not empty</span></mat-error>
              }
              @if (!!formGroupDetail.controls['invoiceNumber'].hasError('maxlength')) {
                <mat-error><span i18n>Invoice Number must be less than 50 characters</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-2" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Invoice date</mat-label>
              <input [matDatepicker]="invoiceDate" formControlName="invoiceDate" matInput
                     required trim="blur">
              <mat-datepicker-toggle [for]="invoiceDate" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #invoiceDate></mat-datepicker>
              @if (!!formGroupDetail.controls['invoiceDate'].hasError('required')) {
                <mat-error><span i18n>Invoice Date</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-2" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Receive Date</mat-label>
              <input [matDatepicker]="invoiceReceiveDate" formControlName="invoiceReceiveDate" matInput
                     required trim="blur">
              <mat-datepicker-toggle [for]="invoiceReceiveDate" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #invoiceReceiveDate></mat-datepicker>
              @if (!!formGroupDetail.controls['invoiceReceiveDate'].hasError('required')) {
                <mat-error><span i18n>ReceiveDate Date</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-2" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Period From</mat-label>
              <input [matDatepicker]="periodFrom" formControlName="periodFrom" matInput
                     required trim="blur">
              <mat-datepicker-toggle [for]="periodFrom" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #periodFrom></mat-datepicker>
              @if (!!formGroupDetail.controls['periodFrom'].hasError('required')) {
                <mat-error><span i18n>Period From</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-2" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Period To</mat-label>
              <input [matDatepicker]="periodTo" formControlName="periodTo" matInput
                     required trim="blur">
              <mat-datepicker-toggle [for]="periodTo" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #periodTo></mat-datepicker>
              @if (!!formGroupDetail.controls['periodTo'].hasError('required')) {
                <mat-error><span i18n>Period To</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong2-->
        <div class="row mt-20">
          <div class="col-2" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>BizDocId</mat-label>
              <input formControlName="bizDocId" matInput trim="blur">
              @if (!!formGroupDetail.controls['bizDocId'].hasError('required')) {
                <mat-error><span i18n>BizDocId</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-2" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Partner Code</mat-label>
              <input formControlName="partnerCode" matInput trim="blur">
              @if (!!formGroupDetail.controls['partnerCode'].hasError('required')) {
                <mat-error><span i18n>Partner Code</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Partner Name</mat-label>
              <input formControlName="partnerName" matInput trim="blur">
              @if (!!formGroupDetail.controls['partnerName'].hasError('required')) {
                <mat-error><span i18n>Partner Name</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Partner Type</mat-label>
              <input formControlName="partnerType" matInput trim="blur">
              @if (!!formGroupDetail.controls['partnerType'].hasError('required')) {
                <mat-error><span i18n>Partner Type</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong3-->
        <div class="row mt-20">
          <mat-form-field>
            <mat-label i18n>Note</mat-label>
            <textarea cdkAutosizeMaxRows="5" cdkAutosizeMinRows="2" cdkTextareaAutosize formControlName="note"
                      i18n-placeholder
                      matInput trim="blur"></textarea>
            <mat-error>
              <app-control-error controlName="note"></app-control-error>
            </mat-error>
          </mat-form-field>
        </div>
        <!--        dong4-->
        <div class="row mt-20">
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Status</mat-label>
              <mat-select formControlName="status">
                <mat-option [value]="null" i18n>-- All Status --</mat-option>
                @for (item of listInvoiceDocumentStatus; track item) {
                  <mat-option [value]="item.key">{{ item.value }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="expandList.has('tab2')">
    <mat-expansion-panel-header i18n>
      <div (click)="$event.stopPropagation();" class="title-no-event">2. Reconciliation information</div>
    </mat-expansion-panel-header>
    <mat-panel-description class="d-block">
      <!--  <div class="w-100 text-end">
          <button (click)="addDtl()" *ngIf="!readMode" class="add-btn right-0 mb-10" i18n mat-button type="button">
            <i class="material-symbols-outlined">
              add
            </i>
            Add
          </button>
        </div>-->
      <mat-card class="mb-15 border-radius d-block bg-white border-0 shadow-none">
        <mat-card-content>
          <mat-tab-group mat-align-tabs="start" mat-stretch-tabs="false">
            <mat-tab i18n-label label="General reconciliation">
              <div class="w-100 text-end">
                <button (click)="download()" class="add-btn right-0 mb-10" i18n mat-button
                        type="button">
                  <i class="material-symbols-outlined">
                    download
                  </i>
                  Export
                </button>
              </div>
              <div class="table-responsive">
                <table [dataSource]="formGroupDetail.getRawValue().invoiceDocumentReviewProjection"
                       class="table-light table-responsive"
                       mat-table>
                  <ng-container matColumnDef="label">
                    <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header>Reconciliation
                      information
                    </th>
                    <td *matCellDef="let element" mat-cell>
                      @if (element.ord?.length == 1) {
                        <span class="fw-bold">{{ element.label }}</span>
                      } @else {
                        <span class="pl-10">{{ '- ' + element.label }}</span>
                      }
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="aves">
                    <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header>AVES
                    </th>
                    <td *matCellDef="let element" [class.text-danger]="+element.diff != 0" class="text-right" mat-cell>
                      {{ element.aves | dataTransformPipe:[Constant.NUMBER] }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="form">
                    <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header>Detailed statement
                    </th>
                    <td *matCellDef="let element" [class.text-danger]="+element.diff != 0" class="text-right" mat-cell>
                      {{ element.form | dataTransformPipe:[Constant.NUMBER] }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="diff">
                    <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header>Difference
                    </th>
                    <td *matCellDef="let element" [class.text-danger]="+element.diff != 0" class="text-right" mat-cell>
                      {{ element.diff | dataTransformPipe:[Constant.NUMBER] }}
                    </td>
                  </ng-container>
                  <tr *matHeaderRowDef="['label','aves','form','diff']" mat-header-row></tr>
                  <tr *matRowDef="let row; columns: ['label','aves','form','diff'];" class="input-row" mat-row></tr>
                  <tr *matNoDataRow class="mat-row">
                    <td [attr.colspan]="1" class="mat-cell border-none text-center"><span
                        i18n>No data!</span></td>
                  </tr>
                </table>
              </div>
            </mat-tab>
            <mat-tab i18n-label label="Detailed reconciliation">
              <form [formGroup]="formGroupSearch" autocomplete="off">
                <div class="row mb-15">
                  <div class="col-2" sizeInput='md'>
                    <mat-form-field>
                      <mat-label i18n>Flight no</mat-label>
                      <input formControlName="fltNo" matInput>
                    </mat-form-field>
                  </div>
                  <div class="col-2" sizeInput='md'>
                    <mat-form-field>
                      <mat-label i18n>Flight date</mat-label>
                      <input [matDatepicker]="fltDate" formControlName="fltDate" matInput trim="blur">
                      <mat-datepicker-toggle [for]="fltDate" matIconSuffix></mat-datepicker-toggle>
                      <mat-datepicker #fltDate></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-1" sizeInput='md'>
                    <button (click)="filterDetailTable()" class="add-btn right-0" i18n mat-button
                            type="button">
                      <i class="material-symbols-outlined">
                        search
                      </i>
                      Search
                    </button>
                  </div>
                  <div class="col-1" sizeInput='md'>
                    <button (click)="download('DETAIL')" class="add-btn position-absolute right-0" i18n mat-button
                            type="button">
                      <i class="material-symbols-outlined">
                        download
                      </i>
                      Export
                    </button>
                  </div>
                </div>

              </form>
              <div class="table-responsive">
                <table [dataSource]="tblDocumentReviewForm"
                       class="table-light table-responsive"
                       mat-table>
                  <ng-container matColumnDef="stt">
                    <th *matHeaderCellDef class="text-center" mat-header-cell mat-sort-header rowspan="2">#</th>
                    <td *matCellDef="let element; let i = index" class="text-center"
                        mat-cell>{{ (pageIndex * pageSize) + i + 1 }}
                    </td>
                    <td *matFooterCellDef [colSpan]="totalColSpan" class="text-center" mat-footer-cell>Total</td>
                  </ng-container>
                  <ng-container matColumnDef="checkin2col">
                    <th *matHeaderCellDef class="text-center " colspan="2" mat-header-cell mat-sort-header>Checkin</th>
                  </ng-container>
                  <ng-container matColumnDef="checkout2col">
                    <th *matHeaderCellDef class="text-center " colspan="2" mat-header-cell mat-sort-header>Checkout</th>
                  </ng-container>
                  <ng-container matColumnDef="checkin3col">
                    <th *matHeaderCellDef class="text-center " colspan="3" mat-header-cell mat-sort-header>Checkin</th>
                  </ng-container>
                  <ng-container matColumnDef="checkout3col">
                    <th *matHeaderCellDef class="text-center " colspan="3" mat-header-cell mat-sort-header>Checkout</th>
                  </ng-container>
                  @for (innerColumn of _displayedColumnsAll; track innerColumn.value) {
                    <ng-container matColumnDef="{{innerColumn.value}}">
                      <th mat-sort-header mat-header-cell *matHeaderCellDef class="text-center"
                          [rowSpan]="(formType===1 || formType===2)?innerColumn.rowspan:1"
                          [colSpan]=innerColumn.colspan>
                        {{ innerColumn.label }}
                      </th>
                      <td
                          [ngClass]="{'text-right': innerColumn.type === Constant.NUMBER}"
                          [attr.rowspan]="getRowSpan(i,innerColumn,element)"
                          [style.display]="shouldShowRowSpan(i,innerColumn) ? '' : 'none'"
                          [class.reconcile-row1]="+element.reconcile==1 && ['ciFltno', 'ciDate', 'ciTime', 'coFltno', 'coDate', 'coTime','fltno', 'cdate'].includes(innerColumn.value)"
                          [class.reconcile-row2]="+element.reconcile==2 && ['ciFltno', 'ciDate', 'ciTime', 'coFltno', 'coDate', 'coTime','fltno', 'cdate'].includes(innerColumn.value)"
                          mat-cell *matCellDef="let element;let i = index">
                <span [ngClass]="{
                  'badge': innerColumn.value === 'activeLabel',
                  'text-bg-label-badge': innerColumn.value === 'activeLabel' && element['active'] == 1,
                  'text-soft-dark': innerColumn.value === 'activeLabel' && element['active'] == 0
                  }">{{ element[innerColumn.value]|dataTransformPipe:[innerColumn.type, innerColumn.format] }}
                  @if (element.aves && ((element[innerColumn.value] || 0) != (element.aves[innerColumn.value] || 0)) && innerColumn.type == Constant.NUMBER) {
                    <span class="text-danger">
                      ({{ element.aves[innerColumn.value] || 0|dataTransformPipe:[innerColumn.type, innerColumn.format] }})
                    </span>
                  }
                    </span>
                      </td>
                      <td mat-footer-cell *matFooterCellDef class="text-right">
                        @if (innerColumn.displayTotal) {
                          <span>
                    {{ calTotal(innerColumn) | dataTransformPipe:[innerColumn.type, innerColumn.format] }}
                      </span>
                        }
                      </td>

                    </ng-container>
                  }
                  <tr *matHeaderRowDef="_displayedColumnsHeader1" mat-header-row></tr>
                  <tr *matHeaderRowDef="_displayedColumnsHeader2" mat-header-row></tr>
                  <!--<tr *matHeaderRowDef="['stt','accessBridge']"
                      mat-header-row></tr>-->
                  <tr *matRowDef="let row; columns: _displayedColumnsRow;"
                      class="input-row"
                      mat-row></tr>
                  <tr *matFooterRowDef="_displayedColumnsFooter" class="fw-bold" mat-footer-row></tr>
                  <tr *matNoDataRow class="mat-row">
                    <td [attr.colspan]="_displayedColumnsRow.length" class="mat-cell border-none text-center"><span
                        i18n>No data!</span></td>
                  </tr>
                </table>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>

<app-confirm-dialog
    (closeDialog)="toggleDialogUnMatched()"
    (confirm)="saveAndNext()"
    [icon]="'check_circle'"
    [mainText]=""
    [showDialog]="showDialogUnMatched"
    [subText]="'Chứng từ hóa đơn đã được đối soát và có chênh lệch, bạn có muốn cập nhật lại thông tin thanh toán của chứng từ này không?'"
    i18n-mainText
    i18n-subText>
</app-confirm-dialog>
<app-confirm-dialog
    (closeDialog)="toggleDialogFinish()"
    (confirm)="saveAndFinish()"
    [icon]="'check_circle'"
    [mainText]="'Bạn có chắc chắn chốt số liệu chứng từ hóa đơn này không?'"
    [showDialog]="showDialogFinish"
    [subText]="'Số liệu chứng từ hóa đơn này sẽ không được chỉnh sửa sau khi đã chốt!'"
    i18n-mainText
    i18n-subText>
</app-confirm-dialog>
