<div
    class="sign-in-area"
    [class.dark-theme]="themeService.isDark()"
>
    <div
        class="trezo-form ml-auto mr-auto"
        [class.component-dark-theme]="themeService.isDark()"
        [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    >
      <div class="login-container">
        <mat-card class="login-card">
          <img class="logo" src="images/logo_vna7.png" alt="Vietnam Airlines Logo" />
          <h2 class="title" i18n>VNA CREW TRIP</h2>
          <div class="form-login">
          <form ngForm  [formGroup]="formGroup" (ngSubmit)="login()">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label i18n>EMAIL</mat-label>
              <input matInput type="email"  formControlName="email"  required />
              <mat-error *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched">
                <span *ngIf="formGroup.get('email')?.hasError('required')">
                Email is required
                </span>
                <span *ngIf="formGroup.get('email')?.hasError('email')">
                  Invalid email
                </span>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label i18n>PASSWORD</mat-label>
              <input matInput type="password" formControlName="password" required />
              <mat-error *ngIf="formGroup.get('password')?.hasError('required') && formGroup.get('password')?.touched">
                Password is required
              </mat-error>
            </mat-form-field>
            <mat-checkbox>{{ 'REMEMBER_ME' | translate }}</mat-checkbox>
            <div class="login-actions">
              <button mat-raised-button type="submit" [disabled]="formGroup.invalid"  class="login-btn">
                {{ 'LOGIN' | translate }}
              </button>
              <a href="#" class="sso-login" i18n>Login with SSO</a>
            </div>
          </form>
          </div>
          <div class="forgot-password-container">
            <a href="#" class="forgot-password" i18n>Forgot password?</a>
          </div>
        </mat-card>
      </div>
    </div>
</div>
