/* Đặt nền trang */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: flex-end; /* Canh box về phía bên phải */
  align-items: center;
  background: url('public/images/background.jpg') no-repeat center center;
  background-size: cover;
  padding-right: 20%; /* Tùy chỉnh khoảng cách từ box tới rìa phải */
}
mat-checkbox {
  display: flex;
  justify-content: flex-start; /* Căn trái checkbox và label */
  margin-bottom: 20px; /* Thêm khoảng cách bên dưới nếu cần */
}
mat-card {
  border-radius: 0 !important; /* Xóa border-radius mặc định */
  padding: 0;
}
.login-card {
  //padding: 20px;
  width: 400px;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
}

.logo {
  margin-bottom: 20px;
  max-height: 60px;
  background-color: #006E8C;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #006E8C;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.login-actions {
  display: flex;
  flex-direction: column;
}
button.login-btn {
  background-color: #006E8C;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

//.login-btn mat-icon {
//  margin-right: 8px; /* Thêm khoảng cách giữa icon và text */
//}
//
button.login-btn:hover {
  //background-color: #08346b; /* Màu nền khi hover */
}

/* Liên kết "Đăng nhập với SSO" */
.sso-login {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #0d47a1;
  text-decoration: none;
  //font-size: 16px;
}

.sso-login:hover {
  text-decoration: underline; /* Hiệu ứng gạch chân khi hover */
}

.forgot-password-container {
  margin-top: 20px;
  background-color: #f5f2f0;
  padding-top: 10px;
  height: 40px;
  border-top: 1px solid #ccc;
  text-align: center;
}

.forgot-password {
  color: #0d47a1; /* Màu chữ */
  text-decoration: none;
  font-size: 14px;
}

.forgot-password:hover {
  text-decoration: underline; /* Hiệu ứng khi hover */
}
.form-login{
  padding: 20px;
  border-top: 1px solid #ccc;
}
