@if (type == 'success') {
  <div class="alert alert-bg-success d-flex align-items-center" role="alert">
    <i class="ri-check-double-line"></i>
    {{ message }}
  </div>
} @else if (type == 'warning') {
  <div class="alert alert-bg-warning d-flex align-items-center" role="alert">
    <i class="ri-error-warning-line"></i>
    {{ message }}
  </div>
}
@else if (type == 'error') {
  <div class="alert alert-bg-danger d-flex align-items-center" role="alert">
    <i class="ri-error-danger-line"></i>
    {{ message }}
  </div>
}
