@if (this.dataSource.data && this.dataSource.data.length > 0) {
    <div class="row">
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows="true" class="table-light">
                <ng-container matColumnDef="year">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center">
                    </th>
                    <td mat-cell *matCellDef="let element" >
                        <span class="fw-bold">
                            @if(element.type === 'TOTAL') {
                            <span i18n="@@numberOfFlightsInYear">Number of Flights in Year </span> {{element.year}}
                            }@else {
                            <span i18n="@@flightRate">Flight rate</span> ({{element.year}}/{{element.rateYear}})
                            }
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="t1">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center"
                        i18n="@@january">
                        January
                    </th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex">
                        {{element.t1 |number}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="t2">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center"
                        i18n="@@february">
                        February
                    </th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex">
                        {{element.t2 |number}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="t3">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center"
                        i18n="@@march">
                        March
                    </th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex">
                        {{element.t1 |number}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="t4">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center"
                        i18n="@@april">
                        April
                    </th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex">
                        {{element.t4 |number}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="t5">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" i18n="@@may">
                        May
                    </th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex">
                        {{element.t5 |number}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="t6">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center"
                        i18n="@@june">
                        June
                    </th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex">
                        {{element.t6 |number}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="t7">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center"
                        i18n="@@july">
                        July
                    </th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex">
                        {{element.t7 |number}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="t8">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center"
                        i18n="@@august">
                        August
                    </th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex">
                        {{element.t8 |number}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="t9">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center"
                        i18n="@@september">
                        September
                    </th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex">
                        {{element.t9 |number}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="t10">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center"
                        i18n="@@october">
                        October
                    </th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex">
                        {{element.t10 |number}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="t11">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center"
                        i18n="@@november">
                        November
                    </th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex">
                        {{element.t11 |number}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="t12">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center"
                        i18n="@@december">
                        December
                    </th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex">
                        {{element.t12 |number}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="value">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center"
                        i18n="@@total">
                        Total
                    </th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex">
                        {{element.value |number}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="total">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center"
                        i18n="@@totalNumberOfFlights">
                        Total Number of Flights
                    </th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex">
                        {{element.total |number}}
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell text-center" colspan="15">No data!</td>
                </tr>
            </table>
        </div>
    </div>
}
