<mat-card class="border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header class="p-15">
        <mat-card-title>
            <h5 class="mb-2" i18n="@@synchronizeSeasonalFlights">
                Synchronize Seasonal Flights
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <button mat-button (click)="close()">
                <i class="ri-close-fill"></i>
            </button>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form class="mt-20" [formGroup]="formGroupDetail" (ngSubmit)="sync()" autocomplete="off">
            <div class="row">
                <div class="col mb-2">
                    <app-selection formControlName="year" [options]="years" label="Year" i18n-label="@@year"
                        attrValue="value" attrDisplay="value"></app-selection>
                </div>
                <div class="col">
                    <app-selection formControlName="type" [options]="seasons" label="Seasonal flights"
                        i18n-label="@@seasonalFlights"></app-selection>
                </div>
            </div>

            <div class="btn-box d-flex justify-content-end mt-20">
                <button type="button" mat-button (click)="close()" class="close-btn  min-with-100 mlr-5">
                    <i class="material-symbols-outlined">
                        close
                    </i>
                    <span i18n="@@close">Close</span>
                </button>
                <button mat-button color="primary" type="submit" class="add-btn min-with-100 mlr-5">
                    <i class="material-symbols-outlined">
                        sync
                    </i>
                    <span i18n="@@save">Synchronize</span>
                </button>
            </div>


        </form>

    </mat-card-content>
</mat-card>