<mat-card class="border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            @if(isCreate()){
            <h5 class="mb-0" i18n="@@addNew">
                Add new
            </h5>
            }@else{
            <h5 class="mb-0" i18n="@@edit">
                Edit
            </h5>
            }
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="formGroupDetail" (ngSubmit)="save()" autocomplete="off">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group mb-20" sizeInput="md">
                        <mat-checkbox formControlName="updateBudgetPlan">Update budget plan based on updated planned production</mat-checkbox>
                    </div>
                    <div class="form-group mb-20" sizeInput="md">
                        <mat-form-field>
                            <mat-label i18n="@@planName">
                                Plan name
                            </mat-label>
                            <input matInput formControlName="planName" required maxlength="500">
                            @if (
                            formGroupDetail.controls.planName.hasError('required') &&
                            formGroupDetail.controls.planName.touched) {
                            <mat-error i18n="@@planNameRequired">Plan name {{MESSAGE.REQUIRED}}</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="form-group mb-20" sizeInput="md">
                        <mat-form-field>
                            <mat-label i18n="@@year">
                                Year
                            </mat-label>
                            <input matInput formControlName="year" required maxlength="5">
                            @if (
                            formGroupDetail.controls.year.hasError('required') &&
                            formGroupDetail.controls.year.touched) {
                            <mat-error i18n="@@yearRequired">Year {{MESSAGE.REQUIRED}}</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="form-group mb-20" sizeInput="md">
                        <mat-form-field>
                            <mat-label i18n="@@version">
                                Version
                            </mat-label>
                            <input matInput formControlName="version" required maxlength="20">
                            @if (
                            formGroupDetail.controls.version.hasError('required') &&
                            formGroupDetail.controls.version.touched) {
                            <mat-error i18n="@@versionRequired">Version {{MESSAGE.REQUIRED}}</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    @if(!isCreate()){
                    <div class="form-group mb-20" sizeInput="md">
                        <mat-form-field>
                            <mat-label i18n="@@versionOfProduction">
                                Version of Production
                            </mat-label>
                            <input matInput formControlName="versionOfProduction" maxlength="20">

                        </mat-form-field>
                    </div>
                    <div class="form-group mb-20" sizeInput="md">
                        <mat-form-field>
                            <mat-label i18n="@@versionOfExchangeRate">
                                Version of Exchange Rate
                            </mat-label>
                            <input matInput formControlName="versionOfExchangeRate" maxlength="20">
                        </mat-form-field>
                    </div>
                    }

                </div>
            </div>

            <div class="btn-box text-center">
                <button type="button" mat-button mat-dialog-close class="danger-btn  min-with-100 mlr-5">
                    <i class="material-symbols-outlined">
                        close
                    </i>
                    <span i18n="@@close">Close</span>
                </button>
                <button mat-button color="primary" type="submit" class="add-btn min-with-100 mlr-5">
                    <i class="material-symbols-outlined">
                        save
                    </i>
                    <span i18n="@@save">Save</span>
                </button>

            </div>
        </form>

    </mat-card-content>
</mat-card>