<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center justify-content-between mt-2">
        <button type="button" class="btn btn-outline-secondary mr-20" i18n="@@back"
            [routerLink]="['/plan/est-plan/wet-lease-charter']">
            <i class="material-symbols-outlined">
                undo
            </i>
            Back
        </button>
        @if (this.formGroupDetail.controls.id.value) {
        <h5 class="mb-0" i18n="@@addNew">
            View details
        </h5>
        }@else {
        <h5 class="mb-0" i18n="@@addNew">
            Add new
        </h5>
        }



    </div>

    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@plan">
            Plan
        </li>
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@estimatePlan">
            Estimate/Plan
        </li>
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@wetLease">
            Wet Lease
        </li>
        @if (this.formGroupDetail.controls.id.value) {
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@viewDetails">
            View details
        </li>
        }@else {
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@addNew">
            Add new
        </li>
        }
    </ol>
</div>
<mat-card class="mb-10 p-15 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header class="mb-10">
    </mat-card-header>
    <mat-card-content>
        <div class="d-flex justify-content-between align-items-center ">
            <h5>
                I. <span i18n="@@generalInformation">General Information</span>
            </h5>
            @if (!disable) {
            <div (scroll)="onScroll()" [ngClass]="isSticky ? 'fixed' : 'notfixed'">
                <button mat-button color="primary" type="button" class="add-btn" (click)="save()">
                    <i class="material-symbols-outlined">
                        save
                    </i>
                    <span i18n="@@save">Save</span>
                </button>
            </div>
            }



        </div>
        <app-wet-lease-general #wetLeaseGeneral
            [disabled]="disable" (airportCodeChange)="airportCodeChange($event)"></app-wet-lease-general>
        <div class="d-flex justify-content-between align-items-center mt-3 mb-1">
            <h5>
                II. <span i18n="@@wetLeasePlan">Wet Lease plan</span>
            </h5>
            @if (!!!disable) {
            <button mat-button color="primary" type="button" class="add-btn" (click)="createData()">
                <i class="material-symbols-outlined">
                    directory_sync
                </i>
                <span i18n="@@createData">Create data</span>
            </button>
            }


        </div>
        <h6>
            2.1 <span i18n="@@wetLeasePlanForHotel">Wet Lease Plan for Hotel</span>
        </h6>
        <app-wet-lease-hotel #wetLeaseHotel [category]="category()" [data]="planHotel"
            [priceHotel]="priceHotel" [dataGeneral]="dataGeneral" [disabled]="disable"></app-wet-lease-hotel>
        <h6 class="mt-3">
            2.2 <span i18n="@@wetLeasePlanForCarRental">Wet Lease Plan for Car rental</span>
        </h6>
        <app-wet-lease-car-rental #wetLeaseCarRental [category]="category()" [data]="planTransports"
            [dataGeneral]="dataGeneral" [disabled]="disable"></app-wet-lease-car-rental>
        <form [formGroup]="formGroupDetail" autocomplete="off">
            <div class="row mt-3">
                <div class="d-flex justify-content-start">
                    <mat-checkbox formControlName="isCompleted" class="mb-2" i18n="@@complete">Complete</mat-checkbox>
                </div>
            </div>
        </form>
        @if (!disable) {
        <div class="row">
            <div class="btn-box text-right">
                <button type="button" mat-button [routerLink]="['/plan/est-plan/wet-lease']"
                    class="close-btn  min-with-100 mlr-5">
                    <i class="material-symbols-outlined">
                        close
                    </i>
                    <span i18n="@@close">Close</span>
                </button>
                <button mat-button type="button" class="add-btn min-with-100 mlr-5" (click)="save()">
                    <i class="material-symbols-outlined">
                        save
                    </i>
                    <span i18n="@@save">Save</span>
                </button>
            </div>
        </div>
        }

    </mat-card-content>
</mat-card>



<!-- Dialog Create data -->
<div class="add-new-popup" [class.active]="showDialogCreateData">
    <div class="popup-dialog dialog-delete-with">
        <mat-card class="border-radius d-block bg-white border-0 shadow-none width-percent-100">
            <mat-card-content>
                <div class="text-warning text-center">
                    <span class="material-symbols-outlined font-size-5rem">
                        error
                    </span>
                </div>
                <div class="text-center mb-20">
                    <h5 class="mb-0" i18n="@@deleteMessage">Are you sure you want to recreate the data?</h5>
                </div>

                <div class="btn-box text-center">
                    <button type="button" mat-button (click)="toggleDialogCreateData()"
                        class="close-btn  min-with-100 mlr-5">
                        <i class="material-symbols-outlined">
                            close
                        </i>
                        <span i18n="@@cancel">Cancel</span>
                    </button>
                    <button mat-button type="button" class="add-btn min-with-100 mlr-5" (click)="confirmCreateData()">
                        <i class="material-symbols-outlined">
                            save
                        </i>
                        <span i18n="@@confirm">Confirm</span>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

