<form [formGroup]="formGroupDetail" (submit)="submit()" autocomplete="off">
    <div class="row">
        <mat-checkbox class="mb-2" i18n="@@budgetPlan" formControlName="budgetPlanFlag">Budget Plan</mat-checkbox>
    </div>
    <div class="row row-cols-5">
        <div class="col" sizeInput="sm">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@category">Category</mat-label>
                <mat-select required formControlName="category">
                    <mat-option value="International" i18n="@@international">International</mat-option>
                    <mat-option value="Domestic" i18n="@@domestic">Domestic</mat-option>
                </mat-select>
                <mat-error i18n="@@categoryRequired"
                    *ngxControlError="formGroupDetail.controls.category; track: 'required'">
                    Category {{MESSAGE.ALREADY_EXISTS}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col mb-2">
            <app-selection-suggest i18n-label="@@airport" label="Airport" [options]="listFlightMarket"
                formControlName="airportCode" size="sm" [required]="true" />
        </div>
        <div class="col" sizeInput="sm">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@division">Division</mat-label>
                <input matInput formControlName="division">
                <mat-error *ngxControlError="formGroupDetail.controls.division; track: 'maxlength'"
                    i18n="@@singleRoomRateMaxlength">
                    Division {{MESSAGE.MAX_LENGTH_INVALID|
                    dataTransformPipe:[Constant.STRING_FORMAT,100]
                    }}
                </mat-error>
            </mat-form-field>
        </div>
        @if (category() === CategoryEnum.INTERNATIONAL) {
        <div class="col" sizeInput="sm">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@rateForSingle">Buffer rate (for single-gender)</mat-label>
                <input type="text" decimalSeparator="," digitOnly [decimal]="false" matInput
                    formControlName="rateForSingle">
                <i class="material-symbols-outlined fs-18" matSuffix>
                    percent
                </i>
            </mat-form-field>
        </div>
        }
        @if (checkRequiredCurrency()) {
        <div class="col mb-2">
            <app-selection-suggest i18n-label="@@currencyCode" label="Currency code" [options]="currencyCodes"
                (selectionChange)="currencyCodeChange($event, true)" formControlName="currencyCode" size="sm"
                />
        </div>
        }
    </div>
    @if (!haveContract) {
    <div class="row">
        <div class="budgetProcurementPrice">
            <app-budget-procurement-price #budgetProcurementPrice [category]="category()"
                (priceChange)="priceChangeEvent($event)" [data]="inputPrice"></app-budget-procurement-price>
        </div>
    </div>
    } @else {
    <div class="row">
        <div class="roomRate">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@singleRoomRate">Single Room Rate</mat-label>
                <textarea matInput [disabled]="true" [ngModel]="unitPriceSingleHotel"
                    [ngModelOptions]="{standalone: true}" matTextareaAutosize cdkAutosizeMinRows="2" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize">
                        </textarea>
                <!-- <input type="text" matInput formControlName="unitPriceHotel" decimalSeparator="," digitOnly
                        appSeparator>
                    <mat-error *ngxControlError="formGroupDetail.controls.unitPriceHotel; track: 'maxlength'"
                        i18n="@@singleRoomRateMaxlength">
                        Single Room Rate {{MESSAGE.MAX_LENGTH_INVALID|
                        dataTransformPipe:[Constant.STRING_FORMAT,20]
                        }}
                    </mat-error> -->
            </mat-form-field>
        </div>
        <div class="roomRate">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@doubleRoomRate">Double Room Rate</mat-label>
                <textarea matInput [disabled]="true" [ngModel]="unitPriceDoubleHotel"
                    [ngModelOptions]="{standalone: true}" matTextareaAutosize cdkAutosizeMinRows="2" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize">
                        </textarea>
            </mat-form-field>

            <!-- <mat-form-field class="mb-2">
                    <mat-label i18n="@@doubleRoomRate">Double Room Rate</mat-label>
                    <input type="text" matInput formControlName="unitPriceDoubleHotel" decimalSeparator="," digitOnly
                        appSeparator>
                    <mat-error *ngxControlError="formGroupDetail.controls.unitPriceDoubleHotel; track: 'maxlength'"
                        i18n="@@doubleRoomRateMaxlength">
                        Double Room Rate {{MESSAGE.MAX_LENGTH_INVALID|
                        dataTransformPipe:[Constant.STRING_FORMAT,20]
                        }}
                    </mat-error>
                </mat-form-field> -->

        </div>
    </div>
    }


    <div class="row">
        <mat-checkbox class="mb-2" i18n="@@procurementPlan" formControlName="procurementPlanFlag">
            Procurement Plan
        </mat-checkbox>
    </div>
    <div [hidden]="!formGroupDetail.controls.procurementPlanFlag.value">
        <div class="row">
            <div class="col">
                <app-datepicker-year-month class="mb-2" [requiredLabel]="true" i18n-label="@@startDate" label="Start Date"
                    size="sm" formControlName="procStartDate">
                </app-datepicker-year-month>
            </div>
            <div class="col" sizeInput="sm">
                <app-datepicker-year-month class="mb-2" [requiredLabel]="true" i18n-label="@@endDate" label="End Date"
                    size="sm" formControlName="procEndDate">
                </app-datepicker-year-month>
            </div>
            <div class="col" sizeInput="sm">
                <mat-form-field class="mb-2">
                    <mat-label i18n="@@totalTime">Total Time (month)</mat-label>
                    <input type="text" matInput formControlName="totalTime" digitOnly>
                    <mat-error *ngxControlError="formGroupDetail.controls.totalTime; track: 'maxlength'"
                        i18n="@@totalTimeMaxlength">
                        Total Time {{MESSAGE.MAX_LENGTH_INVALID|
                        dataTransformPipe:[Constant.STRING_FORMAT,3]
                        }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <app-datepicker-year-month class="mb-2" i18n-lable="@@estimatedTime" label="Estimated Time" size="sm"
                    formControlName="estimateTime">
                </app-datepicker-year-month>
            </div>
            <div class="col" sizeInput="sm">
                <mat-form-field class="mb-2">
                    <mat-label i18n="@@time">Time (month)</mat-label>
                    <input type="text" matInput formControlName="time" digitOnly>
                    <mat-error *ngxControlError="formGroupDetail.controls.time; track: 'maxlength'" i18n="@@timeMaxlength">
                        Time {{MESSAGE.MAX_LENGTH_INVALID|
                        dataTransformPipe:[Constant.STRING_FORMAT,3]
                        }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col" sizeInput="sm">
                <mat-form-field class="mb-2">
                    <mat-label i18n="@@number">Number</mat-label>
                    <input type="text" matInput formControlName="num">
                    <mat-error *ngxControlError="formGroupDetail.controls.num; track: 'maxlength'" i18n="@@numberMaxlength">
                        Number {{MESSAGE.MAX_LENGTH_INVALID|
                        dataTransformPipe:[Constant.STRING_FORMAT,20]
                        }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col " sizeInput="sm">
                <mat-form-field class="mb-2">
                    <mat-label i18n="@@unit">Unit</mat-label>
                    <input type="text" matInput formControlName="unit">
                    <mat-error *ngxControlError="formGroupDetail.controls.unit; track: 'maxlength'" i18n="@@unitMaxlength">
                        Unit {{MESSAGE.MAX_LENGTH_INVALID|
                        dataTransformPipe:[Constant.STRING_FORMAT,100]
                        }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col " sizeInput="sm">
                <mat-form-field class="mb-2">
                    <mat-label i18n="@@supplierSelectionMethod">Supplier Selection Method</mat-label>
                    <input type="text" matInput formControlName="supplierMethod">
                    <mat-error *ngxControlError="formGroupDetail.controls.supplierMethod; track: 'maxlength'"
                        i18n="@@supplierMethodMaxlength">
                        Supplier Selection Method {{MESSAGE.MAX_LENGTH_INVALID|
                        dataTransformPipe:[Constant.STRING_FORMAT,100]
                        }}
                    </mat-error>
                </mat-form-field>
            </div>
            @if (category() === CategoryEnum.INTERNATIONAL) {
            <div class="col" sizeInput="sm">
                <mat-checkbox class="mb-2" i18n="@@earlyCheckInFee" formControlName="earlyCheckinFlag">
                    Early check-in fee
                </mat-checkbox>
            </div>
            <div class="col" sizeInput="sm">
                <mat-checkbox class="mb-2" i18n="@@lateCheckOutFee" formControlName="lateCheckoutFlag">
                    Late check-out fee
                </mat-checkbox>
            </div>
            }@else {
            <div class="col " sizeInput="sm">
                <mat-checkbox class="mb-2" i18n="@@wetLease" formControlName="wetLeaseFlag">
                    Wet Lease
                </mat-checkbox>
            </div>
            <div class="col "></div>
            }
        </div>
    </div>
</form>