<form [formGroup]="formGroupDetail" (submit)="submit()" autocomplete="off">
    <button mat-button color="primary" type="submit" class="add-btn">
        <i class="material-symbols-outlined">
            save
        </i>
        <span i18n="@@save">Save</span>
    </button>
    <div class="row">
        <mat-checkbox class="mb-2" i18n="@@budgetPlan" formControlName="budgetPlanFlag">Budget Plan</mat-checkbox>
    </div>
    <div class="row">
        <div class="col" sizeInput="sm">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@category">Category</mat-label>
                <mat-select required formControlName="category">
                    <mat-option value="International" i18n="@@international">International</mat-option>
                    <mat-option value="Domestic" i18n="@@domestic">Domestic</mat-option>
                </mat-select>
                <mat-error i18n="@@categoryRequired"
                    *ngxControlError="formGroupDetail.controls.category; track: 'required'">
                    Category {{MESSAGE.ALREADY_EXISTS}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col" sizeInput="sm">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@airport">Airport</mat-label>
                <input required #airport (input)="filterAirport()" type="text" matInput formControlName="airport"
                    [matAutocomplete]="airportComplete">
                <mat-autocomplete autoActiveFirstOption requireSelection #airportComplete="matAutocomplete">
                    @for (option of filteredOptionsAirport(); track option) {
                    <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
                <mat-error i18n="@@cairportRequired"
                    *ngxControlError="formGroupDetail.controls.airport; track: 'required'">
                    Airport {{MESSAGE.ALREADY_EXISTS}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col" sizeInput="sm">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@division">Division</mat-label>
                <input matInput formControlName="division" maxlength="100">
            </mat-form-field>
        </div>
        <div class="col" sizeInput="sm">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@singleRoomRate">Single Room Rate</mat-label>
                <input type="number" matInput formControlName="unitPrice" maxlength="12">
            </mat-form-field>
        </div>
        <div class="col" sizeInput="sm">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@doubleRoomRate">Double Room Rate</mat-label>
                <input type="number" matInput formControlName="unitPriceDouble" maxlength="12">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="wp-20" sizeInput="sm">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@rateForSingle">Buffer rate (for single-gender)</mat-label>
                <input type="text" inputmode="numeric"  decimalSeparator="," digitOnly
                [decimal]="true" matInput formControlName="rateForSingle">
                <i class="material-symbols-outlined fs-18" matSuffix>
                    percent
                </i>
            </mat-form-field>
        </div>

    </div>
    <div class="row">
        <mat-checkbox class="mb-2" i18n="@@procurementPlan" formControlName="procurementPlanFlag">
            Procurement Plan
        </mat-checkbox>
    </div>
    <div class="row">
        <div class="col">
            <app-datepicker-year-month class="mb-2" [required]="true" i18n-label="@@startDate" label="Start Date"
                size="sm" formControlName="procStartDate">
            </app-datepicker-year-month>
        </div>
        <div class="col" sizeInput="sm">
            <app-datepicker-year-month class="mb-2" [required]="true" i18n-label="@@endDate" label="End Date" size="sm"
                formControlName="procEndDate">
            </app-datepicker-year-month>
        </div>
        <div class="col" sizeInput="sm">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@totalTime">Total Time</mat-label>
                <input type="number" matInput formControlName="totalTime" maxlength="3">
            </mat-form-field>
        </div>
        <div class="col">

            <app-datepicker-year-month class="mb-2" i18n-lable="@@estimatedTime" label="Estimated Time" size="sm"
                formControlName="estimatedTime">
            </app-datepicker-year-month>
        </div>
        <div class="col" sizeInput="sm">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@time">Time</mat-label>
                <input type="number" matInput formControlName="time" maxlength="3">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col" sizeInput="sm">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@number">Number</mat-label>
                <input type="text" matInput formControlName="num" maxlength="20">
            </mat-form-field>
        </div>
        <div class="col" sizeInput="sm">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@unit">Unit</mat-label>
                <input type="text" matInput formControlName="unit" maxlength="100">
            </mat-form-field>
        </div>
        <div class="col" sizeInput="sm">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@supplierSelectionMethod">Supplier Selection Method</mat-label>
                <input type="text" matInput formControlName="supplierMethod" maxlength="100">
            </mat-form-field>
        </div>
        <div class="col" sizeInput="sm">
            <mat-checkbox class="mb-2" i18n="@@earlyCheckInFee" formControlName="earlyCheckinFlag">
                Early check-in fee
            </mat-checkbox>
        </div>
        <div class="col" sizeInput="sm">
            <mat-checkbox class="mb-2" i18n="@@lateCheckOutFee" formControlName="lateCheckoutFlag">
                Late check-out fee
            </mat-checkbox>
        </div>
    </div>
</form>