<div class="row">
    <div class="col-lg-6">
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows="true" class="table-light">
                <ng-container matColumnDef="addBtn">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef colspan="3" style="
                    background-color: white;
                    border: none !important;">
                        <div class="d-flex "
                            [ngClass]="{'justify-content-between': invalid(), 'justify-content-end':!invalid()}">
                            @if(invalid()){
                            <span class="text-danger">Duplicate Number of Overnight Stays</span>
                            }
                            @if(!disabled()){
                            <button mat-button class="mini-vna-btn" (click)="add()">
                                <i class="material-symbols-outlined">
                                    add
                                </i>
                            </button>
                            }

                        </div>
                    </th>
                </ng-container>
                <ng-container matColumnDef="numberOfOvernight">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
                        i18n="@@numberOfOvernightStays">
                        Number of Overnight Stays
                    </th>
                    <td sizeInput="xs" mat-cell *matCellDef="let element; let i = dataIndex" [id]="element.id"
                        [style.padding]="element.numberOfOverNightEditing?'0px !important':''"
                        (click)="clickEdit(element,'numberOfOverNightEditing')">
                        @if(!element.numberOfOverNightEditing){
                        {{element.numberOfOverNight}}
                        }@else {
                        <div sizeInput="xs">
                            <mat-form-field (clickOutside)="clickOutside(element,'numberOfOverNightEditing')"
                                class="edit-inline-table">
                                <input matInput [(ngModel)]="element.numberOfOverNight" [disabled]="disabled()"
                                    maxlength="100" digitOnly>
                            </mat-form-field>
                        </div>
                        }
                    </td>
                </ng-container>
                <ng-container matColumnDef="flightRate">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
                        i18n="@@flightRate">
                        Flight Rate
                    </th>
                    <td sizeInput="xs" mat-cell *matCellDef="let element; let i = dataIndex"
                        [style.padding]="element.flightRateEditing?'0px !important':''"
                        (click)="clickEdit(element,'flightRateEditing')">
                        @if(!element.flightRateEditing){
                        <div class="d-flex justify-content-between">
                            {{element.flightRate}}
                            <i class="material-symbols-outlined fs-18" matSuffix>
                                percent
                            </i>
                        </div>

                        }@else {
                        <div sizeInput="xs">
                            <mat-form-field (clickOutside)="clickOutside(element,'flightRateEditing')"
                                class="edit-inline-table">
                                <input matInput [(ngModel)]="element.flightRate" [disabled]="disabled()" maxlength="100"
                                    decimalSeparator="." digitOnly [decimal]="true">
                                <i class="material-symbols-outlined fs-18" matSuffix>
                                    percent
                                </i>
                            </mat-form-field>
                        </div>
                        }
                    </td>
                </ng-container>
                <ng-container matColumnDef="action" stickyEnd>
                    <th mat-header-cell mat-sort-header mat-header-cell *matHeaderCellDef
                        class="font-weight-bold text-center" i18n="@@action">
                        Action
                    </th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex">
                        <div class="action-buttons d-flex justify-content-end">
                            <button type="button" mat-button title="Delete" i18n-title="@@delete" class="text-danger"
                                [disabled]="disabled()" (click)="showConfirmDelete(i)">
                                <span class="material-symbols-outlined text-danger">
                                    delete
                                </span>
                            </button>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['addBtn']"></tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell text-center" colspan="3">No data!</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Dialog delete FlightOvernight -->
<div class="add-new-popup" [class.active]="showDialogDelete">
    <div class="popup-dialog dialog-delete-with">
        <mat-card class="border-radius d-block bg-white border-0 shadow-none width-percent-100">
            <mat-card-content>
                <div class="text-warning text-center">
                    <span class="material-symbols-outlined font-size-5rem">
                        error
                    </span>
                </div>
                <div class="text-center mb-20">
                    <h3 class="mb-0" i18n="@@deleteMessage">Are you sure you want to delete?</h3>
                </div>
                <div class="text-center mb-20">
                    <span class="font-weight-normal color-black font-size-19" i18n="@@warningDeleteMessage">
                        You will not be able to recover the deleted data!</span>
                </div>
                <div class="btn-box text-center">
                    <button type="button" mat-button (click)="toggleDialogDelete()"
                        class="close-btn  min-with-100 mlr-5">
                        <i class="material-symbols-outlined">
                            close
                        </i>
                        <span i18n="@@cancel">Cancel</span>
                    </button>
                    <button mat-button type="button" class="add-btn min-with-100 mlr-5" (click)="delete()">
                        <i class="material-symbols-outlined">
                            save
                        </i>
                        <span i18n="@@confirm">Confirm</span>
                    </button>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>