::ng-deep {

    .mat-column-addBtn {
        padding: 0px 0px 5px 0px !important;
    }



    .mat-column-flightRate {
        width: 280px;
    }

    .tooltip-with-300 {
        .mat-mdc-tooltip-surface {
            max-width: 300px !important;
            min-width: 300px !important;
            background-color: var(--dangerColor) !important;
            color: white;
            border: 1px solid #dcdcdd;
            box-shadow: #b3b3b3 0px 5px 20px 0px;
            font-size: 14px;
            ;
        }
    }

    .table-light.mdc-data-table__table .mdc-data-table__content .mat-mdc-row .field-required {
        border-bottom: 2px solid red !important;
    }
}