<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
  <h5 class="mb-0" i18n="@@actualExchangeRate">
    Actual exchange rate
  </h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@category">
      Category
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@actualExchangeRate">
      Actual exchange rate
    </li>
  </ol>
</div>


<!--Search-->
<mat-card class="mb-10 pt-15 pl-15 pr-15 pb-0 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-content>
    <form [formGroup]="formGroupSearch" (ngSubmit)="search()" autocomplete="off">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
          <div class="row mb-3">
            <div class="col" sizeInput="md">
              <mat-form-field class="mb-1">
                <mat-label i18n="@@keyword">Keyword</mat-label>
                <input trim="blur" matInput formControlName="s">
              </mat-form-field>
            </div>
            <div class="col" sizeInput="md">
              <mat-form-field class="mb-1">
                <mat-date-range-input [rangePicker]="effectRangePicker">
                  <input trim="blur" matStartDate i18n-placeholder="@@startDate" placeholder="dd/mm/yyyy"
                    formControlName="startDate">
                  <input trim="blur" matEndDate i18n-placeholder="@@endDate" placeholder="dd/mm/yyyy"
                    formControlName="endDate">
                </mat-date-range-input>
                <mat-label i18n="@@contractPeriod">Effective date</mat-label>
                <mat-datepicker-toggle matIconSuffix [for]="effectRangePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #effectRangePicker>
                  <mat-date-range-picker-actions>
                    <button sizeButton="sm" mat-button matDateRangePickerCancel i18n="@@cancel">Cancel
                    </button>
                    <button sizeButton="sm" mat-raised-button color="primary" matDateRangePickerApply
                      i18n="@@apply">Apply
                    </button>
                  </mat-date-range-picker-actions>
                </mat-date-range-picker>
              </mat-form-field>
              <!--              <mat-form-field appearance="fill">-->
              <!--                <mat-label i18n="@@effectiveDate">Effective date</mat-label>-->
              <!--                <input formControlName="startDate" matInput [matDatepicker]="pickerStartDate">-->
              <!--                <mat-datepicker-toggle matIconSuffix [for]="pickerStartDate"></mat-datepicker-toggle>-->
              <!--                <mat-datepicker #pickerStartDate></mat-datepicker>-->
              <!--              </mat-form-field>-->
            </div>

            <div class="col d-sm-flex flex-row  justify-content-lg-start justify-content-md-center">
              <mat-card-header class="mb-0 search">
                <mat-card-title>
                  <button class="search-btn" type="submit" mat-button>
                    <i class="material-symbols-outlined">
                      search
                    </i>
                    <span i18n="@@search">Search</span>
                  </button>
                </mat-card-title>
              </mat-card-header>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<mat-card class="mb-10 p-15 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-header class="mb-10">
    <mat-card-title>
    </mat-card-title>
    <mat-card-subtitle>
      <button *appHasPermission="['API_CURRENCY_ACTUAL_LIST']" class="add-btn" type="button" mat-button
        (click)="exportFileOptions(null,'Actual_exchange_rate.xlsx','actual')">
        <i class="material-symbols-outlined">
          download
        </i>
        <span i18n="@@export">Export</span>
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows="true" class="table-light" npm>
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center ">#</th>
          <td mat-cell *matCellDef="let element; let i = dataIndex" class="text-center">
            {{ (pageIndex * pageSize) + i + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="code">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center" i18n="@@code">
            Currency code
          </th>
          <td mat-cell *matCellDef="let element">{{ element.code }}</td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center" i18n="@@price">
            Exchange rate
          </th>
          <td mat-cell class="text-right" *matCellDef="let element">{{ element.price | number : (element.format ||
            '1.0-10') }}
          </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center" i18n="@@type">
            Exchange rate type
          </th>
          <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>
        <ng-container matColumnDef="currDate">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
            i18n="@@effectiveDate">
            Effective date
          </th>
          <td mat-cell class="text-center" *matCellDef="let element">{{ element.currDate | date: 'dd/MM/yyyy' }}</td>
        </ng-container>
        <ng-container matColumnDef="updatedDate">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center" i18n="@@updatedOn">
            Updated date
          </th>
          <td mat-cell class="text-center" *matCellDef="let element">{{ element.updatedDate | date: 'dd/MM/yyyy' }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center" colspan="7">No data!</td>
        </tr>
        <ng-container matColumnDef="action" stickyEnd>
          <th *matHeaderCellDef class="text-end" i18n mat-header-cell>
            Actions
          </th>
          <td *matCellDef="let element;let i = dataIndex" mat-cell>
            <div class="action-buttons d-flex align-items-center justify-content-end">
              <a *appHasPermission="['API_CURRENCY_ACTUAL_GET_CODE_LIST']" mat-button type="button"
                (click)="viewHistory(element)">
                <i class="material-symbols-outlined" title="View">
                  visibility
                </i>
              </a>
              <a mat-button type="button">
              </a>
              <a mat-button type="button">
              </a>
            </div>
          </td>
        </ng-container>
      </table>
    </div>
    <mat-paginator (page)="onPageChange($event)" [length]="totalElement" [pageSize]="pageSize"
      [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex"
      aria-label="Select page" i18n-aria-label="@@selectPage">
    </mat-paginator>
  </mat-card-content>
</mat-card>

<!--popup detail history-->
<div [class.active]="showDialogHistory" class="add-new-popup">
  <div class="popup-dialog" style="max-width: 700px; min-width: 400px;">
    <mat-card class="d-block bg-white border-0 shadow-none container">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0">
            <span i18n="@@viewHistory">View history</span>
          </h5>
        </mat-card-title>
        <mat-card-subtitle>
          <button mat-button (click)="this.showDialogHistory = !this.showDialogHistory">
            <i class="ri-close-fill"></i>
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="table-responsive">
          <label class="mb-10" style="color: #d3a023" i18n="@@currencyCode">Currency code: <span class="bold">{{
              itemDetail?.code }}</span></label>
          <table mat-table [dataSource]="listHistoryData" class="mb-20 table-light" multiTemplateDataRows="true">
            <ng-container matColumnDef="updatedDate">
              <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold" i18n="@@updatedOn">Updated
                time
              </th>
              <td mat-cell *matCellDef="let element">{{ element.updatedDate | date: 'dd/MM/yyyy HH:mm' }}</td>
            </ng-container>
            <ng-container matColumnDef="rate">
              <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold" i18n="@@rate">Exchange rate
              </th>
              <td mat-cell *matCellDef="let element" class="text-right">{{ element.price | number : (element.format ||
                '1.0-10') }}
              </td>
            </ng-container>
            <ng-container matColumnDef="currDate">
              <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold" i18n="@@effectiveDate">
                Effective date
              </th>
              <td mat-cell *matCellDef="let element">{{ element.currDate | date: 'dd/MM/yyyy' }}</td>
            </ng-container>
            <ng-container matColumnDef="type">
              <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold" i18n="@@type">Exchange rate
                type
              </th>
              <td mat-cell *matCellDef="let element">{{ element.type }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsHis"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsHis;"></tr>
          </table>
          <div class="btn-box">
            <button (click)="this.showDialogHistory = !this.showDialogHistory" class="close-btn" i18n mat-button
              type="button">
              <i class="material-symbols-outlined">
                close
              </i>
              Close
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>