<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
  <h5 class="mb-0" i18n="@@actualExchangeRate">
    Actual exchange rate
  </h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@category">
      Category
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@actualExchangeRate">
      Actual exchange rate
    </li>
  </ol>
</div>


<!--Search-->
<mat-card class="mb-10 pt-15 pl-15 pr-15 pb-0 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-content>
    <form [formGroup]="formGroupSearch" (ngSubmit)="search()" autocomplete="off">
      <div class="row">
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" sizeInput="md">
              <mat-form-field>
                <mat-label i18n="@@keyword">Keyword</mat-label>
                <input matInput formControlName="s">
              </mat-form-field>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" sizeInput="md">
              <mat-form-field appearance="fill">
                <mat-label i18n="@@effectiveDate">Effective date</mat-label>
                <input formControlName="currDate" matInput [matDatepicker]="pickerContractEndDate">
                <mat-datepicker-toggle matIconSuffix [for]="pickerContractEndDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerContractEndDate></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-1 d-flex flex-row">
          <mat-card-header class="mb-0 search">
            <mat-card-title clas>
              <button class="search-btn" type="submit" mat-button>
                <i class="material-symbols-outlined">
                  search
                </i>
                <span i18n="@@search">Search</span>
              </button>
            </mat-card-title>
          </mat-card-header>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<mat-card class="mb-10 p-15 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-header class="mb-10">
    <mat-card-title>
    </mat-card-title>
    <mat-card-subtitle>
      <button class="add-btn" type="button" mat-button (click)="exportFileOptions(null,'Actual_exchange_rate.xlsx','actual')">
        <i class="material-symbols-outlined">
          download
        </i>
        <span i18n="@@export">Export</span>
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows="true">
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold">#</th>
          <td mat-cell *matCellDef="let element; let i = dataIndex">{{ i + 1 }}</td>
        </ng-container>
        <ng-container matColumnDef="code">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold" i18n="@@code">Code</th>
          <td mat-cell *matCellDef="let element">{{element.code}}</td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold" i18n="@@price">Price</th>
          <td mat-cell *matCellDef="let element">{{element.price}}</td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold" i18n="@@type">Type</th>
          <td mat-cell *matCellDef="let element">{{element.type}}</td>
        </ng-container>
        <ng-container matColumnDef="currDate">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold" i18n="@@effectiveDate">Effective date</th>
          <td mat-cell *matCellDef="let element">{{element.currDate | date: 'dd/MM/yyyy'}}</td>
        </ng-container>
        <ng-container matColumnDef="updatedDate">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold" i18n="@@updatedOn">Updated on</th>
          <td mat-cell *matCellDef="let element">{{element.updatedDate | date: 'dd/MM/yyyy'}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <ng-container matColumnDef="action" stickyEnd>
          <th *matHeaderCellDef class="text-end" i18n mat-header-cell>
            Action
          </th>
          <td *matCellDef="let element;let i = dataIndex" mat-cell>
            <div class="action-buttons d-flex align-items-center justify-content-end">
              <a mat-button type="button" (click)="viewHistory(element)">
                <i class="material-symbols-outlined" title="Detail">
                  visibility
                </i>
              </a>
              <a  mat-button type="button">
              </a>
              <a mat-button type="button">
              </a>
            </div>
          </td>
        </ng-container>
      </table>
    </div>
    <mat-paginator (page)="onPageChange($event)" [length]="totalElement" [pageSize]="pageSize"
                   [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex"
                   aria-label="Select page" i18n-aria-label="@@selectPage">
    </mat-paginator>
  </mat-card-content>
</mat-card>

<!--popup detail history-->
<div
  [class.active]="showDialogHistory"
  class="add-new-popup"
>
  <div class="popup-dialog">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none container">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0">
            <span i18n="@@viewHistory">View history</span>
          </h5>
        </mat-card-title>
        <mat-card-subtitle>
          <button
            (click)="showDialogHistory = !showDialogHistory"
            mat-button
          >
            <i class="ri-close-fill"></i>
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <label class="mb-10" style="color: #d3a023" i18n="@@currencyCode">Currency code: <span class="bold">{{itemDetail?.code}}</span></label>
        <table mat-table [dataSource]="listHistoryData" class="mat-elevation-z8 mb-20" multiTemplateDataRows="true">
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold">#</th>
            <td mat-cell *matCellDef="let element; let j = dataIndex">{{ j + 1 }}</td>
          </ng-container>
          <ng-container matColumnDef="updatedDate">
            <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold" i18n="@@updatedOn">Updated At</th>
            <td mat-cell *matCellDef="let element">{{element.updatedDate | date: 'dd/MM/yyyy'}}</td>
          </ng-container>
          <ng-container matColumnDef="rate">
            <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold" i18n="@@rate">Rate</th>
            <td mat-cell *matCellDef="let element">{{element.price}}</td>
          </ng-container>
          <ng-container matColumnDef="currDate">
            <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold" i18n="@@effectiveDate">Effective date</th>
            <td mat-cell *matCellDef="let element">{{element.currDate | date: 'dd/MM/yyyy'}}</td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold" i18n="@@type">Type</th>
            <td mat-cell *matCellDef="let element">{{element.type}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsHis"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsHis;"></tr>
        </table>
        <div class="btn-box">
          <button (click)="showDialogHistory = !showDialogHistory" color="warn" i18n mat-button type="button">
            <i class="material-symbols-outlined">
              close
            </i>
            Close
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
