<form [formGroup]="formGroupDetail" autocomplete="off">
    <div class="row">
        <div class="col" sizeInput="sm">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@plannedProductionVsEstimatedProduction">
                    Planned Production vs Estimated Production
                </mat-label>
                <input type="text" inputmode="numeric" decimalSeparator="," digitOnly [decimal]="true"
                    formControlName="planVsEstimate" matInput>
                <i class="material-symbols-outlined fs-18" matSuffix>
                    percent
                </i>
            </mat-form-field>
        </div>
        <div class="col" sizeInput="sm">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@plannedExchangeRateVsEstimatedExchangeRate">
                    Planned Exchange Rate vs Estimated Exchange Rate
                </mat-label>
                <input type="text" inputmode="numeric" decimalSeparator="," digitOnly [decimal]="true" matInput
                    formControlName="planVsEstimateRate">
                <i class="material-symbols-outlined fs-18" matSuffix>
                    percent
                </i>
            </mat-form-field>
        </div>
        <div class="col" sizeInput="sm">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@roomRatePlannedYearVsCurrentYear">
                    Room Rate Planned Year vs Current Year
                </mat-label>
                <input type="text" inputmode="numeric" decimalSeparator="," digitOnly [decimal]="true" matInput
                    formControlName="ratePriceRoomBefore">
                <i class="material-symbols-outlined fs-18" matSuffix>
                    percent
                </i>
            </mat-form-field>
        </div>
        <div class="col" sizeInput="sm">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@carRatePlannedYearVsCurrentYear">
                    Car Rate Planned Year vs Current Year
                </mat-label>
                <input type="text" inputmode="numeric" [pattern]="'^\\d+(\,\\d{1,2})?$'" decimalSeparator="," digitOnly
                    [decimal]="true" matInput formControlName="ratePriceCarBefore">
                <i class="material-symbols-outlined fs-18" matSuffix>
                    percent
                </i>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <mat-form-field class="mb-2">
            <mat-label i18n="@@carRatePlannedYearVsCurrentYear">
                Note
            </mat-label>
            <textarea matInput formControlName="notes" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" matTextareaAutosize
                cdkTextareaAutosize #autosize="cdkTextareaAutosize">
            </textarea>
            <mat-error *ngxControlError="formGroupDetail.controls.notes; track: 'maxlength'" i18n="@@noteMaxlength">
                Note {{ MESSAGE.MAX_LENGTH_INVALID |
                dataTransformPipe:[Constant.STRING_FORMAT,500]}}
            </mat-error>
        </mat-form-field>
    </div>

</form>