<mat-card class="mb-10 border-radius p-3 d-block bg-white border-0 shadow-none">
  <mat-card-content>
    <form [formGroup]="formGroupSearch" (ngSubmit)="search()" class="form-inline">
      <div class="row">
        <div class="col-3" sizeInput="sm">
          <app-select-multiple i18n-label="@@airportCodes" label="Airport code" [options]="listFlightMarket"
            formControlName="airportCodes" size="sm" />
        </div>
        <div class="col-3 mb-2" sizeInput="sm">
          <mat-form-field class="mb-1">
            <mat-date-range-input [rangePicker]="contractRangePicker">
              <input trim="blur" matStartDate i18n-placeholder="@@startDate" placeholder="dd/mm/yyyy"
                formControlName="startDate">
              <input trim="blur" matEndDate i18n-placeholder="@@endDate" placeholder="dd/mm/yyyy"
                formControlName="endDate">
            </mat-date-range-input>
            <mat-label i18n="@@time">Time</mat-label>
            <mat-datepicker-toggle matIconSuffix [for]="contractRangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #contractRangePicker>
              <mat-date-range-picker-actions>
                <button sizeButton="sm" mat-button matDateRangePickerCancel i18n="@@cancel">Cancel
                </button>
                <button sizeButton="sm" mat-raised-button color="primary" matDateRangePickerApply i18n="@@apply">Apply
                </button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
            <mat-error *ngxControlError="formGroupSearch.controls['startDate']; track: 'matDatepickerParse'"
              i18n="@@timeInvalidFormat">
              Time invalid format
            </mat-error>
            <mat-error *ngxControlError="formGroupSearch.controls['endDate']; track: 'matDatepickerParse'"
              i18n="@@timeInvalidFormat">
              Time invalid format
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-3 d-flex  justify-content-lg-start justify-content-sm-center" sizeInput="sm">
          <mat-card-title>
            <button class="search-btn" type="submit" mat-button>
              <i class="material-symbols-outlined">
                search
              </i>
              <span i18n="@@search">Search</span>
            </button>
          </mat-card-title>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<mat-card class="mb-10 mt-10 p-0 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-header class="mb-10">
    <mat-card-title></mat-card-title>
    <mat-card-subtitle>
      <button class="add-btn mr-10" type="button" mat-button (click)="exportFileExcel('charter.xlsx')">
        <i class="material-symbols-outlined">
          download
        </i>
        <span i18n="@@export">Export</span>
      </button>
      <a class="add-btn" type="button" mat-button [routerLink]="['/plan/est-plan/wet-lease-charter/charter-detail']">
        <i class="material-symbols-outlined">
          add
        </i>
        <span i18n="@@addNew">Add new</span>
      </a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows="true" class="table-light">
        <ng-container matColumnDef="airportCode">
          <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@airportCode" [rowSpan]="2">
            Airport Code
          </th>
          <td mat-cell *matCellDef="let element;" class="text-center">
            {{element.airportCode}}
          </td>
        </ng-container>
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@startDate" [rowSpan]="2">
            Start date
          </th>
          <td mat-cell *matCellDef="let element;" class="text-center">
            {{element.startDate | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@endDate" [rowSpan]="2">
            End date
          </th>
          <td mat-cell *matCellDef="let element;" class="text-center">
            {{element.endDate | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT]}}
          </td>
        </ng-container>
        <!-- Tổng số phòng -->
        <ng-container matColumnDef="totalRoom">
          <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@totalRoom" [colSpan]="2">
            Total room
          </th>
        </ng-container>
        <ng-container matColumnDef="totalSingleRoom">
          <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@singleRoom">
            Single room
          </th>
          <td mat-cell *matCellDef="let element;" class="text-right">
            {{element.totalSingleRoom | number}}
          </td>
          <td mat-footer-cell *matFooterCellDef class="text-right fw-bold">
            {{ (dataSource.data | dataCalculateTotal: 'totalSingleRoom') | number }}
          </td>
        </ng-container>
        <ng-container matColumnDef="totalTwinRoom">
          <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@twinRoom">
            Twin room
          </th>
          <td mat-cell *matCellDef="let element;" class="text-right">
            {{element.totalTwinRoom | number}}
          </td>
          <td mat-footer-cell *matFooterCellDef class="text-right fw-bold">
            {{ (dataSource.data | dataCalculateTotal: 'totalTwinRoom') | number }}
          </td>
        </ng-container>
        <!-- Tổng số phòng EIC -->
        <ng-container matColumnDef="totalRoomElc">
          <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@totalOfRoomECI" [colSpan]="2">
            Total of room - ECI
          </th>
        </ng-container>
        <ng-container matColumnDef="totalSingleEICRoom">
          <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@singleRoom">
            Single room
          </th>
          <td mat-cell *matCellDef="let element;" class="text-right">
            {{element.totalSingleEICRoom | number}}
          </td>
          <td mat-footer-cell *matFooterCellDef class="text-right fw-bold">
            {{ (dataSource.data | dataCalculateTotal: 'totalSingleEICRoom') | number }}
          </td>
        </ng-container>
        <ng-container matColumnDef="totalTwinEICRoom">
          <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@twinRoom">
            Twin room
          </th>
          <td mat-cell *matCellDef="let element;" class="text-right">
            {{element.totalTwinEICRoom | number}}
          </td>
          <td mat-footer-cell *matFooterCellDef class="text-right fw-bold">
            {{ (dataSource.data | dataCalculateTotal: 'totalTwinEICRoom') | number }}
          </td>
        </ng-container>
        <!-- Tổng số phòng LCO -->
        <ng-container matColumnDef="totalRoomLco">
          <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@totalOfRoomLCO" [colSpan]="2">
            Total of room - LCO
          </th>
        </ng-container>
        <ng-container matColumnDef="totalSingleLCORoom">
          <th mat-header-cell *matHeaderCellDef class="text-right" i18n="@@singleRoom">
            Single room
          </th>
          <td mat-cell *matCellDef="let element;" class="text-right">
            {{element.totalSingleLCORoom | number}}
          </td>
          <td mat-footer-cell *matFooterCellDef class="text-right fw-bold">
            {{ (dataSource.data | dataCalculateTotal: 'totalSingleLCORoom') | number }}
          </td>
        </ng-container>
        <ng-container matColumnDef="totalTwinLCORoom">
          <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@twinRoom">
            Twin room
          </th>
          <td mat-cell *matCellDef="let element;" class="text-right">
            {{element.totalTwinLCORoom | number}}
          </td>
          <td mat-footer-cell *matFooterCellDef class="text-right fw-bold">
            {{ (dataSource.data | dataCalculateTotal: 'totalTwinLCORoom') | number }}
          </td>
        </ng-container>

        <!-- Só lượt xe -->
        <ng-container matColumnDef="totalNumberOfTrip">
          <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@noOfTrip" [rowSpan]="2">
            No. of trip
          </th>
          <td mat-cell *matCellDef="let element;" class="text-right">
            {{element.totalNumberOfTrip | number}}
          </td>
          <td mat-footer-cell *matFooterCellDef class="text-right fw-bold">
            {{ (dataSource.data | dataCalculateTotal: 'totalNumberOfTrip') | number }}
          </td>
        </ng-container>

        <!-- Tổng tiền ngoại tệ -->
        <ng-container matColumnDef="totalForex">
          <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@totalAmountForeignExchange" [rowSpan]="2">
            Total amount <br /> (Foreign exchange)
          </th>
          <td mat-cell *matCellDef="let element;" class="text-right">
            {{round(element.totalForex) | number}}
          </td>
          <td mat-footer-cell *matFooterCellDef class="text-right fw-bold">
            {{ round((dataSource.data | dataCalculateTotal: 'totalForex')) | number }}
          </td>
        </ng-container>

        <!-- Tổng tiền VND -->
        <ng-container matColumnDef="totalAmount">
          <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@totalAmountVND" [colSpan]="2">
            Total amount <br /> (VND)
          </th>
        </ng-container>
        <ng-container matColumnDef="totalExcVAT">
          <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@excludingVAT">
            Excluding VAT
          </th>
          <td mat-cell *matCellDef="let element;" class="text-right">
            {{ Math.round(element.totalExcVAT) | number}}
          </td>
          <td mat-footer-cell *matFooterCellDef class="text-right fw-bold">
            {{ Math.round(dataSource.data | dataCalculateTotal: 'totalExcVAT') | number }}
          </td>
        </ng-container>
        <ng-container matColumnDef="totalIncVAT">
          <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@includingVAT">
            Including VAT
          </th>
          <td mat-cell *matCellDef="let element;" class="text-right">
            {{ Math.round(element.totalIncVAT)  | number}}
          </td>
          <td mat-footer-cell *matFooterCellDef class="text-right fw-bold">
            {{ Math.round(dataSource.data | dataCalculateTotal: 'totalIncVAT') | number }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action" stickyEnd>
          <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@includingVAT" [rowSpan]="2">
            Action
          </th>
          <td mat-cell *matCellDef="let element;" class="text-center">
            <div class="action-buttons d-flex justify-content-start">
              <a mat-button title="View" i18n-title="@@view" class="text-vna"
                [routerLink]="['/plan/est-plan/wet-lease-charter/charter-detail', element.id]"
                [queryParams]="{'view-detail':true}">
                <i class="material-symbols-outlined " text-primary>
                  visibility
                </i>
              </a>
              @if (!element.completed) {
              <a type="button" class="text-warning" mat-button
                [routerLink]="['/plan/est-plan/wet-lease-charter/charter-detail', element.id]"
                [queryParams]="{'view-detail':false}">
                <i class="material-symbols-outlined " text-warning title="Edit" i18n-title="@@edit">
                  edit
                </i>
              </a>

              <button type="button" mat-button title="Delete" i18n-title="@@delete"
                (click)="showConfirmDelete(element.id)">
                <i class="material-symbols-outlined " text-danger>
                  delete
                </i>
              </button>
              }
            </div>
          </td>
          <td mat-footer-cell *matFooterCellDef class="text-left fw-bold">

          </td>
        </ng-container>
        <ng-container matColumnDef="total">
          <td mat-footer-cell *matFooterCellDef class="text-left fw-bold" i18n="@@total" [colSpan]="3">
            Total
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="headerRowDef1"></tr>
        <tr mat-header-row *matHeaderRowDef="headerRowDef2"></tr>
        <tr mat-row *matRowDef="let row; columns: rowDef;"></tr>
        <tr mat-footer-row *matFooterRowDef="footerRowDef" [hidden]="dataSource.data.length === 0"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center" colspan="999999">No data!</td>
        </tr>
      </table>
      <mat-paginator (page)="onPageChange($event)" [length]="totalElement" [pageSize]="pageSize"
        [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex"
        aria-label="Select page" i18n-aria-label="@@selectPage">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>



<!-- dialog Delete -->
<div class="add-new-popup" [class.active]="showDialogDelete">
  <div class="popup-dialog dialog-delete-with">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none width-percent-100">
      <mat-card-content>
        <div class="text-warning text-center">
          <span class="material-symbols-outlined font-size-5rem">
            error
          </span>
        </div>
        <div class="text-center mb-20">
          <h3 class="mb-0" i18n="@@deleteMessage">Are you sure you want to delete?</h3>
        </div>
        <div class="text-center mb-20">
          <span class="font-weight-normal color-black font-size-19" i18n="@@warningDeleteMessage">
            You will not be able to recover the deleted data!</span>
        </div>
        <div class="btn-box text-center">
          <button type="button" mat-button (click)="toggleDialogDelete()" class="close-btn  min-with-100 mlr-5">
            <i class="material-symbols-outlined">
              close
            </i>
            <span i18n="@@cancel">Cancel</span>
          </button>
          <button mat-button type="button" class="add-btn min-with-100 mlr-5" (click)="delete()">
            <i class="material-symbols-outlined">
              save
            </i>
            <span i18n="@@confirm">Confirm</span>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
