<mat-card class="border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0" i18n="@@carRentalInformation">
                {{readonlyDetail()?'View Car rental':(this.data?.carRental?.id?'Edit Car rental':'Add new Car rental')}}
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="formGroupDetail" (ngSubmit)="save()" autocomplete="off">
            <div class="row">
                @if(readonlyDetail()){
                <div class="col-md-6">
                    <div class="form-group mb-20" sizeInput="md">
                        <mat-form-field>
                            <mat-label i18n="@@airport">Airport</mat-label>
                            <input trim="blur" matInput formControlName="marketCode">
                        </mat-form-field>
                    </div>
                </div>
                }
                <div [ngClass]="{'col-md-12':!readonlyDetail(),'col-md-6':readonlyDetail()}">
                    <div class="form-group mb-20" sizeInput="md">
                        <mat-form-field>
                            <mat-label i18n="@@carRentalCode">
                                Car rental code
                            </mat-label>
                            <input trim="blur" matInput formControlName="code" required maxlength="250" class="text-uppercase">
                            @if (
                            formGroupDetail.controls.code.hasError('required') &&
                            formGroupDetail.controls.code.touched) {
                            <mat-error i18n="@@carRentalCodeRequired">Car rental code {{MESSAGE.REQUIRED}}</mat-error>
                            }
                            @if (
                            formGroupDetail.controls.code.hasError('existsCarRentalCode') &&
                            formGroupDetail.controls.code.touched) {
                            <mat-error i18n="@@carRentalCodeAlreadyExists">Car rental code
                                {{MESSAGE.ALREADY_EXISTS}}</mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="form-group mb-20" sizeInput="md">
                        <mat-form-field>
                            <mat-label i18n="@@carRentalCompany">
                                Car rental company
                            </mat-label>
                            <input trim="blur" matInput formControlName="name" required maxlength="250">
                            @if (
                            formGroupDetail.controls.name.hasError('required') &&
                            formGroupDetail.controls.name.touched) {
                            <mat-error i18n="@@carRentalCompanyRequired">Car rental company
                                {{MESSAGE.REQUIRED}}</mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12">
                    <div class="form-group mb-20" sizeInput="md">
                        <mat-form-field>
                            <mat-label i18n="@@address">
                                Address
                            </mat-label>
                            <input trim="blur" matInput formControlName="address" maxlength="500">
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12">
                    <div class="form-group mb-20" sizeInput="md">
                        <mat-form-field>
                            <mat-label i18n="@@contactName">
                                Contact name
                            </mat-label>
                            <input trim="blur" matInput formControlName="fullName" maxlength="250">
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12">
                    <div class="form-group mb-20" sizeInput="md">
                        <mat-form-field>
                            <mat-label i18n="@@emailBooking">Email</mat-label>
                            <input trim="blur" type="email" matInput formControlName="email" required maxlength="250">
                            @if (
                            formGroupDetail.controls.email.hasError('required') &&
                            formGroupDetail.controls.email.touched) {
                            <mat-error i18n="@@emailBooking:emailRequired">Email {{MESSAGE.REQUIRED}}</mat-error>
                            }
                            @if (
                            formGroupDetail.controls.email.hasError('email') &&
                            formGroupDetail.controls.email.touched) {
                            <mat-error i18n="@@eemailBooking:mailFormatInvalid">Email
                                {{MESSAGE.FORMAT_INVALID}}</mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12">
                    <div class="form-group mb-20" sizeInput="md">
                        <mat-form-field>
                            <mat-label i18n="@@phoneNumber">
                                Phone number
                            </mat-label>
                            <input trim="blur" matInput formControlName="phone" maxlength="20">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="form-group mb-20">
                        <mat-form-field>
                            <mat-label i18n="@@notes">
                                Notes
                            </mat-label>
                            <textarea matInput formControlName="notes" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="10"
                                matTextareaAutosize cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                maxlength="500"></textarea>

                        </mat-form-field>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="form-group mb-20" sizeInput="md">
                        <mat-form-field>
                            <mat-label i18n="@@status">Status</mat-label>
                            <mat-select formControlName="active" required>
                                <mat-option [value]="true" i18n="@@active">Active</mat-option>
                                <mat-option [value]="false" i18n="@@inactive">Inactive</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="btn-box d-flex justify-content-end">
                <button type="button" mat-button (click)="close()" class="close-btn  min-with-100 mlr-5">
                    <i class="material-symbols-outlined">
                        close
                    </i>
                    @if(readonlyDetail()){
                    <span i18n="@@close">Close</span>
                    }@else {
                    <span i18n="@@cancel">Cancel</span>
                    }
                </button>
                @if(!readonlyDetail()){
                <button mat-button color="primary" type="submit" class="add-btn min-with-100 mlr-5">
                    <i class="material-symbols-outlined">
                        save
                    </i>
                    <span i18n="@@save">Save</span>
                </button>
                }

            </div>
        </form>

    </mat-card-content>
</mat-card>