<form [formGroup]="formGroupDetail" (submit)="submit()" autocomplete="off">

    <div class="row">
        <div class="col" sizeInput="sm">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@category">Category</mat-label>
                <mat-select required formControlName="category">
                    <mat-option value="International" i18n="@@international">International</mat-option>
                    <mat-option value="Domestic" i18n="@@domestic">Domestic</mat-option>
                </mat-select>
                <mat-error i18n="@@categoryRequired"
                    *ngxControlError="formGroupDetail.controls.category; track: 'required'">
                    Category {{MESSAGE.ALREADY_EXISTS}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col mb-2">
            <app-selection-suggest i18n-label="@@airport" label="Airport" [options]="airports()"
                formControlName="airportCode" size="sm" [required]="true" />
        </div>
        <!-- category() === CategoriesEnum.INTERNATIONAL -->
        @if ( category() === CategoriesEnum.INTERNATIONAL) {
        <div class="col" sizeInput="sm">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@rateForSingle">Buffer rate (for single-gender)</mat-label>
                <input type="text" decimalSeparator="," digitOnly [decimal]="true" matInput
                    formControlName="rateForSingle">
                <i class="material-symbols-outlined fs-18" matSuffix>
                    percent
                </i>
            </mat-form-field>
        </div>
        }
    </div>
    <div class="row">
        <div [ngClass]=" category() === CategoriesEnum.INTERNATIONAL?'col-4':'col-6'">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@singleRoomPrice">Single room price</mat-label>
                <textarea matInput [disabled]="true" [ngModel]="unitPriceSingleHotel"
                    [ngModelOptions]="{standalone: true}" matTextareaAutosize cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="3" cdkTextareaAutosize #autosize="cdkTextareaAutosize">
                </textarea>
            </mat-form-field>
            <mat-form-field class="mb-2">
                <mat-label i18n="@@twinRoomPrice">Twin room price</mat-label>
                <textarea matInput [disabled]="true" [ngModel]="unitPriceDoubleHotel"
                    [ngModelOptions]="{standalone: true}" matTextareaAutosize cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="3" cdkTextareaAutosize #autosize="cdkTextareaAutosize">
                </textarea>
            </mat-form-field>
        </div>
        <div [ngClass]=" category() === CategoriesEnum.INTERNATIONAL?'col-8':'col-6'">
            <mat-form-field class="mb-2">
                <mat-label i18n="@@notes">Notes</mat-label>
                <textarea matInput [disabled]="disabled()" formControlName="notes" matTextareaAutosize
                    cdkAutosizeMinRows="4" cdkAutosizeMaxRows="6" cdkTextareaAutosize #autosize="cdkTextareaAutosize">
                </textarea>
                <mat-error *ngxControlError="formGroupDetail.controls.notes; track: 'maxlength'" i18n="@@noteMaxlength">
                    Note {{ MESSAGE.MAX_LENGTH_INVALID |
                    dataTransformPipe:[Constant.STRING_FORMAT,500]}}
                </mat-error>
            </mat-form-field>
        </div>
    </div>


</form>