<!--Search-->
<mat-card class="mb-0 pt-0 pl-15 pr-15 pb-0 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <form [formGroup]="formGroupSearch" (ngSubmit)="onSearch()" autocomplete="off">
            <div class="row row-cols-lg-5 row-cols-md-4">
                <div class="col mb-1">
                    <app-select-multiple i18n-label="@@airport" label="Airport" [options]="airports()" size="md"
                        formControlName="airportCodes"></app-select-multiple>
                </div>
                <div class="col mb-1">
                    <app-selection class="" size="md" i18n-label="@@categoryOfPlan" label="Category of plan"
                        [options]="categoryOfPlans" formControlName="categoryOfPlan" attrValue="code"
                        attrDisplay="value"></app-selection>
                </div>
                @if(categoryType === 'All'){
                <div class="col mb-1">
                    <app-selection class="" size="md" label="Category" i18n-label="@@category"
                        [options]="categories" formControlName="category" attrValue="code"
                        attrDisplay="value"></app-selection>
                </div>
                }

                <div class="col mb-1">
                    <app-selection class="" size="md" label="Status" i18n-label="@@status" [options]="statuses"
                        formControlName="status" attrValue="code" attrDisplay="value"></app-selection>
                </div>
                <div class="col mx-auto d-flex justify-content-sm-center justify-content-lg-start ">
                    <mat-card-header class="mb-0 search">
                        <mat-card-title>
                            <button class="search-btn" type="submit" mat-button>
                                <i class="material-symbols-outlined">
                                    search
                                </i>
                                <span i18n="@@search">Search</span>
                            </button>
                        </mat-card-title>
                    </mat-card-header>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>