.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.readonly-input {
  background-color: #f0f0f0; /* Light gray to indicate read-only */
  color: #757575; /* Slightly dim text */
  border: 1px solid #ccc; /* Subtle border */
}
.table-container {
  max-height: 400px; /* Chiều cao tối đa */
  overflow-y: auto; /* Bật cuộn dọc */
  border: 1px solid #ccc; /* Tùy chỉnh đường viền nếu cần */
}

.vna-color-icon-btn {
  color: var(--vnaXanhColor);
}

.email-input {
  width: 100%;
}

.readonly-input {
  padding: 8px;
}

mat-autocomplete {
  max-height: 200px;
  overflow-y: auto;
}

mat-autocomplete-panel {
  z-index: 1000;
}

mat-error {
  display: block !important;
  color: red;
  font-size: 12px;
}
