<div class="sidebar-area bg-white transition" [ngClass]="{'active': isSidebarToggled}"
  [class.card-borderd]="themeService.isCardBordered()" [class.vna-sidebar]="true"
  [class.hide-sidebar]="themeService.isHideSidebar()" [class.component-dark-theme]="themeService.isDark()"
  [class.right-sidebar]="themeService.isRightSidebar()" [class.component-rtl-enabled]="themeService.isRTLEnabled()"
  [class.card-with-box-shadow]="themeService.isCardWithBoxShadow()">
  <div class="logo bg-white-static">
    <a routerLink="/" class="d-flex align-items-center position-relative">
      <img src="images/vietnam-airline-logo.svg" alt="logo-icon">
    </a>
  </div>
  <div (click)="toggle()" class="burger-menu transition" [ngClass]="{'active': isSidebarToggled}">
    <span class="top-bar transition d-block bg-black"></span>
    <span class="middle-bar transition d-block bg-black"></span>
    <span class="bottom-bar transition d-block bg-black"></span>
  </div>
  <ng-scrollbar visibility="hover">
    <div class="sidebar-inner">
      <div class="sidebar-menu">
        <mat-accordion [multi]="true">
          @for (menu1 of menu; track $index) {
          <mat-expansion-panel class="menu-level-1 right-aligned-header" (opened)="panelOpenState.set(true)"
            (closed)="panelOpenState.set(false)"  [expanded]="true" [class.active]="isActive(menu1.rootPath)">
            <!-- Menu -->
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="title text-white uppercase-text">
                  {{menu1.title}}
                </span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- SubMenu -->
            @if(menu1.subMenu.length > 0) {
              <ul class="sidebar-sub-menu">
                @for (subMenu1 of menu1.subMenu; track $index) {
                @if (subMenu1.path  != null && subMenu1.path != '') {
                  <li class="sidemenu-item">
                    <a [routerLink]="subMenu1.path" class="sidemenu-link" [ngClass]="subMenu1.icon"  [class.active]="isActive(subMenu1.path)">
                      <span class="title text-white" style="font-family: 'Aperto', sans-serif;">
                       {{ subMenu1.title }}
                      </span>
                    </a>
                  </li>
                }
                <!-- Menu level 2 -->
                @if (subMenu1.menu) {
                  @for (menu2 of subMenu1.menu; track $index) {
                    <mat-expansion-panel class="menu-level-1 right-aligned-header" (opened)="panelOpenState.set(true)"
                      (closed)="panelOpenState.set(false)">
                      <!-- Menu -->
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <span class="title text-white">
                            {{menu2.title}}
                          </span>
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <!-- SubMenu -->
                      @if(menu2.subMenu.length > 0) {
                      <ul class="sidebar-sub-menu">
                        @for (subMenu2 of menu2.subMenu; track $index) {
                        <li class="sidemenu-item">
                          <a [routerLink]="subMenu2.path" routerLinkActive="active" class="sidemenu-link" [ngClass]="subMenu2.icon">
                            <span class="title text-white" style="font-family: 'Aperto', sans-serif;">
                              {{ subMenu2.title }}
                            </span>
                          </a>
                        </li>

                        }
                      </ul>
                      }
                    </mat-expansion-panel>
                  }
                }
              }
              </ul>
            }
          </mat-expansion-panel>
          }
        </mat-accordion>
      </div>
    </div>
  </ng-scrollbar>
</div>
