<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
  <h5 class="mb-0" i18n="@@plannedExchangeRates">
    Planned exchange rate
  </h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@plan">
      Plan
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@rates">
      Exchange rate
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@plannedExchangeRates">
      Planned exchange rate
    </li>
  </ol>
</div>


<!--Search-->
<mat-card class="mb-10 pt-15 pl-15 pr-15 pb-0 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-content>
    <form [formGroup]="formGroupSearch" (ngSubmit)="search()" autocomplete="off">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
          <div class="row">
            <div class="col-sm-3" sizeInput='sm'>
              <mat-form-field class="mb-1">
                <mat-label i18n="@@keyword">Keyword</mat-label>
                <input matInput formControlName="s">
              </mat-form-field>
            </div>
            <div class="col-sm-3" sizeInput='sm'>
              <mat-form-field class="mb-1">
                <mat-label i18n="@@airport"> Version</mat-label>
                <input type="text" matInput formControlName="version" [matAutocomplete]="versionComplete">
                <mat-autocomplete autoActiveFirstOption requireSelection #versionComplete="matAutocomplete">
                  <mat-option [value]="null">-- All version --</mat-option>
                  @for (option of listVersion | async; track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                  }
                </mat-autocomplete>
                @if (!!formGroupSearch.controls['version'].hasError('required')) {
                <mat-error><span i18n>Version</span><span i18n> is required</span></mat-error>
                }
              </mat-form-field>
            </div>
            <div class="col-sm-3" sizeInput='sm'>
              <mat-form-field class="mb-1">
                <mat-label i18n="@@airport"> Datasource</mat-label>
                <input type="text" matInput formControlName="sourceType" [matAutocomplete]="sourceComplete">
                <mat-autocomplete autoActiveFirstOption requireSelection #sourceComplete="matAutocomplete">
                  <mat-option [value]="null">-- All Datasource --</mat-option>
                  @for (option of listDatasource | async; track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-card-header class="mb-0">
                <mat-card-title>
                  <button class="search-btn" type="submit" mat-button>
                    <i class="material-symbols-outlined">
                      search
                    </i>
                    <span i18n="@@search">Search</span>
                  </button>
                </mat-card-title>
              </mat-card-header>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<mat-card class="mb-10 p-15 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-header class="mb-10">
    <mat-card-title>
    </mat-card-title>
    <mat-card-subtitle>
      <button class="add-btn  mr-10" type="button" mat-button
        (click)="exportFileOptions(null,'planned_exchange_rate.xlsx')">
        <i class="material-symbols-outlined">
          download
        </i>
        <span i18n="@@export">Export</span>
      </button>
      <button *appHasPermission="['API_CURRENCY_IMPORT_IMPORT','API_CURRENCY_TEMPLATE_LIST']" class="add-btn mr-10"
        type="button" mat-button (click)="toggleDialogUpload()">
        <i class="material-symbols-outlined">
          upload
        </i>
        <span i18n="@@import">Import</span>
      </button>
      <button *appHasPermission="['API_CURRENCY_SYNC_LIST']" class="add-btn mr-10" type="button" mat-button>
        <i class="material-symbols-outlined">
          sync
        </i>
        <span i18n="@@upload">Sync</span>
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows="true" class="table-light">
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center">#</th>
          <td mat-cell *matCellDef="let element; let i = dataIndex" class="text-center">{{ (pageIndex * pageSize) + i +
            1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="currencyCode">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center">CUR</th>
          <td mat-cell *matCellDef="let element" class="text-center">{{ element.currencyCode }}</td>
        </ng-container>
        <ng-container matColumnDef="uthLastYear">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center">Yearly estimates
          </th>
          <td mat-cell *matCellDef="let element" class="text-right">{{ element.uthLastYear | number : (element.format ||
            '1.0-10') }}
          </td>
        </ng-container>
        <ng-container matColumnDef="january">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center">T01</th>
          <td mat-cell *matCellDef="let element" class="text-right">{{ element.january | number : (element.format ||
            '1.0-10') }}
          </td>
        </ng-container>
        <ng-container matColumnDef="february">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center">T02</th>
          <td mat-cell *matCellDef="let element" class="text-right">{{ element.february | number : (element.format ||
            '1.0-10') }}
          </td>
        </ng-container>
        <ng-container matColumnDef="march">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center">T03</th>
          <td mat-cell *matCellDef="let element" class="text-right">{{ element.march| number : (element.format ||
            '1.0-10') }}
          </td>
        </ng-container>
        <ng-container matColumnDef="april">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center">T04</th>
          <td mat-cell *matCellDef="let element" class="text-right">{{ element.april| number : (element.format ||
            '1.0-10') }}
          </td>
        </ng-container>
        <ng-container matColumnDef="may">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center">T05</th>
          <td mat-cell *matCellDef="let element" class="text-right">{{ element.may | number : (element.format ||
            '1.0-10') }}
          </td>
        </ng-container>
        <ng-container matColumnDef="june">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center">T06</th>
          <td mat-cell *matCellDef="let element" class="text-right">{{ element.june| number : (element.format ||
            '1.0-10') }}
          </td>
        </ng-container>
        <ng-container matColumnDef="july">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center">T07</th>
          <td mat-cell *matCellDef="let element" class="text-right">{{ element.july | number : (element.format ||
            '1.0-10') }}
          </td>
        </ng-container>
        <ng-container matColumnDef="august">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center">T08</th>
          <td mat-cell *matCellDef="let element" class="text-right">{{ element.august| number : (element.format ||
            '1.0-10') }}
          </td>
        </ng-container>
        <ng-container matColumnDef="september">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center">T09</th>
          <td mat-cell *matCellDef="let element" class="text-right">{{ element.september | number : (element.format ||
            '1.0-10') }}
          </td>
        </ng-container>
        <ng-container matColumnDef="october">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center">T10</th>
          <td mat-cell *matCellDef="let element" class="text-right">{{ element.october| number : (element.format ||
            '1.0-10') }}
          </td>
        </ng-container>
        <ng-container matColumnDef="november">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center">T11</th>
          <td mat-cell *matCellDef="let element" class="text-right">{{ element.november| number : (element.format ||
            '1.0-10') }}
          </td>
        </ng-container>
        <ng-container matColumnDef="december">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center">T12</th>
          <td mat-cell *matCellDef="let element" class="text-right">{{ element.december| number : (element.format ||
            '1.0-10') }}
          </td>
        </ng-container>
        <ng-container matColumnDef="average">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center">Average</th>
          <td mat-cell *matCellDef="let element" class="text-right">{{ element.average| number : (element.format ||
            '1.0-10') }}
          </td>
        </ng-container>
        <ng-container matColumnDef="rateUth">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center">Rate
            <br />(Plan/Est)
          </th>
          <td mat-cell *matCellDef="let element" class="text-right">{{ element.rateUth }}</td>
        </ng-container>
        <ng-container matColumnDef="version">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center">Version</th>
          <td mat-cell *matCellDef="let element">{{ element.version }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr *matNoDataRow class="mat-row">
          <td [attr.colspan]="displayedColumns.length" class="mat-cell text-center"><span i18n>No data!</span>
        </tr>
        <ng-container matColumnDef="action" stickyEnd>
          <th *matHeaderCellDef class="text-end" i18n mat-header-cell>
            Actions
          </th>
          <td *matCellDef="let element;let i = dataIndex" mat-cell>
            <div class="action-buttons d-flex align-items-center justify-content-end">
              <!--              <a mat-button type="button" (click)="viewHistory(element)">-->
              <!--                <i class="material-symbols-outlined" title="Detail">-->
              <!--                  visibility-->
              <!--                </i>-->
              <!--              </a>-->
              <a mat-button type="button">
              </a>
              <a mat-button type="button">
              </a>
            </div>
          </td>
        </ng-container>
      </table>
    </div>
    <mat-paginator (page)="onPageChange($event)" [length]="totalElement" [pageSize]="pageSize"
      [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex"
      aria-label="Select page" i18n-aria-label="@@selectPage">
    </mat-paginator>
  </mat-card-content>
</mat-card>


<div class="add-new-popup" [class.active]="showDialogUpload">
  <div class="popup-dialog dialog-with">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none width-percent-100">
      <mat-card-header class="p-15">
        <mat-card-title>
          <h5 class="mb-0" i18n="@@uploadPlannedAnnualProduction">
            Upload Planned Annual Production
          </h5>
        </mat-card-title>
        <mat-card-subtitle>
          <button mat-button (click)="resetFileUpload() ;toggleDialogUpload()">
            <i class="ri-close-fill"></i>
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row" *appHasPermission="['API_CURRENCY_TEMPLATE_LIST']">
          <span i18n="@@downloadTemplate" class="text-black">Download template</span>
          <button mat-button type="button" class="search-btn min-with-100 mlr-5" style="width: auto;"
            (click)="downloadTemplate()">
            <i class="material-symbols-outlined">
              download
            </i>
            <span i18n="@@airportCodeTemplate">tygiakehoach-template.xlsx</span>
          </button>
        </div>
        <div class="row mt-20" *appHasPermission="['API_CURRENCY_IMPORT_IMPORT']">
          <span i18n="@@selectFile" class="text-black">Select file</span>
          <file-upload [ngClass]="{'invalid':fileUpload.hasError('required') && fileUpload.touched}"
            [formControl]="fileUpload" class="file-uploader" [multiple]="false"></file-upload>
          @if (fileUpload.hasError('required') &&
          fileUpload.touched) {
          <mat-error i18n="@@fileRequired" style="font-style: italic; font-size: 12px;">File
            {{ MESSAGE.REQUIRED }}
          </mat-error>
          }
        </div>
        @if (!!uploadFileError.totalErrors) {
        <div class="row mt-20">
          <p class="text-danger" i18n="@@flightMarket.UploadError">
            Cannot perform excel data import when there are {{ uploadFileError.totalErrors }} error records
          </p>
          <span i18n="@@downloadFileError" class="text-black">Download file error:
            <button class="pt-0 pb-0" mat-raised-button (click)="downloadFileError()">Download file
              excel</button>
          </span>
        </div>
        }
        <div class="row mt-20">
          <p class="text-primary" i18n="@@plannedAnnualProduction.NoteUpload">
            Note:Please check the planned exchange rate on the system before importing new data!
          </p>
        </div>
      </mat-card-content>
      <mat-card-actions class="p-15 d-flex justify-content-end">
        <button type="button" mat-button (click)="resetFileUpload() ;toggleDialogUpload()"
          class="close-btn  min-with-100 mlr-5">
          <i class="material-symbols-outlined">
            close
          </i>
          <span i18n="@@cancel">Close</span>
        </button>
        <button *appHasPermission="['API_CURRENCY_IMPORT_IMPORT']" mat-button type="button"
          class="add-btn min-with-100 mlr-5" (click)="uploadFile()">
          <i class="material-symbols-outlined">
            upload
          </i>
          <span i18n="@@upload">Upload</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>