@if (this.dataSource.data && this.dataSource.data.length > 0) {
<div class="row">
    <div class="table-responsive max-height-600">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows="true" class="table-light">
            <ng-container matColumnDef="month" sticky>
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" [attr.rowspan]="2"
                    i18n="@@month">
                    {{type() === PlanCategoryEnum.BUDGET? 'Month':'Period'}}
                </th>
                <td mat-cell *matCellDef="let element" class="fw-bold">
                    {{element.periodLabel}}
                </td>
                <td mat-footer-cell *matFooterCellDef i18n="@@total" class="fw-bold text-center"> Total </td>
            </ng-container>

            <ng-container matColumnDef="numberVehicles">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" i18n="@@noOfTrip" [attr.rowspan]="2">
                    No. of Trip
                </th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    {{element.numberVehicles | number}}
                </td>
                <td mat-footer-cell *matFooterCellDef class="fw-bold"></td>
            </ng-container>

            <ng-container matColumnDef="noOfTripsYearPerform">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" i18n="@@singleRoom"
                    [attr.rowspan]="2">
                    Number of Trips in current year
                </th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    {{element.numberVehiclesYearPerform | number}}
                </td>
                <td mat-footer-cell *matFooterCellDef class="fw-bold text-right">{{getTotal('numberVehiclesYearPerform') | number}}
                </td>
            </ng-container>

            <ng-container matColumnDef="noOfTrip">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" i18n="@@doubleRoom"
                    [attr.rowspan]="2">
                    Number of Trips in planned year
                </th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    {{element.numberVehicles | number}}
                </td>
                <td mat-footer-cell *matFooterCellDef class="fw-bold text-right">{{getTotal('numberVehicles') | number}}
                </td>
            </ng-container>

            <ng-container matColumnDef="unitPrice">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" [attr.colspan]="2"
                    i18n="@@unitPrice">
                    Unit Price
                </th>
            </ng-container>
            <ng-container matColumnDef="unitPriceExcludingVAT">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" i18n="@@singleRoom">
                    Excluding VAT
                </th>
                <td mat-cell *matCellDef="let element"
                    [style.padding]="element['unitPriceEditing']?PADDING_0:''"
                    (click)="clickEdit(element, 'unitPriceEditing')" class="text-right">
                    @if(!element['unitPriceEditing']){
                    {{element.unitPrice | number}}
                    }@else {
                    <div sizeInput="xs">
                        <mat-form-field (clickOutside)="clickOutside(element,'unitPriceEditing')"
                            class="edit-inline-table">
                            <input appThousandsSeparator type="text" digitOnly [decimal]="true" decimalSeparator="."
                                matInput [(ngModel)]="element.unitPrice" [disabled]="disabled()">
                        </mat-form-field>
                    </div>
                    }
                </td>
                <td mat-footer-cell *matFooterCellDef class="fw-bold text-right">
                <td>
            </ng-container>
            <ng-container matColumnDef="unitPriceIncludingVAT">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" i18n="@@doubleRoom">
                    Including VAT
                </th>
                <td mat-cell *matCellDef="let element"
                    [style.padding]="element['unitPriceVatEditing']?PADDING_0:''"
                    (click)="clickEdit(element, 'unitPriceVatEditing')" class="text-right">
                    @if(!element['unitPriceVatEditing']){
                    {{element.unitPriceVat | number}}
                    }@else {
                    <div sizeInput="xs">
                        <mat-form-field (clickOutside)="clickOutside(element,'unitPriceVatEditing')"
                            class="edit-inline-table">
                            <input appThousandsSeparator type="text" digitOnly [decimal]="true" decimalSeparator="."
                                matInput [(ngModel)]="element.unitPriceVat" [disabled]="disabled()">
                        </mat-form-field>
                    </div>
                    }
                </td>
                <td mat-footer-cell *matFooterCellDef class="fw-bold text-right"></td>
            </ng-container>

            <ng-container matColumnDef="totalAmount">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" [attr.colspan]=3
                    i18n="@@totalAmount">
                    Total Amount
                </th>
            </ng-container>
            <ng-container matColumnDef="totalAmountExcludingVat">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" i18n="@@excludingVAT">
                    Excluding VAT
                </th>
                <td mat-cell *matCellDef="let element; let index = dataIndex;" class="text-right">
                    {{round(element.totalAmount) | number}}
                </td>
                <td mat-footer-cell *matFooterCellDef class="fw-bold text-right">{{getTotal('totalAmount') | number}}
                <td>
            </ng-container>
            <ng-container matColumnDef="totalAmountIncludingVAT">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" i18n="@@includingVAT">
                    Including VAT
                </th>
                <td mat-cell *matCellDef="let element; let index = dataIndex;" class="text-right">
                    {{round(element.totalAmountVat) | number}}
                </td>
                <td mat-footer-cell *matFooterCellDef class="fw-bold text-right">{{getTotal('totalAmountVat') | number}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="headerRowDef1; sticky:true"></tr>
            <tr mat-header-row *matHeaderRowDef="headerRowDef2; sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: rowDef;"></tr>
            <tr mat-footer-row *matFooterRowDef="rowDef; sticky: true"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" colspan="12">No data!</td>
            </tr>
        </table>
    </div>
</div>
}