<!--Search-->
<mat-card class="mb-10 pt-15 pl-15 pr-15 pb-0 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <app-daily-flight-schedules-search #dailyFlightSchedulesSearch (search)="onSearch($event)" />
    </mat-card-content>
</mat-card>
<mat-card class="pl-0 pr-0 mb-10 ml-0 mr-0 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header class="mb-10">
        <mat-card-title>
        </mat-card-title>
        <mat-card-subtitle>
            <button class="add-btn mr-10" type="button" mat-button (click)="exportScheduling()">
                <i class="material-symbols-outlined">
                    download
                </i>
                <span i18n="@@exportSchedulingData">Export Scheduling Data</span>
            </button>

            <button [matMenuTriggerFor]="menu" class="add-btn mr-10" type="button" mat-button>
                <i class="material-symbols-outlined">
                    download
                </i>
                <span i18n="@@export">Export</span>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="exportFile(null,'monthly-flight-schedule.xlsx')">
                    <span>Flight list</span>
                </button>
                <button mat-menu-item (click)="exportCrewList('list-of-flight-crew.xlsx')">
                    <span>List of flight crew</span>
                </button>
            </mat-menu>
            <button class="add-btn mr-10" type="button" mat-button [routerLink]="['/flight-schedules/daily/other']">
                <i class="material-symbols-outlined">
                    person_add
                </i>
                <span i18n="@@export">Extra Crew</span>
            </button>
            <button class="add-btn " type="button" mat-button>
                <i class="material-symbols-outlined">
                    sync
                </i>
                <span i18n="@@sync">Sync</span>
            </button>

        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows="true" class="table-light">
                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center ">#</th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex" class="text-center ">
                        {{ (pageIndex * pageSize) + i + 1 }}
                    </td>
                </ng-container>
                @for (innerColumn of _displayedColumns; track innerColumn.value) {
                <ng-container matColumnDef="{{innerColumn.value}}">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center">{{
                        innerColumn.label }}
                    </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="innerColumn.class">
                        {{ element[innerColumn.value]|dataTransformPipe:[innerColumn.type, innerColumn.format] }}
                    </td>
                </ng-container>
                }
                <ng-container matColumnDef="numberOfCrew">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center "
                        i18n="@@numberOfCrew">Number of crew</th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex" class="text-left ">
                        <span>
                            <span class="text-secondary-bootstrap font-size-14" i18n="@@fc">
                                FC
                            </span>:
                            <a class="text-secondary cursor-pointer" (click)="flightCrewDetail(element,'FC')">
                                {{element.pilotCount}}
                            </a>
                        </span>
                        <br>
                        <span>
                            <span class="text-secondary-bootstrap font-size-14" i18n="@@cc">
                                CC
                            </span>:
                            <a class="text-secondary cursor-pointer" (click)="flightCrewDetail(element,'CC')">
                                {{element.cabinCrewCount}}
                            </a>
                        </span>
                        <br>
                        <span>
                            <span class="text-secondary-bootstrap font-size-14" i18n="@@extraCrew">
                                Extra Crew
                            </span>:
                            <a class="text-secondary cursor-pointer" (click)="flightCrewDetail(element,'Extra Crew')">
                                {{element.extra}}
                            </a>
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="remark">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center "
                        i18n="@@remark">Remark</th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex" class="text-left ">
                        {{element.changeCrew}}
                    </td>
                </ng-container>
                <!-- Action Column -->
                <ng-container matColumnDef="action" stickyEnd>
                    <th *matHeaderCellDef class="text-end" i18n mat-header-cell rowspan="2">
                        Actions
                    </th>
                    <td *matCellDef="let element;let i = dataIndex" mat-cell [ngClass]="getColorByRemark(element)">
                        <div class="action-buttons d-flex align-items-center justify-content-end">
                            <a mat-button type="button" (click)="flightCrewDetail(element)">
                                <i class="material-symbols-outlined" i18n-title title="View">
                                    visibility
                                </i>
                            </a>
                            <a (click)="addOther(element)" class="text-danger" mat-button type="button">
                                <i class="material-symbols-outlined" i18n-title title="Edit">
                                    person_edit
                                </i>
                            </a>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="getColorByRemark(row)"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell text-center" colspan="99">No data!</td>
                </tr>
            </table>

        </div>
        <mat-paginator (page)="onPageChange($event)" [length]="totalElement" [pageSize]="pageSize"
            [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex"
            aria-label="Select page" i18n-aria-label="@@selectPage">
        </mat-paginator>
    </mat-card-content>
    <mat-card-footer>
        <div class="d-flex align-items-center mt-20">
            <span class="mr-20 text-black fw-semibold"> Warning Color: </span>
            <span class="d-flex align-items-center text-black mr-20"><i
                    class="material-symbols-outlined text-warning-100">capture</i>&nbsp;Change Pilot</span>
            <span class="d-flex align-items-center text-black mr-20"><i
                    class="material-symbols-outlined text-orange-100 mr-5">capture</i>&nbsp;Change Flight
                Attendant</span>
            <span class="d-flex align-items-center text-black"><i
                    class="material-symbols-outlined text-purple-100 mr-5">capture</i>&nbsp;Change Pilot/Flight
                Attendant</span>
        </div>
    </mat-card-footer>
</mat-card>