.table-container {
  max-height: 400px;
  overflow-y: auto;
  display: block;
}
/* Header dòng 1 (có rowspan) */
.header-row-level-1 {
  position: sticky;
  top: 0;
  z-index: 20;
  background: white;
}

/* Header dòng 2, nằm dưới dòng 1 */
.header-row-level-2 {
  position: sticky;
  top: 42px;
  z-index: 19;
  background: white;
}

.mat-header-cell {
  background: white;
  z-index: 21;
}
// .sticky-col-1, .sticky-col-2, .sticky-col-3 {
//   position: sticky;
//   background: white;
//   z-index: 10;
// }

// /* Chỉ định khoảng cách từ trái */
// .sticky-col-1 {
//   left: 0;
//   z-index: 11;
// }

// .sticky-col-2 {
//   left: 50px; /* điều chỉnh theo chiều rộng cột 1 */
//   z-index: 11;
// }

// .sticky-col-3 {
//   left: 166px; /* = 60px (col 1) + 100px (col 2), tùy chỉnh */
//   z-index: 11;
// }