<mat-card class="border-radius d-block bg-white border-0 shadow-none">
	<mat-card-header class="p-15">
		<mat-card-title>
			<h5 class="mb-0" i18n="@@exportHotel">Export with Filters</h5>
		</mat-card-title>
		<mat-card-subtitle>
			<button (click)="onCancel()" mat-button>
				<i class="ri-close-fill"></i>
			</button>
		</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<div class="container pt-15 pb-15">
			<form [formGroup]="exportForm">
				<div class="row mb-15">
					<div class="col-12" sizeInput="sm">
						<app-select-multiple
							label="Market code"
							[options]="markets"
							[required]="true"
							formControlName="marketCode"
							size="sm"
						></app-select-multiple>
					</div>
				</div>

				<div class="row mb-15">
					<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6" sizeInput="sm">
						<mat-form-field appearance="outline" class="w-100">
							<mat-label>Month</mat-label>
							<mat-select formControlName="month" placeholder="Month">
								@for (month of monthSelection; track month) {
									<mat-option [value]="month">{{ month }}</mat-option>
								}
							</mat-select>
						</mat-form-field>
					</div>
					<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6" sizeInput="sm">
						<mat-form-field appearance="outline" class="w-100">
							<mat-label>Year</mat-label>
							<mat-select formControlName="year" placeholder="Year">
								@for (year of listYear; track year) {
									<mat-option [value]="year">{{ year }}</mat-option>
								}
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</form>
		</div>
	</mat-card-content>
	<mat-card-footer class="d-flex justify-content-end">
		<button mat-button (click)="onCancel()" class="close-btn min-with-100 mlr-5">
			<i class="material-symbols-outlined">
				close
			</i>
			<span i18n="@@cancel">Close</span>
		</button>
		<button class="add-btn min-with-100 mlr-5" mat-button color="primary" (click)="onExport()" [disabled]="!exportForm.valid">
			<i class="material-symbols-outlined">
				download
			</i>
			<span i18n="@@export">Export</span>
		</button>
	</mat-card-footer>
</mat-card>
