<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
  <h5 class="mb-0" i18n="@@hotel">
    Set-up supplier email
  </h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@system">
      System
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@config">
      Config
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@emailToSupplier">
      Email to supplier
    </li>
  </ol>
</div>

<mat-card class="mb-10 pt-15 pl-15 pr-15 pb-0 border-radius d-block bg-white border-0 shadow-none">
  <form [formGroup]="formGroupSearch" (ngSubmit)="search()" autocomplete="off">
    <div class="row">
      <div class="col mb-2" sizeInput="sm">
        <mat-form-field class="mb-1">
          <mat-label i18n="@@keyword">Keyword</mat-label>
          <input matInput formControlName="s">
        </mat-form-field>
      </div>
      <div class="col mb-2" sizeInput="sm">
        <div class="col mb-2" sizeInput="sm">
          <mat-form-field class="mb-1">
            <mat-label i18n="@@status">Email type</mat-label>
            <mat-select formControlName="emailClass">
              <mat-option [value]="null" i18n="@@allStatus">-- All email type --</mat-option>
              <mat-option value="INVOICE_CONFIRMATION" i18n="@@confirmation">Invoice confirmation</mat-option>
              <mat-option value="INVOICE_REMINDER" i18n="@@confirmation">Invoice reminder</mat-option>
              <mat-option value="ESTIMATED_SCHEDULE" i18n="@@estimated">Estimated schedule</mat-option>
              <mat-option value="CHANGED_SCHEDULE" i18n="@@changed">Changed schedule</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col mb-2" sizeInput="sm">
        <div class="col mb-2" sizeInput="sm">
          <mat-form-field class="mb-1">
            <mat-label i18n="@@status">Airport type</mat-label>
            <mat-select formControlName="marketClass">
              <mat-option [value]="null" i18n="@@allAirport">-- All airport type --</mat-option>
              <mat-option value="DOMESTIC" i18n="@@domestic">Domestic</mat-option>
              <mat-option value="INTERNATIONAL" i18n="@@international">International</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col mb-2" sizeInput="sm">
        <mat-form-field class="mb-1">
          <mat-label i18n="@@status">Status</mat-label>
          <mat-select formControlName="active">
            <mat-option [value]="null" i18n="@@allStatus">-- All Status --</mat-option>
            <mat-option [value]="true" i18n="@@active">Active</mat-option>
            <mat-option [value]="false" i18n="@@inactive">Inactive</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col d-sm-flex flex-row  justify-content-lg-start justify-content-md-center">
        <mat-card-header class="mb-0 search">
          <mat-card-title clas>
            <button class="search-btn" type="submit" mat-button>
              <i class="material-symbols-outlined">
                search
              </i>
              <span i18n="@@search">Search</span>
            </button>
          </mat-card-title>
        </mat-card-header>
      </div>
    </div>
  </form>
</mat-card>
<mat-card class="mb-10 p-15 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-header class="mb-10">
    <mat-card-title>
    </mat-card-title>
    <mat-card-subtitle>
      <button (click)="showDialogDetail(null)" class="add-btn" i18n mat-button type="button">
        <i class="material-symbols-outlined">
          add
        </i>
        Add new
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows="true" class="table-light">
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center ">#</th>
          <td mat-cell *matCellDef="let element; let i = dataIndex" class="text-center">
            {{ (pageIndex * pageSize) + i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="emailClass">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@airportCode">
            Email type
          </th>
          <td mat-cell *matCellDef="let element">{{ element.emailClass }}</td>
        </ng-container>
        <ng-container matColumnDef="marketClass">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center" i18n="@@code">
            Airport type
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.marketClass }}
          </td>
        </ng-container>
        <ng-container matColumnDef="targetPersonel">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center" i18n="@@name">
            Subjects of application
          </th>
          <td mat-cell *matCellDef="let element">
            @if (element.targetPersonel) {
              @for (it of element.targetPersonel.split(','); track $index) {
                <span class="badge text-bg-label-badge">
              {{ it.trim() }}
            </span>
              }
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="title">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center" i18n="@@address">
            Title
          </th>
          <td mat-cell *matCellDef="let element" class="wrap-text-2">{{ element.title }}</td>
        </ng-container>
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-center" mat-sort-header i18n="@@status">
            Status
          </th>
          <td mat-cell *matCellDef="let element;" class="text-center">
            <span class="badge" [ngClass]="!!element.active?'text-bg-label-badge':'text-soft-dark'">
              {{ element.active ? 'Active' : 'Inactive' }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="action" stickyEnd>
          <th *matHeaderCellDef class="text-end" i18n mat-header-cell>
            Actions
          </th>
          <td *matCellDef="let element;let i = dataIndex" mat-cell>
            <div class="action-buttons d-flex align-items-center justify-content-end">
              <a mat-button type="button" (click)="onViewDetail(element.id)">
                <i class="material-symbols-outlined" title="View" i18n-title="@@view">
                  visibility
                </i>
              </a>
              <a (click)="showDialogDetail(element.id)" class="text-warning" mat-button type="button">
                <i class="material-symbols-outlined" i18n-title title="Edit">
                  edit
                </i>
              </a>
              <a (click)="showConfirmDelete(element.id)" i18n-title mat-button type="button">
                <i class="material-symbols-outlined" title="Delete">
                  delete
                </i>
              </a>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center" colspan="7">No data!</td>
        </tr>
      </table>
    </div>
    <mat-paginator (page)="onPageChange($event)" [length]="totalElement" [pageSize]="pageSize"
                   [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions"
                   [pageIndex]="pageIndex"
                   aria-label="Select page" i18n-aria-label="@@selectPage">
    </mat-paginator>
  </mat-card-content>
</mat-card>

<!-- Add New Popup-->
<div
  [class.active]="showDialogCreate"
  class="add-new-popup"
>
  <div class="popup-dialog" style="min-width: 800px;">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none container">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0">
            <span *ngIf="!formGroupDetail.value.id" i18n>Add new</span>
            <span *ngIf="formGroupDetail.value.id" i18n>
            @if (!isView) {
              Edit
            } @else {
              View
            }
            </span>

          </h5>
        </mat-card-title>
        <mat-card-subtitle>
          <button
            (click)="closeDetail()"
            mat-button
          >
            <i class="ri-close-fill"></i>
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="formGroupDetail" autocomplete="off">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <div class="form-group mb-20" sizeInput="md">
                <mat-form-field>
                  <mat-label i18n="@@emailType">
                    Email type
                  </mat-label>
                  <mat-select formControlName="emailClass">
                    <mat-option value="ESTIMATED_SCHEDULE" i18n>
                      Estimated schedule
                    </mat-option>
                    <mat-option value="INVOICE_REMINDER" i18n="@@confirmation">Invoice reminder</mat-option>
                    <mat-option value="CHANGED_SCHEDULE" i18n>
                      Changed schedule
                    </mat-option>
                    <mat-option value="INVOICE_CONFIRMATION" i18n>
                      Invoice confirmation
                    </mat-option>
                  </mat-select>
                  @if (formGroupDetail.controls.emailClass.hasError('required') &&
                  formGroupDetail.controls.emailClass.touched) {
                    <mat-error i18n="@@fullNameRequired">Email type {{ MESSAGE.REQUIRED }}</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="form-group mb-20" sizeInput="md">
                <mat-form-field>
                  <mat-label>
                    Airport type
                  </mat-label>
                  <mat-select formControlName="marketClass">
                    <mat-option value="DOMESTIC" i18n>
                      Domestic
                    </mat-option>
                    <mat-option value="INTERNATIONAL" i18n>
                      International
                    </mat-option>
                  </mat-select>
                  @if (formGroupDetail.controls.marketClass.hasError('required') &&
                  formGroupDetail.controls.marketClass.touched) {
                    <mat-error i18n="@@fullNameRequired"> Airport type {{ MESSAGE.REQUIRED }}</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="form-group mb-20" sizeInput="md">
                <app-select-multiple size="sm" label="Subjects of application"
                                     [required]="true" [options]="targetPersonals" attrValue="code"
                                     attrDisplay="label"
                                     [readonly]="formGroupDetail.get('targetObject')?.disabled ?? false"
                                     [isSearch]="false"
                                     formControlName="targetObject">
                </app-select-multiple>
              </div>
            </div>
            <div class="form-group mb-20" sizeInput="md">
              <mat-form-field>
                <mat-label i18n>Title</mat-label>
                <input formControlName="title" trim="blur" matInput required>
                @if (!!formGroupDetail.controls['title'].hasError('required')) {
                  <mat-error><span i18n>Title</span><span i18n> is required</span></mat-error>
                } @else if (!!formGroupDetail.controls['title'].hasError('maxlength')) {
                  <mat-error><span i18n>Title</span><span i18n> must be less than 250 characters</span></mat-error>
                }
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <div class="form-group" sizeInput="sm">
                <div class="NgxEditor__Wrapper">
                  @if (isView) {
                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar" [disabled]="true"></ngx-editor-menu>
                  } @else {
                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                  }
                  <ngx-editor [required]="true" [editor]="editor" formControlName="content"
                              (ngModelChange)="onEditorChange($event)" placeholder="Email body *">
                  </ngx-editor>
                  @if (formGroupDetail.controls.content.hasError('required') &&
                  formGroupDetail.controls.content.touched) {
                    <mat-error>Email body {{ MESSAGE.REQUIRED }}</mat-error>
                  }
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <mat-form-field>
                <mat-label i18n>Remark</mat-label>
                <textarea formControlName="note" matInput></textarea>
                <mat-hint align="end">{{ formGroupDetail.value.note?.length }} / 500</mat-hint>
                @if (!!formGroupDetail.controls['note'].hasError('maxlength')) {
                  <mat-error><span i18n>Remark</span><span i18n> must be less than 500 characters</span></mat-error>
                }
              </mat-form-field>
              <mat-checkbox class="mt-10" formControlName="active" i18n>Active</mat-checkbox>
            </div>
          </div>
        </form>
        <div class="btn-box">
          <button (click)="closeDetail()" class="close-btn" i18n mat-button type="button">
            <i class="material-symbols-outlined">
              close
            </i>
            Close
          </button>
          @if (!isView) {
            <button
              (click)="save()"
              class="add-btn"
              i18n mat-button
            >
              <i class="material-symbols-outlined">
                save
              </i>
              Save
            </button>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- Delete confirm Popup -->
<div class="add-new-popup" [class.active]="showDialogDelete">
  <div class="popup-dialog dialog-delete-with">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none width-percent-100">
      <mat-card-content>
        <div class="text-warning text-center">
                    <span class="material-symbols-outlined font-size-5rem">
                        error
                    </span>
        </div>
        <div class="text-center mb-20">
          <h3 class="mb-0" i18n="@@deleteMessage">Are you sure you want to delete?</h3>
        </div>
        <div class="text-center mb-20">
                    <span class="font-weight-normal color-black font-size-19" i18n="@@warningDeleteMessage">
                        You will not be able to recover the deleted data!</span>
        </div>
        <div class="btn-box text-center">
          <button type="button" mat-button (click)="closeConfirmDelete()"
                  class="close-btn  min-with-100 mlr-5">
            <i class="material-symbols-outlined">
              close
            </i>
            <span i18n="@@cancel">Cancel</span>
          </button>
          <button mat-button type="button" class="add-btn min-with-100 mlr-5" (click)="delete()">
            <i class="material-symbols-outlined">
              save
            </i>
            <span i18n="@@confirm">Confirm</span>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
