<div
  class="forgot-password-area"
  [class.dark-theme]="themeService.isDark()"
>
  <div
    class="trezo-form ml-auto mr-auto"
    [class.component-dark-theme]="themeService.isDark()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
  >
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 order-2 order-lg-1">
        <div class="form-image">
          <img src="images/background.jpg" alt="sign-in-image">
        </div>
      </div>
      <div class="col-lg-6 col-md-12 order-1 order-lg-2">
        <div class="form-content">
          <div class="logo">
            <img src="images/logo_vna4.png" alt="logo">
            <!--            <img src="images/white-logo-big.svg" class="d-none" alt="logo">-->
          </div>
          <div class="title">
            <h1 class="fw-semibold" i18n>
              Reset password
            </h1>
          </div>
          <form ngForm [formGroup]="formGroup" (ngSubmit)="resetPassword()" autocomplete="off">
            <div class="form-group">
              <mat-form-field>
                <mat-label>
                  New password
                </mat-label>
                <input matInput trim="blur" [type]="hide ? 'password' : 'text'" formControlName="newPassword" required/>
                <mat-error *ngIf="formGroup.get('newPassword')?.invalid && formGroup.get('newPassword')?.touched">
                                <span *ngIf="formGroup.get('newPassword')?.hasError('required')">
                                New password is required
                                </span>
                  <span *ngIf="formGroup.get('newPassword')?.hasError('minlength')">New password must be at least 8 characters.</span>
                  <span *ngIf="formGroup.get('newPassword')?.hasError('incorrect')">
                                   {{ errorMessage }}
                                </span>
                  <span *ngIf="formGroup.get('newPassword')?.hasError('pattern')">
                                   Password {{ MESSAGE.PASSWORD_FORMAT_INVALID }}
                                </span>
                </mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                                    <span class="material-symbols-outlined">
                                        {{ hide ? 'visibility_off' : 'visibility' }}
                                    </span>
                </button>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>
                  Confirm password
                </mat-label>
                <input matInput trim="blur" [type]="hide ? 'password' : 'text'" formControlName="confirmPassword"
                       required/>
                <mat-error
                  *ngIf="formGroup.get('confirmPassword')?.invalid && formGroup.get('confirmPassword')?.touched">
                                <span *ngIf="formGroup.get('confirmPassword')?.hasError('required')">
                                Confirm password is required
                                </span>
                  <span *ngIf="formGroup.get('confirmPassword')?.hasError('mismatch')">
                                  Passwords do not match
                                </span>
                </mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                                    <span class="material-symbols-outlined">
                                        {{ hide ? 'visibility_off' : 'visibility' }}
                                    </span>
                </button>
              </mat-form-field>
            </div>
<!--            <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#2a6886" type="ball-climbing-dot"-->
<!--                         [fullScreen]="false"></ngx-spinner>-->
            <ngx-spinner [fullScreen]="true" bdColor="rgba(0, 0, 0, 0.1)" type="none">
              <div class="loader"></div>
            </ngx-spinner>

            <p *ngIf="successMessage" class="success-message">
              {{ successMessage }}
            </p>
            <button type="submit" mat-button i18n class="custom-button">
              <i class="material-symbols-outlined">
                autorenew
              </i>
              Reset password
            </button>
            <p class="info">
              Back to <a routerLink="/auth/login" class="fw-semibold text-primary" i18n>Sign In</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
