<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
	<h5 class="mb-0" i18n="@@trackingFlightSchedulesForExtraCrew">
		Flight List
	</h5>
	<ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
		<li class="breadcrumb-item d-inline-block position-relative" i18n="@@flightSchedule">
			Flight Schedule
		</li>
		<li class="breadcrumb-item d-inline-block position-relative" i18n="@@dailyFlightSchedule">
			Daily Flight Schedule
		</li>
		<li class="breadcrumb-item d-inline-block position-relative" i18n="@@trackingFlightSchedulesForExtraCrew">
			Flight List
		</li>
	</ol>
</div>


<mat-card class="mb-10 p-15 border-radius d-block bg-white border-0 shadow-none">
	<mat-card-content>
		<mat-tab-group [selectedIndex]="selectedTab" mat-stretch-tabs="false" mat-align-tabs="start">
			<mat-tab label="Estimated Flight Schedule" i18n="@@estimatedFlightSchedule"
							 *appHasPermission="['API_DAILY_FLIGHT_SCHEDULE_PLAN_LIST']">
				<ng-template matTabContent>
					<app-estimated-flight-schedule />
				</ng-template>
			</mat-tab>
			<mat-tab label="Monthly Flight Schedule" i18n="@@monthlyFlightSchedule"
							 *appHasPermission="['API_DAILY_FLIGHT_SCHEDULE_IN_MONTH_LIST']">
				<ng-template matTabContent>
					<app-monthly-flight-schedule />
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</mat-card-content>
</mat-card>
