<footer [class.card-without-border-radius]="themeService.isCardWithoutBorderRadius()"
  [class.card-with-box-shadow]="themeService.isCardWithBoxShadow()"
  class="footer-area text-center bg-white border-top-radius toggle-switch transition"
  [class.card-borderd]="themeService.isCardBordered()" [ngClass]="{'active': isSidebarToggled}">
  <div>
    <span>
      <img src="images/logo_vna8.png" alt="logo-icon"> VNA Crew Trip | Version 1.1.2
    </span>
    <span>
      © 2024 Vietnam Airlines SJC
    </span>
  </div>
</footer>