<mat-card class="border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header class="p-15">
        <mat-card-title>
            <h5 class="mb-2" i18n="@@createNewHotelTransportationEmail">
                Create new hotel/transportation email
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <button mat-button (click)="close()">
                <i class="ri-close-fill"></i>
            </button>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="formGroupDetail" (ngSubmit)="save()" autocomplete="off">

            <div class="row">
                <div class="col">
                    <div class="form-group mb-20" sizeInput="sm">
                            <app-selection-suggest [options]="groupMails" label="Recipient" i18n-label="@@Recipient"
                                attrValue="groupId" attrDisplay="groupName"
                                formControlName="groupMailId"></app-selection-suggest>
                            <!-- <input trim="blur" type="email" matInput formControlName="email" required> -->
                            <!-- <mat-error *ngxControlError="formGroupDetail.controls.email; track: 'required'"
                                i18n="@@recipientRequired">
                                Recipient {{MESSAGE.REQUIRED}}
                            </mat-error>
                            <mat-error *ngxControlError="formGroupDetail.controls.email; track: 'pattern'"
                                i18n="@@recipientFormatInvalid">
                                Recipient {{MESSAGE.FORMAT_INVALID}}
                            </mat-error>
                            <mat-error *ngxControlError="formGroupDetail.controls.email; track: 'maxlength'"
                                i18n="@@recipientMaxlength">
                                Recipient {{ MESSAGE.MAX_LENGTH_INVALID | dataTransformPipe:[Constant.STRING_FORMAT,
                                250]}}
                            </mat-error> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-20">
                        <mat-label i18n="@@subject">
                            Subject
                        </mat-label>
                        <mat-form-field>

                            <textarea matInput formControlName="title" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"
                                matTextareaAutosize cdkTextareaAutosize #autosize="cdkTextareaAutosize">
                        </textarea>
                            <mat-error *ngxControlError="formGroupDetail.controls.title; track: 'required'"
                                i18n="@@subjectRequired">
                                Subject {{MESSAGE.REQUIRED}}
                            </mat-error>
                            <mat-error *ngxControlError="formGroupDetail.controls.title; track: 'maxlength'"
                                i18n="@@subjectMaxlength">
                                Subject {{ MESSAGE.MAX_LENGTH_INVALID |
                                dataTransformPipe:[Constant.STRING_FORMAT,500]}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-20">
                        <mat-label class="" i18n="@@emailBody">
                            Email body
                        </mat-label>
                        <div class="NgxEditor__Wrapper">
                            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                            <ngx-editor formControlName="content" [editor]="editor"></ngx-editor>
                            <i *ngxControlError="formGroupDetail.controls.content; track: 'required'" class="required"
                                i18n="@@emailBodyRequired">
                                Email body {{MESSAGE.REQUIRED}}
                            </i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-20">
                        <mat-label class="" i18n="@@attachment">
                            Attachment
                        </mat-label>
                        <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Cutest dog breeds">
                            @for (item of fileAttachment; track $index) {
                            <mat-chip-row (removed)="removeAttachment(item)">
                                <span class="attach-file">{{item}}</span>
                                <button matChipRemove>
                                    <i class="material-symbols-outlined">
                                        close
                                    </i>
                                </button>
                            </mat-chip-row>
                            }
                        </mat-chip-listbox>
                        <i *ngxControlError="formGroupDetail.controls.attachment; track: 'required'" class="required"
                            i18n="@@attachmentRequired">
                            Attachment {{MESSAGE.REQUIRED}}
                        </i>
                    </div>
                </div>
            </div>
            <div class="btn-box d-flex justify-content-end">
                <button type="button" mat-button (click)="close()" class="close-btn  min-with-100 mlr-5">
                    <i class="material-symbols-outlined">
                        close
                    </i>
                    <span i18n="@@close">Close</span>
                </button>
                <button mat-button color="primary" type="submit" class="add-btn min-with-100 mlr-5">
                    <i class="material-symbols-outlined">
                        forward_to_inbox
                    </i>
                    <span i18n="@@send">Send</span>
                </button>

            </div>
        </form>
    </mat-card-content>
</mat-card>