<mat-form-field>
  <mat-label>
    {{ label }}
  </mat-label>
  <input
    matInput trim="blur"
    [formControl]="formControl"
    [placeholder]="placeholder"
    [type]="type"
    [required]="required"
    (input)="onInput($event)"
    (blur)="onTouched()"
  />
  <mat-error *ngxControlError="formControl; track: 'required'">
    {{ label }} is required.
  </mat-error>
  <mat-error *ngxControlError="formControl; track: 'maxlength'">
    {{ label }} maximum {{ maxLength }} characters allowed.
  </mat-error>
  <ng-content select="[mess-error]"></ng-content>
</mat-form-field>
