<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center justify-content-between mt-2">
    <button type="button" class="btn btn-outline-secondary mr-20" i18n="@@back"
            routerLink="/category/flight-market">
      <i class="material-symbols-outlined">
        undo
      </i>
      Back
    </button>
    @if (!isCreate()) {
      <h5 class="mb-0" i18n="@@addNewAirport">
        Add new airport
      </h5>
    } @else if (readonlyDetail()) {
      <h5 class="mb-0" i18n="@@airportCode">
        View airport
      </h5>
    } @else {
      <h5 class="mb-0" i18n="@@editAirport">
        Edit airport
      </h5>
    }
  </div>

  <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@category">
      Category
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" style="padding-right: 8px;;" i18n="@@airportCode">
      Airport code
    </li>
    @if (!isCreate()) {
      <li class="breadcrumb-item d-inline-block position-relative" i18n="@@addNewAirport">
        Add new airport
      </li>
    } @else if (readonlyDetail()) {
      <li class="breadcrumb-item d-inline-block position-relative" i18n="@@viewAirport">
        View airport
      </li>
    } @else {
      <li class="breadcrumb-item d-inline-block position-relative" i18n="@@editAirport">
        Edit airport
      </li>
    }
  </ol>
</div>

<!-- THông tin thị trường bay -->
<mat-card class="mb-10 p-15 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-header class="mb-10">
    <mat-card-title>
      <h6 i18n="@@airportInformation">Airport information</h6>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formGroupDetail" autocomplete="off">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col" sizeInput="sm">
              <mat-form-field class="mb-2">
                <mat-label i18n="@@airportCode">Airport Code</mat-label>
                <input trim="blur" required matInput formControlName="marketCode"
                       class="text-uppercase">
                <mat-error *ngxControlError="formGroupDetail.controls.marketCode; track: 'required'"
                           i18n="@@marketCodeRequired">
                  Airport Code {{ MESSAGE.REQUIRED }}
                </mat-error>
                <mat-error *ngxControlError="formGroupDetail.controls.marketCode; track: 'minlength'"
                           i18n="@@marketCodeMinlength">
                  Airport Code {{
                    MESSAGE.MIN_LENGTH_INVALID |
                      dataTransformPipe:[Constant.STRING_FORMAT, 3]
                  }}
                </mat-error>
                <mat-error *ngxControlError="formGroupDetail.controls.marketCode; track: 'maxlength'"
                           i18n="@@marketCodeMaxlength">
                  Airport Code {{
                    MESSAGE.MAX_LENGTH_INVALID|
                      dataTransformPipe:[Constant.STRING_FORMAT, 3]
                  }}
                </mat-error>
                <mat-error
                  *ngxControlError="formGroupDetail.controls.marketCode; track: 'airportCodeExists'"
                  i18n="@@airportCodeExists">
                  Airport Code {{ MESSAGE.ALREADY_EXISTS }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col" sizeInput="sm">
              <mat-form-field class="mb-2">
                <mat-label i18n="@@airportName">Airport Name</mat-label>
                <input trim="blur" matInput formControlName="marketName">
                <mat-error *ngxControlError="formGroupDetail.controls.marketName; track: 'maxlength'"
                           i18n="@@marketCodeMaxlength">
                  Airport Name {{
                    MESSAGE.MAX_LENGTH_INVALID|
                      dataTransformPipe:[Constant.STRING_FORMAT, 250]
                  }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col mb-2">
              <app-selection-suggest i18n-label="@@country" label="Country" [options]="countries"
                                     formControlName="nationId" size="sm" attrValue="id"
                                     (selectionChange)="countrySelected($event)"
                                     attrDisplay="vniName" />

            </div>
            <div class="col" sizeInput="sm">
              <mat-form-field class="mb-2">
                <mat-label matInput i18n="@@category">Category</mat-label>
                <mat-select required formControlName="marketType">
                  <!-- <mat-option [value]="null" i18n="@@allCategory">-- All Category --</mat-option> -->
                  <mat-option value="International" i18n="@@international">International</mat-option>
                  <mat-option value="Domestic" i18n="@@domestic">Domestic</mat-option>
                </mat-select>
                <mat-error *ngxControlError="formGroupDetail.controls.marketType; track: 'required'"
                           i18n="@@categoryRequired">
                  Category {{ MESSAGE.REQUIRED }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col" sizeInput="sm">
              <mat-form-field class="mb-2">
                <mat-label i18n="@@flightGroup">Flight Group</mat-label>
                <mat-select formControlName="flightGroup">
                  <mat-option [value]="" i18n="@@chooseFlightGroup">Choose flight group</mat-option>
                  @for (flightGroup of flightGroupData; track $index) {
                    <mat-option [value]="flightGroup">{{ flightGroup }}</mat-option>
                  }
                </mat-select>
                <!-- <mat-error *ngxControlError="formGroupDetail.controls.flightGroup; track: 'required'"
                    i18n="@@flightGroupRequired">
                    Flight Group {{MESSAGE.REQUIRED}}
                </mat-error> -->
              </mat-form-field>
            </div>
            <div class="col">
              <app-select-multiple size="sm" label="Cost Category" i18n-label="@@costCategory"
                                   [required]="false" [options]="costCategorys" attrValue="code" attrDisplay="name"
                                   formControlName="serviceFeeCode">
              </app-select-multiple>
            </div>
            <div class="col" sizeInput="sm">
              <mat-form-field class="mb-2">
                <mat-label i18n="@@airportStatus">Airport status</mat-label>
                <mat-select required formControlName="statusUsage">
                  <!-- <mat-option [value]="null" i18n="@@allStatus">-- All Status --</mat-option> -->
                  <mat-option value="Not operational" i18n="@@notOperational">
                    Not operational
                  </mat-option>
                  <mat-option value="Operational" i18n="@@operational">Operational</mat-option>
                  <mat-option value="Suspended" i18n="@@suspended">Suspended</mat-option>
                </mat-select>
                <mat-error *ngxControlError="formGroupDetail.controls.statusUsage; track: 'required'"
                           i18n="@@airportCode:statusRequired">
                  Airport status{{ MESSAGE.REQUIRED }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-checkbox class="mb-2" i18n="@@overnight" formControlName="overnight">
                Overnight
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <mat-form-field class="mb-1">
            <mat-label i18n="@@remark">Remark</mat-label>
            <textarea matInput matTextareaAutosize cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="2" cdkAutosizeMaxRows="10" formControlName="notes"></textarea>
            <mat-error *ngxControlError="formGroupDetail.controls.notes; track: 'maxlength'"
                       i18n="@@marketCodeMaxlength">
              Airport Code {{
                MESSAGE.MAX_LENGTH_INVALID|
                  dataTransformPipe:[Constant.STRING_FORMAT, 500]
              }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>


<!-- Thông tin khách sạn -->
<mat-card class="mb-10 p-15 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-header class="mb-10">
    <mat-card-title>
      <h6 i18n="@@hotelInformation">Hotel information</h6>
    </mat-card-title>
    <mat-card-subtitle>
      @if (!readonlyDetail()) {
        <button class="add-btn" type="button" mat-button (click)="hotelDetail(false)">
          <i class="material-symbols-outlined">
            add
          </i>
          <span i18n="@@addNew">Add new</span>
        </button>
      }

    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="hotelDataSource" multiTemplateDataRows="true" class="table-light">
        <ng-container matColumnDef="hotelCode">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@hotelCode">
            Hotel Code
          </th>
          <td mat-cell *matCellDef="let hotel">{{ hotel.hotelCode }}</td>
        </ng-container>

        <ng-container matColumnDef="hotelName">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@hotelName">
            Hotel Name
          </th>
          <td mat-cell *matCellDef="let hotel">{{ hotel.hotelName }}</td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@address">
            Address
          </th>
          <td mat-cell *matCellDef="let hotel">{{ hotel.address }}</td>
        </ng-container>

        <ng-container matColumnDef="fullName">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@contactName">
            Contact name
          </th>
          <td mat-cell *matCellDef="let hotel">{{ hotel.fullName }}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="email">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@emailBooking:email">Email
          </th>
          <td mat-cell *matCellDef="let hotel">{{ hotel.email }}</td>
        </ng-container> -->

        <ng-container matColumnDef="phone">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@phoneNumber">
            Phone number
          </th>
          <td mat-cell *matCellDef="let hotel">{{ hotel.phone }}</td>
        </ng-container>

        <ng-container matColumnDef="active">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@status">
            Status
          </th>
          <td mat-cell *matCellDef="let hotel" class="text-center">
                        <span class="badge" [ngClass]="!!hotel.active?'text-bg-label-badge':'text-soft-dark'">
                            {{ !!hotel.active ? MESSAGE.ACTIVE : MESSAGE.INACTIVE }}
                        </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="notes">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@remark">
            Remark
          </th>
          <td mat-cell *matCellDef="let hotel">{{ hotel.notes }}</td>
        </ng-container>

        @if (!readonlyDetail()) {
          <ng-container matColumnDef="action" stickyEnd>
            <th mat-header-cell mat-sort-header mat-header-cell *matHeaderCellDef
                class="font-weight-bold text-center" i18n="@@actions">
              Actions
            </th>
            <td mat-cell *matCellDef="let hotel; let i = dataIndex">
              <div class="action-buttons d-flex align-items-center justify-content-end">
                <button type="button" mat-button (click)="hotelDetail(false, hotel)">
                  <i class="material-symbols-outlined text-warning" title="Edit hotel"
                     i18n-title="@@editHotel">
                    edit
                  </i>
                </button>

                <button type="button" mat-button title="Delete hotel" i18n-title="@@deleteHotel"
                        (click)="indexDeleteHotel = i ;toggleDialogDeleteHotel()">
                  <i class="material-symbols-outlined text-danger">
                    delete
                  </i>
                </button>

              </div>
            </td>
          </ng-container>
        }

        <tr mat-header-row *matHeaderRowDef="hotelColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: hotelColumns;" [hidden]="row.isDelete === true"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center" colspan="9">No data!</td>
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>


<!-- Thông tin nhà xe -->
<mat-card class="mb-10 p-15 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-header class="mb-10">
    <mat-card-title>
      <h6 i18n="@@carRentalCompanyInformation">Transportation company information</h6>
    </mat-card-title>
    <mat-card-subtitle>
      @if (!readonlyDetail()) {
        <button class="add-btn" type="button" mat-button (click)="carRentalDetail(false)">
          <i class="material-symbols-outlined">
            add
          </i>
          <span i18n="@@addNew">Add new</span>
        </button>
      }

    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="carRentalDataSource" multiTemplateDataRows="true" class="table-light">
        <ng-container matColumnDef="code">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@carCompanyCode">
            Car company code
          </th>
          <td mat-cell *matCellDef="let carRental">{{ carRental.code }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@carCompanyName">
            Car company name
          </th>
          <td mat-cell *matCellDef="let carRental">{{ carRental.name }}</td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@address">
            Address
          </th>
          <td mat-cell *matCellDef="let carRental">{{ carRental.address }}</td>
        </ng-container>

        <ng-container matColumnDef="fullName">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@contactName">
            Contact name
          </th>
          <td mat-cell *matCellDef="let carRental">{{ carRental.fullName }}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="email">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@emailBooking:email">Email
          </th>
          <td mat-cell *matCellDef="let carRental">{{ carRental.email }}</td>
        </ng-container> -->

        <ng-container matColumnDef="phone">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@phoneNumber">
            Phone number
          </th>
          <td mat-cell *matCellDef="let carRental">{{ carRental.phone }}</td>
        </ng-container>

        <ng-container matColumnDef="active">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@status">
            Status
          </th>
          <td mat-cell *matCellDef="let carRental" class="text-center">
                        <span class="badge" [ngClass]="!!carRental.active?'text-bg-label-badge':'text-soft-dark'">
                            {{ !!carRental.active ? MESSAGE.ACTIVE : MESSAGE.INACTIVE }}
                        </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="notes">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@remark">
            Remark
          </th>
          <td mat-cell *matCellDef="let carRental">{{ carRental.notes }}</td>
        </ng-container>

        @if (!readonlyDetail()) {
          <ng-container matColumnDef="action" stickyEnd>
            <th mat-header-cell mat-sort-header mat-header-cell *matHeaderCellDef
                class="font-weight-bold text-center" i18n="@@actions">
              Actions
            </th>
            <td mat-cell *matCellDef="let carRental; let i = dataIndex">
              <div class="action-buttons d-flex align-items-center justify-content-end">
                <button type="button" mat-button (click)="carRentalDetail(false, carRental)">
                  <i class="material-symbols-outlined text-warning" title="Edit transportation"
                     i18n-title="@@editCarRental">
                    edit
                  </i>
                </button>

                <button type="button" mat-button title="Delete hotel" i18n-title="@@deleteHotel"
                        (click)="indexDeleteCarRental = i ;toggleDialogDeleteCarRental()">
                  <i class="material-symbols-outlined text-danger">
                    delete
                  </i>
                </button>

              </div>
            </td>
          </ng-container>
        }

        <tr mat-header-row *matHeaderRowDef="carRentalColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: carRentalColumns;" [hidden]="row.isDelete === true"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center" colspan="9">No data!</td>
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>


<!-- Nút lưu, hủy flight-market -->
<mat-card class="p-5 border-radius d-block bg-white border-0 shadow-none mb-2">
  <mat-card-header class="mb-0" style="display: flex;flex-direction: row-reverse;">
    <mat-card-subtitle>

      <button type="button" mat-button class="close-btn  min-with-100 mlr-5" routerLink="/category/flight-market">
        <i class="material-symbols-outlined">
          close
        </i>
        <span i18n="@@close">Close</span>
      </button>
      @if (!readonlyDetail()) {
        <button mat-button color="primary" type="button" class="add-btn min-with-100 mlr-5" (click)="save()">
          <i class="material-symbols-outlined">
            save
          </i>
          <span i18n="@@save">Save</span>
        </button>
      }
      <!-- <button class="add-btn" type="button" mat-button (click)="carRentalDetail(false)">
          <i class="material-symbols-outlined">
              add
          </i>
          <span i18n="@@create">Create</span>
      </button> -->
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>

<!-- ------------------------------------------------------------------------------------------------ -->

<!-- Dialog delete hotel -->
<div class="add-new-popup" [class.active]="dialogDeleteHotel">
  <div class="popup-dialog dialog-delete-with">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none width-percent-100">
      <mat-card-content>
        <div class="text-warning text-center">
                    <span class="material-symbols-outlined font-size-5rem">
                        error
                    </span>
        </div>
        <div class="text-center mb-20">
          <h3 class="mb-0" i18n="@@deleteMessage">Are you sure you want to delete?</h3>
        </div>
        <div class="text-center mb-20">
                    <span class="font-weight-normal color-black font-size-19" i18n="@@warningDeleteMessage">
                        You will not be able to recover the deleted data!
                    </span>
        </div>
        <div class="btn-box text-center">
          <button type="button" mat-button (click)="toggleDialogDeleteHotel()"
                  class="close-btn  min-with-100 mlr-5">
            <i class="material-symbols-outlined">
              close
            </i>
            <span i18n="@@close">Close</span>
          </button>
          <button mat-button type="button" class="add-btn min-with-100 mlr-5" (click)="confirmDeleteHotel()">
            <i class="material-symbols-outlined">
              save
            </i>
            <span i18n="@@confirm">Confirm</span>
          </button>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- Dialog delete CarRental -->

<div class="add-new-popup" [class.active]="dialogDeleteCarRental">
  <div class="popup-dialog dialog-delete-with">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none width-percent-100">
      <mat-card-content>
        <div class="text-warning text-center">
                    <span class="material-symbols-outlined font-size-5rem">
                        error
                    </span>
        </div>
        <div class="text-center mb-20">
          <h3 class="mb-0" i18n="@@deleteMessage">Are you sure you want to delete?</h3>
        </div>
        <div class="text-center mb-20">
                    <span class="font-weight-normal color-black font-size-19" i18n="@@warningDeleteMessage">
                        You will not be able to recover the deleted data!
                    </span>
        </div>
        <div class="btn-box text-center">
          <button type="button" mat-button (click)="toggleDialogDeleteCarRental()"
                  class="close-btn  min-with-100 mlr-5">
            <i class="material-symbols-outlined">
              close
            </i>
            <span i18n="@@close">Close</span>
          </button>
          <button mat-button type="button" class="add-btn min-with-100 mlr-5"
                  (click)="confirmDeleteCarRental()">
            <i class="material-symbols-outlined">
              save
            </i>
            <span i18n="@@confirm">Confirm</span>
          </button>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
