<div [class.card-without-border-radius]="themeService.isCardWithoutBorderRadius()"
     [class.card-with-box-shadow]="themeService.isCardWithBoxShadow()"
     class="header-area bg-white border-bottom-radius transition"
     [ngClass]="{'active': isSidebarToggled, 'sticky': isSticky}"
     [class.component-rtl-enabled]="themeService.isRTLEnabled()" [class.right-sidebar]="themeService.isRightSidebar()"
     [class.hide-sidebar]="themeService.isHideSidebar()" [class.card-borderd]="themeService.isCardBordered()"
     [class.dark-header]="themeService.isHeaderDark()">
  <div class="d-md-flex align-items-center justify-content-between">
    <div class="header-left-side d-flex align-items-center">
      <div class="burger-menu transition position-relative lh-1" [ngClass]="{'active': isSidebarToggled}"
           (click)="toggle()">
        <i class="material-symbols-outlined">
          menu
        </i>
      </div>
      <div>
        <h4 class="m-0">
          <span class="system-name">Hotel & Flight Crew Management System</span>
        </h4>
      </div>


    </div>
    <ul class="header-right-side d-flex align-items-center m-0 p-0 list-unstyled">
      <!-- <li>
        <button
          mat-button
          (click)="toggleTheme()"
          class="dark-swtich-btn"
        >
          <i class="material-symbols-outlined">
            light_mode
          </i>
        </button>
      </li> -->

      <!--     comment language lại, đừng bỏ đi nhé ae -->

      <!--      <li>-->
      <!--        <button type="button" mat-button [matMenuTriggerFor]="languageMenu" class="language-menu-btn">-->
      <!--          <i class="material-symbols-outlined">-->
      <!--            translate-->
      <!--          </i>-->
      <!--          <span>{{ currentLanguage | async }}</span> &lt;!&ndash; Hiển thị ngôn ngữ hiện tại &ndash;&gt;-->
      <!--        </button>-->
      <!--        <mat-menu class="language-menu-dropdown" #languageMenu="matMenu" xPosition="before">-->
      <!--                    <span class="title fw-semibold text-black d-block" i18n>-->
      <!--                        Choose Language-->
      <!--                    </span>-->
      <!--          <ul class="menu-body p-0 mb-0 mt-0 list-unstyled">-->
      <!--            <li>-->
      <!--              <button mat-button (click)="changeLanguage('en')">-->
      <!--                <img src="images/flags/usa.svg" alt="usa">-->
      <!--                English-->
      <!--              </button>-->
      <!--            </li>-->
      <!--            <li>-->
      <!--              <button mat-button (click)="changeLanguage('vi')">-->
      <!--                <img src="" alt="vietnam">-->
      <!--                VietNam-->
      <!--              </button>-->
      <!--            </li>-->
      <!--          </ul>-->
      <!--        </mat-menu>-->
      <!--      </li>-->
      <li>
        <button mat-button [matMenuTriggerFor]="hdsdMenu" class="notifications-menu-btn" matTooltip="User manual">
          <i class="material-symbols-outlined">
            event_note
          </i>
        </button>
        <mat-menu #hdsdMenu="matMenu" xPosition="before">
          <button mat-menu-item (click)="openLink('source/documents/HDSD_Quan_ly_du_lieu.pdf')">
            <span class="menu-item-content">
              <i class="material-symbols-outlined">person</i>
              <span>Data management</span>
            </span>
          </button>
          <button mat-menu-item (click)="openLink('source/documents/HDSD_Quan_tri_he_thong.pdf')">
            <span class="menu-item-content">
              <i class="material-symbols-outlined">settings</i>
              <span>System Administration</span>
            </span>
          </button>
        </mat-menu>
      </li>
      <li>
        <button mat-button [matMenuTriggerFor]="notificationsMenu" class="notifications-menu-btn">
          <i class="material-symbols-outlined">
            notifications
          </i>
          <div *ngIf="messagesNotice && messagesNotice.length > 0" class="dot rounded-circle"></div>
        </button>
        <mat-menu class="notifications-menu-dropdown" #notificationsMenu="matMenu" xPosition="before">
          <div class="title d-flex align-items-center justify-content-between">
            <span class="fw-semibold text-black">
              Notifications
              <span class="text-body fw-normal">
                {{ messagesNotice ? (messagesNotice.length) : (0) }}
              </span>
            </span>
            <a (click)="clearAllNoti()" class="text-primary cursor-pointer">
              Clear All
            </a>
          </div>
          <ul class="menu-body p-0 mt-0 list-unstyled">
            <div *ngIf="isLoading" class="text-center p-3">
              <mat-spinner diameter="30" class="mx-auto"></mat-spinner>
              <p class="mt-2 mb-0">Loading notifications...</p>
            </div>
            <div *ngIf="!isLoading && messagesNotice.length === 0" class="text-center p-3">
              <i class="material-symbols-outlined" style="font-size: 24px; color: #999;">
                notifications_off
              </i>
              <p class="mt-2 mb-0">No notifications</p>
            </div>
            <li class="position-relative" *ngFor="let message of messagesNotice">
              <div
                class="icon rounded-circle d-flex align-items-center justify-content-center position-absolute text-center transition">
                <i class="material-symbols-outlined">
                  mark_email_unread
                </i>
              </div>
              <span class="sub-title d-block text-black">
                 {{ message.content }}
              </span>
              <span class="time d-block">
                 {{ message.sendTimeFormatted }}
              </span>
              <!--              <a routerLink="/dashboard/notifications"-->
              <!--                 class="d-block left-0 top-0 bottom-0 right-0 z-1 position-absolute"></a>-->
            </li>
          </ul>
          <div class="menu-footer text-center">
            <a routerLink="/system/config/noti-warning" class="d-inline-block fw-medium position-relative text-primary">
              See All Notifications
            </a>
          </div>
        </mat-menu>
      </li>
      <li>
        <button mat-button [matMenuTriggerFor]="profileMenu" class="profile-menu-btn">
          <img [src]="!!userInfo?.avartarUrl?userInfo?.avartarUrl:'images/default-img-fb.png'" class="rounded-circle"
               alt="admin-image">
          <span class="fw-semibold text-black">
            {{ userInfo?.fullName }}
          </span>
        </button>
        <mat-menu class="profile-menu-dropdown" #profileMenu="matMenu" xPosition="before">
          <div class="admin d-flex align-items-center">
            <img [src]="!!userInfo?.avartarUrl?userInfo?.avartarUrl:'images/default-img-fb.png'" class="rounded-circle"
                 alt="admin-image">
            <div>
              <span class="d-block text-black fw-medium">
                {{ userInfo?.email }}
              </span>
              <span class="d-block">
                {{ userInfo?.department }}
              </span>
            </div>
          </div>
          <ul class="list p-0 mt-0 mb-0 list-unstyled">
            <li>
              <a routerLink="/profile" class="d-block position-relative" i18n>
                <i class="material-symbols-outlined">
                  account_circle
                </i>
                My Profile
              </a>
            </li>
            <li *ngIf="userInfo && userInfo.email" style="cursor: pointer">
              <a (click)="passwordInputType = 'password';openDialogResetPassword(userInfo.email)"
                 class="d-block position-relative" i18n>
                <i class="material-symbols-outlined">
                  settings
                </i>
                Change password
              </a>
            </li>
            <li (click)="onConfirm()">
              <a class="d-block position-relative cursor-pointer" i18n>
                <i class="material-symbols-outlined">
                  logout
                </i>
                Logout
              </a>
            </li>
          </ul>
        </mat-menu>
      </li>
    </ul>
  </div>
</div>
<div [class.active]="showDialogConfirm" class="add-new-popup">
  <div class="popup-dialog">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none container">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0">
            <span i18n>Are you sure you want to log out?</span>
          </h5>
        </mat-card-title>
        <mat-card-subtitle>
          <button (click)="onCancel()" mat-button>
            <i class="ri-close-fill"></i>
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="btn-box">
          <button (click)="onCancel()" color="warn" i18n mat-button type="button">
            <i class="material-symbols-outlined">
              close
            </i>
            Cancel
          </button>
          <button (click)="onConfirm()" color="primary" i18n mat-button>
            <i class="material-symbols-outlined">
              save
            </i>
            Logout
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>




@if (dialogResetPassword) {
  <div class="add-new-popup" [class.active]="dialogResetPassword">
    <div class="popup-dialog" style="max-width: 700px; min-width: 400px;">
      <mat-card class="border-radius d-block bg-white border-0 shadow-none" style="width: 100%;">
        <mat-card-header class="p-15">
          <mat-card-title>
            <h5 class="mb-0" i18n="@@changePassword">Change password</h5>
          </mat-card-title>
          <mat-card-subtitle>
            <button mat-button (click)="dialogResetPassword = !dialogResetPassword">
              <i class="ri-close-fill"></i>
            </button>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form ngForm [formGroup]="formGroup" (ngSubmit)="confirmChangePassword()" autocomplete="off">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="form-group mb-20" sizeInput="md">
                  <mat-form-field>
                    <mat-label i18n="@@oldPassword">
                      Current password
                    </mat-label>
                    <input matInput formControlName="oldPassword" required minlength="8" [type]="passwordInputType">
                    @if (!!formGroup.controls['oldPassword'].hasError('required')) {
                      <mat-error><span i18n>Current password</span><span i18n> is required</span></mat-error>
                    } @else if (!!formGroup.controls['oldPassword'].hasError('incorrect')) {
                      <mat-error> {{ errorMessage }}</mat-error>
                    } @else if (!!formGroup.controls['oldPassword'].hasError('minlength')) {
                      <mat-error> Current password {{
                          MESSAGE.MIN_LENGTH_INVALID |
                            dataTransformPipe:[Constant.STRING_FORMAT, 8]
                        }}
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="form-group mb-20" sizeInput="md">
                  <mat-form-field>
                    <mat-label i18n="@@newPassword">
                      New password
                    </mat-label>
                    <input matInput formControlName="newPassword"
                           pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                           required minlength="8" [type]="passwordInputType">
                    @if (!!formGroup.controls['newPassword'].hasError('required')) {
                      <mat-error><span i18n>New password</span><span i18n> is required</span></mat-error>
                    } @else if (!!formGroup.controls['newPassword'].hasError('incorrect')) {
                      <mat-error> {{ errorMessage }}</mat-error>
                    } @else if (!!formGroup.controls['newPassword'].hasError('minlength')) {
                      <mat-error> New password {{
                          MESSAGE.MIN_LENGTH_INVALID |
                            dataTransformPipe:[Constant.STRING_FORMAT, 8]
                        }}
                      </mat-error>
                    } @else if (!!formGroup.controls['newPassword'].hasError('pattern')) {
                      <mat-error> New password {{ MESSAGE.PASSWORD_FORMAT_INVALID }}</mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="form-group mb-20" sizeInput="md">
                  <mat-form-field>
                    <mat-label i18n="@@confirmNewPassword">
                      Confirm new password
                    </mat-label>
                    <input matInput formControlName="confirmNewPassword" required minlength="8"
                           pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                           [type]="passwordInputType">
                    @if (!!formGroup.controls['confirmNewPassword'].hasError('required')) {
                      <mat-error><span i18n>Confirm new password</span><span i18n> is required</span></mat-error>
                    } @else if (!!formGroup.controls['confirmNewPassword'].hasError('incorrect')) {
                      <mat-error> {{ errorMessage }}</mat-error>
                    } @else if (!!formGroup.controls['confirmNewPassword'].hasError('minlength')) {
                      <mat-error> Confirm new password {{
                          MESSAGE.MIN_LENGTH_INVALID |
                            dataTransformPipe:[Constant.STRING_FORMAT, 8]
                        }}
                      </mat-error>
                    } @else if (!!formGroup.controls['confirmNewPassword'].hasError('pattern')) {
                      <mat-error> Confirm new password {{ MESSAGE.PASSWORD_FORMAT_INVALID }}</mat-error>
                    }

                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="btn-box text-center mt-10">
              <button type="button" mat-button (click)="dialogResetPassword = !dialogResetPassword" class="close-btn">
                <i class="material-symbols-outlined">
                  close
                </i>
                <span i18n="@@cancel">Close</span>
              </button>
              <button mat-button class="add-btn" type="submit">
                <i class="material-symbols-outlined">
                  check_circle
                </i>
                <span i18n="@@confirm">Save</span>
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
}
