<!-- Breadcrumb -->
<ng-container *ngIf="step==1">
    <div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
        <h5 class="mb-0" i18n>
            Detailed Statement
        </h5>
        <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">

            <li class="breadcrumb-item d-inline-block position-relative" i18n>
                Invoice
            </li>
            <li class="breadcrumb-item d-inline-block position-relative" i18n>
                Detailed Statement

            </li>
        </ol>
    </div>
    <!--    List data-->
    <mat-card class="mb-15 border-radius d-block bg-white border-0 shadow-none">
        <mat-card-content>
            <mat-tab-group (selectedTabChange)="onTabChange($event)" [selectedIndex]="partnerType==='HOTEL'?0:1"
                           mat-align-tabs="start" mat-stretch-tabs="false">
                <mat-tab label="Hotel">
                    @if (partnerType === 'HOTEL') {
                        <app-invoice-form [partnerType]="partnerType" (nextStepEmit)="nextStepEmit($event)"/>
                    }
                </mat-tab>
                <mat-tab label="Transportation">
                    @if (partnerType === 'TRANSPORTATION') {
                        <app-invoice-form [partnerType]="partnerType" (nextStepEmit)="nextStepEmit($event)"/>
                    }
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</ng-container>
<!-- Detail -->
<ng-container *ngIf="step==2">
    <app-invoice-form-detail (backStepEmit)="backStepEmit($event)"
                             [id]="id" [readMode]="readMode">
    </app-invoice-form-detail>
</ng-container>
