<div [sizeInput]="size()">
    <mat-form-field>
        @if(!!label()){
        <mat-label>{{label()}}</mat-label>
        }
        <input [required]="requiredControl || requiredLabel()" matInput [matDatepicker]="datePicker"
            [formControl]="formControl" placeholder="mm/yyyy">
        <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker startView="year" (monthSelected)="setMonthAndYear($event, datePicker)"
            panelClass="example-month-picker">
        </mat-datepicker>

        @if(formControl.errors && formControl.errors['matDatepickerParse']){
        <mat-error *ngxControlError="formControl; track: 'matDatepickerParse'">
            {{ label() }} {{MESSAGE.FORMAT_INVALID}}
        </mat-error>
        }@else if(formControl.errors && formControl.errors['required']){
        <mat-error *ngxControlError="formControl; track: 'required'">
            {{ label() }} {{MESSAGE.REQUIRED}}
        </mat-error>
        }
        <mat-error mess-error *ngxControlError="formControl; track: 'endDateLessThanStartDate'"
            i18n="@@purchaseEndDateMustBeLaterThanPurchaseStartDate">
            Purchase End Date must be later than Purchase Start Date
        </mat-error>
    </mat-form-field>
</div>