<div [sizeInput]="size()">
    <mat-form-field>
        @if(!!label()){
        <mat-label>{{label()}}</mat-label>
        }
        <input [required]="required()" matInput [matDatepicker]="datePicker" [formControl]="datePickerValue"
            placeholder="mm/yyyy">
        <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker startView="year" (monthSelected)="setMonthAndYear($event, datePicker)"
            panelClass="example-month-picker">
        </mat-datepicker>

        @if(datePickerValue.errors && datePickerValue.errors['matDatepickerParse']){
        <mat-error *ngxControlError="datePickerValue; track: 'matDatepickerParse'">
            {{ label() }} {{MESSAGE.FORMAT_INVALID}}
        </mat-error>
        }@else if(datePickerValue.errors && datePickerValue.errors['required']){
        <mat-error *ngxControlError="datePickerValue; track: 'required'">
            {{ label() }} {{MESSAGE.REQUIRED}}
        </mat-error>
        }
    </mat-form-field>
</div>