<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
  <h5 class="mb-0" i18n>
    Aircraft data
  </h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
    <li class="breadcrumb-item d-inline-block position-relative" i18n>
      System
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n>
      Config
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n>
      Aircraft data
    </li>
  </ol>
</div>
<!--Search-->
<mat-card class="mb-15 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-content>
    <form [formGroup]="formGroupSearch" autocomplete="off">
      <div class="row">
        <div class="col-sm-3" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Keyword</mat-label>
            <input formControlName="s" matInput>
            <i class="material-symbols-outlined mr-15" matSuffix>
              search
            </i>
          </mat-form-field>
        </div>
        <div class="col-sm-3" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Status</mat-label>
            <mat-select formControlName="active">
              <mat-option i18n [value]="null">-- All status --</mat-option>
              <mat-option i18n value="1">Active</mat-option>
              <mat-option i18n value="0">Inactive</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-card-header class="mb-0">
            <mat-card-title clas>
              <button (click)="search()" class="search-btn" i18n mat-button>
                <i class="material-symbols-outlined">
                  search
                </i>
                Search
              </button>
            </mat-card-title>
          </mat-card-header>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<!-- Content -->
<mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-header>
    <mat-card-title>
    </mat-card-title>
    <mat-card-subtitle>
      <button (click)="showDialogDetail()" class="add-btn" i18n mat-button type="button">
        <i class="material-symbols-outlined">
          add
        </i>
        Add new
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows="true" class="table-light">
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center ">#</th>
          <td mat-cell *matCellDef="let element; let i = dataIndex" class="text-center">
            {{ (pageIndex * pageSize) + i + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="acgroup">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
          >
            AC group
          </th>
          <td mat-cell *matCellDef="let element" class="text-center">{{ element.acgroup }}</td>
        </ng-container>
        <ng-container matColumnDef="actype">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@acType">
            AC type
          </th>
          <td mat-cell *matCellDef="let element" class="text-center">
            {{ element.actype }}
          </td>
        </ng-container>
        <ng-container matColumnDef="note">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@note">
            Remark
          </th>
          <td mat-cell *matCellDef="let element" class="wrap-text-2 text-left">
            {{ element.note }}
          </td>
        </ng-container>
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef class="font-weight-bold text-center" mat-sort-header
              i18n="@@active">
            Status
          </th>
          <td mat-cell *matCellDef="let element;" class="text-center">
                  <span class="badge" [ngClass]="{
                          'text-bg-label-badge':  element['active'] == true,
                          'text-soft-dark':   element['active'] == false
                          }">{{
                      element['active'] == true ? 'Active' : 'Inactive'
                    }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="action" stickyEnd>
          <th *matHeaderCellDef class="text-end" i18n mat-header-cell>
            Actions
          </th>
          <td *matCellDef="let element;let i = dataIndex" mat-cell>
            <div class="action-buttons d-flex align-items-center justify-content-end">
              <a mat-button type="button">
              </a>
              <a (click)="showDialogDetail(element.id)" class="text-warning" mat-button type="button">
                <i class="material-symbols-outlined" i18n-title title="Edit">
                  edit
                </i>
              </a>
              <a (click)="showConfirmDelete(element.id,element.actype)" i18n-title mat-button type="button">
                <i class="material-symbols-outlined" title="Delete">
                  delete
                </i>
              </a>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center" colspan="7">No data!</td>
        </tr>
      </table>
    </div>
    <mat-paginator (page)="onPageChange($event)" [length]="totalElement" [pageSize]="pageSize"
                   [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions"
                   [pageIndex]="pageIndex"
                   aria-label="Select page" i18n-aria-label="@@selectPage">
    </mat-paginator>
  </mat-card-content>
</mat-card>

<!-- Add New Popup -->
<div
  [class.active]="showDialogCreate"
  class="add-new-popup"
>
  <div class="popup-dialog">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none container">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0">
            <span *ngIf="!formGroupDetail.value.id" i18n>Add new</span>
            <span *ngIf="formGroupDetail.value.id" i18n>Edit</span>
          </h5>
        </mat-card-title>
        <mat-card-subtitle>
          <button
            (click)="closeDetail()"
            mat-button
          >
            <i class="ri-close-fill"></i>
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="formGroupDetail" autocomplete="off">
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <div class="form-group mb-20" sizeInput="md">
                <mat-form-field>
                  <mat-label i18n>AC group</mat-label>
                  <input formControlName="acGroup" trim="blur" matInput
                         required type="text">
                  @if (!!formGroupDetail.controls['acGroup'].hasError('required')) {
                    <mat-error><span i18n>AC group</span><span i18n> is required</span></mat-error>
                  } @else if (!!formGroupDetail.controls['acGroup'].hasError('existCheck')) {
                    <mat-error><span i18n>AC group and AC type already exists</span></mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="form-group mb-20" sizeInput="md">
                <mat-form-field>
                  <mat-label i18n>AC type</mat-label>
                  <input formControlName="acType" matInput trim="blur"
                         required type="text">
                  @if (!!formGroupDetail.controls['acType'].hasError('required')) {
                    <mat-error><span i18n>AC type</span><span i18n> is required</span></mat-error>
                  } @else if (!!formGroupDetail.controls['acType'].hasError('existCheck')) {
                    <mat-error><span i18n>AC group and AC type already exists</span></mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <mat-form-field>
                <mat-label i18n>Remark</mat-label>
                <textarea formControlName="note" matInput></textarea>
                <mat-hint align="end">{{ formGroupDetail.value.note?.length }} / 500</mat-hint>
                @if (!!formGroupDetail.controls['note'].hasError('maxlength')) {
                  <mat-error><span i18n>Remark</span><span i18n> must be less than 500 characters</span></mat-error>
                }
              </mat-form-field>
            </div>
            <mat-checkbox formControlName="active" i18n>Active</mat-checkbox>
          </div>
        </form>
        <div class="btn-box">
          <button (click)="closeDetail()" class="close-btn" i18n mat-button type="button">
            <i class="material-symbols-outlined">
              close
            </i>
            Close
          </button>
          <button
            (click)="save()"
            class="add-btn"
            i18n mat-button
          >
            <i class="material-symbols-outlined">
              save
            </i>
            Save
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- Delete confirm Popup -->
<div class="add-new-popup" [class.active]="showDialogDelete">
  <div class="popup-dialog dialog-delete-with">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none width-percent-100">
      <mat-card-content>
        <div class="text-warning text-center">
                    <span class="material-symbols-outlined font-size-5rem">
                        error
                    </span>
        </div>
        <div class="text-center mb-20">
          <h3 class="mb-0 font-weight-normal" i18n="@@deleteMessage">Aircraft {{ formGroupDetail.value?.acType }} data
            cannot be deleted.</h3>
        </div>
        <div class="text-center mb-20">
                    <span class="font-weight-normal color-black font-size-19" i18n="@@warningDeleteMessage">
                        The system will automatically change the aircraft status to 'Inactive'!</span>
        </div>
        <div class="btn-box text-center">
          <button type="button" mat-button (click)="closeConfirmDelete()"
                  class="close-btn  min-with-100 mlr-5">
            <i class="material-symbols-outlined">
              close
            </i>
            <span i18n="@@cancel">Cancel</span>
          </button>
          <button mat-button type="button" class="add-btn min-with-100 mlr-5" (click)="delete()">
            <i class="material-symbols-outlined">
              save
            </i>
            <span i18n="@@confirm">Confirm</span>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
