<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center justify-content-between mt-2">
        <h5 class="mb-0" i18n="@@emailNotificationHistory">
            Email & Notification History
        </h5>
    </div>

    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@system">
            System
        </li>
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@historyLog">
            History Log
        </li>
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@emailNotificationHistory">
            Email & Notification History
        </li>
    </ol>
</div>

<mat-card class="mb-10 p-15 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab *appHasPermission="['API_EMAIL_HISTORY_LIST']" label="Email" i18n="@@email">
                <ng-template matTabContent>
                    <app-email-notification-search #appEmailNotificationSearchEmail type="EMAIL"
                        (searchEvent)="onSearch($event, 'EMAIL')">
                    </app-email-notification-search>
                    <app-email #appEmail></app-email>
                    <!-- <app-budget-procurement-summary-list [categoryType]="CategoryEnum.INTERNATIONAL"
                        [planBudgetProcurementId]="id()" #budgetProcurementSummaryListInternational>
                    </app-budget-procurement-summary-list> -->
                </ng-template>

            </mat-tab>
            <mat-tab appHasPermission="['API_NOTIFICATION_LIST']" label="Notification" i18n="@@notification">
                <ng-template matTabContent>
                    <app-email-notification-search #appEmailNotificationSearchNoti type="NOTIFICATION"
                        (searchEvent)="onSearch($event, 'NOTIFICATION')">
                    </app-email-notification-search>
                    <app-notification (reloadSearch)="reloadSearch( 'NOTIFICATION')"
                        #appNotification></app-notification>
                    <!-- <app-budget-procurement-summary-list [categoryType]="CategoryEnum.DOMESTIC"
                        [planBudgetProcurementId]="id()" #budgetProcurementSummaryListDomestic>
                    </app-budget-procurement-summary-list> -->
                </ng-template>

            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>