<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0" i18n="@@estimatedAnnualProduction">
        Estimated Annual Production
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@plan">
            Plan
        </li>
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@production">
            Production
        </li>
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@estimatedAnnualProduction">
            Estimated Annual Production
        </li>
    </ol>
</div>
<!--Search-->
<mat-card class="mb-10 pt-15 pl-15 pr-15 pb-0 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <form [formGroup]="formGroupSearch" (ngSubmit)="search()" autocomplete="off">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col mb-2" sizeInput="md">
                            <mat-form-field>
                                <mat-label i18n="@@keyword">Keyword</mat-label>
                                <input matInput formControlName="s">
                            </mat-form-field>
                        </div>
                        <div class="col mb-2" sizeInput="md">
                            <mat-form-field>
                                <mat-label>ORI</mat-label>
                                <input type="text" matInput formControlName="ori" #ori [matAutocomplete]="oriComplete"
                                    (input)="filterOri()">
                                <mat-autocomplete autoActiveFirstOption requireSelection #oriComplete="matAutocomplete">
                                    @for (option of filteredOptionsOri(); track option) {
                                    <mat-option [value]="option">{{option}}</mat-option>
                                    }
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col mb-2" sizeInput="md">
                            <mat-form-field>
                                <mat-label>DES</mat-label>
                                <input type="text" matInput formControlName="des" #des [matAutocomplete]="desComplete"
                                    (input)="filterDes()">
                                <mat-autocomplete autoActiveFirstOption requireSelection #desComplete="matAutocomplete">
                                    @for (option of filteredOptionsDes(); track option) {
                                    <mat-option [value]="option">{{option}}</mat-option>
                                    }
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col mb-2" sizeInput="md">
                            <mat-form-field>
                                <mat-label>FLT_Month</mat-label>
                                <mat-select formControlName="fltMonth">
                                    <mat-option value="">-- All FLT_Month --</mat-option>
                                    <mat-option *ngFor="let month of fltMonthList" [value]="month">{{ month
                                        }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-2" sizeInput="md">
                            <mat-form-field>
                                <mat-label>AC_ID</mat-label>
                                <input type="text" matInput formControlName="acId" #acId
                                    [matAutocomplete]="acIdComplete" (input)="filterAcId()">
                                <mat-autocomplete autoActiveFirstOption requireSelection
                                    #acIdComplete="matAutocomplete">
                                    @for (option of filteredOptionsAcId();let index = $index; track index) {
                                    <mat-option [value]="option">{{option}}</mat-option>
                                    }
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col mb-2" sizeInput="md">
                            <mat-form-field>
                                <mat-label>AC_Group</mat-label>
                                <input type="text" matInput formControlName="acGroup" #acGroup
                                    [matAutocomplete]="acGroupComplete" (input)="filterAcGroup()">
                                <mat-autocomplete autoActiveFirstOption requireSelection
                                    #acGroupComplete="matAutocomplete">
                                    @for (option of filteredOptionsAcGroup(); let index = $index; track index) {
                                    <mat-option [value]="option">{{option}}</mat-option>
                                    }
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col mb-2" sizeInput="md">
                            <mat-form-field>
                                <mat-label>Version</mat-label>
                                <input type="text" matInput formControlName="versionId" #version
                                    [matAutocomplete]="versionComplete" (input)="filterVersion()">
                                <mat-autocomplete autoActiveFirstOption requireSelection
                                    #versionComplete="matAutocomplete">
                                    @for (option of filteredOptionsVersion(); let index = $index; track index) {
                                    <mat-option [value]="option">{{option}}</mat-option>
                                    }
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col d-sm-flex flex-row  justify-content-lg-start justify-content-md-center">
                            <mat-card-header class="mb-0 search">
                                <mat-card-title>
                                    <button class="search-btn" type="submit" mat-button>
                                        <i class="material-symbols-outlined">
                                            search
                                        </i>
                                        <span i18n="@@search">Search</span>
                                    </button>
                                </mat-card-title>
                            </mat-card-header>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>


<!-- Start List EstAnnualProduction-->
<mat-card class="mb-10 p-15 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header class="mb-10">
        <mat-card-title>
            <h5 i18n="@@airportList">Airport list</h5>
        </mat-card-title>
        <mat-card-subtitle>
            <button class="add-btn mr-10" type="button" mat-button (click)="exportFileOptions()">
                <i class="material-symbols-outlined">
                    download
                </i>
                <span i18n="@@export">Export</span>
            </button>
            <button class="add-btn mr-10" type="button" mat-button (click)="toggleDialogUpload()">
                <i class="material-symbols-outlined">
                    upload
                </i>
                <span i18n="@@upload">Upload</span>
            </button>
            <button class="add-btn mr-10" type="button" mat-button >
                <i class="material-symbols-outlined">
                    sync
                </i>
                <span i18n="@@sync">Sync</span>
            </button>
<!--            <button class="danger-btn" type="button" mat-button (click)="toggleDialogDelete()">-->
<!--                <i class="material-symbols-outlined">-->
<!--                    delete-->
<!--                </i>-->
<!--                <span i18n="@@delete">Delete</span>-->
<!--            </button>-->
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows="true" class="table-light">
                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center">#</th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex">{{ i + 1 }}</td>
                </ng-container>

                @for (innerColumn of _displayedColumns; track innerColumn.value) {
                <ng-container matColumnDef="{{innerColumn.value}}">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center">{{
                        innerColumn.label}}</th>
                    <td mat-cell *matCellDef="let element">
                        {{element[innerColumn.value]|dataTransformPipe:[innerColumn.type,innerColumn.format] }}
                    </td>
                </ng-container>
                }

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell text-center" colspan="21">No data!</td>
                  </tr>
            </table>
        </div>
        <mat-paginator (page)="onPageChange($event)" [length]="totalElement" [pageSize]="pageSize"
            [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex"
            aria-label="Select page" i18n-aria-label="@@selectPage">
        </mat-paginator>
    </mat-card-content>
</mat-card>

<!-- End List EstAnnualProduction -->




<!-- Dialog delete EstAnnualProduction -->
<div class="add-new-popup" [class.active]="showDialogDelete">
    <div class="popup-dialog dialog-with">
        <mat-card class="border-radius d-block bg-white border-0 shadow-none width-percent-100">
            <mat-card-content>
                <div class="text-warning text-center">
                    <span class="material-symbols-outlined font-size-5rem">
                        error
                    </span>
                </div>
                <div class="text-center mb-20">
                    <h3 class="mb-0" i18n="@@deleteEstAnnualProductionMessage">Are you sure you want to delete the
                        estimated production version {{formGroupSearch.controls.versionId.value}}? </h3>
                        <p class="fs-5 mt-3" i18n="@@warningDeleteEstAnnualProduction">This action cannot be undone!</p>
                </div>
                <div class="btn-box text-center">
                    <button type="button" mat-button (click)="toggleDialogDelete()"
                        class="close-btn  min-with-100 mlr-5">
                        <i class="material-symbols-outlined">
                            close
                        </i>
                        <span i18n="@@cancel">Cancel</span>
                    </button>
                    <button mat-button type="button" class="add-btn min-with-100 mlr-5" (click)="delete()">
                        <i class="material-symbols-outlined">
                            save
                        </i>
                        <span i18n="@@confirm">Confirm</span>
                    </button>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>




<!-- Dialog upload file -->
<div class="add-new-popup" [class.active]="showDialogUpload">
    <div class="popup-dialog dialog-with">
        <mat-card class="border-radius d-block bg-white border-0 shadow-none width-percent-100">
            <mat-card-header class="p-15">
                <mat-card-title>
                    <h5 class="mb-0" i18n="@@uploadAirportCode">
                        Upload Estimated Annual Production
                    </h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <button mat-button (click)="toggleDialogUpload()">
                        <i class="ri-close-fill"></i>
                    </button>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <span i18n="@@downloadTemplate">Download template</span>
                    <button mat-button type="button" class="search-btn min-with-100 mlr-5" style="width: auto;"
                        (click)="downloadTemplate('',{option:0},'template')">
                        <i class="material-symbols-outlined">
                            download
                        </i>
                        <span
                            i18n="@@estimatedAnnualProductionTemplate">estimated-annual-production-template.xlsx</span>
                    </button>
                </div>
                <div class="row mt-20">
                    <span i18n="@@selectFile">Select file</span>
                    <file-upload [ngClass]="{'invalid':fileUpload.hasError('required') && fileUpload.touched}"
                        [formControl]="fileUpload" class="file-uploader" [multiple]="false"></file-upload>
                    @if (
                    fileUpload.hasError('required') &&
                    fileUpload.touched) {
                    <mat-error i18n="@@fileRequired" style="font-style: italic; font-size: 12px;">File
                        {{MESSAGE.REQUIRED}}</mat-error>
                    }
                </div>
                @if(!!uploadFileError.totalErrors) {
                <div class="row mt-20">
                    <p class="text-danger" i18n="@@flightMarket.UploadError">
                        Cannot perform excel data import when there are {{uploadFileError.totalErrors}} error records
                    </p>
                    <span i18n="@@downloadFileError">Download file error:
                        <button class="pt-0 pb-0" mat-raised-button (click)="downloadFileError()">Download file
                            excel</button>
                    </span>
                </div>
                }

                <div class="row mt-20">
                    <p class="text-primary" i18n="@@estimatedAnnualProduction.NoteUpload">
                        Note: Please verify the estimated production plan on the system before importing new data!
                    </p>
                </div>
            </mat-card-content>
            <mat-card-actions class="p-15" style="display: flex; justify-content: center;">
                <button type="button" mat-button
                    (click)="uploadFileError={};fileUpload.setValue([]) ;fileUpload.reset() ;toggleDialogUpload()"
                    class="close-btn  min-with-100 mlr-5">
                    <i class="material-symbols-outlined">
                        close
                    </i>
                    <span i18n="@@cancel">Cancel</span>
                </button>
                <button mat-button type="button" class="add-btn min-with-100 mlr-5" (click)="uploadFile()">
                    <i class="material-symbols-outlined">
                        upload
                    </i>
                    <span i18n="@@upload">Upload</span>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
