<mat-card class="mb-10 mt-10 p-0 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header class="mb-10">
        <mat-card-title></mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows="true" class="table-light">
                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center ">#</th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex" class="text-center">
                        {{ (pageIndex * pageSize) + i + 1 }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="receiver">
                    <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@receiver">
                        Receiver
                    </th>
                    <td mat-cell *matCellDef="let element;" class="text-center">
                        {{element.receiver}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@title">
                        Title
                    </th>
                    <td mat-cell *matCellDef="let element;" class="text-center">
                        {{element.title}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="timeSend">
                    <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@sentTime">
                        Sent time
                    </th>
                    <td mat-cell *matCellDef="let element;" class="text-center">
                        {{element.timeSend | dataTransformPipe:[Constant.DATE, 'HH:mm:ss DD/MM/YYYY']}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@status">
                        Status
                    </th>
                    <td mat-cell *matCellDef="let element;" class="text-center">
                        {{element.status ? MESSAGE.SUCCESS:MESSAGE.FAILURE}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="action" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@action">
                        Action
                    </th>
                    <td mat-cell *matCellDef="let element;" class="text-center">
                        <div class="action-buttons d-flex justify-content-start">
                            <a mat-button title="View" i18n-title="@@view" class="text-vna"
                                (click)="showDetail(element.id)">
                                <i class="material-symbols-outlined " text-primary>
                                    visibility
                                </i>
                            </a>
                        </div>
                    </td>
                    <td mat-footer-cell *matFooterCellDef class="text-left fw-bold">

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell text-center" colspan="999999">No data!</td>
                </tr>
            </table>
            <mat-paginator (page)="onPageChange($event)" [length]="totalElement" [pageSize]="pageSize"
                [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions"
                [pageIndex]="pageIndex" aria-label="Select page" i18n-aria-label="@@selectPage">
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>





<!-- dialog Delete -->
<div class="add-new-popup" [class.active]="showDialogCreate">
    <div class="popup-dialog " style="min-width: 1000px">
        <mat-card class="border-radius d-block bg-white border-0 shadow-none width-percent-100">
            <mat-card-title>
                <h5 class="mb-0" i18n="@@contractAppendixExpirationWarning">
                    Contract/Appendix Expiration Warning
                </h5>
            </mat-card-title>
            <mat-card-content>
                <form [formGroup]="formGroupDetail" autocomplete="off" class="mt-20">
                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-20" sizeInput="sm">
                                <mat-label i18n="@@receiver">Receiver</mat-label>
                                <mat-form-field>
                                    <input trim="blur" type="email" matInput formControlName="receiver">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-20">
                                <mat-label class="" i18n="@@content">
                                    Content
                                </mat-label>
                                <div class="NgxEditor__Wrapper">
                                    <ngx-editor-menu [editor]="editor" [toolbar]="[]"></ngx-editor-menu>
                                    <ngx-editor formControlName="content" [editor]="editor"></ngx-editor>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="btn-box text-right">
                    <button type="button" mat-button (click)="toggleDialogCreate()"
                        class="close-btn  min-with-100 mlr-5">
                        <i class="material-symbols-outlined">
                            close
                        </i>
                        <span i18n="@@cancel">Cancel</span>
                    </button>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>