<div [sizeInput]="size">
    <mat-form-field>
        <mat-label i18n>{{label}}</mat-label>
        <input type="text" matInput #inputSearch [matAutocomplete]="auto" (input)="filter()" autoActiveFirstOption
            requireSelection>
        <mat-autocomplete autoActiveFirstOption requireSelection #auto="matAutocomplete"
            (optionSelected)="onSelectionChange($event)">
            @for (option of filtered(); track option) {
            <mat-option
                [value]="attrValue?option[attrValue]:option">{{attrDisplay?option[attrDisplay]:option}}</mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>
</div>