

:host::ng-deep {
    .mat-mdc-table.mdc-data-table__table .mat-mdc-footer-row .mat-mdc-footer-cell {
        font-weight: 600 !important;
    }
    
    .max-height-600 {
        max-height: 600px;
    }

    .mat-column-singleRoomOther {
        width: 213px;
    }

    .mat-column-doubleRoomOther {
        width: 213px;
    }
}