@import './node_modules/bootstrap/scss/_functions.scss';
@import './node_modules/bootstrap/scss/_variables.scss';
@import './node_modules/bootstrap/scss/_mixins.scss';

::ng-deep {

    .mat-column-addBtn {
        padding: 0px 0px 5px 0px !important;
    }



    .mat-column-flightRate {
        width: 280px;
    }

    .tooltip-with-300 {
        .mat-mdc-tooltip-surface {
            max-width: 300px !important;
            min-width: 300px !important;
            background-color: var(--dangerColor) !important;
            color: white;
            border: 1px solid #dcdcdd;
            box-shadow: #b3b3b3 0px 5px 20px 0px;
            font-size: 14px;
            ;
        }
    }

    .table-light.mdc-data-table__table .mdc-data-table__content .mat-mdc-row .field-required {
        border-bottom: 2px solid red !important;
    }


    .flightOvernight {
        @include make-col-ready();

        @include media-breakpoint-up(sm) {
            @include make-col(15, 15);
        }

        @include media-breakpoint-up(lg) {
            @include make-col(9, 15);
        }
    }
}