<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
  <h5 class="mb-0" i18n="@@crewList">
    Room Cost Tracking (AVES)
  </h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@system">
      Accommodation Service
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@config">
      Hotel room
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@groupMail">
      Room Cost Tracking (AVES)
    </li>
  </ol>
</div>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="International">
    <app-hotel-cost-tracking type="International"></app-hotel-cost-tracking>
  </mat-tab>
  <mat-tab label="Domestic">
    <app-hotel-cost-domestic></app-hotel-cost-domestic>
  </mat-tab>
</mat-tab-group>