<!-- Breadcrumb -->
<ng-container *ngIf="step==1">
  <div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0" i18n>
      Roles
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
      <li class="breadcrumb-item d-inline-block position-relative">
        <a class="d-inline-block position-relative" routerLink="/">
          <i class="material-symbols-outlined">
            home
          </i>
          Dashboard
        </a>
      </li>
      <li class="breadcrumb-item d-inline-block position-relative" i18n>
        Roles
      </li>
    </ol>
  </div>
  <!--Search-->
  <mat-card class="mb-15 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
      <form [formGroup]="formGroupSearch" autocomplete="off">
        <div class="row">
          <div class="col-sm-3" sizeInput='md'>
            <mat-form-field>
              <mat-label i18n>Keyword</mat-label>
              <input formControlName="s" matInput>
              <i class="material-symbols-outlined mr-15" matSuffix>
                search
              </i>
            </mat-form-field>
          </div>
          <div class="col-sm-3" sizeInput='md'>
            <mat-form-field>
              <mat-label i18n>All Status</mat-label>
              <mat-select formControlName="a">
                <mat-option i18n value="">-- All Status --</mat-option>
                <mat-option i18n value="1">Active</mat-option>
                <mat-option i18n value="0">Inactive</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-3" sizeInput='md'>
            <mat-card-header class="mb-0">
              <mat-card-title clas>
                <button (click)="search()" class="search-btn" i18n mat-button>
                  <i class="material-symbols-outlined">
                    search
                  </i>
                  Search
                </button>
              </mat-card-title>
            </mat-card-header>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <!-- Content -->
  <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
      <mat-card-title>
      </mat-card-title>
      <mat-card-subtitle>
        <button (click)="showDialogDetail()" class="add-btn" i18n mat-button type="button">
          <i class="material-symbols-outlined">
            add
          </i>
          Add new
        </button>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="table-responsive">
        <table [dataSource]="dataSource" mat-table multiTemplateDataRows="true">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th *matHeaderCellDef mat-header-cell>
              <mat-checkbox
                (change)="$event ? toggleAllRows() : null"
                [aria-label]="checkboxLabel()"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
              >
              </mat-checkbox>
            </th>
            <td *matCellDef="let row" mat-cell>
              <mat-checkbox
                (change)="$event ? selection.toggle(row) : null"
                (click)="$event.stopPropagation()"
                [aria-label]="checkboxLabel(row)"
                [checked]="selection.isSelected(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="stt">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>#</th>
            <td *matCellDef="let element; let i = dataIndex" mat-cell>{{ i + 1 }}</td>
          </ng-container>
          @for (innerColumn of _displayedColumns; track innerColumn.value) {
          <ng-container matColumnDef="{{innerColumn.value}}">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>{{ innerColumn.label | titlecase }}</th>
              <td mat-cell *matCellDef="let element">
                <span [ngClass]="{
          'badge rounded-pill': innerColumn.value === 'isActiveLabel',
          'text-soft-primary': innerColumn.value === 'isActiveLabel' && element['isActive'] == 1,
          'text-soft-danger': innerColumn.value === 'isActiveLabel' && element['isActive'] == 0
          }">{{
          element[innerColumn.value]|dataTransformPipe:[innerColumn.type, innerColumn.format]
          }}</span>
              </td>
            </ng-container>
          }
          <!-- Action Column -->
          <ng-container matColumnDef="action" stickyEnd>
            <th *matHeaderCellDef class="text-end" i18n mat-header-cell>
              Action
            </th>
            <td *matCellDef="let element;let i = dataIndex" mat-cell>
              <div class="action-buttons d-flex align-items-center justify-content-end">
                <a (click)="nextStep(i)" mat-button type="button">
                  <i class="material-symbols-outlined" i18n-title title="Detail">
                    link
                  </i>
                </a>
                <a (click)="showDialogDetail(i,'index')" mat-button type="button">
                  <i class="material-symbols-outlined" i18n-title title="Edit">
                    edit
                  </i>
                </a>
                <a (click)="showConfirmDelete(element.id)" mat-button type="button">
                  <i class="material-symbols-outlined" i18n-title title="Delete">
                    delete
                  </i>
                </a>
              </div>
            </td>
          </ng-container>
          <tr *matHeaderRowDef="displayedColumns;" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
          <tr *matNoDataRow class="mat-row">
            <td class="mat-cell border-none" colspan="1"><span i18n>No data matching the filter</span></td>
          </tr>
          <!--        <tr mat-row *matRowDef="let row; columns: ['child'];"></tr>-->

        </table>
      </div>
      <!--<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons (page)="onPageChange($event)" ></mat-paginator>-->
      <mat-paginator
        (page)="onPageChange($event)"
        [length]="totalElement"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions"
        [pageSize]="pageSize"
        [showFirstLastButtons]="showFirstLastButtons"
        aria-label="Select page">
      </mat-paginator>
    </mat-card-content>
  </mat-card>

  <!-- Add New Popup -->
  <div
    (keydown.enter)="save()"
    (keydown.escape)="toggleDialogCreate()"
    [class.active]="showDialogCreate"
    class="add-new-popup"
  >
    <div class="popup-dialog">
      <mat-card class="border-radius d-block bg-white border-0 shadow-none container">
        <mat-card-header>
          <mat-card-title>
            <h5 class="mb-0">
              <span *ngIf="!formGroupDetail.value.id" i18n>Create Role</span>
              <span *ngIf="formGroupDetail.value.id" i18n>Update Role</span>
            </h5>
          </mat-card-title>
          <mat-card-subtitle>
            <button
              (click)="toggleDialogCreate()"
              mat-button
            >
              <i class="ri-close-fill"></i>
            </button>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="formGroupDetail" autocomplete="off">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <mat-form-field>
                    <mat-label i18n>Role Name</mat-label>
                    <input formControlName="roleName" i18n-placeholder matInput placeholder="Input role name" required>
                    @if (!!formGroupDetail.controls['roleName'].hasError('required')) {
                    <mat-error><span i18n>Role name</span><span i18n> not empty</span></mat-error>
                    }
                  </mat-form-field>
                  <mat-checkbox class="mt-10" formControlName="isActive" i18n>Active</mat-checkbox>
                </div>
              </div>
            </div>
          </form>
          <div class="btn-box">
            <button (click)="closeDetail()" color="warn" i18n mat-button type="button">
              <i class="material-symbols-outlined">
                close
              </i>
              Cancel
            </button>
            <button
              (click)="save()"
              color="primary"
              i18n mat-button
            >
              <i class="material-symbols-outlined">
                save
              </i>
              Save
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- Delete confirm Popup -->
  <div
    [class.active]="showDialogDelete"
    class="add-new-popup"
  >
    <div class="popup-dialog">
      <mat-card class="border-radius d-block bg-white border-0 shadow-none container">
        <mat-card-header>
          <mat-card-title>
            <h5 class="mb-0">
              <span i18n>Confirm delete</span>
            </h5>
          </mat-card-title>
          <mat-card-subtitle>
            <button
              (click)="closeConfirmDelete()"
              mat-button
            >
              <i class="ri-close-fill"></i>
            </button>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="btn-box">
            <button (click)="closeConfirmDelete()" color="warn" i18n mat-button type="button">
              <i class="material-symbols-outlined">
                close
              </i>
              Cancel
            </button>
            <button
              (click)="delete()"
              color="primary"
              i18n mat-button
            >
              <i class="material-symbols-outlined">
                save
              </i>
              Confirm
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</ng-container>
<!-- Add Function Popup -->
<ng-container *ngIf="step==2">
  <app-role-function (backStep)="backStep()" [id]="formGroupDetail.value.roleId"
                     [roleObject]="formGroupDetail.value"></app-role-function>
</ng-container>
