<!-- Breadcrumb -->
<ng-container *ngIf="step==1">
  <div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0" i18n>
      Roles
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
      <li class="breadcrumb-item d-inline-block position-relative">
        <a routerLink="/" class="d-inline-block position-relative">
          <i class="material-symbols-outlined">
            home
          </i>
          Dashboard
        </a>
      </li>
      <li class="breadcrumb-item d-inline-block position-relative">
        Blank Page
      </li>
    </ol>
  </div>
  <!--Search-->
  <mat-card class="mb-15 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
      <form [formGroup]="formGroupSearch" autocomplete="off">
        <div class="row">
          <div class="col-sm-3">
            <mat-form-field>
              <mat-label>Từ khóa</mat-label>
              <input matInput formControlName="s">
              <i class="material-symbols-outlined mr-15" matSuffix>
                search
              </i>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field>
              <mat-label>All Status</mat-label>
              <mat-select formControlName="a">
                <mat-option value="">-- All Status</mat-option>
                <mat-option value="1">Active</mat-option>
                <mat-option value="0">InActive</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <button mat-fab extended class="step-2-menu-button btn-slot-1" (click)="search()">
              <i class="material-symbols-outlined">
                search
              </i>
              Search
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
    <!--<mat-card-header class="mt-20 mb-0 search">
      <mat-card-title clas>
        <button class="search-btn" type="button" mat-button (click)="search()">
          <i class="material-symbols-outlined">
            search
          </i>
          Tìm kiếm
        </button>
        <button class="reset-btn" type="button" mat-button (click)="clear()">
          <i class="material-symbols-outlined">
            refresh
          </i>
          Nhập lại
        </button>
      </mat-card-title>
    </mat-card-header>-->
  </mat-card>

  <!-- Content -->
  <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
      <mat-card-title>
      </mat-card-title>
      <mat-card-subtitle>
        <button class="add-btn" type="button" mat-button (click)="showDetail()">
          <i class="material-symbols-outlined">
            add
          </i>
          Tạo mới
        </button>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows="true">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? toggleAllRows() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> STT</th>
            <td mat-cell *matCellDef="let element; let i = dataIndex">{{ i + 1 }}</td>
          </ng-container>
          @for (innerColumn of _displayedColumns; track innerColumn.value) {
            <ng-container matColumnDef="{{innerColumn.value}}">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>{{ innerColumn.label | titlecase }}</th>
              <td mat-cell *matCellDef="let element">
                <span [ngClass]="{
                'badge rounded-pill': innerColumn.value === 'isActiveLabel',
                'text-soft-primary': innerColumn.value === 'isActiveLabel' && element['isActive'] == 1,
                'text-soft-danger': innerColumn.value === 'isActiveLabel' && element['isActive'] == 0
                }">{{
                    element[innerColumn.value]|dataTransformPipe:[innerColumn.type, innerColumn.format]
                  }}</span>
              </td>
            </ng-container>
          }
          <!-- Action Column -->
          <ng-container matColumnDef="action" stickyEnd>
            <th class="text-end" mat-header-cell *matHeaderCellDef>
              Action
            </th>
            <td mat-cell *matCellDef="let element;let i = dataIndex">
              <div class="action-buttons d-flex align-items-center justify-content-end">
                <a type="button" mat-button (click)="nextStep(i)">
                  <i class="material-symbols-outlined" title="Chi tiết">
                    link
                  </i>
                </a>
                <a type="button" mat-button (click)="_detail(i)">
                  <i class="material-symbols-outlined" title="Sửa">
                    edit
                  </i>
                </a>
                <button type="button" mat-button (click)="delete(i)">
                  <i class="material-symbols-outlined" title="Xóa">
                    delete
                  </i>
                </button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell border-none" colspan="1"><strong>No data matching the filter</strong></td>
          </tr>
          <!--        <tr mat-row *matRowDef="let row; columns: ['child'];"></tr>-->

        </table>
      </div>
      <!--<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons (page)="onPageChange($event)" ></mat-paginator>-->
      <mat-paginator noda
                     (page)="onPageChange($event)"
                     [length]="totalElement"
                     [pageSize]="pageSize"
                     [showFirstLastButtons]="showFirstLastButtons"
                     [pageSizeOptions]="pageSizeOptions"
                     [pageIndex]="pageIndex"
                     aria-label="Select page">
      </mat-paginator>
    </mat-card-content>
  </mat-card>

  <!-- Add New Popup -->
  <div
    class="add-new-popup"
    [class.active]="classApplied"
  >
    <div class="popup-dialog">
      <mat-card class="border-radius d-block bg-white border-0 shadow-none container">
        <mat-card-header>
          <mat-card-title>
            <h5 class="mb-0">
              Thêm mới nhóm quyền
            </h5>
          </mat-card-title>
          <mat-card-subtitle>
            <button
              mat-button
              (click)="toggleClass()"
            >
              <i class="ri-close-fill"></i>
            </button>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="formGroupDetail" autocomplete="off">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <mat-form-field>
                    <mat-label>Tên nhóm quyền</mat-label>
                    <input matInput placeholder="Nhập tên nhóm quyền" formControlName="roleName" required>
                    @if (!!formGroupDetail.controls['roleName'].hasError('required')) {
                      <mat-error>Chưa có thông tin</mat-error>
                    }
                  </mat-form-field>
                  <mat-checkbox class="mt-10" formControlName="isActive">Hoạt động</mat-checkbox>
                </div>
              </div>
            </div>
          </form>
          <div class="btn-box">
            <button
              mat-button
              (click)="closeDetail()"
              color="warn"
            >
              Cancel
            </button>
            <button
              mat-button
              (click)="save(formGroupDetail.value)"
              color="primary"
            >
              <i class="material-symbols-outlined">
                save
              </i>
              Save
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>
<!-- Add Function Popup -->
<ng-container *ngIf="step==2">
  <app-role-function [id]="formGroupDetail.value.roleId" (backStep)="backStep()"></app-role-function>
</ng-container>
