<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between" (scroll)="onScroll()"
  [ngClass]="isSticky ? 'fixed' : 'notfixed' ">
  @if (!isSticky) {
  <h5 class="mb-0" i18n>
    Assign Permissions to {{dataSelected.roleName}}
  </h5>
  }
  <div>
    <button *appHasPermission="['API_ROLES_ROLES_FUNCTION_ADD_{ROLEID}_INSERT']" (click)="addFunction()"
      class="step-2-menu-button btn-slot-1" extended mat-fab>
      <i class="material-symbols-outlined">
        save
      </i>
      Grant Permission
    </button>
    <button (click)="goBack()" class="step-2-menu-button btn-slot-2" extended i18n mat-fab
      style="background-color: #ffc107 !important;">
      <i class="material-symbols-outlined">
        undo
      </i>
      Back
    </button>
  </div>


</div>
<div class="row">
  <div class="col-lg-4 col-md-12">
    <mat-card [class.component-rtl-enabled]="themeService.isRTLEnabled()"
      class="scroll email-compose-card mb-25 border-radius d-block bg-white border-0 shadow-none d-table">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0 fw-semibold" i18n>
            List Accounts
          </h5>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="table-responsive">
          <table [dataSource]="listUser" mat-table class="table-light">
            <ng-container matColumnDef="stt">
              <th *matHeaderCellDef mat-header-cell mat-sort-header class="text-center">#</th>
              <td *matCellDef="let element; let i = dataIndex" mat-cell class="text-center">{{ (pageIndex * pageSize) +
                i + 1 }}</td>
            </ng-container>
            @for (innerColumn of _displayedColumnsUser; track innerColumn.value) {
            <ng-container matColumnDef="{{innerColumn.value}}">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>{{ innerColumn.label | titlecase }}</th>
              <td mat-cell *matCellDef="let element">
                <span [ngClass]="{
            'badge rounded-pill': innerColumn.value === 'isActiveLabel',
            'text-bg-vna': innerColumn.value === 'isActiveLabel' && element['active'] == 1,
            'text-bg-vna-danger': innerColumn.value === 'isActiveLabel' && element['active'] == 0
            }">{{
                  element[innerColumn.value]|dataTransformPipe:[innerColumn.type, innerColumn.format]
                  }}
                </span>
              </td>
            </ng-container>
            }

            <tr *matHeaderRowDef="displayedColumnsUser" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumnsUser;" mat-row></tr>
            <tr *matNoDataRow class="mat-row">
              <td colspan="1"><span i18n class="text-danger">No account has been granted this permission</span></td>
            </tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-8 col-md-12">
    <mat-card [class.component-rtl-enabled]="themeService.isRTLEnabled()"
      class="scroll tables-of-content-card mb-25 border-radius d-block bg-white border-0 shadow-none d-table">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0 fw-semibold" i18n>
            List Functions
          </h5>
          <mat-checkbox (change)="checkBoxChange()" [(ngModel)]="selectAllChecked" i18n>Select all
          </mat-checkbox>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="tables-of-content-list p-0">
          <mat-accordion [multi]="true">
            @for (item of listFunction; track item.name) {
            <mat-expansion-panel disabled expanded>
              <mat-expansion-panel-header class="p-0">
                <mat-panel-title>
                  <mat-checkbox [checked]="item.active" (change)="checkBoxChange(item)"
                    [indeterminate]="item.indeterminate">
                    <strong>{{ item.label }}</strong></mat-checkbox>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul class="p-0 m-0 list-unstyled bg-white">
                @for (itemChild of item['child']; track itemChild.name) {
                <ng-container>
                  <li class="d-sm-flex align-items-center justify-content-between">
                    <span class="d-block text-body">
                      <mat-checkbox [checked]="itemChild.active" (change)="checkBoxChange(itemChild,item)">{{
                        itemChild.name }}</mat-checkbox>
                    </span>
                    <span class="d-block text-body">
                      {{ itemChild.alias }}
                    </span>
                  </li>
                </ng-container>
                }

              </ul>
            </mat-expansion-panel>
            }

          </mat-accordion>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>