<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
  <h5 class="mb-0">
    Kế hoạch
  </h5>
  <div >
    <button mat-fab extended class="step-2-menu-button btn-slot-1" (click)="addFunction()">
      <i class="material-symbols-outlined">
        save
      </i>
      Cấp quyền
    </button>
    <button mat-fab extended class="step-2-menu-button btn-slot-2" (click)="goBack()">
      <i class="material-symbols-outlined">
        undo
      </i>
      Quay lại
    </button>
  </div>


</div>
<div class="row">
  <div class="col-lg-4 col-md-12">
    <mat-card
      class="email-compose-card mb-25 border-radius d-block bg-white border-0 shadow-none"
      [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    >
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0 fw-semibold">
            Danh sách tài khoản
          </h5>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="table-responsive">
          <table mat-table [dataSource]="listUser">
            <ng-container matColumnDef="stt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> STT</th>
              <td mat-cell *matCellDef="let element; let i = dataIndex">{{ i + 1 }}</td>
            </ng-container>
            @for (innerColumn of _displayedColumnsUser; track innerColumn.value) {
              <ng-container matColumnDef="{{innerColumn.value}}">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>{{ innerColumn.label | titlecase }}</th>
                <td mat-cell *matCellDef="let element">{{
                    element[innerColumn.value]|dataTransformPipe:[innerColumn.type, innerColumn.format]
                  }}
                </td>
              </ng-container>
            }

            <tr mat-header-row *matHeaderRowDef="displayedColumnsUser"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsUser;"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-8 col-md-12">
    <mat-card
      class="tables-of-content-card mb-25 border-radius d-block bg-white border-0 shadow-none"
      [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    >
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0 fw-semibold">
            Danh sách chức năng
          </h5>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="tables-of-content-list">
          <mat-accordion [multi]="true">
            @for (item of listFunctionView; track item.uuid) {
              <mat-expansion-panel disabled expanded>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-checkbox [checked]="item.active" (change)="checkBoxChange(!item.active)"><strong>{{ item.id }}
                      -{{ item.name }}</strong></mat-checkbox>
                  </mat-panel-title>

                </mat-expansion-panel-header>
                <ul class="p-0 m-0 list-unstyled bg-white">
                  @for (itemChild of item.child; track itemChild.uuid) {
                    <ng-container *ngIf="itemChild.name !== itemChild.parent">
                      <li class="d-sm-flex align-items-center justify-content-between">
                      <span class="d-block text-body">
                                  <mat-checkbox [checked]="itemChild.active"
                                                (change)="checkBoxChange(!itemChild.active,itemChild.uuid)"> {{ itemChild.id }}
                                    -{{ item.name }}</mat-checkbox>
                                    </span>
                        <span class="d-block text-body">
                                        {{ itemChild.name }}
                                    </span>
                      </li>
                    </ng-container>
                  }

                </ul>
              </mat-expansion-panel>
            }

          </mat-accordion>
        </div>
        <!--        table nested-->
        <!--<table mat-table [dataSource]="listFunctionView" multiTemplateDataRows="true">
          &lt;!&ndash; Checkbox Column &ndash;&gt;
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? toggleAllRows() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>
          @for (innerColumn of _displayedColumnsFunction; track innerColumn.value) {
            <ng-container matColumnDef="{{innerColumn.value}}">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>{{ innerColumn.label | titlecase }}</th>
              <td mat-cell *matCellDef="let element">{{
                  element[innerColumn.value]|dataTransformPipe:[innerColumn.type,innerColumn.format] }}</td>
            </ng-container>
          }

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsFunction.length">
              <table mat-table [dataSource]="element.child">
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox
                      (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()"
                    >
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)"
                    >
                    </mat-checkbox>
                  </td>
                </ng-container>
              @for (innerColumn of _displayedColumnsFunction; track innerColumn.value) {
                <ng-container matColumnDef="{{innerColumn.value}}">
                  <th mat-sort-header mat-header-cell *matHeaderCellDef>{{ innerColumn.label | titlecase }}</th>
                  <td mat-cell *matCellDef="let element">{{
                      element[innerColumn.value]|dataTransformPipe:[innerColumn.type,innerColumn.format] }}</td>
                </ng-container>
              }
              &lt;!&ndash;          <tr mat-header-row *matHeaderRowDef="displayedColumnsFunction;"></tr>&ndash;&gt;
              <tr mat-row *matRowDef="let row; columns: displayedColumnsFunction;"></tr>
              &lt;!&ndash;        <tr mat-row *matRowDef="let row; columns: ['child'];"></tr>&ndash;&gt;

            </table>
            </td>
          </ng-container>
&lt;!&ndash;          <tr mat-header-row *matHeaderRowDef="displayedColumnsFunction;"></tr>&ndash;&gt;
          <tr mat-row *matRowDef="let row; columns: displayedColumnsFunction;"></tr>
          &lt;!&ndash;        <tr mat-row *matRowDef="let row; columns: ['child'];"></tr>&ndash;&gt;
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"></tr>

        </table>-->
      </mat-card-content>
    </mat-card>
  </div>
</div>
