<!--Search-->
<mat-card class="mb-10 pt-15 pl-15 pr-15 pb-0 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <app-daily-flight-schedules-search #dailyFlightSchedulesSearch (search)="onSearch($event)" />
    </mat-card-content>
</mat-card>


<mat-card class="mb-10 p-15 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header class="mb-10">
        <mat-card-title>
        </mat-card-title>
        <mat-card-subtitle>
            <button class="add-btn mr-10" type="button" mat-button
                (click)="exportFile(null,'estimated-flight-schedule.xlsx')">
                <i class="material-symbols-outlined">
                    download
                </i>
                <span i18n="@@export">Export</span>
            </button>
            <button class="add-btn " type="button" mat-button>
                <i class="material-symbols-outlined">
                    sync
                </i>
                <span i18n="@@sync">Sync</span>
            </button>

        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows="true" class="table-light">
                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center ">#</th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex" class="text-center">
                        {{ (pageIndex * pageSize) + i + 1 }}
                    </td>
                </ng-container>
                @for (innerColumn of _displayedColumns; track innerColumn.value) {
                <ng-container matColumnDef="{{innerColumn.value}}">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center">{{
                        innerColumn.label }}
                    </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="innerColumn.class">
                        {{ element[innerColumn.value]|dataTransformPipe:[innerColumn.type, innerColumn.format] }}
                    </td>
                </ng-container>
                }
                <ng-container matColumnDef="numberOfCrew">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center "
                        i18n="@@numberOfCrew">Number of crew</th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex" class="text-left">
                        <span>
                            <span class="text-secondary-bootstrap font-size-14" i18n="@@fc">
                                FC
                            </span>:
                            <a class="text-secondary cursor-pointer" (click)="flightCrewDetail(element)">
                                {{element.pilotCount}}
                            </a>
                        </span>
                        <br>
                        <span>
                            <span class="text-secondary-bootstrap font-size-14" i18n="@@cc">
                                CC
                            </span>:
                            <a class="text-secondary cursor-pointer" (click)="flightCrewDetail(element)">
                                {{element.cabinCrewCount}}
                            </a>
                        </span>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell text-center" colspan="99">No data!</td>
                </tr>
            </table>

        </div>
        <mat-paginator (page)="onPageChange($event)" [length]="totalElement" [pageSize]="pageSize"
            [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex"
            aria-label="Select page" i18n-aria-label="@@selectPage">
        </mat-paginator>
    </mat-card-content>
</mat-card>