<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0" i18n="@@account">
        Account
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@category">
            Category
        </li>
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@garage">
            Garage
        </li>
    </ol>
</div>


<!--Search-->
<mat-card class="mb-10 pt-15 pl-15 pr-15 pb-0 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <form [formGroup]="formGroupSearch" (ngSubmit)="search()" autocomplete="off">
            <div class="row">
                <div class="col-auto" sizeInput="md">
                    <mat-form-field>
                        <mat-label>Key Search</mat-label>
                        <input matInput formControlName="keySearch">
                    </mat-form-field>
                </div>
                <div class="col-auto" sizeInput="md">
                    <mat-form-field class="mb-25">
                        <mat-label i18n="@@status">Status</mat-label>   
                        <mat-select formControlName="status">
                            <mat-option [value]="null" i18n="@@allStatus">-- All Status --</mat-option>
                            <mat-option [value]="true" i18n="@@active">Active</mat-option>
                            <mat-option [value]="false" i18n="@@inactive">Inactive</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-auto" sizeInput="md">
                    <mat-form-field class="mb-25">
                        <mat-label i18n="@@role">Role</mat-label>
                        <mat-select formControlName="role" multiple>
                            <form class="mb-1" sizeInput="sm">
                                <!-- <mat-form-field>
                                    <input matInput type="text" name="clearable-input" [(ngModel)]="searchRole"
                                        placeholder="Search">
                                    @if (searchRole()) {
                                    <button matSuffix mat-icon-button aria-label="Clear" (click)="searchRole.set('')">
                                        <i class="material-symbols-outlined">
                                            close
                                        </i>
                                    </button>
                                    }
                                </mat-form-field> -->
                            </form>
                            <!-- @for (item of listRoles; track $index) {
                            <mat-option [value]="item.roleId">{{item.roleName}}</mat-option>
                            } -->
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-1 d-flex flex-row">
                    <mat-card-header class="mb-0 search">
                        <mat-card-title clas>
                            <button class="search-btn" type="submit" mat-button>
                                <i class="material-symbols-outlined">
                                    search
                                </i>
                                <span i18n="@@search">Search</span>
                            </button>
                        </mat-card-title>
                    </mat-card-header>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>