.file-upload-container {
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
}

.avatar-preview {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
  //object-fit: cover;
  margin: auto;
  //margin-bottom: 10px;
  //margin-left: 45px;
}

.form-control-file {
  //margin-left: 15px;
  margin: auto;
}
