.avatar-preview {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.file-upload-container {
  text-align: center;
}

@media (max-width: 768px) {
  .avatar-preview {
    width: 100px;
    height: 100px;
  }
}
