.file-upload-container {
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.avatar-preview {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.form-control-file {
  margin-left: 15px;
}
