<mat-card class="mb-15 border-radius d-block bg-white border-0 shadow-none">
  <div class="account-settings-card">
    <div class="d-flex justify-content-between align-items-center">
      <h5>
        Profile
      </h5>
      <div>
        <button class="add-btn" mat-button color="primary" *ngIf="readonly" (click)="updateEditMode()">
          <i class="material-symbols-outlined">edit</i>
          <span i18n="@@edit">Edit</span>
        </button>
        <div *ngIf="!readonly">
          <button class="add-btn  mlr-5" mat-button color="primary" (click)="saveProfile()">
            <i class="material-symbols-outlined">save</i>
            <span i18n="@@save">Save</span>
          </button>
          <button class="danger-btn   mlr-5" mat-button (click)="onCancel()">
            <i class="material-symbols-outlined">cancel</i>
            <span i18n="@@cancel">Cancel</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-10">
      <div class="col-md-2 mb-10">
        <div class="file-upload-container">
          <img *ngIf="avatarUrl" [src]="avatarUrl" alt="User avatar" class="avatar-preview"/>
          <img *ngIf="!avatarUrl" src="images/admin.png" alt="User avatar" class="avatar-preview"/>
          <input type="file" *ngIf="!readonly" (change)="onFileSelected($event)" accept="image/*"/>
          <mat-error *ngIf="fileError">{{ fileError }}</mat-error>
        </div>
      </div>
      <div class="col-md-8 mb-10">
        <form ngForm [formGroup]="formGroup" autocomplete="off">
          <div class="row col-md-8">
            <div class="col-sm-12 mb-10">
              <div class="form-group">
                <app-input-sm
                  formControlName="department"
                  placeholder="Enter department"
                  label="Department"
                  [readonly]="readonly"
                  [required]="true"
                  [maxLength]="200"
                ></app-input-sm>
              </div>
            </div>
            <div class="col-sm-12 mb-10">
              <div class="form-group">
                <app-input-sm
                  formControlName="fullName"
                  placeholder="Enter fullName"
                  label="Full name"
                  [readonly]="readonly"
                  [required]="true"
                  [maxLength]="200"
                ></app-input-sm>
              </div>
            </div>
            <div class="col-sm-12 mb-10">
              <div class="form-group">
                <app-selection
                  formControlName="gender"
                  [label]="'Gender'"
                  [required]="true"
                  [readonly]="readonly"
                  [options]="genderOptions"
                ></app-selection>
              </div>
            </div>
            <div class="col-sm-12 mb-10">
              <div class="form-group">
                <app-input-sm
                  formControlName="email"
                  placeholder="Enter email"
                  label="Email"
                  type="text"
                  [readonly]="true"
                  [required]="true"
                  [maxLength]="200"
                ></app-input-sm>
              </div>
            </div>
            <div class="col-sm-12 mb-10">
              <div class="form-group">
                <app-input-sm
                  formControlName="phone"
                  placeholder="Enter phone number"
                  label="Phone"
                  [readonly]="readonly"
                  [required]="false"
                  [maxLength]="20"
                ></app-input-sm>
              </div>
            </div>
            <div class="col-sm-12 mb-10">
              <div class="form-group">
                <app-input-sm
                  formControlName="description"
                  placeholder="Enter description"
                  label="Description"
                  [readonly]="readonly"
                  [required]="false"
                  [maxLength]="500"
                ></app-input-sm>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
