<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
  <h5 class="mb-0" i18n>
    5-Year Plans
  </h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@plan">
      Plan
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@production">
      Production
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@5YearPlans">
      5-Year Plans
    </li>
  </ol>
</div>
<!--Search-->
<mat-card class="mb-15 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-content>
    <form [formGroup]="formGroupSearch" autocomplete="off">
      <div class="row">
        <div class="col-sm-3" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Status</mat-label>
            <mat-select formControlName="active">
              <mat-option i18n [value]="null">-- All Status --</mat-option>
              <mat-option i18n value="true">Active</mat-option>
              <mat-option i18n value="false">Inactive</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-card-header class="mb-0">
            <mat-card-title>
              <button (click)="search()" class="search-btn" i18n mat-button>
                <i class="material-symbols-outlined">
                  search
                </i>
                Search
              </button>
            </mat-card-title>
          </mat-card-header>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<!-- Content -->
<mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-header>
    <mat-card-title>
    </mat-card-title>
    <mat-card-subtitle>
      <button (click)="exportFile({export:true},'five-year-plan.xlsx')" class="add-btn mr-10" i18n mat-button
        type="button">
        <i class="material-symbols-outlined">
          download
        </i>
        Export
      </button>
      <button *appHasPermission="['API_FIVE_YEAR_PLAN_INSERT']" (click)="showDialogDetail()" class="add-btn" i18n
        mat-button type="button">
        <i class="material-symbols-outlined">
          add
        </i>
        Add new
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive">
      <table [dataSource]="dataSource" class="table-light" mat-table multiTemplateDataRows="true">
        <ng-container matColumnDef="stt">
          <th *matHeaderCellDef class="text-center" mat-header-cell mat-sort-header rowspan="2">#</th>
          <td *matCellDef="let element; let i = dataIndex" mat-cell class="text-center">{{ (pageIndex * pageSize) + i +
            1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="international">
          <th *matHeaderCellDef class="text-center " colspan="2" mat-header-cell mat-sort-header>International</th>
        </ng-container>
        <ng-container matColumnDef="domestic">
          <th *matHeaderCellDef class="text-center" colspan="2" mat-header-cell mat-sort-header>Domestic</th>
        </ng-container>
        <ng-container matColumnDef="totalOutput">
          <th *matHeaderCellDef class="text-center" colspan="2" mat-header-cell mat-sort-header>Total output</th>
        </ng-container>
        @for (innerColumn of _displayedColumns; track innerColumn.value) {
        <ng-container matColumnDef="{{innerColumn.value}}">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="text-center" [rowSpan]=innerColumn.rowspan
            [colSpan]=innerColumn.colspan>
            {{ innerColumn.label }}
          </th>
          <td
            [ngClass]="{'text-center': innerColumn.value === 'activeLabel' || innerColumn.value === 'year' ,'text-right': innerColumn.value === 'totalInternational' || innerColumn.value === 'rateInternationalLast' || innerColumn.value === 'totalDomestic' || innerColumn.value === 'rateDomesticLast' || innerColumn.value === 'total'  || innerColumn.value === 'rateTotalLast'}"
            mat-cell *matCellDef="let element">
            <span [ngClass]="{
        'badge': innerColumn.value === 'activeLabel',
        'text-bg-label-badge': innerColumn.value === 'activeLabel' && element['active'] == 1,
        'text-soft-dark': innerColumn.value === 'activeLabel' && element['active'] == 0
        }">{{
              innerColumn.type === 'number'
              ? (element[innerColumn.value].toFixed(2) | number : (innerColumn.format || '1.0-10'))
              : element[innerColumn.value]
              }}</span>
          </td>
        </ng-container>
        }
        <!-- Action Column -->
        <ng-container matColumnDef="action" stickyEnd>
          <th *matHeaderCellDef class="text-end" i18n mat-header-cell rowspan="2">
            Actions
          </th>
          <td *matCellDef="let element;let i = dataIndex" mat-cell>
            <div class="action-buttons d-flex align-items-center justify-content-end"
              *ngIf="element.year > currentYear">
              <a mat-button type="button">

              </a>
              <a *appHasPermission="['API_FIVE_YEAR_PLAN_UPDATE']" (click)="showDialogDetail(i,'index')"
                class="text-warning" mat-button type="button">
                <i class="material-symbols-outlined" i18n-title title="Edit">
                  edit
                </i>
              </a>
              <a *appHasPermission="['API_FIVE_YEAR_PLAN_DELETE']" (click)="showConfirmDelete(element.id)" i18n-title
                mat-button type="button">
                <i class="material-symbols-outlined" title="Delete">
                  delete
                </i>
              </a>
            </div>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns1;" mat-header-row></tr>
        <tr *matHeaderRowDef="displayedColumns2;" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        <tr *matNoDataRow class="mat-row">
          <td [attr.colspan]="displayedColumns.length" class="mat-cell text-center"><span i18n>No data!</span>
          </td>
        </tr>
      </table>
    </div>
    <!--<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons (page)="onPageChange($event)" ></mat-paginator>-->
    <mat-paginator (page)="onPageChange($event)" [length]="totalElement" [pageIndex]="pageIndex"
      [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [showFirstLastButtons]="showFirstLastButtons"
      aria-label="Select page">
    </mat-paginator>
  </mat-card-content>
</mat-card>

<!-- Add New Popup -->
<div [class.active]="showDialogCreate" class="add-new-popup">
  <div class="popup-dialog">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none container">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0">
            <span *ngIf="!formGroupDetail.value.id" i18n>Add new</span>
            <span *ngIf="formGroupDetail.value.id" i18n>Edit</span>
          </h5>
        </mat-card-title>
        <mat-card-subtitle>
          <button (click)="closeDetail()" mat-button>
            <i class="ri-close-fill"></i>
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="formGroupDetail" autocomplete="off">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6" sizeInput="sm">
                    <mat-form-field>
                      <mat-label i18n>Year</mat-label>
                      <mat-select formControlName="year" required>
                        <mat-option i18n [value]="null">-- Select year --</mat-option>
                        @for (year of listYear; track year) {
                        <mat-option [value]="year">{{ year }}</mat-option>
                        }
                      </mat-select>
                      @if (!!formGroupDetail.controls['year'].hasError('required')) {
                      <mat-error><span i18n>Year</span><span i18n> is required</span></mat-error>
                      } @else if (!!formGroupDetail.controls['year'].hasError('existYear')) {
                      <mat-error><span i18n>Year</span><span i18n> already exist</span></mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div class="col-md-6" sizeInput="sm"></div>
                  <div class="col-md-6" sizeInput="sm">
                    <mat-form-field>
                      <mat-label i18n>International production</mat-label>
                      <input (ngModelChange)="calculator()" formControlName="totalInternational" i18n-placeholder
                        matInput min="0" required type="number">
                      @if (!!formGroupDetail.controls['totalInternational'].hasError('required')) {
                      <mat-error><span i18n>International production</span><span i18n> is required</span></mat-error>
                      } @else if (!!formGroupDetail.controls['totalInternational'].hasError('min')) {
                      <mat-error><span i18n>International production</span><span i18n> must be greater than 0</span>
                      </mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div class="col-md-6" sizeInput="sm">
                    <mat-form-field>
                      <mat-label i18n>Domestic production</mat-label>
                      <input (ngModelChange)="calculator()" formControlName="totalDomestic" i18n-placeholder matInput
                        min="0" required type="number">
                      @if (!!formGroupDetail.controls['totalDomestic'].hasError('required')) {
                      <mat-error><span i18n>Domestic production</span><span i18n> is required</span></mat-error>
                      } @else if (!!formGroupDetail.controls['totalInternational'].hasError('min')) {
                      <mat-error><span i18n>Domestic production</span><span i18n> must be greater than 0</span>
                      </mat-error>
                      }
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-12" sizeInput="sm">
                  <mat-form-field>
                    <mat-label i18n>Total</mat-label>
                    <input formControlName="total" matInput [readonly]="true">
                  </mat-form-field>
                </div>
                <mat-form-field>
                  <mat-label i18n>Remark</mat-label>
                  <textarea formControlName="notes" i18n-placeholder matInput></textarea>
                  <mat-hint align="end">{{ formGroupDetail.value.notes?.length }} / 500</mat-hint>
                  @if (!!formGroupDetail.controls['notes'].hasError('maxlength')) {
                  <mat-error><span i18n>Remark</span><span i18n> must be less than 500 characters</span></mat-error>
                  }
                </mat-form-field>
                <mat-checkbox formControlName="active" i18n>Active</mat-checkbox>
              </div>
            </div>
          </div>
        </form>
        <div class="btn-box">
          <button (click)="closeDetail()" class="close-btn" i18n mat-button type="button">
            <i class="material-symbols-outlined">
              close
            </i>
            Close
          </button>
          <button (click)="save()" class="add-btn" i18n mat-button>
            <i class="material-symbols-outlined">
              save
            </i>
            Save
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- Delete confirm Popup -->

<div class="add-new-popup" [class.active]="showDialogDelete">
  <div class="popup-dialog dialog-delete-with">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none width-percent-100">
      <mat-card-content>
        <div class="text-warning text-center">
          <span class="material-symbols-outlined font-size-5rem">
            error
          </span>
        </div>
        <div class="text-center mb-20">
          <h3 class="mb-0" i18n="@@deleteMessage">Are you sure you want to delete?</h3>
        </div>
        <div class="text-center mb-20">
          <span class="font-weight-normal color-black font-size-19" i18n="@@warningDeleteMessage">
            You will not be able to recover the deleted data!</span>
        </div>
        <div class="btn-box text-center">
          <button type="button" mat-button (click)="closeConfirmDelete()" class="close-btn  min-with-100 mlr-5">
            <i class="material-symbols-outlined">
              close
            </i>
            <span i18n="@@cancel">Cancel</span>
          </button>
          <button mat-button type="button" class="add-btn min-with-100 mlr-5" (click)="delete()">
            <i class="material-symbols-outlined">
              save
            </i>
            <span i18n="@@confirm">Confirm</span>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>