<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
  <h5 class="mb-0" i18n>
    5-Year Plans
  </h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@plan">
      Plan
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@production">
      Production
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@5YearPlans">
      5-Year Plans
    </li>
  </ol>
</div>
<!--Search-->
<mat-card class="mb-15 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-content>
    <form [formGroup]="formGroupSearch" autocomplete="off">
      <div class="row">
        <div class="col-sm-3" sizeInput='md'>
          <mat-form-field>
            <mat-select formControlName="active">
              <mat-option i18n value="">-- All Status --</mat-option>
              <mat-option i18n value="true">Active</mat-option>
              <mat-option i18n value="false">Inactive</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-card-header class="mb-0">
            <mat-card-title clas>
              <button (click)="search()" class="search-btn" i18n mat-button>
                <i class="material-symbols-outlined">
                  search
                </i>
                Search
              </button>
            </mat-card-title>
          </mat-card-header>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<!-- Content -->
<mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-header>
    <mat-card-title>
    </mat-card-title>
    <mat-card-subtitle>
      <button (click)="exportFile({export:true},'five-year-plan.xlsx')" class="add-btn mr-10" i18n mat-button
              type="button">
        <i class="material-symbols-outlined">
          download
        </i>
        Export
      </button>
      <button (click)="showDialogDetail()" class="add-btn" i18n mat-button type="button">
        <i class="material-symbols-outlined">
          add
        </i>
        Add new
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive">
      <table [dataSource]="dataSource" class="table-light" mat-table multiTemplateDataRows="true">
        <ng-container matColumnDef="stt">
          <th *matHeaderCellDef mat-header-cell mat-sort-header rowspan="2">#</th>
          <td *matCellDef="let element; let i = dataIndex" mat-cell>{{ i + 1 }}</td>
        </ng-container>
        <ng-container matColumnDef="international">
          <th *matHeaderCellDef class="text-center " colspan="2" mat-header-cell mat-sort-header>International</th>
        </ng-container>
        <ng-container matColumnDef="domestic">
          <th *matHeaderCellDef class="text-center" colspan="2" mat-header-cell mat-sort-header>Domestic</th>
        </ng-container>
        <ng-container matColumnDef="totalOutput">
          <th *matHeaderCellDef class="text-center" colspan="2" mat-header-cell mat-sort-header>Total Output</th>
        </ng-container>
        @for (innerColumn of _displayedColumns; track innerColumn.value) {
        <ng-container matColumnDef="{{innerColumn.value}}">
            <th mat-sort-header mat-header-cell *matHeaderCellDef [rowSpan]=innerColumn.rowspan [colSpan]=innerColumn.colspan>
        {{ innerColumn.label | titlecase }}</th>
            <td mat-cell *matCellDef="let element">
                <span [ngClass]="{
        'badge rounded-pill': innerColumn.value === 'activeLabel',
        'text-bg-vna': innerColumn.value === 'activeLabel' && element['active'] == 1,
        'text-bg-vna-danger': innerColumn.value === 'activeLabel' && element['active'] == 0
        }">{{
        element[innerColumn.value]|dataTransformPipe:[innerColumn.type, innerColumn.format]
        }}</span>
            </td>
          </ng-container>
        }
        <!-- Action Column -->
        <ng-container matColumnDef="action" stickyEnd>
          <th *matHeaderCellDef class="text-end" i18n mat-header-cell rowspan="2">
            Action
          </th>
          <td *matCellDef="let element;let i = dataIndex" mat-cell>
            <div class="action-buttons d-flex align-items-center justify-content-end" *ngIf="element.year >= currentYear">
              <a mat-button type="button">

              </a>
              <a (click)="showDialogDetail(i,'index')" mat-button type="button">
                <i class="material-symbols-outlined" i18n-title title="Edit">
                  edit
                </i>
              </a>
              <a (click)="showConfirmDelete(element.id)" i18n-title mat-button type="button">
                <i class="material-symbols-outlined" title="Delete">
                  delete
                </i>
              </a>
            </div>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns1;" mat-header-row></tr>
        <tr *matHeaderRowDef="displayedColumns2;" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        <tr *matNoDataRow class="mat-row">
          <td [attr.colspan]="displayedColumns.length" class="mat-cell text-center"><span i18n>No data!</span>
          </td>
        </tr>


        <!--        <tr mat-row *matRowDef="let row; columns: ['child'];"></tr>-->

      </table>
    </div>
    <!--<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons (page)="onPageChange($event)" ></mat-paginator>-->
    <mat-paginator
      (page)="onPageChange($event)"
      [length]="totalElement"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      [showFirstLastButtons]="showFirstLastButtons"
      aria-label="Select page">
    </mat-paginator>
  </mat-card-content>
</mat-card>

<!-- Add New Popup -->
<div
  [class.active]="showDialogCreate"
  class="add-new-popup"
>
  <div class="popup-dialog">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none container">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0">
            <span *ngIf="!formGroupDetail.value.id" i18n>Create Plan</span>
            <span *ngIf="formGroupDetail.value.id" i18n>Update Plan</span>
          </h5>
        </mat-card-title>
        <mat-card-subtitle>
          <button
            (click)="closeDetail()"
            mat-button
          >
            <i class="ri-close-fill"></i>
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="formGroupDetail" autocomplete="off">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6" sizeInput="sm">
                    <mat-form-field>
                      <mat-label i18n>Year</mat-label>
                      <mat-select formControlName="year" required>
                        <mat-option i18n value="">-- Select year --</mat-option>
                        @for (year of listYear; track year) {
                        <mat-option [value]="year">{{year}}</mat-option>
                        }
                      </mat-select>
                      @if (!!formGroupDetail.controls['year'].hasError('required')) {
                      <mat-error><span i18n>Year</span><span i18n> not empty</span></mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div class="col-md-6" sizeInput="sm"></div>
                  <div class="col-md-6" sizeInput="sm">
                    <mat-form-field>
                      <mat-label i18n>Total International</mat-label>
                      <input (ngModelChange)="calculator()" formControlName="totalInternational" i18n-placeholder
                             matInput
                             min="0"
                             placeholder="Input Total International" required type="number">
                      @if (!!formGroupDetail.controls['totalInternational'].hasError('required')) {
                      <mat-error><span i18n>Total International</span><span i18n> not empty</span></mat-error>
                      }
                      @else if (!!formGroupDetail.controls['totalInternational'].hasError('min')) {
                      <mat-error><span i18n>Total International</span><span i18n> not valid</span></mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div class="col-md-6" sizeInput="sm">
                    <mat-form-field>
                      <mat-label i18n>Total Domestic</mat-label>
                      <input (ngModelChange)="calculator()" formControlName="totalDomestic" i18n-placeholder matInput
                             min="0"
                             placeholder="Input Total Domestic" required type="number">
                      @if (!!formGroupDetail.controls['totalDomestic'].hasError('required')) {
                      <mat-error><span i18n>Total Domestic</span><span i18n> not empty</span></mat-error>
                      }
                      @else if (!!formGroupDetail.controls['totalInternational'].hasError('min')) {
                      <mat-error><span i18n>Total Domestic</span><span i18n> not valid</span></mat-error>
                      }
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-12" sizeInput="sm">
                  <mat-form-field>
                    <mat-label i18n>Total</mat-label>
                    <input formControlName="total" i18n-placeholder matInput readonly=true>
                  </mat-form-field>
                </div>
                <mat-form-field>
                  <mat-label i18n>Notes</mat-label>
                  <textarea formControlName="notes" i18n-placeholder matInput
                            placeholder="Input Notes"></textarea>
                  <mat-hint align="end">{{formGroupDetail.value.notes?.length}} / 500</mat-hint>
                  @if (!!formGroupDetail.controls['notes'].hasError('maxlength')) {
                  <mat-error><span i18n>Notes</span><span i18n> too long</span></mat-error>
                  }
                </mat-form-field>
                <mat-checkbox class="mt-10" formControlName="active" i18n>Active</mat-checkbox>
              </div>
            </div>
          </div>
        </form>
        <div class="btn-box">
          <button (click)="closeDetail()" color="warn" i18n mat-button type="button">
            <i class="material-symbols-outlined">
              close
            </i>
            Cancel
          </button>
          <button
            (click)="save()"
            color="primary"
            i18n mat-button
          >
            <i class="material-symbols-outlined">
              save
            </i>
            Save
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- Delete confirm Popup -->
<div
  [class.active]="showDialogDelete"
  class="add-new-popup delete-popup"
>
  <div class="popup-dialog">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none container">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0">
            <span i18n>Confirm delete</span>
          </h5>
        </mat-card-title>
        <mat-card-subtitle>
          <button
            (click)="closeConfirmDelete()"
            mat-button
          >
            <i class="ri-close-fill"></i>
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="btn-box">
          <button (click)="closeConfirmDelete()" color="warn" i18n mat-button type="button">
            <i class="material-symbols-outlined">
              close
            </i>
            Cancel
          </button>
          <button
            (click)="delete()"
            color="primary"
            i18n mat-button
          >
            <i class="material-symbols-outlined">
              save
            </i>
            Confirm
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
