:host ::ng-deep {
    .size-input-md .mat-mdc-text-field-wrapper {
        height: 3.1rem !important;
    }

    .size-input-md .mat-mdc-form-field-flex {
        align-items: center;
        height: 3rem;
    }


    .size-input-sm .mat-mdc-text-field-wrapper {
        height: 2.8rem !important;
    }

    .size-input-sm .mat-mdc-form-field-flex {
        align-items: center;
        height: 2.8rem;
    }

    .size-input-xs .mat-mdc-text-field-wrapper {
        height: 39px !important;
    }

    .size-input-xs .mat-mdc-form-field-flex {
        align-items: center;
        height: 39px;
    }

    .mb-1 {
        margin-bottom: .25rem;
    }

    .mb-2 {
        margin-bottom: .5rem;
    }

    .mb-3 {
        margin-bottom: 1rem;
    }

    .mb-4 {
        margin-bottom: 1.5rem;
    }

    .mb-5 {
        margin-bottom: 3rem;
    }
}
