<!--<div class="container">-->
<!--  <div class="mb-3">-->
<!--    <ul class="nav nav-tabs">-->
<!--      <li class="nav-item" *ngFor="let sheet of workbook.sheets; let i = index">-->
<!--        <a-->
<!--          class="nav-link"-->
<!--          href="#"-->
<!--          [class.active]="i === sheetIndex"-->
<!--          (click)="tabClicked($event, i)"-->
<!--        >-->
<!--          {{ sheet.name }}-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div id="tableHost" class="table-responsive table-light"></div>-->
<!--</div>-->
