<div class="row">
    <div class="table-responsive max-height-600">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows="true" class="table-light">
            <ng-container matColumnDef="month" sticky>
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" [attr.rowspan]="2"
                    i18n="@@month">
                    Month
                </th>
                <td mat-cell *matCellDef="let element; let index = dataIndex;"
                    [attr.rowspan]="periodsSpan[element.period].count" class="fw-bold"
                    [style.display]="periodsSpan[element.period].firstIndex === index?'':'none'">
                    {{element.period}}
                </td>
                <td mat-footer-cell *matFooterCellDef i18n="@@total" class="fw-bold text-center"> Total </td>
            </ng-container>

            <ng-container matColumnDef="aircraftType" sticky>
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" [attr.rowspan]="2"
                    i18n="@@aircraftType">
                    Aircraft Type
                </th>
                <td mat-cell *matCellDef="let element; let index = dataIndex" class="text-center"
                    [attr.rowspan]="aircraftTypeSpan[(element.period+'_'+element.aircraftType)].count"
                    [style.display]="aircraftTypeSpan[(element.period+'_'+element.aircraftType)].firstIndex === index ?'':'none'">
                    {{element.aircraftType}}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="overnight" sticky>
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center wrap-text"
                    [attr.rowspan]=2 i18n="@@numberOfOvernightStays">
                    Number of Overnight Stays
                </th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    {{element.overnight}}

                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="numberFlight">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" [attr.rowspan]="2"
                    i18n="@@numberOfFlights">
                    Number of Flights
                </th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    {{element.numberOfFlights | number}}
                </td>
                <td mat-footer-cell *matFooterCellDef class="fw-bold text-right">
                    {{getTotal('numberOfFlights') | number}}
                </td>
            </ng-container>
            <ng-container matColumnDef="numberOfRooms">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" [attr.colspan]=3
                    i18n="@@numberOfRooms">
                    Number of Rooms
                </th>
            </ng-container>
            <ng-container matColumnDef="singleRoom">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" i18n="@@singleRoom">
                    Single Room
                </th>
                <td mat-cell *matCellDef="let element; let index = dataIndex;" class="text-right">
                    {{element.monthIsPerform?null:element.singleRoom}}
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <!-- {{getTotal('singleRoom')}} -->
                </td>
            </ng-container>
            <ng-container matColumnDef="doubleRoom">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" i18n="@@doubleRoom">
                    Double Room
                </th>
                <td mat-cell *matCellDef="let element; let index = dataIndex;" class="text-right">
                    {{element.monthIsPerform?null:element.doubleRoom}}
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <!-- {{getTotal('doubleRoom')}} -->
                </td>
            </ng-container>
            <ng-container matColumnDef="singleRoomReserved">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center wrap-text"
                    i18n="@@singleRoomReserved">
                    Buffer rate <br /> (for single-gender)
                </th>
                <td mat-cell *matCellDef="let element; let index = dataIndex;" class="text-right">
                    {{element.monthIsPerform?null:element.singleRoomReserved}}
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <!-- {{getTotal('singleRoomReserved')}} -->
                </td>
            </ng-container>


            <ng-container matColumnDef="numberOfRoomsForOthers">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center wrap-text"
                    [attr.colspan]=2 i18n="@@numberOfRoomsForOthers">
                    Number of Rooms for Others
                </th>
            </ng-container>
            <ng-container matColumnDef="singleRoomOther">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" i18n="@@singleRoom">
                    Single Room
                </th>
                <td mat-cell *matCellDef="let element"
                    [style.padding]="element['singleRoomOtherEditing'] && !element.monthIsPerform?'0px !important':''"
                    (click)="clickEdit(element, 'singleRoomOtherEditing')" class="text-right">
                    @if(element['singleRoomOtherEditing'] && !element.monthIsPerform) {
                    <div sizeInput="xs">
                        <mat-form-field (clickOutside)="clickOutside(element,'singleRoomOtherEditing')"
                            class="edit-inline-table">
                            <input matInput type="text" digitOnly [(ngModel)]="element.singleRoomOther"
                                [disabled]="disabled()">
                        </mat-form-field>
                    </div>
                    }@else {
                    {{element.singleRoomOther}}
                    }
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <!-- {{getTotal('singleRoomOther')}} -->
                </td>
            </ng-container>
            <ng-container matColumnDef="doubleRoomOther">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" i18n="@@doubleRoom">
                    Double Room
                </th>
                <td mat-cell *matCellDef="let element"
                    [style.padding]="element['doubleRoomOtherEditing'] && !element.monthIsPerform?'0px !important':''"
                    (click)="clickEdit(element, 'doubleRoomOtherEditing')" class="text-right">
                    @if(element['doubleRoomOtherEditing'] && !element.monthIsPerform){
                    <div sizeInput="xs">
                        <mat-form-field (clickOutside)="clickOutside(element,'doubleRoomOtherEditing')"
                            class="edit-inline-table">
                            <input matInput type="text" digitOnly [(ngModel)]="element.doubleRoomOther"
                                [disabled]="disabled()">
                        </mat-form-field>
                    </div>
                    }@else {
                    {{element.doubleRoomOther}}
                    }
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <!-- {{getTotal('doubleRoomOther')}} -->
                </td>
            </ng-container>

            <ng-container matColumnDef="numberOfEstimatedEarlyCheckInRooms">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" [attr.colspan]=3
                    i18n="@@numberOfEstimatedEarlyCheckInRooms">
                    Number of Estimated Early Check-in Rooms
                </th>
            </ng-container>
            <ng-container matColumnDef="singleRoomEarly">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" i18n="@@singleRoom">
                    Single Room
                </th>
                <td mat-cell *matCellDef="let element; let index = dataIndex;"
                    [attr.rowspan]="aircraftTypeSpan[(element.period+'_'+element.aircraftType)].count"
                    [style.display]="aircraftTypeSpan[(element.period+'_'+element.aircraftType)].firstIndex === index?'':'none'"
                    class="text-right">
                    {{element.monthIsPerform?null:element.singleRoomEarly}}
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <!-- {{getTotal('singleRoomEarly')}} -->
                </td>
            </ng-container>
            <ng-container matColumnDef="doubleRoomEarly">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" i18n="@@doubleRoom">
                    Double Room
                </th>
                <td mat-cell *matCellDef="let element; let index = dataIndex;"
                    [attr.rowspan]="aircraftTypeSpan[(element.period+'_'+element.aircraftType)].count"
                    [style.display]="aircraftTypeSpan[(element.period+'_'+element.aircraftType)].firstIndex === index?'':'none'"
                    class="text-right">
                    {{element.monthIsPerform?null:element.doubleRoomEarly}}
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <!-- {{getTotal('doubleRoomEarly')}} -->
                </td>
            </ng-container>
            <ng-container matColumnDef="singleRoomEarlyReserved">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center wrap-text"
                    i18n="@@singleRoomReserved">
                    Buffer rate <br /> (for single-gender)
                </th>
                <td mat-cell *matCellDef="let element; let index = dataIndex"
                    [attr.rowspan]="aircraftTypeSpan[(element.period+'_'+element.aircraftType)].count"
                    [style.display]="aircraftTypeSpan[(element.period+'_'+element.aircraftType)].firstIndex === index?'':'none'"
                    class="text-right">
                    {{element.monthIsPerform?null:element.singleRoomEarlyReserved}}
                </td>

                <td mat-footer-cell *matFooterCellDef>
                    <!-- {{getTotal('singleRoomEarlyReserved')}} -->
                </td>
            </ng-container>


            <ng-container matColumnDef="numberOfEstimatedLateCheckoutRooms">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" [attr.colspan]=3
                    i18n="@@numberOfEstimatedLateCheckoutRooms">
                    Number of Estimated Late Checkout Rooms
                </th>
            </ng-container>
            <ng-container matColumnDef="singleRoomLate">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" i18n="@@singleRoom">
                    Single Room
                </th>
                <td mat-cell *matCellDef="let element; let index = dataIndex;"
                    [attr.rowspan]="aircraftTypeSpan[(element.period+'_'+element.aircraftType)].count"
                    [style.display]="aircraftTypeSpan[(element.period+'_'+element.aircraftType)].firstIndex === index?'':'none'"
                    class="text-right">
                    {{element.monthIsPerform?null:element.singleRoomLate}}
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <!-- {{getTotal('singleRoomLate')}} -->
                </td>
            </ng-container>
            <ng-container matColumnDef="doubleRoomLate">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" i18n="@@doubleRoom">
                    Double Room
                </th>
                <td mat-cell *matCellDef="let element; let index= dataIndex;"
                    [attr.rowspan]=" aircraftTypeSpan[(element.period+'_'+element.aircraftType)].count"
                    [style.display]="aircraftTypeSpan[(element.period+'_'+element.aircraftType)].firstIndex === index?'':'none'"
                    class="text-right">
                    {{element.monthIsPerform?null:element.doubleRoomLate}}
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <!-- {{getTotal('doubleRoomLate')}} -->
                </td>
            </ng-container>
            <ng-container matColumnDef="singleRoomLateReserved">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center wrap-text"
                    i18n="@@singleRoomReserved">
                    Buffer rate <br /> (for single-gender)
                </th>
                <td mat-cell *matCellDef="let element; let index = dataIndex;"
                    [attr.rowspan]="aircraftTypeSpan[(element.period+'_'+element.aircraftType)].count"
                    [style.display]="aircraftTypeSpan[(element.period+'_'+element.aircraftType)].firstIndex === index?'':'none'"
                    class="text-right">
                    {{element.monthIsPerform?null:element.singleRoomLateReserved}}
                </td>
                <td mat-footer-cell *matFooterCellDef class="text-right">
                    <!-- {{getTotal('singleRoomLateReserved')}} -->
                </td>
            </ng-container>

            <!-- Tổng số phòng -->
            <ng-container matColumnDef="totalRoom">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" [attr.colspan]=2
                    i18n="@@totalNumberOfRooms">
                    Total Number of Rooms
                </th>
            </ng-container>
            <ng-container matColumnDef="totalSingleRoom">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" i18n="@@singleRoom">
                    Single Room
                </th>
                <td mat-cell *matCellDef="let element; let index = dataIndex;"
                    [attr.rowspan]="periodsSpan[element.period].count" class="text-right"
                    [style.display]="periodsSpan[element.period].firstIndex === index?'':'none'">
                    {{getTotalByGroup(element,'totalSingleRoom','totalSingleRoomGroup') | number}}
                    <!-- {{element.totalSingleRoom}} -->
                </td>
                <td mat-footer-cell *matFooterCellDef class="text-right">
                    {{getTotal('totalSingleRoom')}}
                </td>
            </ng-container>
            <ng-container matColumnDef="totalDoubleRoom">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" i18n="@@doubleRoom">
                    Double Room
                </th>
                <td mat-cell *matCellDef="let element; let index = dataIndex;"
                    [attr.rowspan]="periodsSpan[element.period].count" class="text-right"
                    [style.display]="periodsSpan[element.period].firstIndex === index?'':'none'">
                    {{getTotalByGroup(element,'totalDoubleRoom','totalDoubleRoomGroup') | number}}
                </td>
                <td mat-footer-cell *matFooterCellDef class="text-right">
                    {{getTotal('totalDoubleRoom')}}
                </td>
            </ng-container>



            <ng-container matColumnDef="totalAmountForeignTransport">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center wrap-text"
                    [attr.rowspan]=2 i18n="@@totalCostOfCrewTransport">
                    Total Cost of Crew Transport <br /> (Foreign Currency)
                </th>
                <td mat-cell *matCellDef="let element; let index = dataIndex;"
                    [attr.rowspan]="aircraftTypeSpan[(element.period+'_'+element.aircraftType)].count"
                    [style.display]="aircraftTypeSpan[(element.period+'_'+element.aircraftType)].firstIndex === index?'':'none'"
                    class="text-right">
                    <!-- {{element.totalAmountForeignTransportGroup|number}} -->
                    {{getTotalByGroup(element,'totalAmountForeignTransVat','totalAmountForeignTransVatGroup') |
                    number}}
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <!-- {{getTotal('totalAmountForeignTransport') | number}} -->
                </td>
            </ng-container>

            <ng-container matColumnDef="totalAmountForeignColspan">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center wrap-text"
                    [attr.colspan]=2 i18n="@@totalCostForeignCurrency">
                    Total Cost <br /> (Foreign Currency)
                </th>
            </ng-container>
            <ng-container matColumnDef="totalAmountForeign">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center wrap-text"
                    i18n="@@excludingVat">
                    Excluding VAT
                </th>
                <td mat-cell *matCellDef="let element; let index = dataIndex;"
                    [attr.rowspan]="periodsSpan[element.period].count" class="text-right"
                    [style.display]="periodsSpan[element.period].firstIndex === index ?'':'none'">
                    {{round(getTotalByGroup(element,'totalAmountForeign','totalAmountForeignGroup')) | number}}
                </td>
                <td mat-footer-cell *matFooterCellDef class="text-right">
                    {{getTotal('totalAmountForeign') | number}}
                </td>
            </ng-container>
            <ng-container matColumnDef="totalAmountForeignVat">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center wrap-text"
                    i18n="@@includingVat">
                    Including VAT
                </th>
                <td mat-cell *matCellDef="let element; let index = dataIndex;"
                    [attr.rowspan]="periodsSpan[element.period].count" class="text-right"
                    [style.display]="periodsSpan[element.period].firstIndex === index ?'':'none'">
                    <!-- {{element.totalAmountForeignVatGroup | number}} -->
                    {{round(getTotalByGroup(element,'totalAmountForeignVat','totalAmountForeignVatGroup')) | number}}
                </td>
                <td mat-footer-cell *matFooterCellDef class="text-right">{{getTotal('totalAmountForeignVat') | number}}
                </td>
            </ng-container>


            <ng-container matColumnDef="totalAmountColspan">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" [attr.colspan]=2
                    i18n="@@totalAmountVnd">
                    Total Amount (VND)
                </th>
            </ng-container>
            <ng-container matColumnDef="totalAmount">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" i18n="@@excludingVat">
                    Excluding VAT
                </th>
                <td mat-cell *matCellDef="let element; let index = dataIndex;"
                    [attr.rowspan]="periodsSpan[element.period].count" class="text-right"
                    [style.display]="periodsSpan[element.period].firstIndex === index ?'':'none'">
                    {{round(getTotalByGroup(element,'totalAmount','totalAmountGroup')) | number}}
                </td>
                <td mat-footer-cell *matFooterCellDef class="text-right">{{getTotal('totalAmount') | number}}</td>
            </ng-container>
            <ng-container matColumnDef="totalAmountVat">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold text-center" i18n="@@includingVat">
                    Including VAT
                </th>
                <td mat-cell *matCellDef="let element; let index = dataIndex;"
                    [attr.rowspan]="periodsSpan[element.period].count" class="text-right"
                    [style.display]="periodsSpan[element.period].firstIndex === index ?'':'none'">
                    {{round(getTotalByGroup(element,'totalAmountVat','totalAmountVatGroup')) | number}}
                </td>

                <td mat-footer-cell *matFooterCellDef class="fw-bold text-right">
                    {{getTotal('totalAmountVat') | number}}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="headerRowDef1; sticky:true"></tr>
            <tr mat-header-row *matHeaderRowDef="headerRowDef2; sticky:true" class="second-row"></tr>
            <tr mat-row *matRowDef="let row; columns: rowDef;"></tr>
            <tr mat-footer-row *matFooterRowDef="rowDef; sticky: true"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" colspan="99">No data!</td>
            </tr>
        </table>
    </div>
</div>