<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
  <h5 class="mb-0" i18n>
    Functions
  </h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
    <li class="breadcrumb-item d-inline-block position-relative">
      <a class="d-inline-block position-relative" routerLink="/">
        <i class="material-symbols-outlined">
          home
        </i>
        Dashboard
      </a>
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n>
      Functions
    </li>
  </ol>
</div>
<!-- Content -->
<mat-card class="scroll tables-of-content-card mb-25 border-radius d-block bg-white border-0 shadow-none d-table">
  <mat-card-header>
    <mat-card-title>
    </mat-card-title>
    <mat-card-subtitle>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="basic-table table-responsive">
      <table [dataSource]="listFunction" mat-table multiTemplateDataRows="true">
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Functions</th>
          <td *matCellDef="let element" class="fw-semibold" mat-cell>{{ element.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="label">
          <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Label Name</th>
          <td *matCellDef="let element" class="fw-semibold" mat-cell>{{ element.label }}
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td *matCellDef="let element" [attr.colspan]="3" mat-cell>
            <table [dataSource]="element.child" mat-table>
              <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
                <td *matCellDef="let element" mat-cell>{{ element.name }}
                </td>
              </ng-container>
              <ng-container matColumnDef="alias">
                <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
                <td *matCellDef="let element" mat-cell>
                  <input [(ngModel)]="element.alias" i18n-placeholder matInput placeholder="Input code" required>
               <!--   @if (!!formGroupDetail.controls['code'].hasError('required')) {
                    <mat-error><span i18n>Code</span><span i18n> not empty</span></mat-error>
                  }-->
                </td>
              </ng-container>
              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th *matHeaderCellDef class="text-end" i18n mat-header-cell>
                  Action
                </th>
                <td *matCellDef="let element;let i = dataIndex" mat-cell>
                  <div class="action-buttons d-flex align-items-center justify-content-end">
                    <a mat-button type="button">

                    </a>
                    <a (click)="showDialogDetail(i,'index')" mat-button type="button">
                      <i class="material-symbols-outlined" i18n-title title="Edit">
                        edit
                      </i>
                    </a>
                    <a (click)="showConfirmDelete(element.id)" i18n-title mat-button type="button">
                      <i class="material-symbols-outlined" title="Delete">
                        delete
                      </i>
                    </a>
                  </div>
                </td>
              </ng-container>
              <tr *matRowDef="let row; columns: ['name','alias','action'];" mat-row></tr>
            </table>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="['name','label']" mat-header-row></tr>
        <tr *matRowDef="let row; columns: ['name','label'];" mat-row></tr>
        <tr *matRowDef="let row; columns: ['expandedDetail']" mat-row></tr>

      </table>
    </div>
  </mat-card-content>
</mat-card>
