<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
  <h5 class="mb-0" i18n>
    Functions
  </h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@system">
      System
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@roleAndAccount">
      Role and Account
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n="@@functions">
      Functions
    </li>
  </ol>
</div>
<!-- Content -->
<mat-card class="scroll tables-of-content-card mb-25 border-radius d-block bg-white border-0 shadow-none d-table">
  <mat-card-header>
    <mat-card-title>
    </mat-card-title>
    <mat-card-subtitle>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="basic-table table-responsive">
      <table [dataSource]="listFunction" mat-table multiTemplateDataRows="true">
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Functions</th>
          <td *matCellDef="let element" class="fw-semibold" mat-cell>{{ element.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="label">
          <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Label Name</th>
          <td *matCellDef="let element" class="fw-semibold" mat-cell>{{ element.label }}
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td *matCellDef="let element" [attr.colspan]="3" mat-cell>
            <table [dataSource]="element.child" mat-table>
              <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
                <td *matCellDef="let element" mat-cell>{{ element.name }}
                </td>
              </ng-container>
              <ng-container matColumnDef="alias">
                <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
                <td *matCellDef="let element" mat-cell sizeInput="sm">
                  <mat-form-field>
                    <input [(ngModel)]="element.alias" i18n-placeholder matInput placeholder="Alias Name" required>
                    <mat-hint align="end">{{element.alias?.length}} / 250</mat-hint>
                    @if (!element.alias) {
                    <mat-error><span i18n>Alias</span><span i18n> not empty</span></mat-error>
                    }
                  </mat-form-field>
                </td>
              </ng-container>
              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th *matHeaderCellDef class="text-end" i18n mat-header-cell>
                  Action
                </th>
                <td *matCellDef="let element;let i = dataIndex" mat-cell>
                  <div class="action-buttons d-flex align-items-center justify-content-center">
                    <a (click)="_showDialogDetail(element)" mat-button type="button">
                      <i class="material-symbols-outlined" i18n-title style="font-size: 30px" title="Save">
                        save
                      </i>
                    </a>
                  </div>
                </td>
              </ng-container>
              <tr *matRowDef="let row; columns: ['name','alias','action'];" mat-row></tr>
            </table>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="['name','label']" mat-header-row></tr>
        <tr *matRowDef="let row; columns: ['name','label'];" mat-row></tr>
        <tr *matRowDef="let row; columns: ['expandedDetail']" mat-row></tr>

      </table>
    </div>
  </mat-card-content>
</mat-card>

<!-- Save confirm Popup -->
<div
  [class.active]="showDialogCreate"
  class="add-new-popup"
>
  <div class="popup-dialog">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none container">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0">
            <span i18n>Confirm Save</span>
          </h5>
        </mat-card-title>
        <mat-card-subtitle>
          <button
            (click)="closeDetail()"
            mat-button
          >
            <i class="ri-close-fill"></i>
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="btn-box">
          <button (click)="closeDetail()" color="warn" i18n mat-button type="button">
            <i class="material-symbols-outlined">
              close
            </i>
            Cancel
          </button>
          <button
            (click)="save()"
            color="primary"
            i18n mat-button
          >
            <i class="material-symbols-outlined">
              save
            </i>
            Confirm
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
