<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
    <div class="d-md-flex align-items-center">
        <h5 class="mb-0 d-inline ml-10">
            <h5 class="mb-0 ml-10">
                <span i18n>Detailed Statement</span>
            </h5>
        </h5>

    </div>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a class="d-inline-block position-relative" routerLink="/">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative" i18n>
            Detailed Statement
        </li>
        <li class="breadcrumb-item d-inline-block position-relative" i18n>
            Detail
        </li>
    </ol>
</div>
<div (scroll)="onScroll()" [ngClass]="isSticky ? 'fixed' : 'notfixed'" class="w-100 text-end mb-10">
    <button (click)="goBack()" class="step-2-menu-button btn-slot-3" extended i18n mat-fab>
        <i class="material-symbols-outlined">
            undo
        </i>
        Back
    </button>
</div>
<mat-accordion multi>
    <mat-expansion-panel [expanded]="expandList.has('tab1')">
        <mat-expansion-panel-header i18n>
            <div (click)="$event.stopPropagation();" class="title-no-event">1. General information</div>
        </mat-expansion-panel-header>
        <mat-panel-description>
            <form [formGroup]="formGroupDetail" autocomplete="off" class="w-100">
                <!--        dong1-->
                <div class="row">
                    <div class="col-3" sizeInput='sm'>
                        <mat-form-field>
                            <mat-label i18n>Airport code</mat-label>
                            <input formControlName="airportCode" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-3" sizeInput='sm'>
                        <mat-form-field>
                            <mat-label i18n>Invoice number</mat-label>
                            <input formControlName="invoiceNumber" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-3" sizeInput='sm'>
                        <mat-form-field>
                            <mat-label i18n>Invoice date</mat-label>
                            <input [value]="formGroupDetail.getRawValue().invoiceDate | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT]"
                                   formControlName="invoiceDate"
                                   matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-3" sizeInput='sm'>
                        <mat-form-field>
                            <mat-label i18n>Invoice receive date</mat-label>
                            <input [value]="formGroupDetail.getRawValue().invoiceReceiveDate | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT]"
                                   formControlName="invoiceReceiveDate" matInput>
                        </mat-form-field>
                    </div>
                </div>
                <!--        dong2-->
                <div class="row mt-20">
                    <div class="col-3" sizeInput='sm'>
                        <mat-form-field>
                            <mat-label i18n>Period From</mat-label>
                            <input [value]="formGroupDetail.getRawValue().periodFrom | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT]"
                                   formControlName="periodFrom"
                                   matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-3" sizeInput='sm'>
                        <mat-form-field>
                            <mat-label i18n>Period To</mat-label>
                            <input [value]="formGroupDetail.getRawValue().periodTo | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT]"
                                   formControlName="periodTo"
                                   matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-3" sizeInput='sm'>
                        <mat-form-field>
                            <mat-label i18n>BizDocId</mat-label>
                            <input formControlName="bizDocId" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-3" sizeInput='sm'>
                        <mat-form-field>
                            <mat-label i18n>Partner Type</mat-label>
                            <input formControlName="partnerType" matInput>
                        </mat-form-field>
                    </div>
                </div>
                <!--        dong3-->
                <div class="row mt-20">
                    <div class="col-3" sizeInput='sm'>
                        <mat-form-field>
                            <mat-label i18n>Partner Code</mat-label>
                            <input formControlName="partnerCode" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-3" sizeInput='sm'>
                        <mat-form-field>
                            <mat-label i18n>Partner Name</mat-label>
                            <input formControlName="partnerName" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-3" sizeInput='sm'>
                        <mat-form-field>
                            <mat-label i18n>Total amount</mat-label>
                            <input [value]="formGroupDetail.getRawValue().totalAmount | dataTransformPipe:[Constant.NUMBER]"
                                   formControlName="totalAmount"
                                   matInput type="text">
                        </mat-form-field>
                    </div>
                    <div class="col-3" sizeInput='sm'>
                        <mat-form-field>
                            <mat-label i18n>Total amount VAT</mat-label>
                            <input [value]="formGroupDetail.getRawValue().totalAmountVat | dataTransformPipe:[Constant.NUMBER]"
                                   formControlName="totalAmountVat"
                                   matInput>
                        </mat-form-field>
                    </div>
                </div>
                <!--        dong4-->
                <div class="row mt-20">
                  <table [dataSource]="formGroupDetail.getRawValue().fileAttachments" class="table-light" mat-table>
                    <ng-container matColumnDef="stt">
                      <th *matHeaderCellDef class="text-center" mat-header-cell mat-sort-header>#</th>
                      <td *matCellDef="let element; let i = index" class="text-center"
                          mat-cell>{{ (pageIndex * pageSize) + i + 1 }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="fileName">
                      <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>File Name</th>
                      <td *matCellDef="let element" mat-cell>
                        <a (click)="true" [href]="environment.baseUrl+element.fileUrl"
                           class="d-flex align-items-center justify-content-between position-relative"
                           style="color: rgba(0,0,255,0.7); text-decoration: underline; cursor: pointer;">
                          {{ element.fileName }}
                        </a>
                      </td>
                    </ng-container>
                    <tr *matHeaderRowDef="['stt','documentType','fileName','action']" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: ['stt','documentType','fileName','action']" mat-row></tr>
                  </table>
                </div>
                <!--        dong5-->
                <div class="row mt-20">
                </div>
            </form>
        </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="expandList.has('tab2')">
        <mat-expansion-panel-header i18n>
            <div (click)="$event.stopPropagation();" class="title-no-event">2. Detailed Statement</div>
        </mat-expansion-panel-header>
        <mat-panel-description class="d-block">
            <div class="table-responsive">
                <table [dataSource]="formGroupDetail.getRawValue().invoiceFormDtl" class="table-light table-responsive"
                       mat-table>
                    <ng-container matColumnDef="stt">
                        <th *matHeaderCellDef class="text-center" rowspan="2" mat-header-cell mat-sort-header>#</th>
                        <td *matCellDef="let element; let i = index" class="text-center"
                            mat-cell>{{ (pageIndex * pageSize) + i + 1 }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="checkin2col">
                        <th *matHeaderCellDef class="text-center " colspan="2" mat-header-cell mat-sort-header>Checkin</th>
                    </ng-container>
                    <ng-container matColumnDef="checkout2col">
                        <th *matHeaderCellDef class="text-center " colspan="2" mat-header-cell mat-sort-header>Checkout</th>
                    </ng-container>
                  <ng-container matColumnDef="checkin3col">
                        <th *matHeaderCellDef class="text-center " colspan="3" mat-header-cell mat-sort-header>Checkin</th>
                    </ng-container>
                    <ng-container matColumnDef="checkout3col">
                        <th *matHeaderCellDef class="text-center " colspan="3" mat-header-cell mat-sort-header>Checkout</th>
                    </ng-container>
                    @for (innerColumn of _displayedColumnsAll; track innerColumn.value) {
                        <ng-container matColumnDef="{{innerColumn.value}}">
                            <th mat-sort-header mat-header-cell *matHeaderCellDef class="text-center"
                                [rowSpan]="(formType===1 || formType===2)?innerColumn.rowspan:1"
                                [colSpan]=innerColumn.colspan>
                                {{ innerColumn.label }}
                            </th>
                            <td
                                    [ngClass]="{'text-center': innerColumn.value === 'activeLabel' || innerColumn.value === 'year' ,'text-right': innerColumn.value === 'totalInternational' || innerColumn.value === 'rateInternationalLast' || innerColumn.value === 'totalDomestic' || innerColumn.value === 'rateDomesticLast' || innerColumn.value === 'total'  || innerColumn.value === 'rateTotalLast'}"
                                    mat-cell *matCellDef="let element">
                <span [ngClass]="{
        'badge': innerColumn.value === 'activeLabel',
        'text-bg-label-badge': innerColumn.value === 'activeLabel' && element['active'] == 1,
        'text-soft-dark': innerColumn.value === 'activeLabel' && element['active'] == 0
        }">{{ element[innerColumn.value]|dataTransformPipe:[innerColumn.type, innerColumn.format] }}</span>
                            </td>
                        </ng-container>
                    }
                    <tr *matHeaderRowDef="_displayedColumnsHeader1" mat-header-row></tr>
                    <tr *matHeaderRowDef="_displayedColumnsHeader2" mat-header-row></tr>
                    <!--<tr *matHeaderRowDef="['stt','accessBridge']"
                        mat-header-row></tr>-->
                    <tr *matRowDef="let row; columns: _displayedColumnsRow;"
                        class="input-row" mat-row></tr>
                    <tr *matNoDataRow class="mat-row">
                        <td [attr.colspan]="_displayedColumnsRow.length" class="mat-cell border-none text-center"><span
                                i18n>No data!</span></td>
                    </tr>
                </table>
                <!--<table [dataSource]="tblUnitPrice" class="table-light table-responsive" mat-table>
                  <ng-container matColumnDef="stt">
                    <th *matHeaderCellDef class="text-center" mat-header-cell mat-sort-header>#</th>
                    <td *matCellDef="let element; let i = index" class="text-center"
                        mat-cell>{{ (pageIndex * pageSize) + i + 1 }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="fromDate">
                    <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>From Date</th>
                    <td (click)="editCellUP(element,'fromDate')" *matCellDef="let element"
                        [style.padding]="checkCellUP(element, 'fromDate')?'0px !important':''"
                        mat-cell
                    >
                      @if (checkCellUP(element, 'fromDate')) {
                      <div class="input-cell">
                        <mat-form-field
                          class="edit-inline-table">
                          <input #inputRef="ngModel" trim="blur" [matDatepicker]="fromDateUP" [(ngModel)]="element.fromDate"
                                 (clickOutside)="readCellUP(element,'fromDate')"
                                 matInput required>
                          <mat-datepicker-toggle [for]="fromDateUP" matIconSuffix></mat-datepicker-toggle>
                          <mat-datepicker #fromDateUP></mat-datepicker>
                          <mat-error>{{ validField(element, 'fromDate', inputRef) }}</mat-error>
                          </mat-form-field>
                        </div>
                      } @else {
                      <span class="label-text">
                      {{ element.fromDate ? (element.fromDate | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT]) : '' }}
                      </span>
                      }
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="toDate">
                    <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>To Date</th>
                    <td (click)="editCellUP(element,'toDate')" *matCellDef="let element"
                        [style.padding]="checkCellUP(element, 'toDate')?'0px !important':''"
                        mat-cell
                    >
                      @if (checkCellUP(element, 'toDate')) {
                      <div class="input-cell">
                        <mat-form-field
                          class="edit-inline-table">
                          <input #inputRef="ngModel" trim="blur" [matDatepicker]="toDateUP" [(ngModel)]="element.toDate"
                                 (clickOutside)="readCellUP(element,'toDate')"
                                 matInput required>
                          <mat-datepicker-toggle [for]="toDateUP" matIconSuffix></mat-datepicker-toggle>
                          <mat-datepicker #toDateUP></mat-datepicker>
                          <mat-error>{{ validField(element, 'toDate', inputRef) }}</mat-error>
                          </mat-form-field>
                        </div>
                      } @else {
                      <span class="label-text">
                      {{ element.toDate ? (element.toDate| dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT]) : '' }}
                      </span>
                      }
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="serviceFeeCode">
                    <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Service Fee Code</th>
                    <td (click)="editCellUP(element,'serviceFeeCode')" *matCellDef="let element"
                        [style.padding]="checkCellUP(element, 'type')?'0px !important':''"
                        mat-cell>
                      <div class="input-cell">
                        <mat-form-field class="edit-inline-table">
                          <mat-select #inputRef="ngModel" [(ngModel)]="element.serviceFeeCode" required (ngModelChange)="onChangeHHDV(element)">
                            <mat-option *ngFor="let option of listHHDV" [value]="option.code">
                              {{ option.code }}
                            </mat-option>
                          </mat-select>
                          <mat-error>{{ validField(element, 'serviceFeeCode', inputRef) }}</mat-error>
                        </mat-form-field>
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="serviceFeeName">
                    <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Tên HHDV</th>
                    <td *matCellDef="let element" mat-cell>
                        <span class="label-text">
                    {{ element.serviceFeeName }}
                    </span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="serviceFeeUnit">
                    <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Đơn vị tính</th>
                    <td *matCellDef="let element" mat-cell>
                        <span class="label-text">
                    {{ element.serviceFeeUnit }}
                    </span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="codeNghiepVu">
                    <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Mã nghiệp vụ</th>
                    <td (click)="editCellUP(element,'codeNghiepVu')" *matCellDef="let element"
                        [style.padding]="checkCellUP(element, 'type')?'0px !important':''"
                        mat-cell
                    >
                      @if (checkCellUP(element, 'codeNghiepVu')) {
                      <div class="input-cell">
                        <mat-form-field
                          class="edit-inline-table">
                          <input trim="blur" [(ngModel)]="element.codeNghiepVu" matInput required
                                 (clickOutside)="readCellUP(element,'codeNghiepVu')">
                        </mat-form-field>
                      </div>
                      } @else {
                      <span class="label-text">
                      {{ element.codeNghiepVu }}
                      </span>
                      }
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="codeKHNS">
                    <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Khoản mục KHNS</th>
                    <td (click)="editCellUP(element,'codeKHNS')" *matCellDef="let element"
                        [style.padding]="checkCellUP(element, 'type')?'0px !important':''"
                        mat-cell
                    >
                      @if (checkCellUP(element, 'codeKHNS')) {
                      <div class="input-cell">
                        <mat-form-field
                          class="edit-inline-table">
                          <input trim="blur" [(ngModel)]="element.codeKHNS" matInput required
                                 (clickOutside)="readCellUP(element,'codeKHNS')">
                        </mat-form-field>
                      </div>
                      } @else {
                      <span class="label-text">
                      {{ element.codeKHNS }}
                      </span>
                      }
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="priceBeforeTax">
                    <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Price Before Tax</th>
                    <td (click)="editCellUP(element,'priceBeforeTax')" *matCellDef="let element"
                        [style.padding]="checkCellUP(element, 'type')?'0px !important':''"
                        mat-cell
                    >
                      @if (checkCellUP(element, 'priceBeforeTax')) {
                      <div class="input-cell">
                        <mat-form-field
                          class="edit-inline-table">
                          <input trim="blur" [(ngModel)]="element.priceBeforeTax" matInput required
                                 (clickOutside)="readCellUP(element,'priceBeforeTax')">
                        </mat-form-field>
                      </div>
                      } @else {
                      <span class="label-text">
                      {{ element.priceBeforeTax }}
                      </span>
                      }
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="taxCode">
                    <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Tax Code</th>
                    <td (click)="editCellUP(element,'taxCode')" *matCellDef="let element"
                        [style.padding]="checkCellUP(element, 'type')?'0px !important':''"
                        mat-cell
                    >
                      @if (checkCellUP(element, 'taxCode')) {
                      <div class="input-cell">
                        <mat-form-field
                          class="edit-inline-table">
                          <input trim="blur" [(ngModel)]="element.taxCode" matInput required
                                 (clickOutside)="readCellUP(element,'taxCode')">
                        </mat-form-field>
                      </div>
                      } @else {
                      <span class="label-text">
                      {{ element.taxCode }}
                      </span>
                      }
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="taxRate">
                    <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Tax Rate</th>
                    <td (click)="editCellUP(element,'taxRate')" *matCellDef="let element"
                        [style.padding]="checkCellUP(element, 'type')?'0px !important':''"
                        mat-cell
                    >
                      @if (checkCellUP(element, 'taxRate')) {
                      <div class="input-cell">
                        <mat-form-field
                          class="edit-inline-table">
                          <input trim="blur" [(ngModel)]="element.taxRate" matInput required
                                 (clickOutside)="readCellUP(element,'taxRate')">
                        </mat-form-field>
                      </div>
                      } @else {
                      <span class="label-text">
                      {{ element.taxRate }}
                      </span>
                      }
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="totalVatTax">
                    <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Total Vat Tax</th>
                    <td (click)="editCellUP(element,'totalVatTax')" *matCellDef="let element"
                        [style.padding]="checkCellUP(element, 'type')?'0px !important':''"
                        mat-cell
                    >
                      @if (checkCellUP(element, 'totalVatTax')) {
                      <div class="input-cell">
                        <mat-form-field
                          class="edit-inline-table">
                          <input trim="blur" [(ngModel)]="element.totalVatTax" matInput required
                                 (clickOutside)="readCellUP(element,'totalVatTax')">
                        </mat-form-field>
                      </div>
                      } @else {
                      <span class="label-text">
                      {{ element.totalVatTax }}
                      </span>
                      }
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="priceAfterTax">
                    <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Price After Tax</th>
                    <td (click)="editCellUP(element,'priceAfterTax')" *matCellDef="let element"
                        [style.padding]="checkCellUP(element, 'type')?'0px !important':''"
                        mat-cell
                    >
                      @if (checkCellUP(element, 'priceAfterTax')) {
                      <div class="input-cell">
                        <mat-form-field
                          class="edit-inline-table">
                          <input trim="blur" [(ngModel)]="element.priceAfterTax" matInput required
                                 (clickOutside)="readCellUP(element,'priceAfterTax')">
                        </mat-form-field>
                      </div>
                      } @else {
                      <span class="label-text">
                      {{ element.priceAfterTax }}
                      </span>
                      }
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="notes">
                    <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Note</th>
                    <td (click)="editCellUP(element,'notes')" *matCellDef="let element"
                        [style.padding]="checkCellUP(element, 'type')?'0px !important':''"
                        mat-cell
                    >
                      @if (checkCellUP(element, 'notes')) {
                      <div class="input-cell">
                        <mat-form-field
                          class="edit-inline-table">
                          <input trim="blur" [(ngModel)]="element.notes" matInput required
                                 (clickOutside)="readCellUP(element,'notes')">
                        </mat-form-field>
                      </div>
                      } @else {
                      <span class="label-text">
                      {{ element.notes }}
                      </span>
                      }
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="action" stickyEnd>
                    <th *matHeaderCellDef class="text-end" i18n mat-header-cell>
                      Action
                    </th>
                    <td *matCellDef="let element;let i = dataIndex" mat-cell>
                      <div class="action-buttons align-items-center text-center">
                        <a (click)="_confirmDelete(element,'tbl5','Are you sure you want to delete?')" *ngIf="!readMode"
                           class="text-danger"
                           mat-button type="button">
                          <i class="material-symbols-outlined" i18n-title title="Delete">
                            delete
                          </i>
                        </a>
                      </div>
                    </td>
                  </ng-container>
                  <tr
                    *matHeaderRowDef="['stt','fromDate','toDate','serviceFeeCode','serviceFeeName','serviceFeeUnit','codeNghiepVu','codeKHNS','priceBeforeTax','taxCode','taxRate','totalVatTax','priceAfterTax','notes','action']"
                    mat-header-row></tr>
                  <tr
                    *matRowDef="let row; columns: ['stt','fromDate','toDate','serviceFeeCode','serviceFeeName','serviceFeeUnit','codeNghiepVu','codeKHNS','priceBeforeTax','taxCode','taxRate','totalVatTax','priceAfterTax','notes','action'];"
                    class="input-row" mat-row></tr>
                  <tr *matNoDataRow class="mat-row">
                    <td [attr.colspan]="13" class="mat-cell border-none text-center"><span
                      i18n>No data!</span></td>
                  </tr>
                </table>-->
            </div>
        </mat-panel-description>
    </mat-expansion-panel>

</mat-accordion>

