<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
  <div class="d-md-flex align-items-center">
    <h5 class="mb-0 d-inline ml-10">
        <h5 class="mb-0 ml-10">
          <span i18n>Detailed Statement</span>
        </h5>
    </h5>

  </div>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
    <li class="breadcrumb-item d-inline-block position-relative">
      <a class="d-inline-block position-relative" routerLink="/">
        <i class="material-symbols-outlined">
          home
        </i>
        Dashboard
      </a>
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n>
      Detailed Statement
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n>
      Detail
    </li>
  </ol>
</div>
<div (scroll)="onScroll()" [ngClass]="isSticky ? 'fixed' : 'notfixed'" class="w-100 text-end mb-10">
  <button (click)="goBack()" class="step-2-menu-button btn-slot-3" extended i18n mat-fab>
    <i class="material-symbols-outlined">
      undo
    </i>
    Back
  </button>
</div>
<mat-card class="mb-10 border-radius d-block bg-white border-0 p-10">
  <mat-card-content>
    <form [formGroup]="formGroupDetail" autocomplete="off" class="w-100">
      <!--        dong1-->
      <div class="row">
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Contract number</mat-label>
            <input formControlName="contractCode" matInput required trim="blur">
            @if (!!formGroupDetail.controls['contractCode'].hasError('required')) {
              <mat-error><span i18n>Contract number</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Contract No</mat-label>
            <input formControlName="contractNo" matInput required trim="blur">
            @if (!!formGroupDetail.controls['contractNo'].hasError('required')) {
              <mat-error><span i18n>Contract No</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-4" sizeInput='sm'>
          <div class="row">
            <div class="col-6" sizeInput='sm'>
              <mat-form-field>
                <mat-label i18n>Currency</mat-label>
                <input formControlName="currency" matInput required trim="blur">
                @if (!!formGroupDetail.controls['currency'].hasError('required')) {
                  <mat-error><span i18n>Currency</span><span i18n> not empty</span></mat-error>
                }
              </mat-form-field>
            </div>
            <div class="col-6" sizeInput='sm'>
              <mat-form-field>
                <mat-label i18n>Exchange rate</mat-label>
                <input formControlName="exchangeRate" matInput min="0" trim="blur" type="number">
                @if (!!formGroupDetail.controls['exchangeRate'].hasError('required')) {
                  <mat-error><span i18n>Exchange rate</span><span i18n> not empty</span></mat-error>
                }
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <!--        dong2-->
      <div class="row mt-20">
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Sign date</mat-label>
            <input [matDatepicker]="signedDate" formControlName="signedDate" matInput required
                   trim="blur">
            <mat-datepicker-toggle [for]="signedDate" matIconSuffix></mat-datepicker-toggle>
            <mat-datepicker #signedDate></mat-datepicker>
            @if (!!formGroupDetail.controls['signedDate'].hasError('required')) {
              <mat-error><span i18n>Sign date</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-4" sizeInput='sm'>
          <div class="row">
            <div class="col-6" sizeInput='sm'>
              <mat-form-field>
                <mat-label i18n>Effective date</mat-label>
                <input [matDatepicker]="effectiveDate" formControlName="effectiveDate" matInput
                       required trim="blur">
                <mat-datepicker-toggle [for]="effectiveDate" matIconSuffix></mat-datepicker-toggle>
                <mat-datepicker #effectiveDate></mat-datepicker>
                @if (!!formGroupDetail.controls['effectiveDate'].hasError('required')) {
                  <mat-error><span i18n>Effective date</span><span i18n> not empty</span></mat-error>
                }
              </mat-form-field>
            </div>
            <div class="col-6" sizeInput='sm'>
              <mat-form-field>
                <mat-label i18n>Expiry date</mat-label>
                <input [matDatepicker]="expiryDate" formControlName="expiryDate" matInput requiredt
                       trim="blur">
                <mat-datepicker-toggle [for]="expiryDate" matIconSuffix></mat-datepicker-toggle>
                <mat-datepicker #expiryDate></mat-datepicker>
                @if (!!formGroupDetail.controls['expiryDate'].hasError('required')) {
                  <mat-error><span i18n>Expiry date</span><span i18n> not empty</span></mat-error>
                }
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Contract type</mat-label>
            <mat-select formControlName="contractType" required>
              <mat-option *ngFor="let option of listContractType" [value]="option.key">
                {{ option.value }}
              </mat-option>
            </mat-select>
            @if (!!formGroupDetail.controls['contractType'].hasError('required')) {
              <mat-error><span i18n>Contract type</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <!--        dong3-->
      <div class="row mt-20">
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Contract form</mat-label>
            <mat-select formControlName="contractForm" required>
              <mat-option *ngFor="let option of listContractForm" [value]="option.key">
                {{ option.value }}
              </mat-option>
            </mat-select>
            @if (!!formGroupDetail.controls['contractForm'].hasError('required')) {
              <mat-error><span i18n>Contract form</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Original Contract No</mat-label>
            <input formControlName="hdPlRoot" matInput trim="blur">
            @if (!!formGroupDetail.controls['hdPlRoot'].hasError('required')) {
              <mat-error><span i18n>Original Contract No</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Contract name</mat-label>
            <input formControlName="contractName" matInput required trim="blur">
            @if (!!formGroupDetail.controls['contractName'].hasError('required')) {
              <mat-error><span i18n>Contract name</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <!--        dong4-->
      <div class="row mt-20">
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Supplier ID</mat-label>
            <input (ngModelChange)="partnerChangeDebounce($event);this.partnerChangeBrake=false;"
                   formControlName="partnerCode" matInput required trim="blur">
            @if (!!formGroupDetail.controls['partnerCode'].hasError('required')) {
              <mat-error><span i18n>Supplier ID</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Supplier name</mat-label>
            <input formControlName="partnerName" matInput required trim="blur">
            @if (!!formGroupDetail.controls['partnerName'].hasError('required')) {
              <mat-error><span i18n>Supplier name</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Supplier address</mat-label>
            <input formControlName="partnerAddress" matInput trim="blur">
            @if (!!formGroupDetail.controls['partnerAddress'].hasError('required')) {
              <mat-error><span i18n>Supplier address</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <!--        dong5-->
      <div class="row mt-20">
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Contract authority</mat-label>
            <mat-select formControlName="negotiateCompetence" required>
              <mat-option *ngFor="let option of listNegotiateCompetence" [value]="option.key">
                {{ option.value }}
              </mat-option>
            </mat-select>
            @if (!!formGroupDetail.controls['negotiateCompetence'].hasError('required')) {
              <mat-error><span i18n>Contract authority</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Signatory authority</mat-label>
            <mat-select formControlName="competence" required>
              <mat-option *ngFor="let option of listCompetence" [value]="option.key">
                {{ option.value }}
              </mat-option>
            </mat-select>
            @if (!!formGroupDetail.controls['competence'].hasError('required')) {
              <mat-error><span i18n>Signatory authority</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Representative</mat-label>
            <input formControlName="employeeSigned" matInput required trim="blur">
            @if (!!formGroupDetail.controls['employeeSigned'].hasError('required')) {
              <mat-error><span i18n>Representative</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <!--        dong6-->
      <div class="row mt-20">
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Sign department</mat-label>
            <input formControlName="signedDepartmentName" matInput required trim="blur">
            @if (!!formGroupDetail.controls['signedDepartmentName'].hasError('required')) {
              <mat-error><span i18n>Sign department</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Budget Management Unit</mat-label>
            <input formControlName="budgetDepartmentName" matInput required trim="blur">
            @if (!!formGroupDetail.controls['budgetDepartmentName'].hasError('required')) {
              <mat-error><span i18n>Budget Management Unit</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Proceed department</mat-label>
            <input formControlName="proceedDepartmentName" matInput required trim="blur">
            @if (!!formGroupDetail.controls['proceedDepartmentName'].hasError('required')) {
              <mat-error><span i18n>Proceed department</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <!--        dong7-->
      <div class="row mt-20">
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Payment unit</mat-label>
            <input formControlName="paidDepartmentName" matInput required trim="blur">
            @if (!!formGroupDetail.controls['paidDepartmentName'].hasError('required')) {
              <mat-error><span i18n>Payment unit</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Method Payments</mat-label>
            <input formControlName="paymentType" matInput trim="blur">
            @if (!!formGroupDetail.controls['paymentType'].hasError('required')) {
              <mat-error><span i18n>Method Payments</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Employee</mat-label>
            <input formControlName="employeeId" matInput trim="blur">
            @if (!!formGroupDetail.controls['employeeId'].hasError('required')) {
              <mat-error><span i18n>Employee</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <!--        dong8-->
      <div class="row mt-20">
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Budget Code</mat-label>
            <mat-select formControlName="budgetCode" required>
              <mat-option *ngFor="let option of listBudgetCode" [value]="option.key">
                {{ option.value }}
              </mat-option>
            </mat-select>
            @if (!!formGroupDetail.controls['budgetCode'].hasError('required')) {
              <mat-error><span i18n>Budget Code</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-4" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Field</mat-label>
            <mat-select formControlName="fieldCode2" required>
              <mat-option *ngFor="let option of listFieldCode2" [value]="option.key">
                {{ option.value }}
              </mat-option>
            </mat-select>
            @if (!!formGroupDetail.controls['fieldCode2'].hasError('required')) {
              <mat-error><span i18n>Field</span><span i18n> not empty</span></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-4" sizeInput='sm'>
          <div class="row">
            <div class="col-6" sizeInput='sm'>
              <mat-form-field>
                <mat-label i18n>Due Date</mat-label>
                <input formControlName="dueDateNumber" matInput trim="blur">
                @if (!!formGroupDetail.controls['dueDateNumber'].hasError('required')) {
                  <mat-error><span i18n>Due Date</span><span i18n> not empty</span></mat-error>
                }
              </mat-form-field>
            </div>
            <div class="col-6" sizeInput='sm'>
              <mat-form-field>
                <mat-label i18n>Handover Date</mat-label>
                <input [matDatepicker]="handoverDate" formControlName="handoverDate" matInput
                       required trim="blur">
                <mat-datepicker-toggle [for]="handoverDate" matIconSuffix></mat-datepicker-toggle>
                <mat-datepicker #handoverDate></mat-datepicker>
                @if (!!formGroupDetail.controls['handoverDate'].hasError('required')) {
                  <mat-error><span i18n>Handover Date</span><span i18n> not empty</span></mat-error>
                }
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
