@if (!dialogMode) {
  <div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
    <div class="d-md-flex align-items-center">
      <h5 class="mb-0 d-inline ml-10">
        <h5 class="mb-0 ml-10">
          <span i18n>Detailed Statement</span>
        </h5>
      </h5>

    </div>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
      <li class="breadcrumb-item d-inline-block position-relative" i18n>
        Detailed Statement
      </li>
      <li class="breadcrumb-item d-inline-block position-relative" i18n>
        Detail
      </li>
    </ol>
  </div>
  <div (scroll)="onScroll()" [ngClass]="isSticky ? 'fixed' : 'notfixed'" class="w-100 text-end mb-10">
    <button (click)="goBack()" class="step-2-menu-button btn-slot-3" extended i18n mat-fab>
      <i class="material-symbols-outlined">
        undo
      </i>
      Back
    </button>
  </div>
}
<mat-accordion multi>
  <mat-expansion-panel [expanded]="expandList.has('tab1')">
    <mat-expansion-panel-header i18n>
      <div (click)="$event.stopPropagation();" class="title-no-event">1. General information</div>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <form [formGroup]="formGroupDetail" autocomplete="off" class="w-100">
        <!--        dong1-->
        <div class="row">
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Airport code</mat-label>
              <input formControlName="airportCode" matInput>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Invoice number</mat-label>
              <input formControlName="invoiceNumber" matInput>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Invoice date</mat-label>
              <input
                  [value]="formGroupDetail.getRawValue().invoiceDate | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT]"
                  formControlName="invoiceDate"
                  matInput>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Invoice receive date</mat-label>
              <input
                  [value]="formGroupDetail.getRawValue().invoiceReceiveDate | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT]"
                  formControlName="invoiceReceiveDate" matInput>
            </mat-form-field>
          </div>
        </div>
        <!--        dong2-->
        <div class="row mt-20">
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Period From</mat-label>
              <input
                  [value]="formGroupDetail.getRawValue().periodFrom | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT]"
                  formControlName="periodFrom"
                  matInput>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Period To</mat-label>
              <input
                  [value]="formGroupDetail.getRawValue().periodTo | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT]"
                  formControlName="periodTo"
                  matInput>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>BizDocId</mat-label>
              <input formControlName="bizDocId" matInput>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Partner Type</mat-label>
              <input formControlName="partnerType" matInput>
            </mat-form-field>
          </div>
        </div>
        <!--        dong3-->
        <div class="row mt-20">
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Partner Code</mat-label>
              <input formControlName="partnerCode" matInput>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Partner Name</mat-label>
              <input formControlName="partnerName" matInput>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Total amount</mat-label>
              <input [value]="formGroupDetail.getRawValue().totalAmount | dataTransformPipe:[Constant.NUMBER]"
                     formControlName="totalAmount"
                     matInput type="text">
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Total amount VAT</mat-label>
              <input [value]="formGroupDetail.getRawValue().totalAmountVat | dataTransformPipe:[Constant.NUMBER]"
                     formControlName="totalAmountVat"
                     matInput>
            </mat-form-field>
          </div>
        </div>
        <!--        dong4-->
        @if (formGroupDetail.getRawValue().fileAttachments?.length > 0) {
          <div class="row mt-20">
            <span class="fw-bold" i18n>File Attachments</span>
            <table [dataSource]="formGroupDetail.getRawValue().fileAttachments" class="table-light" mat-table>
              <ng-container matColumnDef="stt">
                <th *matHeaderCellDef class="text-center" mat-header-cell mat-sort-header>#</th>
                <td *matCellDef="let element; let i = index" class="text-center"
                    mat-cell>{{ (pageIndex * pageSize) + i + 1 }}
                </td>
              </ng-container>
              <ng-container matColumnDef="fileName">
                <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>File Name</th>
                <td *matCellDef="let element" mat-cell>
                  <a (click)="download(element)"
                     class="d-flex align-items-center justify-content-between position-relative"
                     style="color: rgba(0,0,255,0.7); text-decoration: underline; cursor: pointer;">
                    {{ element.fileName }}
                  </a>
                </td>
              </ng-container>
              <tr *matHeaderRowDef="['stt','fileName']" mat-header-row></tr>
              <tr *matRowDef="let row; columns: ['stt','fileName']" mat-row></tr>
            </table>
          </div>
        }
      </form>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="expandList.has('tab2')">
    <mat-expansion-panel-header i18n>
      <div (click)="$event.stopPropagation();" class="title-no-event">2. Detailed Statement</div>
    </mat-expansion-panel-header>
    <mat-panel-description class="d-block">
      <div class="table-responsive">
        <table [dataSource]="formGroupDetail.getRawValue().invoiceFormDtl" class="table-light table-responsive"
               mat-table>
          <ng-container matColumnDef="stt">
            <th *matHeaderCellDef class="text-center" mat-header-cell mat-sort-header rowspan="2">#</th>
            <td *matCellDef="let element; let i = index" class="text-center"
                mat-cell>{{ (pageIndex * pageSize) + i + 1 }}
            </td>
            <td *matFooterCellDef [colSpan]="_displayedColumnsHeader2.length+1" class="text-center" mat-footer-cell>Total</td>
          </ng-container>
          <ng-container matColumnDef="checkin2col">
            <th *matHeaderCellDef class="text-center " colspan="2" mat-header-cell mat-sort-header>Checkin</th>
          </ng-container>
          <ng-container matColumnDef="checkout2col">
            <th *matHeaderCellDef class="text-center " colspan="2" mat-header-cell mat-sort-header>Checkout</th>
          </ng-container>
          <ng-container matColumnDef="checkin3col">
            <th *matHeaderCellDef class="text-center " colspan="3" mat-header-cell mat-sort-header>Checkin</th>
          </ng-container>
          <ng-container matColumnDef="checkout3col">
            <th *matHeaderCellDef class="text-center " colspan="3" mat-header-cell mat-sort-header>Checkout</th>
          </ng-container>
          @for (innerColumn of _displayedColumnsAll; track innerColumn.value) {
            <ng-container matColumnDef="{{innerColumn.value}}">
              <th mat-sort-header mat-header-cell *matHeaderCellDef class="text-center"
                  [rowSpan]="(formType===1 || formType===2)?innerColumn.rowspan:1"
                  [colSpan]=innerColumn.colspan>
                {{ innerColumn.label }}
              </th>
              <td
                  [ngClass]="{'text-right': innerColumn.type === Constant.NUMBER}"
                  mat-cell *matCellDef="let element">
                <span [ngClass]="{
          'badge': innerColumn.value === 'activeLabel',
          'text-bg-label-badge': innerColumn.value === 'activeLabel' && element['active'] == 1,
          'text-soft-dark': innerColumn.value === 'activeLabel' && element['active'] == 0
          }">{{ element[innerColumn.value]|dataTransformPipe:[innerColumn.type, innerColumn.format] }}</span>
              </td>
              <td mat-footer-cell *matFooterCellDef class="text-right">
                @if (innerColumn.type === Constant.NUMBER) {
                  <span>
                    {{ calTotal(innerColumn) | dataTransformPipe:[innerColumn.type, innerColumn.format] }}
                      </span>
                }
              </td>

            </ng-container>
          }
          <tr *matHeaderRowDef="_displayedColumnsHeader1" mat-header-row></tr>
          <tr *matHeaderRowDef="_displayedColumnsHeader2" mat-header-row></tr>
          <!--<tr *matHeaderRowDef="['stt','accessBridge']"
              mat-header-row></tr>-->
          <tr *matRowDef="let row; columns: _displayedColumnsRow;" class="input-row" mat-row></tr>
          <tr *matFooterRowDef="_displayedColumnsFooter" class="fw-bold" mat-footer-row></tr>
          <tr *matNoDataRow class="mat-row">
            <td [attr.colspan]="_displayedColumnsRow.length" class="mat-cell border-none text-center"><span
                i18n>No data!</span></td>
          </tr>
        </table>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>

</mat-accordion>

