<!-- Breadcrumb -->
<ng-container *ngIf="step==1">
  <div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
    @if (viewType == 'HD') {
      <h5 class="mb-0" i18n>
        Contract
      </h5>
    } @else {
      <div class="d-md-flex align-items-center">
        <button (click)="showListContract()" class="step-2-menu-button btn-slot-2" extended i18n mat-fab>
          <i class="material-symbols-outlined">
            undo
          </i>
          Back
        </button>
        <h5 class="mb-0 ml-10" i18n>
          Annex
        </h5>
      </div>
    }

    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
      <li class="breadcrumb-item d-inline-block position-relative" i18n="@@category">
        Category
      </li>
      <li class="breadcrumb-item d-inline-block position-relative" i18n="@@contract">
        Contract
      </li>
      @if (viewType == 'PL') {
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@contract">
          Annex
        </li>
      }
    </ol>
  </div>
  <!--Search-->
  <mat-card class="mb-15 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
      <form [formGroup]="formGroupSearch" autocomplete="off">
        <div class="row">
          <div class="col-3" sizeInput='md'>
            <mat-form-field>
              <mat-label i18n>Keyword</mat-label>
              <input formControlName="s" matInput>
              <i class="material-symbols-outlined mr-15" matSuffix>
                search
              </i>
            </mat-form-field>
          </div>
          <div class="col-2" sizeInput='md'>
            <mat-form-field>
              <mat-label i18n>Flight Market</mat-label>
              <mat-select formControlName="marketCodes" multiple>
                @for (item of listFlightMarket; track item) {
                  <mat-option [value]="item">{{ item }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='md'>
            <mat-form-field>
              <mat-label i18n>Supplier</mat-label>
              <mat-select formControlName="partnerCode" multiple>
                @for (item of listPartner; track item) {
                  <mat-option [value]="item.code">[{{ item.code }}] - {{ item.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='md'>
            <mat-form-field>
              <mat-label i18n>Contract end date</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input formControlName="startDate" matStartDate placeholder="Start date">
                <input formControlName="endDate" matEndDate placeholder="End date">
              </mat-date-range-input>
              <!--              <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>-->
              <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              @if (!!formGroupSearch.controls['startDate'].hasError('matStartDateInvalid')) {
                <mat-error>Invalid start date</mat-error>
              }
              @if (!!formGroupSearch.controls['endDate'].hasError('matEndDateInvalid')) {
                <mat-error>Invalid end date</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-1" sizeInput='md'>
            <mat-card-header class="mb-0">
              <mat-card-title clas>
                <button (click)="search()" class="search-btn" i18n mat-button>
                  <i class="material-symbols-outlined">
                    search
                  </i>
                  Search
                </button>
              </mat-card-title>
            </mat-card-header>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <!-- Content -->
  <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
      <mat-card-title>
      </mat-card-title>
      <mat-card-subtitle>
        <button (click)="showExport()" class="add-btn mr-10" i18n mat-button type="button">
          <i class="material-symbols-outlined">
            download
          </i>
          Export
        </button>
        <button (click)="syncDWH()" class="add-btn" mat-button type="button">
          <i class="material-symbols-outlined">
            sync
          </i>
          <span i18n>Synchronize</span>
        </button>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="table-responsive">
        <table [dataSource]="dataSource" class="table-light" mat-table multiTemplateDataRows="true">

          <ng-container matColumnDef="stt">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>#</th>
            <td *matCellDef="let element; let i = dataIndex" mat-cell>{{ i + 1 }}</td>
          </ng-container>
          @for (innerColumn of _displayedColumns; track innerColumn.value) {
            <ng-container matColumnDef="{{innerColumn.value}}">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>{{ innerColumn.label | titlecase }}</th>
              <td mat-cell *matCellDef="let element">
              <span [ngClass]="{
          'badge rounded-pill': innerColumn.value === 'isActiveLabel',
          'text-bg-vna': innerColumn.value === 'isActiveLabel' && element['isActive'] == 1,
          'text-bg-vna-danger': innerColumn.value === 'isActiveLabel' && element['isActive'] == 0
          }">{{
                  element[innerColumn.value]|dataTransformPipe:[innerColumn.type, innerColumn.format]
                }}</span>
              </td>
            </ng-container>
          }
          <ng-container matColumnDef="effectiveDate">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Effective Date</th>
            <td *matCellDef="let element" mat-cell>{{
                element.effectiveDate | dataTransformPipe:[Constant.DATE,
                  Constant.DATE_FORMAT]
              }}
              - {{ element.expiryDate | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT] }}
            </td>
          </ng-container>
          <ng-container matColumnDef="appendixCount">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Appendix</th>
            <td *matCellDef="let element;let i = dataIndex" mat-cell>
              <a (click)="showAnnex(i)" [matMenuTriggerFor]="listAnnex"
                 style="color: rgba(0,0,255,0.7); text-decoration: underline; cursor: pointer;">
                {{ element.appendixCount }}
              </a>
            </td>
            <mat-menu #listAnnex="matMenu" xPosition="before">
              <div class="basic-table table-responsive">
                <table [dataSource]="tblAnnexData" class="table-light" mat-table>
                  <ng-container matColumnDef="stt">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>#</th>
                    <td *matCellDef="let element; let i = index" mat-cell>{{ i + 1 }}</td>
                  </ng-container>
                  <ng-container matColumnDef="bizDocId">
                    <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>bizDocId</th>
                    <td *matCellDef="let element" mat-cell>
                      <a (click)="detail(element.bizDocId)"
                         style="color: rgba(0,0,255,0.7); text-decoration: underline; cursor: pointer;">
                        {{ element.bizDocId }}
                      </a>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="description">
                    <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Description</th>
                    <td *matCellDef="let element" mat-cell>
                      <a (click)="detail(element.bizDocId)"
                         style="color: rgba(0,0,255,0.7); text-decoration: underline; cursor: pointer;">
                        {{ element.description }}
                      </a>
                    </td>
                  </ng-container>
                  <tr *matHeaderRowDef="['stt','bizDocId','description']" mat-header-row></tr>
                  <tr *matRowDef="let row; columns: ['stt','bizDocId','description'];" mat-row></tr>
                </table>
              </div>
            </mat-menu>
          </ng-container>
          <!-- Action Column -->
          <ng-container matColumnDef="action" stickyEnd>
            <th *matHeaderCellDef class="text-end" i18n mat-header-cell>
              Action
            </th>
            <td *matCellDef="let element;let i = index" mat-cell>
              @if (viewType == 'HD') {
                <div class="action-buttons d-flex align-items-center justify-content-end">
                  <a (click)="showListAnnex(element.bizDocId)"
                     class="text-secondary"
                     mat-button type="button">
                    <i class="material-symbols-outlined" i18n-title title="Show Annex">
                      contract
                    </i>
                  </a>
                  <a (click)="nextStep(i)" class="text-secondary" mat-button type="button">
                    <i class="material-symbols-outlined" i18n-title title="Detail">
                      visibility
                    </i>
                  </a>
                  <a (click)="showDialogDetail(i,'index')" class="text-warning" mat-button type="button">
                    <i class="material-symbols-outlined" i18n-title title="Edit">
                      edit
                    </i>
                  </a>
                  <!--                <a (click)="showConfirmDelete(element.id)" mat-button type="button">-->
                  <!--                  <i class="material-symbols-outlined" i18n-title title="Delete">-->
                  <!--                    delete-->
                  <!--                  </i>-->
                  <!--                </a>-->
                </div>
              } @else if (viewType == 'PL') {
                <div class="action-buttons d-flex align-items-center justify-content-end">
                  <!--                  <a (click)="nextStep(i)" class="text-secondary" mat-button type="button">-->
                  <!--                    <i class="material-symbols-outlined" i18n-title title="Detail">-->
                  <!--                      visibility-->
                  <!--                    </i>-->
                  <!--                  </a>-->
                  <a (click)="nextStep(i)" class="text-warning" mat-button type="button">
                    <i class="material-symbols-outlined" i18n-title title="Edit">
                      edit
                    </i>
                  </a>
                  <a (click)="showConfirmDeleteAnnex(element.id)" class="text-danger" mat-button type="button">
                    <i class="material-symbols-outlined" i18n-title title="Delete">
                      delete
                    </i>
                  </a>
                </div>
              }
            </td>
          </ng-container>
          <tr *matHeaderRowDef="displayedColumns;" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
          <tr *matNoDataRow class="mat-row">
            <td [attr.colspan]="displayedColumns.length" class="mat-cell border-none text-center"><span
              i18n>No data!</span></td>
          </tr>
          <!--        <tr mat-row *matRowDef="let row; columns: ['child'];"></tr>-->

        </table>
      </div>
      <!--<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons (page)="onPageChange($event)" ></mat-paginator>-->
      <mat-paginator (page)="onPageChange($event)" [length]="totalElement" [pageIndex]="pageIndex"
                     [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
                     [showFirstLastButtons]="showFirstLastButtons"
                     aria-label="Select page">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</ng-container>

<!--ds phu luc-->

<!-- Detail -->
<ng-container *ngIf="step==2">
  <app-contract-detail (backStep)="backStep()" [dataObject]="formGroupDetail.value"
                       [id]="formGroupDetail.value.bizDocId"></app-contract-detail>
</ng-container>
