:host::ng-deep {

    .mat-column-hotelName,
    .mat-column-carRentalCompany {
        word-wrap: break-word !important;
        white-space: unset !important;
        max-width: 350px !important;
        min-width: 300px !important;
        overflow-wrap: break-word;
        word-break: break-word;

        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .break-word {
        display: inline-block;
        /* Đảm bảo giới hạn chiều rộng */
        max-width: 200;
        /* Đặt chiều rộng tối đa */
        word-break: break-word;
        /* Tự động ngắt từ khi cần */
        overflow-wrap: break-word;
        /* Hỗ trợ thêm cho ngắt từ */
        white-space: normal;
    }

    .mdc-list-item.mdc-list-item--with-one-line {
        height: auto;
    }

    .mdc-list,
    .mdc-list-item {
        height: initial !important;
        padding: 0px;

        .mdc-list-item__content {
            margin-left: 14px;

            .mdc-list-item__primary-text {
                white-space: normal;
            }
        }

        .has-action {
            cursor: pointer !important;
            .mdc-list-item__content {
                :hover {
                    color: blue;
                }
            }
        }
    }



    mat-list-item.active::after {
        top: 12px;
        left: 0px;
        width: 10px;
        content: "";
        height: 10px;
        transition: .3s;
        border-radius: 50%;
        position: absolute;
        transform: translateY(-50%);
        border: 1px solid #27ae60;
        background-color: #27ae60;
    }

    mat-list-item.inactive::after {
        top: 12px;
        left: 0px;
        width: 10px;
        content: "";
        height: 10px;
        transition: .3s;
        border-radius: 50%;
        position: absolute;
        transform: translateY(-50%);
        border: 1px solid #7f8c8d;
        background-color: #7f8c8d;
    }

    mat-list-item.normal::after {
        top: 12px;
        left: 0px;
        width: 10px;
        content: "";
        height: 10px;
        transition: .3s;
        border-radius: 50%;
        position: absolute;
        transform: translateY(-50%);
        border: 1px solid #7f8c8d;
        background-color: transparent;
    }

    // {
    //     top: 50%;
    //     left: 18px;
    //     width: 10px;
    //     content: "";
    //     height: 10px;
    //     transition: .3s;
    //     border-radius: 50%;
    //     position: absolute;
    //     transform: translateY(-50%);
    //     border: 1px solid var(--bodyColor);
    // }
}