<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
	<div class="d-flex align-items-center justify-content-between mt-2">
		<button type="button" class="btn btn-outline-secondary mr-20" i18n="@@back"
						[routerLink]="['/plan/est-plan/budget-procurement',planBudgetProcurementId(),'summary']">
			<i class="material-symbols-outlined">
				undo
			</i>
			Back
		</button>
		<h5 class="mb-0" i18n="@@planForAirport">
			Plan for Airport {{ airportCode() }}
		</h5>
	</div>

	<ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
		<li class="breadcrumb-item d-inline-block position-relative" i18n="@@plan">
			Plan
		</li>
		<li class="breadcrumb-item d-inline-block position-relative" i18n="@@estimatedPlan">
			Estimated/Plan
		</li>
		<li class="breadcrumb-item d-inline-block position-relative" i18n="@@budgetProcurementPlan">
			Budget & Procurement plan
		</li>
		<li class="breadcrumb-item d-inline-block position-relative" i18n="@@summaryPlan">
			Plan Summary
		</li>
		<li class="breadcrumb-item d-inline-block position-relative" i18n="@@planDetails">
			Plan Details
		</li>
	</ol>
</div>

<mat-card class="mb-10 p-15 border-radius d-block bg-white border-0 shadow-none">
	<mat-card-header class="mb-10">
		<mat-card-title>
			<h5 class="mb-0">I. <span i18n="@@generalInformation">General Information</span></h5>
		</mat-card-title>
		<mat-card-subtitle>
			<div (scroll)="onScroll()" [ngClass]="isSticky ? 'fixed' : 'notfixed'">
				<button type="button" mat-button class="close-btn  min-with-100 mlr-5" (click)="closeEvent()">
					<i class="material-symbols-outlined">
						close
					</i>
					<span i18n="@@close">Close</span>
				</button>
				@if (!checkStatusCompelted()) {
					<button *appHasPermission="['API_PLAN_BUDGET_PROCUREMENT_SUMMARY_UPDATE_STATUS_INSERT']" class="add-btn"
									type="button" mat-button (click)="completed()">
						<i class="material-symbols-outlined">
							check_circle
						</i>
						<span i18n="@@completed">Completed</span>
					</button>
				}
				@if (!checkStatusCompelted()) {
					<button *appHasPermission="['API_PLAN_BUDGET_PROCUREMENT_SUMMARY_CREATE_INSERT']" mat-button
									color="primary" type="button" class="add-btn min-with-100 mlr-5" (click)="save()">
						<i class="material-symbols-outlined">
							save
						</i>
						<span i18n="@@save">Save</span>
					</button>
				}
			</div>

		</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<app-budget-procurement-general #budgetProcurementGeneral [category]="category()"
																		[disabled]="checkStatusCompelted()"
																		(formValueChanges)="formGeneralValueChanges($event)"
																		(exchangeRateChange)="exchangeRateChange($event)"
																		(priceChange)="priceChange($event)" />
		<div *appHasPermission="['API_PLAN_BUDGET_PROCUREMENT_SUMMARY_INSERT']" class="d-flex justify-content-end">
			@if (!checkStatusCompelted()) {
				<button mat-button color="primary" type="button" class="add-btn" (click)="summaryData()">
					<i class="material-symbols-outlined">
						directory_sync
					</i>
					<span i18n="@@dataSummary">Data Summary</span>
				</button>
			}
		</div>
	</mat-card-content>
</mat-card>

<mat-card class="mb-10 p-0 border-radius  bg-white border-0 shadow-none"
					[ngClass]="checkDataSummary()?'d-block':'d-none'">
	<mat-card-content>
		<mat-accordion multi>
			<mat-expansion-panel class="remove-mat-expansion-panel-padding" [expanded]="true"
													 #panelCalculationBasisState>
				<mat-expansion-panel-header>
					<mat-panel-title>
						<h5 class="mb-0">II. <span i18n="@@calculationBasis">Calculation basis</span></h5>
					</mat-panel-title>
				</mat-expansion-panel-header>

				@if (category() === CategoryEnum.DOMESTIC) {
					<app-domestic-budget-procurement-flight-rate #domesticFlightRate [data]="planFlightRatesData" />
				} @else {
					<mat-accordion multi>
						<mat-expansion-panel #panelFlightRateYearState [expanded]="false">
							<mat-expansion-panel-header>
								<mat-panel-title>
									<h6 class="mb-0">2.1
										<span i18n="@@flightRateOverTheYears">
                                        Flight Rate Over the Years
                                    </span>
									</h6>
								</mat-panel-title>
							</mat-expansion-panel-header>
							<div>
								<app-international-budget-procurement-flight-rate [data]="planFlightRatesData"
																																	#internationalFlightRate />
							</div>
						</mat-expansion-panel>

						<mat-expansion-panel #panelFlightPeriodState [expanded]="false">
							<mat-expansion-panel-header>
								<mat-panel-title>
									<h6 class="mb-0">2.2
										<span i18n="@@numberOfFlightsByPeriod">
                                        Number of Flights by Period
                                    </span>
									</h6>
								</mat-panel-title>
							</mat-expansion-panel-header>
							<div>
								<app-budget-procurement-flight-period #internationalFlightPeriod
																											[data]="internationalFlightPeriodData" />
							</div>
						</mat-expansion-panel>

						<mat-expansion-panel [expanded]="true" #panelFlightOvernightState>
							<mat-expansion-panel-header>
								<mat-panel-title>
									<h6 class="mb-0">2.3
										<span i18n="@@flightRateByNumberOfOvernightStays">
                                        Flight rate by Number of Overnight Stays
                                    </span>
									</h6>
								</mat-panel-title>
							</mat-expansion-panel-header>
							<div>
								<app-budget-procurement-flight-overnight #internationalFlightOvernight
																												 [disabled]="checkStatusCompelted()"
																												 [data]="internationalFlightOvernightData"
																												 (valueChange)="overnightValueChange($event)" />
							</div>
						</mat-expansion-panel>
					</mat-accordion>
				}
			</mat-expansion-panel>
		</mat-accordion>
	</mat-card-content>
</mat-card>
<mat-card class="mb-10 p-0 border-radius bg-white border-0 shadow-none"
					[ngClass]="checkDataSummary()?'d-block':'d-none'">
	<mat-card-content>
		<mat-accordion multi class="mt-10">
			<mat-expansion-panel [expanded]="true" class="remove-mat-expansion-panel-padding" #panelBudgetPlanState>
				<mat-expansion-panel-header>
					<mat-panel-title>
						<h5 class="mb-0">III. <span i18n="@@budgetPlan">Budget Plan</span></h5>
					</mat-panel-title>
				</mat-expansion-panel-header>
				<mat-accordion multi>
					<mat-expansion-panel [expanded]="true" #panelBudgetPlanHotelState>
						<mat-expansion-panel-header>
							<mat-panel-title>
								<h6 class="mb-0">3.1
									<span i18n="@@budgetPlanForHotel">
                                        Budget Plan for Hotel
                                    </span>
								</h6>
							</mat-panel-title>
						</mat-expansion-panel-header>
						<div>
							@if (category() === CategoryEnum.DOMESTIC) {
								<app-domestic-budget-procurement-hotel #domesticBudgetHotel [type]="PlanCategoryEnum.BUDGET"
																											 [disabled]="checkStatusCompelted()"
																											 [data]="domesticBudgetHotelData"
																											 [yearPlan]="yearPlan()"
																											 [updateBudgetPlan]="dataDetail?.planBudgetProcurement?.updateBudgetPlan" />
							} @else {
								<app-international-budget-procurement-hotel #internationalBudgetHotel
																														[disabled]="checkStatusCompelted()"
																														[data]="internationalBudgetHotelData"
																														[yearPlan]="yearPlan()" [type]="PlanCategoryEnum.BUDGET"
																														[updateBudgetPlan]="dataDetail?.planBudgetProcurement?.updateBudgetPlan" />
							}
						</div>
					</mat-expansion-panel>
					<mat-expansion-panel [expanded]="false" #panelBudgetPlanCarRentalState>
						<mat-expansion-panel-header>
							<mat-panel-title>
								<h6 class="mb-0">3.2
									<span i18n="@@budgetPlanForTransportation">
                                        Budget Plan for Transportation
                                    </span>
								</h6>
							</mat-panel-title>
						</mat-expansion-panel-header>
						@if ((domesticBudgetCarRentalData &&
							(domesticBudgetCarRentalData?.planCarentals ?? []).length > 0) ||
						(internationalBudgetCarRentalData?.planCarentals &&
							internationalBudgetCarRentalData?.planCarentals.length > 0)) {
							<div>
								@if (category() === CategoryEnum.DOMESTIC) {
									@if (domesticBudgetCarRentalData &&
									(domesticBudgetCarRentalData?.planCarentals ?? []).length > 0) {
										<app-domestic-budget-procurement-car-rental #domesticBudgetCarRental [yearPlan]="yearPlan()"
																																[disabled]="checkStatusCompelted()"
																																[type]="PlanCategoryEnum.BUDGET"
																																[updateBudgetPlan]="dataDetail?.planBudgetProcurement?.updateBudgetPlan"
																																[data]="domesticBudgetCarRentalData" />
									}
								} @else {
									@if (internationalBudgetCarRentalData?.planCarentals &&
									(internationalBudgetCarRentalData?.planCarentals ?? []).length > 0) {
										<app-international-budget-procurement-car-rental #internationalBudgetCarRental
																																		 [disabled]="checkStatusCompelted()"
																																		 [data]="internationalBudgetCarRentalData"
																																		 [yearPlan]="yearPlan()"
																																		 [type]="PlanCategoryEnum.BUDGET"
																																		 [updateBudgetPlan]="dataDetail?.planBudgetProcurement?.updateBudgetPlan" />
									}
								}
							</div>
						}

					</mat-expansion-panel>
					@if (category() === CategoryEnum.DOMESTIC && !!dataDetail?.wetLeaseFlag) {
						<mat-expansion-panel [expanded]="this.dataDetail?.wetLeaseFlag" #panelBudgetPlanWetLeaseState>
							<mat-expansion-panel-header>
								<mat-panel-title>
									<h6 class="mb-0">3.3
										<span i18n="@@budgetPlanForWetLease">
                                        Budget Plan for Wet Lease
                                    </span>
									</h6>
								</mat-panel-title>
							</mat-expansion-panel-header>
							<div>
								<app-domestic-budget-procurement-wet-lease [yearPlan]="yearPlan()"
																													 [disabled]="checkStatusCompelted()"
																													 [data]="domesticBudgetWetLeaseData"
																													 [type]="PlanCategoryEnum.BUDGET"
																													 [updateBudgetPlan]="dataDetail?.planBudgetProcurement?.updateBudgetPlan"
																													 #domesticBudgetWetLease />
							</div>
						</mat-expansion-panel>
					}
				</mat-accordion>
			</mat-expansion-panel>
		</mat-accordion>
	</mat-card-content>
</mat-card>
<mat-card class="mb-10 p-0 border-radius  bg-white border-0 shadow-none"
					[ngClass]="checkDataSummary()?'d-block':'d-none'">
	<mat-card-content>
		<mat-accordion multi class="mt-10">
			<mat-expansion-panel [expanded]="true" class="remove-mat-expansion-panel-padding"
													 #panelProcurementPlanState>
				<mat-expansion-panel-header>
					<mat-panel-title>
						<h5 class="mb-0">IV. <span i18n="@@procurementPlan">Procurement Plan</span></h5>
					</mat-panel-title>
				</mat-expansion-panel-header>
				<mat-accordion multi>
					<mat-expansion-panel [expanded]="false" #panelProcurementPlanHotelState>
						<mat-expansion-panel-header>
							<mat-panel-title>
								<h6 class="mb-0">4.1
									<span i18n="@@procurementPlanForHotel">
                                        Procurement Plan for Hotel
                                    </span>
								</h6>
							</mat-panel-title>
						</mat-expansion-panel-header>
						<div>
							@defer {
								@if (category() === CategoryEnum.DOMESTIC) {
									<app-domestic-budget-procurement-hotel #domesticProcurementHotel
																												 [disabled]="checkStatusCompelted()"
																												 [data]="domesticProcurementHotelData"
																												 [type]="PlanCategoryEnum.PROCUREMENT" [yearPlan]="yearPlan()"
																												 [updateBudgetPlan]="dataDetail?.planBudgetProcurement?.updateBudgetPlan">
									</app-domestic-budget-procurement-hotel>
								} @else {
									<app-international-budget-procurement-hotel #internationalProcurementHotel
																															[disabled]="checkStatusCompelted()"
																															[data]="internationalProcurementHotelData"
																															[yearPlan]="yearPlan()"
																															[type]="PlanCategoryEnum.PROCUREMENT"
																															[updateBudgetPlan]="dataDetail?.planBudgetProcurement?.updateBudgetPlan" />
								}
							}

						</div>
					</mat-expansion-panel>
					<mat-expansion-panel [expanded]="false" #panelProcurementPlanCarRentalState>
						<mat-expansion-panel-header>
							<mat-panel-title>
								<h6 class="mb-0">4.2
									<span i18n="@@procurementPlanForCarRental">
                                        Procurement Plan for Car Rental
                                    </span>
								</h6>
							</mat-panel-title>
						</mat-expansion-panel-header>
						<div>
							@defer {
								@if (category() === CategoryEnum.DOMESTIC) {
									<app-domestic-budget-procurement-car-rental #domesticProcurementCarRental
																															[disabled]="checkStatusCompelted()"
																															[data]="domesticProcurementCarRentalData"
																															[yearPlan]="yearPlan()"
																															[type]="PlanCategoryEnum.PROCUREMENT"
																															[updateBudgetPlan]="dataDetail?.planBudgetProcurement?.updateBudgetPlan" />
								} @else {
									<app-international-budget-procurement-car-rental #internationalProcurementCarRental
																																	 [disabled]="checkStatusCompelted()"
																																	 [data]="internationalProcurementCarRentalData"
																																	 [yearPlan]="yearPlan()"
																																	 [type]="PlanCategoryEnum.PROCUREMENT"
																																	 [updateBudgetPlan]="dataDetail?.planBudgetProcurement?.updateBudgetPlan" />
								}
							}

						</div>
					</mat-expansion-panel>
					@if (category() === CategoryEnum.DOMESTIC && !!dataDetail?.wetLeaseFlag) {
						<mat-expansion-panel [expanded]="this.dataDetail?.wetLeaseFlag" #panelProcurementPlanWetLeaseState>
							<mat-expansion-panel-header>
								<mat-panel-title>
									<h6 class="mb-0">4.3
										<span i18n="@@procurementPlanForWetLease">
                                        Procurement Plan for Wet Lease
                                    </span>
									</h6>
								</mat-panel-title>
							</mat-expansion-panel-header>
							<div>
								@defer {
									<app-domestic-budget-procurement-wet-lease [yearPlan]="yearPlan()"
																														 [disabled]="checkStatusCompelted()"
																														 [data]="domesticProcurementWetLeaseData"
																														 [type]="PlanCategoryEnum.PROCUREMENT"
																														 [updateBudgetPlan]="dataDetail?.planBudgetProcurement?.updateBudgetPlan"
																														 #domesticProcurementWetLease />
								}
							</div>
						</mat-expansion-panel>
					}
				</mat-accordion>
			</mat-expansion-panel>
		</mat-accordion>
	</mat-card-content>
</mat-card>
<mat-card class="mb-10 p-0 border-radius  bg-white border-0 shadow-none"
					[ngClass]="checkDataSummary()?'d-block':'d-none'">
	<mat-card-content>
		<mat-accordion multi class="mt-10">
			<mat-expansion-panel class="remove-mat-expansion-panel-padding" #panelBudgetProcurementCostAnalysisState
													 [expanded]="true">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<h5 class="mb-0">V. <span i18n="@@costAnalysis">Cost Analysis</span></h5>
					</mat-panel-title>
				</mat-expansion-panel-header>
				<div>
					@defer {
						<app-budget-procurement-cost-analysis #budgetProcurementCostAnalysis [data]="dataDetail"
																									[disabled]="checkStatusCompelted()" />
					}
				</div>
			</mat-expansion-panel>
		</mat-accordion>
	</mat-card-content>
</mat-card>


<!-- Nút lưu, hủy  -->
<!-- <mat-card class="mb-10 p-0 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header class="p-1 d-flex justify-content-end">
        <mat-card-subtitle>
            <button type="button" mat-button class="close-btn  min-with-100 mlr-5" routerLink="/category/flight-market">
                <i class="material-symbols-outlined">
                    close
                </i>
                <span i18n="@@close">Close</span>
            </button>
            <button class="success-btn" type="button" mat-button>
                <i class="material-symbols-outlined">
                    check_circle
                </i>
                <span i18n="@@completed">Completed</span>
            </button>
            <button mat-button color="primary" type="button" class="add-btn min-with-100 mlr-5" (click)="save()">
                <i class="material-symbols-outlined">
                    save
                </i>
                <span i18n="@@save">Save</span>
            </button>

        </mat-card-subtitle>
    </mat-card-header>
</mat-card> -->

<!-- Dialog summary data  -->
<div class="add-new-popup" [class.active]="showDialogSummary">
	<div class="popup-dialog dialog-delete-with" style="width: 600px !important; max-width: 600px !important;">
		<mat-card class="border-radius d-block bg-white border-0 shadow-none width-percent-100">
			<mat-card-content>
				<div class="text-warning text-center">
                    <span class="material-symbols-outlined font-size-5rem">
                        error
                    </span>
				</div>
				<div class="text-center mb-20">
					<h3 class="mb-0" i18n="@@summaryMessage">Are you sure you want to aggregate the data?</h3>
				</div>
				<div class="btn-box text-center">
					<button type="button" mat-button (click)="toggleDialogSummary()"
									class="close-btn  min-with-100 mlr-5">
						<i class="material-symbols-outlined">
							close
						</i>
						<span i18n="@@cancel">Cancel</span>
					</button>
					<button mat-button type="button" class="add-btn min-with-100 mlr-5" (click)="confirmSummaryData()">
						<i class="material-symbols-outlined">
							save
						</i>
						<span i18n="@@confirm">Confirm</span>
					</button>

				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>


<div class="add-new-popup" [class.active]="showDialogClose">
	<div class="popup-dialog dialog-delete-with" style="width: 600px !important; max-width: 600px !important;">
		<mat-card class="border-radius d-block bg-white border-0 shadow-none width-percent-100">
			<mat-card-content>
				<div class="text-warning text-center">
                    <span class="material-symbols-outlined font-size-5rem">
                        error
                    </span>
				</div>
				<div class="text-center mb-20">
					<h3 class="mb-0" i18n="@@summaryMessage">Do you want to save the edited data?</h3>
				</div>
				<div class="btn-box text-center">
					<button type="button" mat-button
									[routerLink]="['/plan/est-plan/budget-procurement',planBudgetProcurementId(),'summary']"
									class="close-btn  min-with-100 mlr-5">
						<i class="material-symbols-outlined">
							close
						</i>
						<span i18n="@@no">No</span>
					</button>
					<button mat-button type="button" class="add-btn min-with-100 mlr-5" (click)="confirmClose()">
						<i class="material-symbols-outlined">
							save
						</i>
						<span i18n="@@yes">Yes</span>
					</button>

				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>
