:host::ng-deep {

    .mat-column-singleRoomExtra,
    .mat-column-doubleRoomExtra,
    .mat-column-priceSingleRoom,
    .mat-column-priceSingleRoomVat,
    .mat-column-priceDoubleRoom,
    .mat-column-priceDoubleRoomVat {
        min-width: 150px !important;
        max-width: 150px !important;
    }

    .mat-mdc-header-row:nth-child(2) {
        position: sticky;
        top: 40px;
    }
}