<!--<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between" (scroll)="onScroll()"
     [ngClass]="isSticky ? 'fixed' : 'notfixed' ">
  @if (!isSticky) {
  <h5 class="mb-0" i18n>
    Grant access
  </h5>
  }
  <div>
    <button (click)="addFunction()" class="step-2-menu-button btn-slot-1" extended mat-fab>
      <i class="material-symbols-outlined">
        save
      </i>
      Grant Permission
    </button>
    <button (click)="goBack()" class="step-2-menu-button btn-slot-2" extended i18n mat-fab style="background-color: #ffc107 !important;">
      <i class="material-symbols-outlined">
        undo
      </i>
      Back
    </button>
  </div>


</div>-->

<mat-accordion multi>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header i18n>1.General information</mat-expansion-panel-header>
    <mat-panel-description>
      <table>
        <thead>
        <tr>
          <th class="fw-medium" scope="col">
            Description
          </th>
          <th class="fw-medium text-end" scope="col">
            Price
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-body">
            Grand Total :
          </td>
          <td class="text-body text-end">
            $1,105.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Discount :
          </td>
          <td class="text-body text-end">
            -$105.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Tax :
          </td>
          <td class="text-body text-end">
            $75.00
          </td>
        </tr>
        <tr>
          <td class="fw-medium">
            Subtotal :
          </td>
          <td class="text-body text-end">
            $1,000.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Shipping Charge :
          </td>
          <td class="text-body text-end">
            $80.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Coupon Charge :
          </td>
          <td class="text-body text-end">
            $20.00
          </td>
        </tr>
        <tr>
          <td class="fw-medium">
            Total :
          </td>
          <td class="text-body text-end">
            $900.00
          </td>
        </tr>
        </tbody>
      </table>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header i18n>2. Remittance Information</mat-expansion-panel-header>
    <mat-panel-description>
      <table>
        <thead>
        <tr>
          <th class="fw-medium" scope="col">
            Description
          </th>
          <th class="fw-medium text-end" scope="col">
            Price
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-body">
            Grand Total :
          </td>
          <td class="text-body text-end">
            $1,105.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Discount :
          </td>
          <td class="text-body text-end">
            -$105.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Tax :
          </td>
          <td class="text-body text-end">
            $75.00
          </td>
        </tr>
        <tr>
          <td class="fw-medium">
            Subtotal :
          </td>
          <td class="text-body text-end">
            $1,000.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Shipping Charge :
          </td>
          <td class="text-body text-end">
            $80.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Coupon Charge :
          </td>
          <td class="text-body text-end">
            $20.00
          </td>
        </tr>
        <tr>
          <td class="fw-medium">
            Total :
          </td>
          <td class="text-body text-end">
            $900.00
          </td>
        </tr>
        </tbody>
      </table>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header i18n>3. Attached Document Information</mat-expansion-panel-header>
    <mat-panel-description>
      <table>
        <thead>
        <tr>
          <th class="fw-medium" scope="col">
            Description
          </th>
          <th class="fw-medium text-end" scope="col">
            Price
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-body">
            Grand Total :
          </td>
          <td class="text-body text-end">
            $1,105.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Discount :
          </td>
          <td class="text-body text-end">
            -$105.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Tax :
          </td>
          <td class="text-body text-end">
            $75.00
          </td>
        </tr>
        <tr>
          <td class="fw-medium">
            Subtotal :
          </td>
          <td class="text-body text-end">
            $1,000.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Shipping Charge :
          </td>
          <td class="text-body text-end">
            $80.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Coupon Charge :
          </td>
          <td class="text-body text-end">
            $20.00
          </td>
        </tr>
        <tr>
          <td class="fw-medium">
            Total :
          </td>
          <td class="text-body text-end">
            $900.00
          </td>
        </tr>
        </tbody>
      </table>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header i18n>4. Additional Information</mat-expansion-panel-header>
    <mat-panel-description>
      <table>
        <thead>
        <tr>
          <th class="fw-medium" scope="col">
            Description
          </th>
          <th class="fw-medium text-end" scope="col">
            Price
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-body">
            Grand Total :
          </td>
          <td class="text-body text-end">
            $1,105.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Discount :
          </td>
          <td class="text-body text-end">
            -$105.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Tax :
          </td>
          <td class="text-body text-end">
            $75.00
          </td>
        </tr>
        <tr>
          <td class="fw-medium">
            Subtotal :
          </td>
          <td class="text-body text-end">
            $1,000.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Shipping Charge :
          </td>
          <td class="text-body text-end">
            $80.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Coupon Charge :
          </td>
          <td class="text-body text-end">
            $20.00
          </td>
        </tr>
        <tr>
          <td class="fw-medium">
            Total :
          </td>
          <td class="text-body text-end">
            $900.00
          </td>
        </tr>
        </tbody>
      </table>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header i18n>5. Unit Price Information</mat-expansion-panel-header>
    <mat-panel-description>
      <table>
        <thead>
        <tr>
          <th class="fw-medium" scope="col">
            Description
          </th>
          <th class="fw-medium text-end" scope="col">
            Price
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-body">
            Grand Total :
          </td>
          <td class="text-body text-end">
            $1,105.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Discount :
          </td>
          <td class="text-body text-end">
            -$105.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Tax :
          </td>
          <td class="text-body text-end">
            $75.00
          </td>
        </tr>
        <tr>
          <td class="fw-medium">
            Subtotal :
          </td>
          <td class="text-body text-end">
            $1,000.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Shipping Charge :
          </td>
          <td class="text-body text-end">
            $80.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Coupon Charge :
          </td>
          <td class="text-body text-end">
            $20.00
          </td>
        </tr>
        <tr>
          <td class="fw-medium">
            Total :
          </td>
          <td class="text-body text-end">
            $900.00
          </td>
        </tr>
        </tbody>
      </table>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>

