<!--<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between" (scroll)="onScroll()"
     [ngClass]="isSticky ? 'fixed' : 'notfixed' ">
  @if (!isSticky) {
  <h5 class="mb-0" i18n>
    Grant access
  </h5>
  }
  <div>
    <button (click)="addFunction()" class="step-2-menu-button btn-slot-1" extended mat-fab>
      <i class="material-symbols-outlined">
        save
      </i>
      Grant Permission
    </button>
    <button (click)="goBack()" class="step-2-menu-button btn-slot-2" extended i18n mat-fab style="background-color: #ffc107 !important;">
      <i class="material-symbols-outlined">
        undo
      </i>
      Back
    </button>
  </div>


</div>-->
<mat-card class="mb-10 border-radius d-block bg-white border-0">
  <mat-card-content>
    <form [formGroup]="formGroupDetail" autocomplete="off">
      <div class="row">
        <div class="col-9" sizeInput='sm'>
          <label class="main-label fw-medium text-black pr-15" i18n>
            Service type *
          </label>
          <mat-radio-group>
            <mat-radio-button i18n value="1">
              Hotel
            </mat-radio-button>
            <mat-radio-button i18n value="2">
              Car rental
            </mat-radio-button>
            <mat-radio-button i18n value="3">
              Accommodation
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-3" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Contract category</mat-label>
            <mat-select formControlName="tempp">
              <mat-option i18n></mat-option>
              <mat-option i18n value="1">Thuê ướt</mat-option>
              <mat-option i18n value="0">Charter</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<mat-accordion multi>
  <mat-expansion-panel [expanded]="expandList.has('tab1')">
    <mat-expansion-panel-header i18n>1. General information</mat-expansion-panel-header>
    <mat-panel-description>
      <form [formGroup]="formGroupDetail" autocomplete="off" class="w-100">
        <!--        dong1-->
        <div class="row">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Contract number</mat-label>
              <input formControlName="contractCode" i18n-placeholder matInput placeholder="Input Contract number"
                     required>
              @if (!!formGroupDetail.controls['contractCode'].hasError('required')) {
              <mat-error><span i18n>Contract number</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Contract No</mat-label>
              <input formControlName="contractNo" i18n-placeholder matInput placeholder="Input Contract No" required>
              @if (!!formGroupDetail.controls['contractNo'].hasError('required')) {
              <mat-error><span i18n>Contract No</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <div class="row">
              <div class="col-6" sizeInput='sm'>
                <mat-form-field>
                  <mat-label i18n>Currency</mat-label>
                  <input formControlName="currency" i18n-placeholder matInput placeholder="Input Currency" required>
                  @if (!!formGroupDetail.controls['currency'].hasError('required')) {
                  <mat-error><span i18n>Currency</span><span i18n> not empty</span></mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-6" sizeInput='sm'>
                <mat-form-field>
                  <mat-label i18n>Exchange rate</mat-label>
                  <input formControlName="exchangeRate" i18n-placeholder matInput min="0"
                         placeholder="Input Exchange rate" required type="number">
                  @if (!!formGroupDetail.controls['exchangeRate'].hasError('required')) {
                  <mat-error><span i18n>Exchange rate</span><span i18n> not empty</span></mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <!--        dong2-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Sign date</mat-label>
              <input [matDatepicker]="signedDate" formControlName="signedDate" matInput>
              <mat-datepicker-toggle [for]="signedDate" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #signedDate></mat-datepicker>
              @if (!!formGroupDetail.controls['signedDate'].hasError('required')) {
              <mat-error><span i18n>Sign date</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <div class="row">
              <div class="col-6" sizeInput='sm'>
                <mat-form-field>
                  <mat-label i18n>Effective date</mat-label>
                  <input [matDatepicker]="effectiveDate" formControlName="effectiveDate" matInput>
                  <mat-datepicker-toggle [for]="effectiveDate" matIconSuffix></mat-datepicker-toggle>
                  <mat-datepicker #effectiveDate></mat-datepicker>
                  @if (!!formGroupDetail.controls['effectiveDate'].hasError('required')) {
                  <mat-error><span i18n>Effective date</span><span i18n> not empty</span></mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-6" sizeInput='sm'>
                <mat-form-field>
                  <mat-label i18n>Expiry date</mat-label>
                  <input [matDatepicker]="expiryDate" formControlName="expiryDate" matInput>
                  <mat-datepicker-toggle [for]="expiryDate" matIconSuffix></mat-datepicker-toggle>
                  <mat-datepicker #expiryDate></mat-datepicker>
                  @if (!!formGroupDetail.controls['expiryDate'].hasError('required')) {
                  <mat-error><span i18n>Expiry date</span><span i18n> not empty</span></mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Contract type</mat-label>
              <input formControlName="contractType" i18n-placeholder matInput placeholder="Input Contract type"
                     required>
              @if (!!formGroupDetail.controls['contractType'].hasError('required')) {
              <mat-error><span i18n>Contract type</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong3-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Contract form</mat-label>
              <input formControlName="contractForm" i18n-placeholder matInput placeholder="Input Contract form"
                     required>
              @if (!!formGroupDetail.controls['contractForm'].hasError('required')) {
              <mat-error><span i18n>Contract form</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Original Contract No</mat-label>
              <input formControlName="tempp" i18n-placeholder matInput placeholder="Input Currency Code" required>
              @if (!!formGroupDetail.controls['tempp'].hasError('required')) {
              <mat-error><span i18n>Currency Code</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Contract name</mat-label>
              <input formControlName="contractName" i18n-placeholder matInput placeholder="Input Contract name"
                     required>
              @if (!!formGroupDetail.controls['contractName'].hasError('required')) {
              <mat-error><span i18n>Contract name</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong4-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Supplier ID</mat-label>
              <input formControlName="partnerCode" i18n-placeholder matInput placeholder="Input Supplier ID" required>
              @if (!!formGroupDetail.controls['partnerCode'].hasError('required')) {
              <mat-error><span i18n>Supplier ID</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Supplier name</mat-label>
              <input formControlName="partnerName" i18n-placeholder matInput placeholder="Input Supplier name" required>
              @if (!!formGroupDetail.controls['partnerName'].hasError('required')) {
              <mat-error><span i18n>Supplier name</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Supplier address</mat-label>
              <input formControlName="partnerAddress" i18n-placeholder matInput placeholder="Input Supplier address"
                     required>
              @if (!!formGroupDetail.controls['partnerAddress'].hasError('required')) {
              <mat-error><span i18n>Supplier address</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong5-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Contract authority</mat-label>
              <input formControlName="negotiateCompetence" i18n-placeholder matInput placeholder="Input Contract authority" required>
              @if (!!formGroupDetail.controls['negotiateCompetence'].hasError('required')) {
              <mat-error><span i18n>Contract authority</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Signatory authority</mat-label>
              <input formControlName="Competence" i18n-placeholder matInput placeholder="Input Signatory authority" required>
              @if (!!formGroupDetail.controls['Competence'].hasError('required')) {
              <mat-error><span i18n>Signatory authority</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Representative</mat-label>
              <input formControlName="employeeSigned" i18n-placeholder matInput placeholder="Input Representative" required>
              @if (!!formGroupDetail.controls['employeeSigned'].hasError('required')) {
              <mat-error><span i18n>Representative</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong6-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Sign department</mat-label>
              <input formControlName="signedDepartmentName" i18n-placeholder matInput
                     placeholder="Input Sign department" required>
              @if (!!formGroupDetail.controls['signedDepartmentName'].hasError('required')) {
              <mat-error><span i18n>Sign department</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Budget Management Unit</mat-label>
              <input formControlName="budgetDepartmentName" i18n-placeholder matInput
                     placeholder="Budget Management Unit" required>
              @if (!!formGroupDetail.controls['budgetDepartmentName'].hasError('required')) {
              <mat-error><span i18n>Budget Management Unit</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Proceed department</mat-label>
              <input formControlName="proceedDepartmentName" i18n-placeholder matInput
                     placeholder="Input Proceed department" required>
              @if (!!formGroupDetail.controls['proceedDepartmentName'].hasError('required')) {
              <mat-error><span i18n>Proceed department</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong7-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Payment unit</mat-label>
              <input formControlName="paidDepartmentName" i18n-placeholder matInput placeholder="Input Payment unit"
                     required>
              @if (!!formGroupDetail.controls['paidDepartmentName'].hasError('required')) {
              <mat-error><span i18n>Payment unit</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Method Payments</mat-label>
              <input formControlName="paymentType" i18n-placeholder matInput placeholder="Input Method Payments"
                     required>
              @if (!!formGroupDetail.controls['paymentType'].hasError('required')) {
              <mat-error><span i18n>Method Payments</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Employee</mat-label>
              <input formControlName="employeeId" i18n-placeholder matInput placeholder="Input Employee" required>
              @if (!!formGroupDetail.controls['employeeId'].hasError('required')) {
              <mat-error><span i18n>Employee</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong8-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Budget Code</mat-label>
              <input formControlName="budgetCode" i18n-placeholder matInput placeholder="Input Budget Code" required>
              @if (!!formGroupDetail.controls['budgetCode'].hasError('required')) {
              <mat-error><span i18n>Budget Code</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Field</mat-label>
              <input formControlName="fieldCode2" i18n-placeholder matInput placeholder="Input Field" required>
              @if (!!formGroupDetail.controls['fieldCode2'].hasError('required')) {
              <mat-error><span i18n>Field</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <div class="row">
              <div class="col-6" sizeInput='sm'>
                <mat-form-field>
                  <mat-label i18n>Due Date</mat-label>
                  <input formControlName="dueDate" i18n-placeholder matInput placeholder="Input Due Date"
                         required>
                  @if (!!formGroupDetail.controls['dueDate'].hasError('required')) {
                  <mat-error><span i18n>Due Date</span><span i18n> not empty</span></mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-6" sizeInput='sm'>
                <mat-form-field>
                  <mat-label i18n>Handover Date</mat-label>
                  <input formControlName="dueDateNumber" i18n-placeholder matInput placeholder="Input Handover Date" required>
                  @if (!!formGroupDetail.controls['dueDateNumber'].hasError('required')) {
                  <mat-error><span i18n>Handover Date</span><span i18n> not empty</span></mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="expandList.has('tab2')">
    <mat-expansion-panel-header i18n>2. Remittance Information</mat-expansion-panel-header>
    <mat-panel-description>
      <form [formGroup]="formGroupDetail" autocomplete="off" class="w-100">
        <!--        dong1-->
        <div class="row">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Beneficiary</mat-label>
              <input formControlName="peopleName" i18n-placeholder matInput placeholder="Input Beneficiary" required>
              @if (!!formGroupDetail.controls['peopleName'].hasError('required')) {
              <mat-error><span i18n>Beneficiary</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Transfer to</mat-label>
              <input formControlName="bankAccountNoB" i18n-placeholder matInput placeholder="Input Transfer to"
                     required>
              @if (!!formGroupDetail.controls['bankAccountNoB'].hasError('required')) {
              <mat-error><span i18n>Transfer to</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Bank Name</mat-label>
              <input formControlName="bankNameB" i18n-placeholder matInput placeholder="Input Bank Name" required>
              @if (!!formGroupDetail.controls['bankNameB'].hasError('required')) {
              <mat-error><span i18n>Bank Name</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong2-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Bank Address</mat-label>
              <input formControlName="bankAddressB" i18n-placeholder matInput placeholder="Input Bank Address" required>
              @if (!!formGroupDetail.controls['bankAddressB'].hasError('required')) {
              <mat-error><span i18n>Bank Address</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Province/City</mat-label>
              <input formControlName="cityB" i18n-placeholder matInput placeholder="Input Province/City" required>
              @if (!!formGroupDetail.controls['cityB'].hasError('required')) {
              <mat-error><span i18n>Province/City</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Branch name</mat-label>
              <input formControlName="bankBranchNameB" i18n-placeholder matInput placeholder="Input Branch name"
                     required>
              @if (!!formGroupDetail.controls['bankBranchNameB'].hasError('required')) {
              <mat-error><span i18n>Branch name</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong3-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>IBAN</mat-label>
              <input formControlName="iban" i18n-placeholder matInput placeholder="Input IBAN" required>
              @if (!!formGroupDetail.controls['iban'].hasError('required')) {
              <mat-error><span i18n>IBAN</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Swift code</mat-label>
              <input formControlName="swiftCodeB" i18n-placeholder matInput placeholder="Input Swift code" required>
              @if (!!formGroupDetail.controls['swiftCodeB'].hasError('required')) {
              <mat-error><span i18n>Swift code</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Bank code#Local code</mat-label>
              <input formControlName="bankLocalCode" i18n-placeholder matInput placeholder="Input Bank code#Local code"
                     required>
              @if (!!formGroupDetail.controls['bankLocalCode'].hasError('required')) {
              <mat-error><span i18n>Bank code#Local code</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong4-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Bank domestic Charge</mat-label>
              <input formControlName="bankCharge" i18n-placeholder matInput placeholder="Input Bank domestic Charge"
                     required>
              @if (!!formGroupDetail.controls['bankCharge'].hasError('required')) {
              <mat-error><span i18n>Bank domestic Charge</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Bank aboard Charge</mat-label>
              <input formControlName="bankCharge1" i18n-placeholder matInput placeholder="Input Bank aboard Charge"
                     required>
              @if (!!formGroupDetail.controls['bankCharge1'].hasError('required')) {
              <mat-error><span i18n>Bank aboard Charge</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong5-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Transfer middle to</mat-label>
              <input formControlName="bankAccountNoB1" i18n-placeholder matInput placeholder="Input Transfer middle to" required>
              @if (!!formGroupDetail.controls['bankAccountNoB1'].hasError('required')) {
              <mat-error><span i18n>Transfer middle to</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>At intermediary bank name</mat-label>
              <input formControlName="bankNameB1" i18n-placeholder matInput placeholder="Input At intermediary bank name" required>
              @if (!!formGroupDetail.controls['bankNameB1'].hasError('required')) {
              <mat-error><span i18n>At intermediary bank name</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Swift code intermediary bank</mat-label>
              <input formControlName="swiftCodeB1" i18n-placeholder matInput placeholder="Input Swift code intermediary bank" required>
              @if (!!formGroupDetail.controls['swiftCodeB1'].hasError('required')) {
              <mat-error><span i18n>Swift code intermediary bank</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="expandList.has('tab3')">
    <mat-expansion-panel-header i18n>3. Attached Document Information</mat-expansion-panel-header>
    <mat-panel-description>
      <table>
        <thead>
        <tr>
          <th class="fw-medium" scope="col">
            Description
          </th>
          <th class="fw-medium text-end" scope="col">
            Price
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-body">
            Grand Total :
          </td>
          <td class="text-body text-end">
            $1,105.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Discount :
          </td>
          <td class="text-body text-end">
            -$105.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Tax :
          </td>
          <td class="text-body text-end">
            $75.00
          </td>
        </tr>
        <tr>
          <td class="fw-medium">
            Subtotal :
          </td>
          <td class="text-body text-end">
            $1,000.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Shipping Charge :
          </td>
          <td class="text-body text-end">
            $80.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Coupon Charge :
          </td>
          <td class="text-body text-end">
            $20.00
          </td>
        </tr>
        <tr>
          <td class="fw-medium">
            Total :
          </td>
          <td class="text-body text-end">
            $900.00
          </td>
        </tr>
        </tbody>
      </table>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="expandList.has('tab4')">
    <mat-expansion-panel-header i18n>4. Additional Information</mat-expansion-panel-header>
    <mat-panel-description>
      <form [formGroup]="formGroupDetail" autocomplete="off" class="w-100">
        <!--        dong1-->
        <div class="row">
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Market Code</mat-label>
              <input formControlName="tempp" i18n-placeholder matInput placeholder="Input Currency Code" required>
              @if (!!formGroupDetail.controls['tempp'].hasError('required')) {
              <mat-error><span i18n>Currency Code</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Market Name</mat-label>
              <input formControlName="tempp" i18n-placeholder matInput placeholder="Input Currency Code" required>
              @if (!!formGroupDetail.controls['tempp'].hasError('required')) {
              <mat-error><span i18n>Currency Code</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Country</mat-label>
              <input formControlName="tempp" i18n-placeholder matInput placeholder="Input Currency Code" required>
              @if (!!formGroupDetail.controls['tempp'].hasError('required')) {
              <mat-error><span i18n>Currency Code</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Phân loại</mat-label>
              <input formControlName="tempp" i18n-placeholder matInput placeholder="Input Currency Code" required>
              @if (!!formGroupDetail.controls['tempp'].hasError('required')) {
              <mat-error><span i18n>Currency Code</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong2-->
        <div class="row mt-20">
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Nhóm đường bay</mat-label>
              <input formControlName="tempp" i18n-placeholder matInput placeholder="Input Currency Code" required>
              @if (!!formGroupDetail.controls['tempp'].hasError('required')) {
              <mat-error><span i18n>Currency Code</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Trạng thái thị trường</mat-label>
              <input formControlName="tempp" i18n-placeholder matInput placeholder="Input Currency Code" required>
              @if (!!formGroupDetail.controls['tempp'].hasError('required')) {
              <mat-error><span i18n>Currency Code</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Supplier Name</mat-label>
              <input formControlName="tempp" i18n-placeholder matInput placeholder="Input Currency Code" required>
              @if (!!formGroupDetail.controls['tempp'].hasError('required')) {
              <mat-error><span i18n>Currency Code</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Supplier Phone</mat-label>
              <input formControlName="tempp" i18n-placeholder matInput placeholder="Input Currency Code" required>
              @if (!!formGroupDetail.controls['tempp'].hasError('required')) {
              <mat-error><span i18n>Currency Code</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong3-->
        <div class="row mt-20">
          <div class="col-6" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Supplier Booking Email</mat-label>
              <input formControlName="tempp" i18n-placeholder matInput placeholder="Input Currency Code" required>
              @if (!!formGroupDetail.controls['tempp'].hasError('required')) {
              <mat-error><span i18n>Currency Code</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-6" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Vehicle Type</mat-label>
              <input formControlName="tempp" i18n-placeholder matInput placeholder="Input Currency Code" required>
              @if (!!formGroupDetail.controls['tempp'].hasError('required')) {
              <mat-error><span i18n>Currency Code</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong4-->
        <div class="row mt-20">
          <div class="col-12" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Notes</mat-label>
              <textarea formControlName="tempp" i18n-placeholder matInput
                        placeholder="Input Notes"></textarea>
              <mat-hint align="end">{{formGroupDetail.value.tempp?.length}} / 500</mat-hint>
              @if (!!formGroupDetail.controls['tempp'].hasError('maxlength')) {
              <mat-error><span i18n>Notes</span><span i18n> too long</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="expandList.has('tab5')">
    <mat-expansion-panel-header i18n>5. Unit Price Information</mat-expansion-panel-header>
    <mat-panel-description>
      <table>
        <thead>
        <tr>
          <th class="fw-medium" scope="col">
            Description
          </th>
          <th class="fw-medium text-end" scope="col">
            Price
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-body">
            Grand Total :
          </td>
          <td class="text-body text-end">
            $1,105.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Discount :
          </td>
          <td class="text-body text-end">
            -$105.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Tax :
          </td>
          <td class="text-body text-end">
            $75.00
          </td>
        </tr>
        <tr>
          <td class="fw-medium">
            Subtotal :
          </td>
          <td class="text-body text-end">
            $1,000.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Shipping Charge :
          </td>
          <td class="text-body text-end">
            $80.00
          </td>
        </tr>
        <tr>
          <td class="text-body">
            Coupon Charge :
          </td>
          <td class="text-body text-end">
            $20.00
          </td>
        </tr>
        <tr>
          <td class="fw-medium">
            Total :
          </td>
          <td class="text-body text-end">
            $900.00
          </td>
        </tr>
        </tbody>
      </table>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>

