<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
  <div class="d-md-flex align-items-center">
    <h5 class="mb-0 d-inline ml-10" i18n>
      @if (viewType == 'HD') {
      Contract Detail
      } @else if (viewType == 'PL') {
      Annex Detail
      }
    </h5>

  </div>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
    <li class="breadcrumb-item d-inline-block position-relative">
      <a class="d-inline-block position-relative" routerLink="/">
        <i class="material-symbols-outlined">
          home
        </i>
        Dashboard
      </a>
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n>
      Contract
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n>
      Detail
    </li>
  </ol>
</div>
<div (scroll)="onScroll()" [ngClass]="isSticky ? 'fixed' : 'notfixed'" class="w-100 text-end mb-10">
  <button (click)="goBack()" class="step-2-menu-button btn-slot-3" extended i18n mat-fab>
    <i class="material-symbols-outlined">
      undo
    </i>
    Back
  </button>
  <button (click)="save()" class="step-2-menu-button btn-slot-1" extended i18n mat-fab>
    <i class="material-symbols-outlined">
      save
    </i>
    Save
  </button>
</div>
<mat-card class="mb-10 border-radius d-block bg-white border-0 p-10">
  <mat-card-content>
    <form [formGroup]="formGroupDetail" autocomplete="off">
      <div class="row">
        <div class="col-9" sizeInput='sm'>
          <label class="main-label fw-medium text-black pr-15" i18n>
            Service type <span style="color:red">*</span>
          </label>
          <mat-radio-group formControlName="doiTuongDichVu">
            <mat-radio-button i18n value="1">
              Hotel
            </mat-radio-button>
            <mat-radio-button i18n value="2">
              Car rental
            </mat-radio-button>
            <mat-radio-button i18n value="3">
              Accommodation
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-3" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Contract category</mat-label>
            <mat-select formControlName="phanLoaiHopDong" required>
              <mat-option i18n value="0">Standard</mat-option>
              <mat-option i18n value="1">Wet Lease</mat-option>
              <mat-option i18n value="2">Charter</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<mat-accordion multi>
  <mat-expansion-panel [expanded]="expandList.has('tab1')">
    <mat-expansion-panel-header i18n>
      <div (click)="$event.stopPropagation();" class="title-no-event">1. General information</div>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <form [formGroup]="formGroupDetail" autocomplete="off" class="w-100">
        <!--        dong1-->
        <div class="row">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Contract number</mat-label>
              <input formControlName="contractCode" matInput required>
              @if (!!formGroupDetail.controls['contractCode'].hasError('required')) {
              <mat-error><span i18n>Contract number</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Contract No</mat-label>
              <input formControlName="contractNo" matInput required>
              @if (!!formGroupDetail.controls['contractNo'].hasError('required')) {
              <mat-error><span i18n>Contract No</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <div class="row">
              <div class="col-6" sizeInput='sm'>
                <mat-form-field>
                  <mat-label i18n>Currency</mat-label>
                  <input formControlName="currency" matInput required>
                  @if (!!formGroupDetail.controls['currency'].hasError('required')) {
                  <mat-error><span i18n>Currency</span><span i18n> not empty</span></mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-6" sizeInput='sm'>
                <mat-form-field>
                  <mat-label i18n>Exchange rate</mat-label>
                  <input formControlName="exchangeRate" matInput min="0" type="number">
                  @if (!!formGroupDetail.controls['exchangeRate'].hasError('required')) {
                  <mat-error><span i18n>Exchange rate</span><span i18n> not empty</span></mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <!--        dong2-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Sign date</mat-label>
              <input [matDatepicker]="signedDate" formControlName="signedDate" matInput
                     required>
              <mat-datepicker-toggle [for]="signedDate" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #signedDate></mat-datepicker>
              @if (!!formGroupDetail.controls['signedDate'].hasError('required')) {
              <mat-error><span i18n>Sign date</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <div class="row">
              <div class="col-6" sizeInput='sm'>
                <mat-form-field>
                  <mat-label i18n>Effective date</mat-label>
                  <input [matDatepicker]="effectiveDate" formControlName="effectiveDate"
                         matInput required>
                  <mat-datepicker-toggle [for]="effectiveDate" matIconSuffix></mat-datepicker-toggle>
                  <mat-datepicker #effectiveDate></mat-datepicker>
                  @if (!!formGroupDetail.controls['effectiveDate'].hasError('required')) {
                  <mat-error><span i18n>Effective date</span><span i18n> not empty</span></mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-6" sizeInput='sm'>
                <mat-form-field>
                  <mat-label i18n>Expiry date</mat-label>
                  <input [matDatepicker]="expiryDate" formControlName="expiryDate" matInput
                         requiredt>
                  <mat-datepicker-toggle [for]="expiryDate" matIconSuffix></mat-datepicker-toggle>
                  <mat-datepicker #expiryDate></mat-datepicker>
                  @if (!!formGroupDetail.controls['expiryDate'].hasError('required')) {
                  <mat-error><span i18n>Expiry date</span><span i18n> not empty</span></mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Contract type</mat-label>
              <mat-select [disabled]="viewType =='HD'" formControlName="contractType" required>
                <mat-option i18n value="Fixed price contract">Fixed price contract</mat-option>
              </mat-select>
              @if (!!formGroupDetail.controls['contractType'].hasError('required')) {
              <mat-error><span i18n>Contract type</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong3-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Contract form</mat-label>
              <mat-select [disabled]="viewType =='HD'" formControlName="contractForm" required>
                <mat-option i18n value="Contract of sale of ordinary goods and services">Contract of sale of ordinary
                  goods and services
                </mat-option>
              </mat-select>
              @if (!!formGroupDetail.controls['contractForm'].hasError('required')) {
              <mat-error><span i18n>Contract form</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Original Contract No</mat-label>
              <input formControlName="hdPlRoot" matInput>
              @if (!!formGroupDetail.controls['hdPlRoot'].hasError('required')) {
              <mat-error><span i18n>Original Contract No</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Contract name</mat-label>
              <input formControlName="contractName" matInput required>
              @if (!!formGroupDetail.controls['contractName'].hasError('required')) {
              <mat-error><span i18n>Contract name</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong4-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Supplier ID</mat-label>
              <input formControlName="partnerCode" matInput required>
              @if (!!formGroupDetail.controls['partnerCode'].hasError('required')) {
              <mat-error><span i18n>Supplier ID</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Supplier name</mat-label>
              <input formControlName="partnerName" matInput required>
              @if (!!formGroupDetail.controls['partnerName'].hasError('required')) {
              <mat-error><span i18n>Supplier name</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Supplier address</mat-label>
              <input formControlName="partnerAddress" matInput>
              @if (!!formGroupDetail.controls['partnerAddress'].hasError('required')) {
              <mat-error><span i18n>Supplier address</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong5-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Contract authority</mat-label>
              <input formControlName="negotiateCompetence" matInput required>
              @if (!!formGroupDetail.controls['negotiateCompetence'].hasError('required')) {
              <mat-error><span i18n>Contract authority</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Signatory authority</mat-label>
              <input formControlName="competence" matInput required>
              @if (!!formGroupDetail.controls['competence'].hasError('required')) {
              <mat-error><span i18n>Signatory authority</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Representative</mat-label>
              <input formControlName="employeeSigned" matInput required>
              @if (!!formGroupDetail.controls['employeeSigned'].hasError('required')) {
              <mat-error><span i18n>Representative</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong6-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Sign department</mat-label>
              <input formControlName="signedDepartmentName" matInput required>
              @if (!!formGroupDetail.controls['signedDepartmentName'].hasError('required')) {
              <mat-error><span i18n>Sign department</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Budget Management Unit</mat-label>
              <input formControlName="budgetDepartmentName" matInput required>
              @if (!!formGroupDetail.controls['budgetDepartmentName'].hasError('required')) {
              <mat-error><span i18n>Budget Management Unit</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Proceed department</mat-label>
              <input formControlName="proceedDepartmentName" matInput required>
              @if (!!formGroupDetail.controls['proceedDepartmentName'].hasError('required')) {
              <mat-error><span i18n>Proceed department</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong7-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Payment unit</mat-label>
              <input formControlName="paidDepartmentName" matInput required>
              @if (!!formGroupDetail.controls['paidDepartmentName'].hasError('required')) {
              <mat-error><span i18n>Payment unit</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Method Payments</mat-label>
              <input formControlName="paymentType" matInput>
              @if (!!formGroupDetail.controls['paymentType'].hasError('required')) {
              <mat-error><span i18n>Method Payments</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Employee</mat-label>
              <input formControlName="employeeId" matInput>
              @if (!!formGroupDetail.controls['employeeId'].hasError('required')) {
              <mat-error><span i18n>Employee</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong8-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Budget Code</mat-label>
              <input formControlName="budgetCode" matInput required>
              @if (!!formGroupDetail.controls['budgetCode'].hasError('required')) {
              <mat-error><span i18n>Budget Code</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Field</mat-label>
              <input formControlName="fieldCode2" matInput required>
              @if (!!formGroupDetail.controls['fieldCode2'].hasError('required')) {
              <mat-error><span i18n>Field</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <div class="row">
              <div class="col-6" sizeInput='sm'>
                <mat-form-field>
                  <mat-label i18n>Due Date</mat-label>
                  <input formControlName="dueDateNumber" matInput>
                  @if (!!formGroupDetail.controls['dueDateNumber'].hasError('required')) {
                  <mat-error><span i18n>Due Date</span><span i18n> not empty</span></mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-6" sizeInput='sm'>
                <mat-form-field>
                  <mat-label i18n>Handover Date</mat-label>
                  <input [matDatepicker]="handoverDate" formControlName="handoverDate"
                         matInput required>
                  <mat-datepicker-toggle [for]="handoverDate" matIconSuffix></mat-datepicker-toggle>
                  <mat-datepicker #handoverDate></mat-datepicker>
                  @if (!!formGroupDetail.controls['handoverDate'].hasError('required')) {
                  <mat-error><span i18n>Handover Date</span><span i18n> not empty</span></mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="expandList.has('tab2')">
    <mat-expansion-panel-header i18n>
      <div (click)="$event.stopPropagation();" class="title-no-event">2. Remittance Information</div>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <form [formGroup]="formGroupDetail" autocomplete="off" class="w-100">
        <!--        dong1-->
        <div class="row">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Beneficiary</mat-label>
              <input formControlName="peopleName" matInput>
              @if (!!formGroupDetail.controls['peopleName'].hasError('required')) {
              <mat-error><span i18n>Beneficiary</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Transfer to</mat-label>
              <input formControlName="bankAccountNoB" matInput>
              @if (!!formGroupDetail.controls['bankAccountNoB'].hasError('required')) {
              <mat-error><span i18n>Transfer to</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Bank Name</mat-label>
              <input formControlName="bankNameB" matInput>
              @if (!!formGroupDetail.controls['bankNameB'].hasError('required')) {
              <mat-error><span i18n>Bank Name</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong2-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Bank Address</mat-label>
              <input formControlName="bankAddressB" matInput>
              @if (!!formGroupDetail.controls['bankAddressB'].hasError('required')) {
              <mat-error><span i18n>Bank Address</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Province/City</mat-label>
              <input formControlName="cityB" matInput>
              @if (!!formGroupDetail.controls['cityB'].hasError('required')) {
              <mat-error><span i18n>Province/City</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Branch name</mat-label>
              <input formControlName="bankBranchNameB" matInput>
              @if (!!formGroupDetail.controls['bankBranchNameB'].hasError('required')) {
              <mat-error><span i18n>Branch name</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong3-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>IBAN</mat-label>
              <input formControlName="iban" matInput>
              @if (!!formGroupDetail.controls['iban'].hasError('required')) {
              <mat-error><span i18n>IBAN</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Swift code</mat-label>
              <input formControlName="swiftCodeB" matInput>
              @if (!!formGroupDetail.controls['swiftCodeB'].hasError('required')) {
              <mat-error><span i18n>Swift code</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Bank code#Local code</mat-label>
              <input formControlName="bankLocalCode" matInput>
              @if (!!formGroupDetail.controls['bankLocalCode'].hasError('required')) {
              <mat-error><span i18n>Bank code#Local code</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong4-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Bank domestic Charge</mat-label>
              <input formControlName="bankCharge" matInput>
              @if (!!formGroupDetail.controls['bankCharge'].hasError('required')) {
              <mat-error><span i18n>Bank domestic Charge</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Bank aboard Charge</mat-label>
              <input formControlName="bankCharge1" matInput>
              @if (!!formGroupDetail.controls['bankCharge1'].hasError('required')) {
              <mat-error><span i18n>Bank aboard Charge</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong5-->
        <div class="row mt-20">
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Transfer middle to</mat-label>
              <input formControlName="bankAccountNoB1" matInput>
              @if (!!formGroupDetail.controls['bankAccountNoB1'].hasError('required')) {
              <mat-error><span i18n>Transfer middle to</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>At intermediary bank name</mat-label>
              <input formControlName="bankNameB1" matInput>
              @if (!!formGroupDetail.controls['bankNameB1'].hasError('required')) {
              <mat-error><span i18n>At intermediary bank name</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Swift code intermediary bank</mat-label>
              <input formControlName="swiftCodeB1" matInput
                     required>
              @if (!!formGroupDetail.controls['swiftCodeB1'].hasError('required')) {
              <mat-error><span i18n>Swift code intermediary bank</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="expandList.has('tab3')">
    <mat-expansion-panel-header i18n>
      <div (click)="$event.stopPropagation();" class="title-no-event">3. Attached Document Information</div>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <form [formGroup]="formGroupFileUpload" autocomplete="off" class="w-100">
        <div class="row">
          <div class="col-12">
            <table [dataSource]="tblAttachedDocument" class="table-light" mat-table>
              <ng-container matColumnDef="stt">
                <th *matHeaderCellDef class="text-center" mat-header-cell mat-sort-header>#</th>
                <td *matCellDef="let element; let i = index" class="text-center"
                    mat-cell>{{ (pageIndex * pageSize) + i + 1 }}
                </td>
              </ng-container>
              <ng-container matColumnDef="documentType">
                <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Document Type</th>
                <td *matCellDef="let element" mat-cell>
                  {{ element.documentType }}
                </td>
              </ng-container>
              <ng-container matColumnDef="fileName">
                <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>File Name</th>
                <td *matCellDef="let element" mat-cell>
                  <a (click)="true" [href]="element.fileUrl"
                     class="d-flex align-items-center justify-content-between position-relative"
                     style="color: rgba(0,0,255,0.7); text-decoration: underline; cursor: pointer;">
                    {{ element.fileName }}
                  </a>
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Action</th>
                <td *matCellDef="let element; let i = dataIndex" class="text-body text-end" mat-cell>
                  <div class="action-buttons align-items-center text-center">
                    @if (!!element.isManual) {
                    <a (click)="confirmDeleteFile(element)" mat-button class="text-danger" type="button">
                      <i class="material-symbols-outlined" i18n-title title="Delete">
                        delete
                      </i>
                    </a>
                    }
                  </div>
                </td>
              </ng-container>
              <tr *matHeaderRowDef="['stt','documentType','fileName','action']" mat-header-row></tr>
              <tr *matRowDef="let row; columns: ['stt','documentType','fileName','action']" mat-row></tr>
            </table>
          </div>
          <div class="col-4 mt-20" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Contract category</mat-label>
              <mat-select formControlName="contractCategory">
                <mat-option i18n value="1">Contract/annex or appendix</mat-option>
                <mat-option i18n value="0">Other documents of contract</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-4 mt-20" sizeInput='sm'>
            <file-upload (ngModelChange)="actionUpload()" [accept]="COMMON_CONFIG.FILE_ACCEPT" [multiple]="false"
                         class="file-uploader"
                         formControlName="fileUpload"></file-upload>
          </div>
        </div>
      </form>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="expandList.has('tab4')">
    <mat-expansion-panel-header i18n>
      <div (click)="$event.stopPropagation();" class="title-no-event">4. Additional Information</div>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <form [formGroup]="formGroupDetail" autocomplete="off" class="w-100">
        <!--        dong1-->
        <div class="row">
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Market Code</mat-label>
              <input (ngModelChange)="marketCodeChangeDebounce($event);this.brake=false;" formControlName="marketCode"
                     matInput required>
              @if (!!formGroupDetail.controls['marketCode'].hasError('required')) {
              <mat-error><span i18n>Market Code</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Market Name</mat-label>
              <input formControlName="marketName" matInput>
              @if (!!formGroupDetail.controls['marketName'].hasError('required')) {
              <mat-error><span i18n>Market Name</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Country</mat-label>

              <input #nationName (input)="filterNation()" [matAutocomplete]="nationComplete" formControlName="nation"
                     matInput
                     trim="blur" type="text">
              <mat-autocomplete #nationComplete="matAutocomplete" (optionSelected)="nationSelected($event)"
                                autoActiveFirstOption
                                requireSelection>
                @for (item of listQuocGia; track item) {
                <mat-option [value]="item.id">{{ item.vniName }}</mat-option>
                }
              </mat-autocomplete>
              @if (!!formGroupDetail.controls['nation'].hasError('required')) {
              <mat-error><span i18n>Country</span><span i18n> not empty</span></mat-error>
              }

            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Phân loại</mat-label>
              <input formControlName="classification" matInput required>
              @if (!!formGroupDetail.controls['classification'].hasError('required')) {
              <mat-error><span i18n>Classification</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong2-->
        <div class="row mt-20">
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Flight Group</mat-label>
              <input formControlName="flightGroup" matInput>
              @if (!!formGroupDetail.controls['flightGroup'].hasError('required')) {
              <mat-error><span i18n>Flight Group</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Status Usage</mat-label>
              <input formControlName="statusUsage" matInput required>
              @if (!!formGroupDetail.controls['statusUsage'].hasError('required')) {
              <mat-error><span i18n>Status Usage</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Supplier Name</mat-label>
              <input formControlName="supplierName" matInput>
              @if (!!formGroupDetail.controls['supplierName'].hasError('required')) {
              <mat-error><span i18n>Supplier Name</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Supplier Phone</mat-label>
              <input formControlName="supplierPhone" matInput>
              @if (!!formGroupDetail.controls['supplierPhone'].hasError('required')) {
              <mat-error><span i18n>Supplier Phone</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong3-->
        <div class="row mt-20">
          <div class="col-6" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Supplier Booking Email</mat-label>
              <input formControlName="supplierEmail" matInput required>
              @if (!!formGroupDetail.controls['supplierEmail'].hasError('required')) {
              <mat-error><span i18n>Supplier Booking Email</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-6" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Vehicle Type</mat-label>
              <input formControlName="carType" matInput>
              @if (!!formGroupDetail.controls['carType'].hasError('required')) {
              <mat-error><span i18n>Vehicle Type</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong4-->
        <div class="row mt-20">
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Giờ checkin chuẩn</mat-label>
              <div class="time-picker">
                <input [disableClick]="true" [format]="24" [ngxTimepicker]="toggleTimepicker1"
                       formControlName="standardCheckIn" matInput required>
                <ngx-material-timepicker-toggle [for]="toggleTimepicker1"
                                                class="time-picker-clock"></ngx-material-timepicker-toggle>
                <ngx-material-timepicker #toggleTimepicker1 [appendToInput]="true" [cancelBtnTmpl]="cancelBtn"
                                         [confirmBtnTmpl]="confirmBtn" [enableKeyboardInput]="true"
                                         [minutesGap]="5"></ngx-material-timepicker>
              </div>
              @if (!!formGroupDetail.controls['standardCheckIn'].hasError('required')) {
              <mat-error><span i18n>Standard Checkin</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='sm'>
            <mat-form-field>
              <mat-label i18n>Giờ checkout chuẩn</mat-label>
              <div class="time-picker">
                <input [disableClick]="true" [ngxTimepicker]="toggleTimepicker2" formControlName="standardCheckOut"
                       matInput required>
                <ngx-material-timepicker-toggle [for]="toggleTimepicker2"
                                                class="time-picker-clock"></ngx-material-timepicker-toggle>
                <ngx-material-timepicker #toggleTimepicker2
                                         [appendToInput]="true" [enableKeyboardInput]="true"
                                         [minutesGap]="5"></ngx-material-timepicker>
              </div>
              @if (!!formGroupDetail.controls['standardCheckOut'].hasError('required')) {
              <mat-error><span i18n>Standard Checkout</span><span i18n> not empty</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <!--        dong5-->
        <div class="row mt-20">
          <div class="col-12">
            <mat-form-field>
              <mat-label i18n>Notes</mat-label>
              <textarea formControlName="notes" matInput></textarea>
              <mat-hint align="end">{{ formGroupDetail.value.notes?.length }} / 500</mat-hint>
              @if (!!formGroupDetail.controls['notes'].hasError('maxlength')) {
              <mat-error><span i18n>Notes</span><span i18n> too long</span></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="expandList.has('tab5')">
    <mat-expansion-panel-header i18n>
      <div (click)="$event.stopPropagation();" class="title-no-event">5. Unit Price Information</div>
    </mat-expansion-panel-header>
    <mat-panel-description class="d-block">
      <div class="w-100 text-end">
        @if (formGroupDetail.value.doiTuongDichVu == '3') {
        <mat-checkbox>
          Hoàn thuế khách sạn
        </mat-checkbox>
        <mat-checkbox class="mr-20">
          Hoàn thuế nhà xe
        </mat-checkbox>
        }
        <button (click)="addUnitPrice()" class="add-btn right-0 mb-10" i18n mat-button type="button">
          <i class="material-symbols-outlined">
            add
          </i>
          Add
        </button>
      </div>
      <table [dataSource]="tblUnitPrice" class="table-light" mat-table>
        <ng-container matColumnDef="stt">
          <th *matHeaderCellDef class="text-center" mat-header-cell mat-sort-header>#</th>
          <td *matCellDef="let element; let i = index" class="text-center"
              mat-cell>{{ (pageIndex * pageSize) + i + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="fromDate">
          <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Service Code</th>
          <td (click)="editCellUP(element,'fromDate')" *matCellDef="let element"
              [style.padding]="checkCellUP(element, 'fromDate')?'0px !important':''"
              mat-cell
          >
            @if (checkCellUP(element, 'fromDate')) {
            <div class="input-cell">
              <mat-form-field
                class="edit-inline-table">
                <input [matDatepicker]="fromDateUP" [(ngModel)]="element.fromDate"
                (clickOutside)="readCellUP(element,'fromDate')"
                       matInput required>
                <mat-datepicker-toggle [for]="fromDateUP" matIconSuffix></mat-datepicker-toggle>
                <mat-datepicker #fromDateUP></mat-datepicker>
              </mat-form-field>
            </div>
            } @else {
            <span class="label-text">
            {{ element.fromDate?(element.fromDate | dataTransformPipe:[Constant.DATE,Constant.DATE_FORMAT]):''}}
            </span>
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="toDate">
          <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Service Code</th>
          <td (click)="editCellUP(element,'toDate')" *matCellDef="let element"
              [style.padding]="checkCellUP(element, 'toDate')?'0px !important':''"
              mat-cell
          >
            @if (checkCellUP(element, 'toDate')) {
            <div class="input-cell">
              <mat-form-field
                class="edit-inline-table">
                <input [matDatepicker]="toDateUP" [(ngModel)]="element.toDate"
                (clickOutside)="readCellUP(element,'toDate')"
                       matInput required>
                <mat-datepicker-toggle [for]="toDateUP" matIconSuffix></mat-datepicker-toggle>
                <mat-datepicker #toDateUP></mat-datepicker>
              </mat-form-field>
            </div>
            } @else {
            <span class="label-text">
            {{ element.toDate? (element.toDate| dataTransformPipe:[Constant.DATE,Constant.DATE_FORMAT]):''}}
            </span>
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="serviceCode">
          <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Service Code</th>
          <td (click)="editCellUP(element,'serviceCode')" *matCellDef="let element"
              [style.padding]="checkCellUP(element, 'type')?'0px !important':''"
              mat-cell
          >
            @if (checkCellUP(element, 'serviceCode')) {
            <div class="input-cell">
              <mat-form-field
                class="edit-inline-table">
                <input [(ngModel)]="element.serviceCode"  matInput required
                       (clickOutside)="readCellUP(element,'serviceCode')">
              </mat-form-field>
            </div>
            } @else {
            <span class="label-text">
            {{ element.serviceCode }}
            </span>
            }
          </td>
        </ng-container>
        <!--    <ng-container matColumnDef="vnaTransId"></ng-container>
            <ng-container matColumnDef="expenseCatgId"></ng-container>
            <ng-container matColumnDef="priceNoTax"></ng-container>
            <ng-container matColumnDef="taxCode"></ng-container>
            <ng-container matColumnDef="taxRate"></ng-container>-->
        <ng-container matColumnDef="action" stickyEnd>
          <th *matHeaderCellDef class="text-end" i18n mat-header-cell>
            Actions
          </th>
          <td *matCellDef="let element;let i = dataIndex" mat-cell>
            @if (element.isEdit) {
            <div class="action-buttons d-flex align-items-center justify-content-end">
              <a (click)="editUnitPrice(i)" mat-button style="" type="button">
                <i class="material-symbols-outlined" i18n-title title="Edit">
                  edit
                </i>
              </a>
            </div>
            <div class="action-buttons d-flex align-items-center justify-content-end">
              <a (click)="deleteUnitPrice(i)" mat-button style="" type="button">
                <i class="material-symbols-outlined" i18n-title title="Delete">
                  delete
                </i>
              </a>
            </div>
            } @else {
            <div class="action-buttons d-flex align-items-center justify-content-end">
              <a (click)="saveUnitPrice(i)" mat-button style="" type="button">
                <i class="material-symbols-outlined" i18n-title title="Edit">
                  save
                </i>
              </a>
            </div>
            <div class="action-buttons d-flex align-items-center justify-content-end">
              <a (click)="cancelUnitPrice(i)" mat-button style="" type="button">
                <i class="material-symbols-outlined" i18n-title title="Delete">
                  cancel
                </i>
              </a>
            </div>
            }
          </td>
        </ng-container>
        <tr *matHeaderRowDef="['stt','fromDate','toDate','serviceCode']" mat-header-row></tr>
        <tr *matRowDef="let row; columns: ['stt','fromDate','toDate','serviceCode'];" class="input-row" mat-row></tr>
      </table>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="expandList.has('tab6')">
    <mat-expansion-panel-header i18n>
      <div (click)="$event.stopPropagation();" class="title-no-event">6. Unit Price Information</div>
    </mat-expansion-panel-header>
    <mat-panel-description class="d-block">
      <div>
        <div class="w-100 mb-10 d-flex justify-content-between">
          <span class="d-flex align-items-end fw-bold">6.1</span>
          <button (click)="addUnitPrice()" class="add-btn right-0" i18n mat-button type="button">
            <i class="material-symbols-outlined">
              add
            </i>
            Add
          </button>
        </div>
        <table [dataSource]="tbl61" class="table-light" mat-table>
          <ng-container matColumnDef="stt">
            <th *matHeaderCellDef class="text-center" mat-header-cell mat-sort-header>#</th>
            <td *matCellDef="let element; let i = index" class="text-center"
                mat-cell>{{ (pageIndex * pageSize) + i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Service Code</th>
            <td (click)="editCellUP(element,'type')" *matCellDef="let element"
                [style.padding]="checkCellUP(element, 'type')?'0px !important':''"
                mat-cell
            >
              @if (checkCellUP(element, 'type')) {
              <div class="input-cell">
                <mat-form-field
                  class="edit-inline-table">
                  <input [(ngModel)]="element.serviceCode"  matInput required
                         (clickOutside)="readCellUP(element,'type')">
                </mat-form-field>
              </div>
              } @else {
              <span class="label-text">
              {{ element.serviceCode }}
              </span>
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="action" stickyEnd>
            <th *matHeaderCellDef class="text-end" i18n mat-header-cell>
              Action
            </th>
            <td *matCellDef="let element;let i = dataIndex" mat-cell>
              @if (element.isEdit) {
              <div class="action-buttons d-flex align-items-center justify-content-end">
                <a (click)="editUnitPrice(i)" mat-button style="" type="button">
                  <i class="material-symbols-outlined" i18n-title title="Edit">
                    edit
                  </i>
                </a>
              </div>
              <div class="action-buttons d-flex align-items-center justify-content-end">
                <a (click)="deleteUnitPrice(i)" mat-button style="" type="button">
                  <i class="material-symbols-outlined" i18n-title title="Delete">
                    delete
                  </i>
                </a>
              </div>
              } @else {
              <div class="action-buttons d-flex align-items-center justify-content-end">
                <a (click)="saveUnitPrice(i)" mat-button style="" type="button">
                  <i class="material-symbols-outlined" i18n-title title="Edit">
                    save
                  </i>
                </a>
              </div>
              <div class="action-buttons d-flex align-items-center justify-content-end">
                <a (click)="cancelUnitPrice(i)" mat-button style="" type="button">
                  <i class="material-symbols-outlined" i18n-title title="Delete">
                    cancel
                  </i>
                </a>
              </div>
              }
            </td>
          </ng-container>
          <tr *matHeaderRowDef="['stt','type',]" mat-header-row></tr>
          <tr *matRowDef="let row; columns: ['stt','type'];" class="input-row" mat-row></tr>
        </table>
      </div>
      <div class="mt-25">
        <div class="w-100 mb-10 d-flex justify-content-between">
          <span class="d-flex align-items-end fw-bold">6.2</span>
          <button (click)="addUnitPrice()" class="add-btn right-0" i18n mat-button type="button">
            <i class="material-symbols-outlined">
              add
            </i>
            Add
          </button>
        </div>
        <table [dataSource]="tbl62" class="table-light" mat-table>
          <ng-container matColumnDef="stt">
            <th *matHeaderCellDef class="text-center" mat-header-cell mat-sort-header>#</th>
            <td *matCellDef="let element; let i = index" class="text-center"
                mat-cell>{{ (pageIndex * pageSize) + i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Service Code</th>
            <td (click)="editCellUP(element,'type')" *matCellDef="let element"
                [style.padding]="checkCellUP(element, 'type')?'0px !important':''"
                mat-cell
            >
              @if (checkCellUP(element, 'type')) {
              <div class="input-cell">
                <mat-form-field
                  class="edit-inline-table">
                  <input [(ngModel)]="element.serviceCode"  matInput required
                         (clickOutside)="readCellUP(element,'type')">
                </mat-form-field>
              </div>
              } @else {
              <span class="label-text">
              {{ element.serviceCode }}
              </span>
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>File Name</th>
            <td *matCellDef="let element" class="text-body text-end" mat-cell>
              {{ element.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="action" stickyEnd>
            <th *matHeaderCellDef class="text-end" i18n mat-header-cell>
              Action
            </th>
            <td *matCellDef="let element;let i = dataIndex" mat-cell>
              @if (element.isEdit) {
              <div class="action-buttons d-flex align-items-center justify-content-end">
                <a (click)="editUnitPrice(i)" mat-button style="" type="button">
                  <i class="material-symbols-outlined" i18n-title title="Edit">
                    edit
                  </i>
                </a>
              </div>
              <div class="action-buttons d-flex align-items-center justify-content-end">
                <a (click)="deleteUnitPrice(i)" mat-button style="" type="button">
                  <i class="material-symbols-outlined" i18n-title title="Delete">
                    delete
                  </i>
                </a>
              </div>
              } @else {
              <div class="action-buttons d-flex align-items-center justify-content-end">
                <a (click)="saveUnitPrice(i)" mat-button style="" type="button">
                  <i class="material-symbols-outlined" i18n-title title="Edit">
                    save
                  </i>
                </a>
              </div>
              <div class="action-buttons d-flex align-items-center justify-content-end">
                <a (click)="cancelUnitPrice(i)" mat-button style="" type="button">
                  <i class="material-symbols-outlined" i18n-title title="Delete">
                    cancel
                  </i>
                </a>
              </div>
              }
            </td>
          </ng-container>
          <tr *matHeaderRowDef="['stt','type','name']" mat-header-row></tr>
          <tr *matRowDef="let row; columns: ['stt','type','name'];" class="input-row" mat-row></tr>
        </table>
      </div>
      <div class="mt-25">
        <div class="w-100 mb-10 d-flex justify-content-between">
          <span class="d-flex align-items-end fw-bold">6.3</span>
          <button (click)="addUnitPrice()" class="add-btn right-0" i18n mat-button type="button">
            <i class="material-symbols-outlined">
              add
            </i>
            Add
          </button>
        </div>
        <table [dataSource]="tbl63" class="table-light" mat-table>
          <ng-container matColumnDef="stt">
            <th *matHeaderCellDef class="text-center" mat-header-cell mat-sort-header>#</th>
            <td *matCellDef="let element; let i = index" class="text-center"
                mat-cell>{{ (pageIndex * pageSize) + i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>Service Code</th>
            <td (click)="editCellUP(element,'type')" *matCellDef="let element"
                [style.padding]="checkCellUP(element, 'type')?'0px !important':''"
                mat-cell
            >
              @if (checkCellUP(element, 'type')) {
              <div class="input-cell">
                <mat-form-field
                  class="edit-inline-table">
                  <input [(ngModel)]="element.serviceCode"  matInput required
                         (clickOutside)="readCellUP(element,'type')">
                </mat-form-field>
              </div>
              } @else {
              <span class="label-text">
              {{ element.serviceCode }}
              </span>
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th *matHeaderCellDef i18n mat-header-cell mat-sort-header>File Name</th>
            <td *matCellDef="let element" class="text-body text-end" mat-cell>
              {{ element.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="action" stickyEnd>
            <th *matHeaderCellDef class="text-end" i18n mat-header-cell>
              Action
            </th>
            <td *matCellDef="let element;let i = dataIndex" mat-cell>
              @if (element.isEdit) {
              <div class="action-buttons d-flex align-items-center justify-content-end">
                <a (click)="editUnitPrice(i)" mat-button style="" type="button">
                  <i class="material-symbols-outlined" i18n-title title="Edit">
                    edit
                  </i>
                </a>
              </div>
              <div class="action-buttons d-flex align-items-center justify-content-end">
                <a (click)="deleteUnitPrice(i)" mat-button style="" type="button">
                  <i class="material-symbols-outlined" i18n-title title="Delete">
                    delete
                  </i>
                </a>
              </div>
              } @else {
              <div class="action-buttons d-flex align-items-center justify-content-end">
                <a (click)="saveUnitPrice(i)" mat-button style="" type="button">
                  <i class="material-symbols-outlined" i18n-title title="Edit">
                    save
                  </i>
                </a>
              </div>
              <div class="action-buttons d-flex align-items-center justify-content-end">
                <a (click)="cancelUnitPrice(i)" mat-button style="" type="button">
                  <i class="material-symbols-outlined" i18n-title title="Delete">
                    cancel
                  </i>
                </a>
              </div>
              }
            </td>
          </ng-container>
          <tr *matHeaderRowDef="['stt','type','name']" mat-header-row></tr>
          <tr *matRowDef="let row; columns: ['stt','type','name'];" class="input-row" mat-row></tr>
        </table>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>
<!-- POPUP-->
<!-- Delete file confirm Popup -->
<div
  [class.active]="showDialogDeleteFile"
  class="add-new-popup"
>
  <div class="popup-dialog">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none container">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0">
            <span i18n>Are you sure you want to delete file?</span>
          </h5>
        </mat-card-title>
        <mat-card-subtitle>
          <button
            (click)="closeConfirmDeleteFile()"
            mat-button
          >
            <i class="ri-close-fill"></i>
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="btn-box">
          <button (click)="closeConfirmDeleteFile()" class="close-btn" i18n mat-button type="button">
            <i class="material-symbols-outlined">
              close
            </i>
            Close
          </button>
          <button
            (click)="deleteFile()"
            class="add-btn"
            i18n mat-button>
            <i class="material-symbols-outlined">
              save
            </i>
            Confirm
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<!--template button style-->
<ng-template #cancelBtn class="btn-box">
  <button class="close-btn" i18n mat-button type="button">
    <i class="material-symbols-outlined">
      close
    </i>
    Close
  </button>
</ng-template>
<ng-template #confirmBtn class="btn-box">
  <button class="add-btn" i18n mat-button>
    <i class="material-symbols-outlined">
      save
    </i>
    Choose
  </button>
</ng-template>
