<mat-card class="border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header class="p-15">
        <mat-card-title>
            <h5 class="mb-2" i18n="@@createNewHotelTransportationEmail">
                Create new hotel/transportation email
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <button mat-button (click)="close()">
                <i class="ri-close-fill"></i>
            </button>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="formGroupDetail" (ngSubmit)="uploadFile()" autocomplete="off">
            <div class="row">
                <div class="col">
                    <div class="form-group mb-20" sizeInput="sm">
                        <mat-form-field>
                            <mat-label i18n="@@airportCode">Airport Code</mat-label>
                            <input trim="blur" matInput formControlName="marketCode">
                            <mat-error *ngxControlError="formGroupDetail.controls.marketCode; track: 'required'"
                                i18n="@@recipientRequired">
                                Recipient {{MESSAGE.REQUIRED}}
                            </mat-error>
                            <mat-error *ngxControlError="formGroupDetail.controls.marketCode; track: 'pattern'"
                                i18n="@@recipientFormatInvalid">
                                Recipient {{MESSAGE.FORMAT_INVALID}}
                            </mat-error>
                            <mat-error *ngxControlError="formGroupDetail.controls.marketCode; track: 'maxlength'"
                                i18n="@@recipientMaxlength">
                                Recipient {{ MESSAGE.MAX_LENGTH_INVALID | dataTransformPipe:[Constant.STRING_FORMAT,
                                250]}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-20" sizeInput="sm">
                        <mat-radio-group formControlName="fileType">
                            <mat-radio-button value="FC" i18n="@@pilot">Pilot</mat-radio-button>
                            <mat-radio-button value="CC" i18n="@@flightAttendant">Flight
                                Attendant</mat-radio-button>
                        </mat-radio-group>
                        <br/>
                        <i i18n="@@objectRequired" class="required"
                            *ngxControlError="formGroupDetail.controls.fileType; track: 'required'">
                            Object {{MESSAGE.REQUIRED}}
                        </i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-20" sizeInput="sm">
                        <file-upload formControlName="file" class="file-uploader" [multiple]="false">
                        </file-upload>
                        <i class="required" i18n="@@fileRequired"
                            *ngxControlError="formGroupDetail.controls.file; track: 'required'">
                            File {{MESSAGE.REQUIRED}}
                        </i>
                    </div>
                </div>
            </div>

            <div class="btn-box d-flex justify-content-end">
                <button type="button" mat-button (click)="close()" class="close-btn  min-with-100 mlr-5">
                    <i class="material-symbols-outlined">
                        close
                    </i>
                    <span i18n="@@close">Close</span>
                </button>
                <button mat-button color="primary" type="submit" class="add-btn min-with-100 mlr-5">
                    <i class="material-symbols-outlined">
                        upload
                    </i>
                    <span i18n="@@upload">Upload</span>
                </button>

            </div>
        </form>
    </mat-card-content>
    <mat-card-footer>
        <div class="mt-5">
            <span class="text-danger">Note: The uploaded schedule file must keep its current structure and name. You can only delete data lines from the original file provided by the system.</span>
         </div>
    </mat-card-footer>
</mat-card>