<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
  <h5 class="mb-0" i18n>
    Countries
  </h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
    <li class="breadcrumb-item d-inline-block position-relative" i18n>
      Category
    </li>
    <li class="breadcrumb-item d-inline-block position-relative" i18n>
      Countries
    </li>
  </ol>
</div>
<!--Search-->
<mat-card class="mb-15 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-content>
    <form [formGroup]="formGroupSearch" autocomplete="off">
      <div class="row">
        <div class="col-sm-3" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Keyword</mat-label>
            <input formControlName="s" matInput>
            <i class="material-symbols-outlined mr-15" matSuffix>
              search
            </i>
          </mat-form-field>
        </div>
        <div class="col-sm-3" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Region</mat-label>
            <mat-select formControlName="area">
              <mat-option i18n [value]="null">-- All region --</mat-option>
              <mat-option i18n value="Asia">Asia</mat-option>
              <mat-option i18n value="Europe">Europe</mat-option>
              <mat-option i18n value="Africa">Africa</mat-option>
              <mat-option i18n value="America">America</mat-option>
              <mat-option i18n value="Australia">Australia</mat-option>
              <mat-option i18n value="Antarctica">Antarctica</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-3" sizeInput='sm'>
          <mat-form-field>
            <mat-label i18n>Status</mat-label>
            <mat-select formControlName="active">
              <mat-option i18n [value]="null">-- All status --</mat-option>
              <mat-option i18n value="1">Active</mat-option>
              <mat-option i18n value="0">Inactive</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-card-header class="mb-0">
            <mat-card-title clas>
              <button (click)="search()" class="search-btn" i18n mat-button>
                <i class="material-symbols-outlined">
                  search
                </i>
                Search
              </button>
            </mat-card-title>
          </mat-card-header>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<!-- Content -->
<mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-header>
    <mat-card-title>
    </mat-card-title>
    <mat-card-subtitle>
      <button *appHasPermission="['API_NATION_INSERT']" (click)="showDialogDetail()" class="add-btn" i18n mat-button
        type="button">
        <i class="material-symbols-outlined">
          add
        </i>
        Add new
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive">
      <table [dataSource]="dataSource" class="table-light" mat-table multiTemplateDataRows="true">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? toggleAllRows() : null" [aria-label]="checkboxLabel()"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(row) : null" (click)="$event.stopPropagation()"
              [aria-label]="checkboxLabel(row)" [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="stt">
          <th *matHeaderCellDef class="text-center" mat-header-cell mat-sort-header>#</th>
          <td *matCellDef="let element; let i = dataIndex" class="text-center" mat-cell>{{ (pageIndex * pageSize) + i +
            1 }}
          </td>
        </ng-container>
        @for (innerColumn of _displayedColumns; track innerColumn.value) {
        <ng-container matColumnDef="{{innerColumn.value}}">
          <th class="text-center" mat-sort-header mat-header-cell *matHeaderCellDef>{{ innerColumn.label }}</th>
          <td [ngClass]="{'text-center': innerColumn.value === 'activeLabel',}" mat-cell *matCellDef="let element">
            <span [ngClass]="{
        'badge': innerColumn.value === 'activeLabel',
        'text-bg-label-badge': innerColumn.value === 'activeLabel' && element['active'] == 1,
        'text-soft-dark': innerColumn.value === 'activeLabel' && element['active'] == 0
        }">{{
              element[innerColumn.value]|dataTransformPipe:[innerColumn.type, innerColumn.format]
              }}</span>
          </td>
        </ng-container>
        }
        <!-- Action Column -->
        <ng-container matColumnDef="action" stickyEnd>
          <th *matHeaderCellDef class="text-end" i18n mat-header-cell>
            Actions
          </th>
          <td *matCellDef="let element;let i = dataIndex" mat-cell>
            <div class="action-buttons d-flex align-items-center justify-content-end">
              <a mat-button type="button">

              </a>
              <a *appHasPermission="['API_NATION_UPDATE']" (click)="showDialogDetail(i,'index')" class="text-warning"
                mat-button type="button">
                <i class="material-symbols-outlined" i18n-title title="Edit">
                  edit
                </i>
              </a>
              <!--              <a (click)="showConfirmDelete(element.id)" i18n-title mat-button type="button">-->
              <!--                <i class="material-symbols-outlined" title="Delete">-->
              <!--                  delete-->
              <!--                </i>-->
              <!--              </a>-->
            </div>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns;" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        <tr *matNoDataRow class="mat-row">
          <td [attr.colspan]="displayedColumns.length" class="mat-cell text-center"><span i18n>No data!</span>
        </tr>


        <!--        <tr mat-row *matRowDef="let row; columns: ['child'];"></tr>-->

      </table>
    </div>
    <!--<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons (page)="onPageChange($event)" ></mat-paginator>-->
    <mat-paginator (page)="onPageChange($event)" [length]="totalElement" [pageIndex]="pageIndex"
      [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [showFirstLastButtons]="showFirstLastButtons"
      aria-label="Select page">
    </mat-paginator>
  </mat-card-content>
</mat-card>

<!-- Add New Popup -->
<div [class.active]="showDialogCreate" class="add-new-popup">
  <div class="popup-dialog">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none container">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0">
            <span *ngIf="!formGroupDetail.value.id" i18n>Add new</span>
            <span *ngIf="formGroupDetail.value.id" i18n>Edit</span>
          </h5>
        </mat-card-title>
        <mat-card-subtitle>
          <button (click)="closeDetail()" mat-button>
            <i class="ri-close-fill"></i>
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="formGroupDetail" autocomplete="off">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" sizeInput="sm">
                <mat-form-field>
                  <mat-label>Region</mat-label>
                  <mat-select formControlName="area" required>
                    <mat-option i18n [value]="null">-- Choose region --</mat-option>
                    <mat-option i18n value="Asia">Asia</mat-option>
                    <mat-option i18n value="Europe">Europe</mat-option>
                    <mat-option i18n value="Africa">Africa</mat-option>
                    <mat-option i18n value="America">America</mat-option>
                    <mat-option i18n value="Australia">Australia</mat-option>
                    <mat-option i18n value="Antarctica">Antarctica</mat-option>
                  </mat-select>
                  @if (!!formGroupDetail.controls['area'].hasError('required')) {
                  <mat-error><span i18n>Region</span><span i18n> is required</span></mat-error>
                  }
                </mat-form-field>
                <mat-form-field>
                  <mat-label i18n>Country code</mat-label>
                  <input formControlName="code" trim="blur" i18n-placeholder matInput required>
                  @if (!!formGroupDetail.controls['code'].hasError('required')) {
                  <mat-error><span i18n>Country code</span><span i18n> is required</span></mat-error>
                  } @else if (!!formGroupDetail.controls['code'].hasError('existCode')) {
                  <mat-error><span i18n>Country code</span><span i18n> already exist</span></mat-error>
                  } @else if (!!formGroupDetail.controls['code'].hasError('maxlength')) {
                  <mat-error><span i18n>Country code must be less than 3 characters</span></mat-error>
                  }
                </mat-form-field>
                <mat-form-field>
                  <mat-label i18n>Country name (English)</mat-label>
                  <input formControlName="engName" trim="blur" i18n-placeholder matInput required>
                  @if (!!formGroupDetail.controls['engName'].hasError('required')) {
                  <mat-error><span i18n>Country name (English)</span><span i18n> is required</span></mat-error>
                  }
                  @if (!!formGroupDetail.controls['engName'].hasError('maxlength')) {
                  <mat-error><span i18n>Country name (English) must be less than 250 characters</span></mat-error>
                  }
                </mat-form-field>
                <mat-form-field>
                  <mat-label i18n>Country name (Vietnamese)</mat-label>
                  <input formControlName="vniName" trim="blur" i18n-placeholder matInput required>
                  @if (!!formGroupDetail.controls['vniName'].hasError('required')) {
                  <mat-error><span i18n>Country name (Vietnamese)</span><span i18n> is required</span></mat-error>
                  }
                  @if (!!formGroupDetail.controls['vniName'].hasError('maxlength')) {
                  <mat-error><span i18n>Country name (Vietnamese) must be less than 250 characters</span></mat-error>
                  }
                </mat-form-field>
                <mat-checkbox class="mt-10" formControlName="active" i18n>Active</mat-checkbox>
              </div>
            </div>
          </div>
        </form>
        <div class="btn-box">
          <button (click)="closeDetail()" class="close-btn" i18n mat-button type="button">
            <i class="material-symbols-outlined">
              close
            </i>
            Close
          </button>
          <button (click)="save()" class="add-btn" i18n mat-button>
            <i class="material-symbols-outlined">
              save
            </i>
            Save
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- Delete confirm Popup -->
<div class="add-new-popup" [class.active]="showDialogDelete">
  <div class="popup-dialog dialog-delete-with">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none width-percent-100">
      <mat-card-content>
        <div class="text-warning text-center">
          <span class="material-symbols-outlined font-size-5rem">
            error
          </span>
        </div>
        <div class="text-center mb-20">
          <h3 class="mb-0" i18n="@@deleteMessage">Are you sure you want to delete?</h3>
        </div>
        <div class="text-center mb-20">
          <span class="font-weight-normal color-black font-size-19" i18n="@@warningDeleteMessage">
            You will not be able to recover the deleted data!</span>
        </div>
        <div class="btn-box text-center">
          <button type="button" mat-button (click)="closeConfirmDelete()" class="close-btn  min-with-100 mlr-5">
            <i class="material-symbols-outlined">
              close
            </i>
            <span i18n="@@cancel">Cancel</span>
          </button>
          <button mat-button type="button" class="add-btn min-with-100 mlr-5" (click)="delete()">
            <i class="material-symbols-outlined">
              save
            </i>
            <span i18n="@@confirm">Confirm</span>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>