<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
  <h5 class="mb-0">
    Kế hoạch
  </h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
    <li class="breadcrumb-item d-inline-block position-relative">
      <a routerLink="/" class="d-inline-block position-relative">
        <i class="material-symbols-outlined">
          home
        </i>
        Dashboard
      </a>
    </li>
    <li class="breadcrumb-item d-inline-block position-relative">
      Blank Page
    </li>
  </ol>
</div>
<!--Search-->
<mat-card class="mb-15 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-content>
    <form [formGroup]="formGroup" autocomplete="off">
      <div class="row">
        <div class="col-sm-3" sizeInput="md">
          <mat-form-field>
            <mat-label>Tên</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Ex. Olivia">
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Ex. Olivia">
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Ex. Olivia">
          </mat-form-field>
        </div>

      </div>
    </form>
  </mat-card-content>
  <mat-card-header class="mt-20 mb-0 search">
    <mat-card-title clas>
      <button class="search-btn" type="button" mat-button (click)="search()">
        <i class="material-symbols-outlined">
          search
        </i>
        Tìm kiếm
      </button>
      <button class="reset-btn" type="button" mat-button (click)="clear()">
        <i class="material-symbols-outlined">
          refresh
        </i>
        Nhập lại
      </button>
    </mat-card-title>
  </mat-card-header>
</mat-card>

<!-- Content -->
<!--<img src="images/NHO00069.jpg" class="rounded-circle" alt="user-image">-->
<mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-header>
    <mat-card-title>
      <h5 class="mb-0">
        Content goes here!
      </h5>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows="true">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? toggleAllRows() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> STT</th>
          <td mat-cell *matCellDef="let element; let i = dataIndex">{{ i + 1 }}</td>
        </ng-container>
        @for (innerColumn of _displayedColumns; track innerColumn.value) {
        <ng-container matColumnDef="{{innerColumn.value}}">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>{{ innerColumn.label | titlecase }}</th>
            <td mat-cell *matCellDef="let element">{{
        element[innerColumn.value]|dataTransformPipe:[innerColumn.type,innerColumn.format] }}</td>
          </ng-container>
        }
        <!--&lt;!&ndash; Project Name Column &ndash;&gt;
        <ng-container matColumnDef="soDx">
          <th mat-header-cell *matHeaderCellDef>
            Tên đề tài
          </th>
          <td mat-cell *matCellDef="let element">
            <a routerLink="/dashboard/project-management-page/" class="fw-medium">
              {{element.soDx}}
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="child">
          <td mat-cell *matCellDef="let element">
            {{element.child}}
          </td>
        </ng-container>

        &lt;!&ndash; Deadline Column &ndash;&gt;
        <ng-container matColumnDef="deadline">
          <th mat-header-cell *matHeaderCellDef>
            Deadline
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.deadline}}
          </td>
        </ng-container>

        &lt;!&ndash; Status Column &ndash;&gt;
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>
            Status
          </th>
          <td mat-cell *matCellDef="let element">
                        <span class="trezo-badge" *ngIf="element.status.completed">
                            Completed
                        </span>
            <span class="trezo-badge inProgress" *ngIf="element.status.inProgress">
                            In Progress
                        </span>
            <span class="trezo-badge pending" *ngIf="element.status.pending">
                            Pending
                        </span>
            <span class="trezo-badge rejected" *ngIf="element.status.cancelled">
                            Cancelled
                        </span>
          </td>
        </ng-container>-->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!--        <tr mat-row *matRowDef="let row; columns: ['child'];"></tr>-->

      </table>
    </div>
    <!--<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons (page)="onPageChange($event)" ></mat-paginator>-->
    <mat-paginator
      (page)="onPageChange($event)"
      [length]="totalElement"
      [pageSize]="pageSize"
      [showFirstLastButtons]="showFirstLastButtons"
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="pageIndex"
      aria-label="Select page">
    </mat-paginator>
  </mat-card-content>
</mat-card>


<!--

<div class="row">
  <div class="col-12 text-center">
    <label for="Heading" class="form-control">
      Multiple expandable / collapseble rows - angular Material Table
    </label>
    <app-detail-row [detailItem]="'toto'"></app-detail-row>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-8">
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource" multiTemplateDataRows="true">
        &lt;!&ndash; Expand Column &ndash;&gt;
        <ng-container matColumnDef="expand">
          <mat-header-cell *matHeaderCellDef> Expand </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="!element.isExpanded" class="signs">+</span>
            <span *ngIf="element.isExpanded" class="signs">-</span>
          </mat-cell>
        </ng-container>

        &lt;!&ndash; Roll No Column &ndash;&gt;
        <ng-container matColumnDef="rollNo">
          <mat-header-cell *matHeaderCellDef> Roll No </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.rollNo}} </mat-cell>
        </ng-container>

        &lt;!&ndash; Name Column &ndash;&gt;
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        &lt;!&ndash; Marks Column &ndash;&gt;
        <ng-container matColumnDef="marks">
          <mat-header-cell *matHeaderCellDef> Marks </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.marks}} </mat-cell>
        </ng-container>

        &lt;!&ndash; Standard Column &ndash;&gt;
        <ng-container matColumnDef="standard">
          <mat-header-cell *matHeaderCellDef> Standard </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.standard}} </mat-cell>
        </ng-container>

        &lt;!&ndash; Expanded Content Column - The detail row is made up of this one column &ndash;&gt;
        <ng-container matColumnDef="expandedDetail">
          <mat-cell *matCellDef="let element">
            <app-detail-row [detailItem]="element.name"></app-detail-row>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row
          *matRowDef="let row; columns: displayedColumns;"
          matRipple
          class="element-row"
          [class.expanded]="row.isExpanded"
          (click)="expandCollapse(row)"
        ></mat-row>

        <mat-row
          *matRowDef="let row; columns: ['expandedDetail'];"
          [@detailExpand]="row.isExpanded == true ? 'expanded' : 'collapsed'"
          style="overflow: hidden"
        >
        </mat-row>
      </mat-table>
    </div>
  </div>
</div>
-->
