<ng-container>
  <mat-card class="mb-15 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
      <form [formGroup]="formGroupSearch" autocomplete="off">
        <div class="row">
          <div class="col-3" sizeInput='md'>
            <mat-form-field>
              <mat-label i18n>Keyword</mat-label>
              <input formControlName="searchString" matInput>
              <i class="material-symbols-outlined mr-15" matSuffix>
                search
              </i>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='md'>
            <mat-form-field>
              <mat-label i18n>Status Email</mat-label>
              <mat-select formControlName="statusEmail">
                <mat-option [value]="null" i18n>-- All Status --</mat-option>
                @for (item of listInvoiceDocumentStatusEmail; track item) {
                  <mat-option [value]="item.key">{{ item.value }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-1" sizeInput='md'>
            <mat-card-header class="mb-0">
              <mat-card-title clas>
                <button (click)="getDocumentNotSent(formGroupSearch.getRawValue())" class="search-btn" i18n mat-button>
                  <i class="material-symbols-outlined">
                    search
                  </i>
                  Search
                </button>
              </mat-card-title>
            </mat-card-header>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <!-- Content -->
  <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
      <mat-card-title>
      </mat-card-title>
      <mat-card-subtitle>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="table-responsive">
        <table [dataSource]="dataSource" class="table-light table-responsive" mat-table
               style="border-collapse: separate;">
          <ng-container matColumnDef="stt">
            <th *matHeaderCellDef class="text-center" mat-header-cell mat-sort-header rowspan="2">#</th>
            <td *matCellDef="let element; let i = index" class="text-center"
                mat-cell>{{ (pageIndex * pageSize) + i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="invoice">
            <th *matHeaderCellDef class="text-center " mat-header-cell mat-sort-header rowspan="2">Invoice
            </th>
            <td *matCellDef="let element" mat-cell>
              @if (!!element.invoiceNumber) {
                <p class="mt-0 mb-0"><span class="text-secondary-bootstrap" i18n>Invoice Number</span>: {{
                        element.invoiceNumber
                  }} </p>
              }
              @if (!!element.invoiceDate) {
                <p class="mt-0 mb-0"><span class="text-secondary-bootstrap" i18n>Invoice Date</span>: {{
                        element.invoiceDate | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT]
                  }} </p>
              }
              @if (!!element.invoiceReceiveDate) {
                <p class="mt-0 mb-0"><span class="text-secondary-bootstrap" i18n>Receiver Date</span>: {{
                        element.invoiceReceiveDate | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT]
                  }} </p>
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="periodDate">
            <th *matHeaderCellDef class="text-center " mat-header-cell mat-sort-header rowspan="2">Period Date
            </th>
            <td *matCellDef="let element" mat-cell>
              @if (!!element.periodFrom && !!element.periodTo) {
                {{ element.periodFrom | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT] }}
                - {{ element.periodTo | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT] }}
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="contract">
            <th *matHeaderCellDef class="text-center " mat-header-cell mat-sort-header rowspan="2">Contract
            </th>
            <td *matCellDef="let element" mat-cell>
              @if (!!element.bizDocId) {
                <p class="mt-0 mb-0"><span class="text-secondary-bootstrap" i18n>BizDocId</span>: {{ element.bizDocId }}
                </p>
              }
              @if (!!element.partnerName) {
                <p class="mt-0 mb-0"><span class="text-secondary-bootstrap" i18n>Partner Name</span>: {{
                        element.partnerName
                  }} </p>
              }
              @if (!!element.partnerType) {
                <p class="mt-0 mb-0"><span class="text-secondary-bootstrap" i18n>Partner Type</span>: {{
                        element.partnerType
                  }} </p>
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="amountBeforeVat">
            <th *matHeaderCellDef class="text-center " colspan="2" mat-header-cell mat-sort-header>Amount
              Before Vat
            </th>
          </ng-container>
          <ng-container matColumnDef="vat">
            <th *matHeaderCellDef class="text-center " colspan="2" mat-header-cell mat-sort-header>VAT</th>
          </ng-container>
          <ng-container matColumnDef="totalAmount">
            <th *matHeaderCellDef class="text-center " colspan="2" mat-header-cell mat-sort-header>Total
              Amount
            </th>
          </ng-container>
          <ng-container matColumnDef="reimbursementTotal">
            <th *matHeaderCellDef class="text-center " colspan="2" mat-header-cell mat-sort-header>
              Reimbursement Total
            </th>
          </ng-container>
          @for (innerColumn of _displayedColumns; track innerColumn.value) {
            <ng-container matColumnDef="{{innerColumn.value}}">
              <th mat-sort-header mat-header-cell *matHeaderCellDef class="text-center"
                  [rowSpan]="(formType===1 || formType===2)?innerColumn.rowspan:1"
                  [colSpan]=innerColumn.colspan>
                {{ innerColumn.label }}
              </th>
              <td
                  [ngClass]="{'text-right': innerColumn.type === Constant.NUMBER}"
                  mat-cell *matCellDef="let element">
            <span [ngClass]="{
          'badge': ['status', 'statusEmail', 'statusPayment'].includes(innerColumn.value),
          'text-soft-dark': ['status', 'statusEmail', 'statusPayment'].includes(innerColumn.value) && (element['status']
          === 'UNVERIFIED' || element['statusEmail'] ==='UNSEND'|| element['statusPayment'] === 'UNPAID'),
          'text-soft-primary': ['status', 'statusEmail', 'statusPayment'].includes(innerColumn.value) &&
          element['status'] === 'VERIFIED',
          'text-soft-info': ['status', 'statusEmail', 'statusPayment'].includes(innerColumn.value) && element['status']
          === 'MATCHED',
          'text-soft-danger': ['status', 'statusEmail', 'statusPayment'].includes(innerColumn.value) &&
          element['status'] === 'UNMATCHED',
          'text-soft-success': ['status', 'statusEmail', 'statusPayment'].includes(innerColumn.value) &&
          (element['status'] === 'FINISHED' || element['statusEmail'] ==='SEND'|| element['statusPayment'] === 'PAID'),
          }">{{ element[innerColumn.value]|dataTransformPipe:[innerColumn.type, innerColumn.format] }}</span>
              </td>
            </ng-container>
          }
          <!-- Action Column -->
          <ng-container matColumnDef="action" stickyEnd>
            <th *matHeaderCellDef class="text-end" i18n mat-header-cell rowspan="2">
              Action
            </th>
            <td *matCellDef="let element;let i = index" mat-cell>
              <div class="action-buttons d-flex align-items-center justify-content-end">
                @if (element.statusEmail !=='SEND') {
                <a class="text-secondary"
                   mat-button type="button">
                  <i (click)="showDialogSendEmail(element)" class="material-symbols-outlined" i18n-title title="Email">
                    email
                  </i>
                </a>
                }
              </div>
            </td>
          </ng-container>
          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" class="input-row" mat-row></tr>
          <tr *matNoDataRow class="mat-row">
            <td [attr.colspan]="displayedColumns.length" class="mat-cell border-none text-center"><span
                i18n>No data!</span></td>
          </tr>
        </table>
      </div>
      <!--<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons (page)="onPageChange($event)" ></mat-paginator>-->
      <mat-paginator (page)="onPageChange($event)" [length]="totalElement" [pageIndex]="pageIndex"
                     [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
                     [showFirstLastButtons]="showFirstLastButtons"
                     aria-label="Select page">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</ng-container>

<!-- Send email Popup -->
<div
    [class.active]="showDialogCreate"
    class="add-new-popup"
>
  <div class="popup-dialog">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none container">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0">
            <span i18n>Send Email to Partner for Unsent Invoice</span>
          </h5>
        </mat-card-title>
        <mat-card-subtitle>
          <button
              (click)="closeDetail()"
              mat-button
          >
            <i class="ri-close-fill"></i>
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="formGroupDetail" autocomplete="off">
          <div class="row">
            <div class="col-md-12 mt-15" sizeInput='sm'>
              <mat-form-field>
                <mat-label i18n>To</mat-label>
                <mat-select required formControlName="emailTo" #controlEl [matTooltip]="controlEl.triggerValue">
                  @for (item of listEmailTo; track item) {
                    <mat-option [value]="item.emails">{{ item.groupName }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-12 mt-15" sizeInput='sm'>
              <mat-form-field>
                <mat-label i18n>Cc</mat-label>
                <input formControlName="emailCc" matInput trim="blur" type="text">
                <mat-error>
                  <app-control-error controlName="emailCc" manualKey="email"></app-control-error>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12 mt-15" sizeInput='sm'>
              <mat-form-field>
                <mat-label i18n>Subject</mat-label>
                <mat-select required formControlName="emailSubject" #controlEl [matTooltip]="controlEl.triggerValue"
                            (selectionChange)="onChangeSubject($event.value)">
                  @for (item of listEmailSubject; track item) {
                  <mat-option [value]="item.title">{{ item.title }}</mat-option>
                  }
                </mat-select>
                <mat-error>
                  <app-control-error controlName="emailSubject"></app-control-error>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12 mt-15" sizeInput='sm'>
              <div class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                <ngx-editor [editor]="editor" formControlName="emailContent" required></ngx-editor>
                <mat-error *ngxControlError="formGroupDetail.controls['emailContent']; track: 'required'" i18n>
                  <i>Email content {{ MESSAGE.REQUIRED }}</i>
                </mat-error>
              </div>
            </div>
            <div class="col-md-12 mt-15" sizeInput='sm'>
              <file-upload [accept]="COMMON_CONFIG.FILE_ACCEPT" [multiple]="true"
                           class="file-uploader"
                           formControlName="fileAttachs"></file-upload>
            </div>
          </div>
        </form>
        <div class="btn-box mt-20">
          <button (click)="closeDetail()" class="close-btn" i18n mat-button type="button">
            <i class="material-symbols-outlined">
              close
            </i>
            Close
          </button>
          <button (click)="sendEmail(invoiceDocumentEmailTypeEnum.REMIND)"
                  class="add-btn"
                  i18n mat-button>
            <i class="material-symbols-outlined">
              send
            </i>
            Send
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
