<ng-container>
  <mat-card class="mb-15 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
      <form [formGroup]="formGroupSearch" autocomplete="off">
        <div class="row">
          <div class="col-2" sizeInput='md'>
            <mat-form-field>
              <mat-label i18n>Keyword</mat-label>
              <input formControlName="searchString" matInput>
              <i class="material-symbols-outlined mr-15" matSuffix>
                search
              </i>
            </mat-form-field>
          </div>
          <div class="col-2" sizeInput='md'>
            <app-select-multiple [options]="listFlightMarket" [required]="false"
                                 attrValue="" formControlName="airportCode"
                                 label="Airport code" size="md">
            </app-select-multiple>
          </div>
          <div class="col-2" sizeInput='md'>
            <mat-form-field>
              <mat-label i18n>Matching status</mat-label>
              <mat-select formControlName="status">
                <mat-option [value]="null" i18n>-- All Status --</mat-option>
                @for (item of listInvoiceDocumentStatus; track item) {
                  <mat-option [value]="item.key">{{ item.value }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2" sizeInput='md'>
            <mat-form-field>
              <mat-label i18n>Email status</mat-label>
              <mat-select formControlName="statusEmail">
                <mat-option [value]="null" i18n>-- All Status --</mat-option>
                @for (item of listInvoiceDocumentStatusEmail; track item) {
                  <mat-option [value]="item.key">{{ item.value }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='md'>
            <mat-form-field>
              <mat-label i18n>Period Date</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input formControlName="periodFrom" matStartDate placeholder="dd/mm/yyyy">
                <input formControlName="periodTo" matEndDate placeholder="dd/mm/yyyy">
              </mat-date-range-input>
              <!--              <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>-->
              <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              @if (!!formGroupSearch.controls['periodFrom'].hasError('matStartDateInvalid')) {
                <mat-error>Invalid start date</mat-error>
              }
              @if (!!formGroupSearch.controls['periodTo'].hasError('matEndDateInvalid')) {
                <mat-error>Invalid end date</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-1" sizeInput='md'>
            <mat-card-header class="mb-0">
              <mat-card-title clas>
                <button (click)="search()" class="search-btn" i18n mat-button>
                  <i class="material-symbols-outlined">
                    search
                  </i>
                  Search
                </button>
              </mat-card-title>
            </mat-card-header>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <!-- Content -->
  <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
      <mat-card-title>
      </mat-card-title>
      <mat-card-subtitle>
        <button (click)="download('EXPORT')" class="add-btn mr-10" i18n mat-button
                type="button">
          <i class="material-symbols-outlined">
            download
          </i>
          Export
        </button>
        <button (click)="nextStep(0,false,2)" class="add-btn" i18n mat-button type="button">
          <i class="material-symbols-outlined">
            add
          </i>
          Add new
        </button>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <span class="fw-bold">List of Invoice</span>
      <div class="table-responsive">
        <table [dataSource]="dataSource" class="table-light table-responsive" mat-table
               style="border-collapse: separate;">
          <ng-container matColumnDef="stt" sticky>
            <th *matHeaderCellDef class="text-center" mat-header-cell mat-sort-header rowspan="2">#</th>
            <td *matCellDef="let element; let i = index" class="text-center"
                mat-cell>{{ (pageIndex * pageSize) + i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="invoice" sticky>
            <th *matHeaderCellDef class="text-center " mat-header-cell mat-sort-header rowspan="2">Invoice
            </th>
            <td *matCellDef="let element" mat-cell>
              @if (!!element.invoiceNumber) {
                <p class="mt-0 mb-0"><span class="text-secondary-bootstrap" i18n>Invoice Number</span>: {{
                        element.invoiceNumber
                  }} </p>
              }
              @if (!!element.invoiceDate) {
                <p class="mt-0 mb-0"><span class="text-secondary-bootstrap" i18n>Invoice Date</span>: {{
                        element.invoiceDate | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT]
                  }} </p>
              }
              @if (!!element.invoiceReceiveDate) {
                <p class="mt-0 mb-0"><span class="text-secondary-bootstrap" i18n>Receiver Date</span>: {{
                        element.invoiceReceiveDate | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT]
                  }} </p>
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="periodDate" sticky>
            <th *matHeaderCellDef class="text-center " mat-header-cell mat-sort-header rowspan="2">Period Date
            </th>
            <td *matCellDef="let element" mat-cell>
              @if (!!element.periodFrom && !!element.periodTo) {
                {{ element.periodFrom | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT] }}
                - {{ element.periodTo | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT] }}
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="contract">
            <th *matHeaderCellDef class="text-center " mat-header-cell mat-sort-header rowspan="2">Contract
            </th>
            <td *matCellDef="let element" mat-cell>
              @if (!!element.bizDocId) {
                <p class="mt-0 mb-0"><span class="text-secondary-bootstrap" i18n>BizDocId</span>: {{ element.bizDocId }}
                </p>
              }
              @if (!!element.partnerName) {
                <p class="mt-0 mb-0"><span class="text-secondary-bootstrap" i18n>Partner Name</span>: {{
                        element.partnerName
                  }} </p>
              }
              @if (!!element.partnerType) {
                <p class="mt-0 mb-0"><span class="text-secondary-bootstrap" i18n>Partner Type</span>: {{
                        element.partnerType
                  }} </p>
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="amountBeforeVat">
            <th *matHeaderCellDef class="text-center " colspan="2" mat-header-cell mat-sort-header>Amount
              Before Vat
            </th>
          </ng-container>
          <ng-container matColumnDef="vat">
            <th *matHeaderCellDef class="text-center " colspan="2" mat-header-cell mat-sort-header>VAT</th>
          </ng-container>
          <ng-container matColumnDef="totalAmount">
            <th *matHeaderCellDef class="text-center " colspan="2" mat-header-cell mat-sort-header>Total
              Amount
            </th>
          </ng-container>
          <ng-container matColumnDef="reimbursementTotal">
            <th *matHeaderCellDef class="text-center " colspan="2" mat-header-cell mat-sort-header>
              Reimbursement Total
            </th>
          </ng-container>
          @for (innerColumn of _displayedColumnsAll; track innerColumn.value) {
            <ng-container matColumnDef="{{innerColumn.value}}" [sticky]="innerColumn.sticky">
              <th mat-sort-header mat-header-cell *matHeaderCellDef class="text-center"
                  [rowSpan]="(formType===1 || formType===2)?innerColumn.rowspan:1"
                  [colSpan]=innerColumn.colspan>
                {{ innerColumn.label }}
              </th>
              <td
                  [ngClass]="{'text-right': innerColumn.type === Constant.NUMBER}"
                  mat-cell *matCellDef="let element">
            <span [ngClass]="{
          'badge': ['status', 'statusEmail', 'statusPayment'].includes(innerColumn.value),

          'text-soft-info': innerColumn.value === 'status' && element['status'] === 'MATCHED',
          'text-soft-warning': innerColumn.value === 'status' && element['status'] === 'UNMATCHED',
          'text-soft-danger': innerColumn.value === 'status' && element['status'] === 'UNVERIFIED',

          'text-soft-dark': (innerColumn.value === 'statusEmail' && element['statusEmail'] === 'UNSEND') ||
          (innerColumn.value === 'statusPayment' && ['UNPAID','NEGOTIABLE','CLEARED BUT UNACCOUNTED', 'RECONCILED UNACCOUNTED', 'VOIDED'].includes(element['statusPayment'])),

          'text-soft-vna': (innerColumn.value === 'statusEmail' && ['FINISHED', 'SEND', 'CLEARED', 'RECONCILED', 'PAID'].includes(element['statusEmail'])) ||
          (innerColumn.value === 'status' && ['VERIFIED','FINISHED'].includes(element['status'])) ||
          (innerColumn.value === 'statusPayment' && ['FINISHED', 'SEND', 'CLEARED', 'RECONCILED', 'PAID'].includes(element['statusPayment']))
          }">{{ element[innerColumn.value]|dataTransformPipe:[innerColumn.type, innerColumn.format] }}</span>
              </td>
            </ng-container>
          }
          <!-- Action Column -->
          <ng-container matColumnDef="action" stickyEnd>
            <th *matHeaderCellDef class="text-end" i18n mat-header-cell rowspan="2">
              Action
            </th>
            <td *matCellDef="let element;let i = index" mat-cell>
              <div class="action-buttons d-grid-columns-3 align-items-center justify-content-end">
                @if (element.idInvoiceForm) {
                  <a class="text-secondary"
                     mat-button type="button">
                    <i (click)="showFormHdr(element.idInvoiceForm||-1)" class="material-symbols-outlined" i18n-title
                       title="Detailed Statement">
                      contract
                    </i>
                  </a>
                }
                @if (element.listChild.length > 0) {
                  <a class="text-secondary" mat-button
                     type="button">
                    <i class="material-symbols-outlined" i18n-title
                       [matMenuTriggerFor]="listChild"
                       title="Detail">
                      visibility
                    </i>
                  </a>
                  <mat-menu #listChild="matMenu" xPosition="before">
                    <mat-list role="list">
                      <mat-list-item role="listitem" (click)="nextStep(element.id,true,2,element)">View Current Invoice</mat-list-item>
                      <mat-list-item role="listitem" (click)="nextStep(element.listChild[0].id,true,2,element.listChild[0])">View Previous Invoice
                      </mat-list-item>
                    </mat-list>
                  </mat-menu>
                } @else {
                  <a class="text-secondary" mat-button
                     type="button">
                    <i (click)="nextStep(element.id,true,2,element)" class="material-symbols-outlined" i18n-title
                       title="Detail">
                      visibility
                    </i>
                  </a>
                }


                <a class="text-secondary" mat-button
                   type="button">
                  <i (click)="nextStep(0,false,2,element)" class="material-symbols-outlined" i18n-title title="Copy">
                    file_copy
                  </i>
                </a>
                @if (element.status === 'FINISHED' && element.statusEmail === 'UNSEND') {
                  <a class="text-secondary" mat-button
                     type="button">
                    <i (click)="showDialogSendEmail(element)" class="material-symbols-outlined" i18n-title title="Email">
                      email
                    </i>
                  </a>
                }
                <a class="text-warning" mat-button
                   type="button">
                  <i (click)="nextStep(element.id,false,2,element)" class="material-symbols-outlined" i18n-title
                     title="Edit">
                    edit
                  </i>
                </a>
                @if (element.status === 'UNMATCHED') {
                  <a class="text-success" mat-button
                     type="button">
                    <i (click)="nextStep(element.id,false,3,element)" class="material-symbols-outlined" i18n-title
                       title="Verify">
                      task_alt
                    </i>
                  </a>
                }
                @else{
                <a class="text-secondary" mat-button
   type="button">
  <i (click)="nextStep(element.id,true,3,element)" class="material-symbols-outlined" i18n-title
     title="View reconciliation">
    text_compare
  </i>
</a>
                }
                @if (element.status === 'UNMATCHED' && element.source === 'MANUAL') {
                  <a class="text-danger" mat-button
                     type="button">
                    <i (click)="showConfirmDelete(element.id)" class="material-symbols-outlined" i18n-title
                       title="Delete">
                      delete
                    </i>
                  </a>
                }
              </div>
            </td>
          </ng-container>
          <tr *matHeaderRowDef="_displayedColumnsHeader1" mat-header-row></tr>
          <tr *matHeaderRowDef="_displayedColumnsHeader2" mat-header-row></tr>
          <tr (click)="showDocumentDtl(row)" *matRowDef="let row; columns: _displayedColumnsRow;" [class.selected-row]="isSelected(row)"
              class="input-row clickable-row"
              mat-row></tr>
          <tr *matNoDataRow class="mat-row">
            <td [attr.colspan]="_displayedColumnsRow.length" class="mat-cell border-none text-start"><span
                i18n>No data!</span></td>
          </tr>
        </table>
      </div>
      <!--<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons (page)="onPageChange($event)" ></mat-paginator>-->
      <mat-paginator (page)="onPageChange($event)" [length]="totalElement" [pageIndex]="pageIndex"
                     [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
                     [showFirstLastButtons]="showFirstLastButtons"
                     aria-label="Select page">
      </mat-paginator>
      @if (dataSource.data.length > 0) {
        <div class="table-responsive mt-25">
          <span class="fw-bold">Detailed payment information</span>
          <table [dataSource]="tblDetail" class="table-light table-responsive"
                 mat-table>
            <ng-container matColumnDef="stt">
              <th *matHeaderCellDef class="text-center" mat-header-cell mat-sort-header rowspan="2">#</th>
              <td *matCellDef="let element; let i = index" class="text-center"
                  mat-cell>{{ i + 1 }}
              </td>
            </ng-container>
            <ng-container matColumnDef="serviceCode">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">Service Code
              </th>
              <td *matCellDef="let element" mat-cell>
           <span class="label-text">
      {{ element.serviceCode }}
      </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="serviceName">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">Service Name</th>
              <td *matCellDef="let element" mat-cell>
           <span class="label-text">
      {{ element.serviceName }}
      </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="unit">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">Unit</th>
              <td *matCellDef="let element" mat-cell>
                <span class="label-text">{{ element.unit }}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="periodOccurrence">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">Period
                Occurrence
              </th>
              <td *matCellDef="let element" mat-cell>
              <span
                  class="label-text">{{ element.periodOccurrence | dataTransformPipe:[Constant.DATE, Constant.MONTH_FORMAT] }}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="nsCode">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">NS Code</th>
              <td *matCellDef="let element" mat-cell>
                <span class="label-text">{{ element.nsCode }}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="quantity">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">Quantity
              </th>
              <td *matCellDef="let element" mat-cell>
                <span class="label-text">{{ element.quantity | dataTransformPipe:[Constant.NUMBER] }}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="unitPrice">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">Unit Price
              </th>
              <td *matCellDef="let element" mat-cell>
                <span class="label-text">{{ element.unitPrice | dataTransformPipe:[Constant.NUMBER] }}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="amountFcBeforeVat">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">
                Amount Fc Before Vat
              </th>
              <td *matCellDef="let element" mat-cell>
                <span class="label-text">{{ element.amountFcBeforeVat | dataTransformPipe:[Constant.NUMBER, 4] }}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="amountVndBeforeVat">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">
                Amount Vnd Before Vat
              </th>
              <td *matCellDef="let element" mat-cell>
                <span class="label-text">{{ element.amountVndBeforeVat | dataTransformPipe:[Constant.NUMBER, 4] }}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="amountFcVat">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">Amount Fc</th>
              <td *matCellDef="let element" mat-cell>
                <span class="label-text">{{ element.amountFcVat | dataTransformPipe:[Constant.NUMBER, 4] }}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="amountVndVat">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">Amount Vnd</th>
              <td *matCellDef="let element" mat-cell>
                <span class="label-text">{{ element.amountVndVat | dataTransformPipe:[Constant.NUMBER, 4] }}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="vatType">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">Vat Type</th>
              <td *matCellDef="let element" mat-cell>
                <span class="label-text">{{ element.vatType }}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="vat">
              <th *matHeaderCellDef class="text-center" i18n mat-header-cell mat-sort-header rowspan="2">%VAT</th>
              <td *matCellDef="let element" mat-cell>
                <span class="label-text">{{ element.vat | dataTransformPipe:[Constant.NUMBER] }}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="vatHeader">
              <th *matHeaderCellDef class="text-center" colspan="4" i18n mat-header-cell mat-sort-header>VAT
            </ng-container>
            <tr
                *matHeaderRowDef="['stt','serviceCode','serviceName','unit','periodOccurrence','nsCode','quantity','unitPrice','amountFcBeforeVat','amountVndBeforeVat','vatHeader']"
                mat-header-row></tr>
            <tr *matHeaderRowDef="['vatType','vat','amountFcVat','amountVndVat']" mat-header-row></tr>
            <tr
                *matRowDef="let row; columns: ['stt','serviceCode','serviceName','unit','periodOccurrence','nsCode','quantity','unitPrice','amountFcBeforeVat','amountVndBeforeVat','vatType','vat','amountFcVat','amountVndVat',];"
                class="input-row" mat-row></tr>
            <tr *matNoDataRow class="mat-row">
              <td [attr.colspan]="1" class="mat-cell border-none text-start"><span
                  i18n>No data!</span></td>
            </tr>
          </table>
        </div>
      }

    </mat-card-content>
  </mat-card>
</ng-container>

<div [class.active]="isShowFormHdr" class="add-new-popup">
  <div class="popup-dialog popup-dialog-info" style="margin-top: 80px">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none container">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0">
            <span i18n>Detailed Statement</span>
          </h5>
        </mat-card-title>
        <mat-card-content>
          <div class="btn-box text-right mb-20">
            <button (click)="closeInvoiceForm()" class="close-btn  min-with-100 mlr-5" mat-button
                    type="button">
              <i class="material-symbols-outlined">
                close
              </i>
              <span i18n>Close</span>
            </button>
          </div>
          <app-invoice-form-detail (dialogModeEmit)="showFormHdr($event)" *ngIf="formHdrId" [dialogMode]=true
                                   [id]="formHdrId"
                                   [readMode]="true"></app-invoice-form-detail>
        </mat-card-content>
      </mat-card-header>
    </mat-card>
  </div>
</div>
<!-- Send email Popup -->
<div
    [class.active]="showDialogCreate"
    class="add-new-popup"
>
  <div class="popup-dialog">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none container">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0">
            <span i18n>Send Invoice Confirmation Email to Partner</span>
          </h5>
        </mat-card-title>
        <mat-card-subtitle>
          <button
              (click)="closeDetail()"
              mat-button
          >
            <i class="ri-close-fill"></i>
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="formGroupDetail" autocomplete="off">
          <div class="row">
            <div class="col-md-12 mt-15" sizeInput='sm'>
              <mat-form-field>
                <mat-label i18n>To</mat-label>
                <input formControlName="emailTo" matInput required
                       trim="blur" type="text">
                <mat-error>
                  <app-control-error controlName="emailTo" manualKey="email"></app-control-error>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12 mt-15" sizeInput='sm'>
              <mat-form-field>
                <mat-label i18n>Cc</mat-label>
                <input formControlName="emailCc" matInput trim="blur" type="text">
                <mat-error>
                  <app-control-error controlName="emailCc" manualKey="email"></app-control-error>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12 mt-15" sizeInput='sm'>
              <mat-form-field>
                <mat-label i18n>Subject</mat-label>
                <input formControlName="emailSubject" matInput required
                       trim="blur" type="text">
                <mat-error>
                  <app-control-error controlName="emailSubject"></app-control-error>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12 mt-15" style sizeInput='sm'>
              <div class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                <ngx-editor [editor]="editor" formControlName="emailContent" required></ngx-editor>
                <mat-error *ngxControlError="formGroupDetail.controls['emailContent']; track: 'required'" i18n>
                  <i>Email content {{ MESSAGE.REQUIRED }}</i>
                </mat-error>
              </div>
            </div>
            <div class="col-md-12 mt-15" sizeInput='sm'>
              <file-upload [accept]="COMMON_CONFIG.FILE_ACCEPT" [multiple]="true"
                           class="file-uploader"
                           formControlName="fileAttachs"></file-upload>
            </div>
          </div>
        </form>
        <div class="btn-box mt-20">
          <button (click)="closeDetail()" class="close-btn" i18n mat-button type="button">
            <i class="material-symbols-outlined">
              close
            </i>
            Close
          </button>
          <button (click)="sendEmail(invoiceDocumentEmailTypeEnum.CONFIRM)"
                  class="add-btn"
                  i18n mat-button>
            <i class="material-symbols-outlined">
              send
            </i>
            Send
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<app-confirm-dialog
    (closeDialog)="closeConfirmDelete()"
    (confirm)="delete()"
    [icon]="'error'"
    [mainText]="'Are you sure you want to delete?'"
    [showDialog]="showDialogDelete"
    [subText]="'You will not be able to recover the deleted data!'"
    i18n-mainText
    i18n-subText>
</app-confirm-dialog>