<ng-container>
  <mat-card class="mb-15 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
      <form [formGroup]="formGroupSearch" autocomplete="off">
        <div class="row">
          <div class="col-2" sizeInput='md'>
            <mat-form-field>
              <mat-label i18n>Keyword</mat-label>
              <input formControlName="searchString" matInput>
              <i class="material-symbols-outlined mr-15" matSuffix>
                search
              </i>
            </mat-form-field>
          </div>
          <div class="col-2" sizeInput='md'>
            <mat-form-field>
              <mat-label i18n>Airport Code</mat-label>
              <mat-select formControlName="airportCode" multiple>
                @for (item of listFlightMarket; track item) {
                <mat-option [value]="item">{{ item }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2" sizeInput='md'>
            <mat-form-field>
              <mat-label i18n>Status</mat-label>
              <mat-select formControlName="status">
                <mat-option [value]="null" i18n>-- All Status --</mat-option>
                @for (item of listInvoiceDocumentStatus; track item) {
                <mat-option [value]="item.key">{{ item.value }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2" sizeInput='md'>
            <mat-form-field>
              <mat-label i18n>Status Email</mat-label>
              <mat-select formControlName="statusEmail">
                <mat-option [value]="null" i18n>-- All Status --</mat-option>
                @for (item of listInvoiceDocumentStatusEmail; track item) {
                <mat-option [value]="item.key">{{ item.value }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3" sizeInput='md'>
            <mat-form-field>
              <mat-label i18n>Period Date</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input formControlName="periodFrom" matStartDate placeholder="Start date">
                <input formControlName="periodTo" matEndDate placeholder="End date">
              </mat-date-range-input>
              <!--              <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>-->
              <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              @if (!!formGroupSearch.controls['periodFrom'].hasError('matStartDateInvalid')) {
              <mat-error>Invalid start date</mat-error>
              }
              @if (!!formGroupSearch.controls['periodTo'].hasError('matEndDateInvalid')) {
              <mat-error>Invalid end date</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-1" sizeInput='md'>
            <mat-card-header class="mb-0">
              <mat-card-title clas>
                <button (click)="search()" class="search-btn" i18n mat-button>
                  <i class="material-symbols-outlined">
                    search
                  </i>
                  Search
                </button>
              </mat-card-title>
            </mat-card-header>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <!-- Content -->
  <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
      <mat-card-title>
      </mat-card-title>
      <mat-card-subtitle>
        <button class="add-btn mr-10" i18n mat-button
                type="button">
          <i class="material-symbols-outlined">
            download
          </i>
          Export
        </button>
        <button (click)="openDialogFile()" class="add-btn" i18n mat-button type="button">
          <i class="material-symbols-outlined">
            add
          </i>
          Add new
        </button>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="table-responsive">
        <table [dataSource]="dataSource" class="table-light table-responsive"
               mat-table>
          <ng-container matColumnDef="stt">
            <th *matHeaderCellDef class="text-center" mat-header-cell mat-sort-header rowspan="2">#</th>
            <td *matCellDef="let element; let i = index" class="text-center"
                mat-cell>{{ (pageIndex * pageSize) + i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="invoice">
            <th *matHeaderCellDef class="text-center " mat-header-cell mat-sort-header rowspan="2">Invoice
            </th>
            <td *matCellDef="let element" mat-cell>
              @if (!!element.invoiceNumber) {
              <p class="mt-0 mb-0"> <span class="text-secondary-bootstrap" i18n>Invoice Number</span>: {{
              element.invoiceNumber }} </p>
              }
              @if (!!element.invoiceDate) {
              <p class="mt-0 mb-0"> <span class="text-secondary-bootstrap" i18n>Invoice Date</span>: {{
              element.invoiceDate | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT] }} </p>
              }
              @if (!!element.invoiceReceiveDate) {
              <p class="mt-0 mb-0"> <span class="text-secondary-bootstrap" i18n>Receiver Date</span>: {{
              element.invoiceReceiveDate | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT] }} </p>
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="periodDate">
            <th *matHeaderCellDef class="text-center " mat-header-cell mat-sort-header rowspan="2">Period Date
            </th>
            <td *matCellDef="let element" mat-cell>
              @if (!!element.periodFrom && !!element.periodTo) {
              {{element.periodFrom | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT]}}
              - {{ element.periodTo | dataTransformPipe:[Constant.DATE, Constant.DATE_FORMAT] }}
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="contract">
            <th *matHeaderCellDef class="text-center " mat-header-cell mat-sort-header rowspan="2">Contract
            </th>
            <td *matCellDef="let element" mat-cell>
              @if (!!element.bizDocId) {
              <p class="mt-0 mb-0"> <span class="text-secondary-bootstrap" i18n>BizDocId</span>: {{ element.bizDocId }}
              </p>
              }
              @if (!!element.partnerName) {
              <p class="mt-0 mb-0"> <span class="text-secondary-bootstrap" i18n>Partner Name</span>: {{
              element.partnerName }} </p>
              }
              @if (!!element.partnerType) {
              <p class="mt-0 mb-0"> <span class="text-secondary-bootstrap" i18n>Partner Type</span>: {{
              element.partnerType }} </p>
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="amountBeforeVat">
            <th *matHeaderCellDef class="text-center " colspan="2" mat-header-cell mat-sort-header>Amount
              Before Vat
            </th>
          </ng-container>
          <ng-container matColumnDef="vat">
            <th *matHeaderCellDef class="text-center " colspan="2" mat-header-cell mat-sort-header>VAT</th>
          </ng-container>
          <ng-container matColumnDef="totalAmount">
            <th *matHeaderCellDef class="text-center " colspan="2" mat-header-cell mat-sort-header>Total
              Amount
            </th>
          </ng-container>
          <ng-container matColumnDef="reimbursementTotal">
            <th *matHeaderCellDef class="text-center " colspan="2" mat-header-cell mat-sort-header>
              Reimbursement Total
            </th>
          </ng-container>
          @for (innerColumn of _displayedColumnsAll; track innerColumn.value) {
          <ng-container matColumnDef="{{innerColumn.value}}">
              <th mat-sort-header mat-header-cell *matHeaderCellDef class="text-center"
                  [rowSpan]="(formType===1 || formType===2)?innerColumn.rowspan:1"
                  [colSpan]=innerColumn.colspan>
          {{ innerColumn.label }}
          </th>
          <td
              [ngClass]="{'text-right': innerColumn.type === Constant.NUMBER}"
                  mat-cell *matCellDef="let element">
            <span [ngClass]="{
          'badge': innerColumn.value === 'activeLabel',
          'text-bg-label-badge': innerColumn.value === 'activeLabel' && element['active'] == 1,
          'text-soft-dark': innerColumn.value === 'activeLabel' && element['active'] == 0
          }">{{ element[innerColumn.value]|dataTransformPipe:[innerColumn.type, innerColumn.format] }}</span>
              </td>
            </ng-container>
          }
          <!-- Action Column -->
          <ng-container matColumnDef="action" stickyEnd>
            <th *matHeaderCellDef class="text-end" i18n mat-header-cell rowspan="2">
              Action
            </th>
            <td *matCellDef="let element;let i = index" mat-cell>
              <div class="action-buttons d-grid-columns-3 align-items-center justify-content-end">
                <a class="text-secondary"
                   mat-button type="button">
                  <i (click)="nextStep(element.id,true,3)" class="material-symbols-outlined" i18n-title title="Detail">
                    contract
                  </i>
                </a>
                <a class="text-secondary" mat-button
                   type="button">
                  <i (click)="nextStep(element.id,true,2)" class="material-symbols-outlined" i18n-title title="Detail">
                    visibility
                  </i>
                </a>
                <a class="text-secondary" mat-button
                   type="button">
                  <i class="material-symbols-outlined" i18n-title title="Copy">
                    file_copy
                  </i>
                </a>
                <a class="text-warning" mat-button
                   type="button">
                  <i class="material-symbols-outlined" i18n-title title="Edit">
                    edit
                  </i>
                </a>
                <a class="text-success" mat-button
                   type="button">
                  <i class="material-symbols-outlined" i18n-title title="Verify">
                    task_alt
                  </i>
                </a>
                <a class="text-danger" mat-button
                   type="button">
                  <i class="material-symbols-outlined" i18n-title title="Delete">
                    delete
                  </i>
                </a>
              </div>
            </td>
          </ng-container>
          <tr *matHeaderRowDef="_displayedColumnsHeader1" mat-header-row></tr>
          <tr *matHeaderRowDef="_displayedColumnsHeader2" mat-header-row></tr>
          <tr *matRowDef="let row; columns: _displayedColumnsRow;" class="input-row" mat-row></tr>
          <tr *matNoDataRow class="mat-row">
            <td [attr.colspan]="_displayedColumnsRow.length" class="mat-cell border-none text-center"><span
              i18n>No data!</span></td>
          </tr>
        </table>
      </div>
      <!--<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons (page)="onPageChange($event)" ></mat-paginator>-->
      <mat-paginator (page)="onPageChange($event)" [length]="totalElement" [pageIndex]="pageIndex"
                     [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
                     [showFirstLastButtons]="showFirstLastButtons"
                     aria-label="Select page">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</ng-container>
