<div class="row">
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows="true" class="table-light">

            <!-- Loại phòng -->
            <ng-container matColumnDef="roomType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center " rowspan="2"
                    i18n="@@roomType">Room type</th>
                <td mat-cell *matCellDef="let element; let i = dataIndex" class="text-center">
                    {{ element[0] === 'single'?'Single room':'Twin room' }}
                </td>
            </ng-container>
            <!-- Số lượng phòng Normal -->
            <ng-container matColumnDef="totalNormalRoom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center " rowspan="2"
                    i18n="@@noOfRoomNormal">No. of room - Normal</th>
                <td mat-cell *matCellDef="let element" class="mat-column-60 right"
                    [style.padding]="element[1]['totalNormalRoomEditing']  && !!!disabled()?'0px !important':''"
                    (click)="clickEdit(element[1], 'totalNormalRoomEditing')">
                    @if(!element[1]['totalNormalRoomEditing'] || !!disabled()){
                    {{ element[1].totalNormalRoom |number }}
                    }@else {
                    <div sizeInput="xs">
                        <mat-form-field (clickOutside)="clickOutside(element[1],'totalNormalRoomEditing')"
                            class="edit-inline-table">
                            <input matInput type="text" digitOnly [min]="0" [max]="9999"
                                [(ngModel)]="element[1].totalNormalRoom">
                        </mat-form-field>
                    </div>
                    }
                </td>
            </ng-container>

            <!-- Số lượng phòng ECI -->
            <ng-container matColumnDef="totalECIRoom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center " rowspan="2"
                    i18n="@@noOfRoomECI">No. of room - ECI</th>
                <td mat-cell *matCellDef="let element" class="mat-column-60 right"
                    [style.padding]="element[1]['totalECIRoomEditing']  && !!!disabled()?'0px !important':''"
                    (click)="clickEdit(element[1], 'totalECIRoomEditing')">
                    @if(!element[1]['totalECIRoomEditing'] || !!disabled()){
                    {{ element[1].totalECIRoom |number }}
                    }@else {
                    <div sizeInput="xs">
                        <mat-form-field (clickOutside)="clickOutside(element[1],'totalECIRoomEditing')"
                            class="edit-inline-table">
                            <input matInput type="text" digitOnly [min]="0" [max]="9999"
                                [(ngModel)]="element[1].totalECIRoom">
                        </mat-form-field>
                    </div>
                    }
                </td>
            </ng-container>

            <!-- Số lượng phòng LCO -->
            <ng-container matColumnDef="totalLCORoom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center " rowspan="2"
                    i18n="@@noOfRoomLCO">No. of room - LCO</th>
                <td mat-cell *matCellDef="let element" class="mat-column-60 right"
                    [style.padding]="element[1]['totalLCORoomEditing']  && !!!disabled()?'0px !important':''"
                    (click)="clickEdit(element[1], 'totalLCORoomEditing')">
                    @if(!element[1]['totalLCORoomEditing'] || !!disabled()){
                    {{ element[1].totalLCORoom |number }}
                    }@else {
                    <div sizeInput="xs">
                        <mat-form-field (clickOutside)="clickOutside(element[1],'totalLCORoomEditing')"
                            class="edit-inline-table">
                            <input matInput type="text" digitOnly [min]="0" [max]="9999"
                                [(ngModel)]="element[1].totalLCORoom">
                        </mat-form-field>
                    </div>
                    }
                </td>
            </ng-container>

            <!-- số đêm -->
            <ng-container matColumnDef="numberOfNight">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center " rowspan="2"
                    i18n="@@noOfNight">No. of night</th>
                <td mat-cell *matCellDef="let element; let i = dataIndex" class="text-right">
                    {{ element[1].numberOfNight |number }}
                </td>
            </ng-container>

            <!-- thành tiền ngoại tệ -->
            <ng-container matColumnDef="totalForex">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center " rowspan="2"
                    i18n="@@totalAmountForeignExchange">Total amount <br />(Foreign exchange)</th>
                <td mat-cell *matCellDef="let element; let i = dataIndex" class="text-right">
                    @if (category() === CategoryEnum.INTERNATIONAL) {
                    {{ Math.round(element[1].totalForex) | number}}
                    }
                </td>
                <td mat-footer-cell *matFooterCellDef class="fw-bold text-right">
                    @if (category() === CategoryEnum.INTERNATIONAL) {
                    {{getTotal('item[1].totalForex') | number}}
                    }
                </td>
            </ng-container>

            <!-- Thành tiền -->
            <ng-container matColumnDef="totalAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center " colspan="2"
                    i18n="@@totalAmountVND">Total amount <br/> (VND)</th>
            </ng-container>

            <!-- thành tiền VND chưa vat -->
            <ng-container matColumnDef="totalExcVAT">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center "
                    i18n="@@excludingVAT">Excluding VAT</th>
                <td mat-cell *matCellDef="let element; let i = dataIndex" class="text-right">
                    {{ Math.round(element[1].totalExcVAT) | number}}
                </td>
                <td mat-footer-cell *matFooterCellDef class="fw-bold text-right">
                    {{getTotal('item[1].totalExcVAT') | number}}
                </td>
            </ng-container>
            <!-- thành tiền VND có vat -->
            <ng-container matColumnDef="totalIncVAT">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center "
                    i18n="@@includingVAT">Including VAT</th>
                <td mat-cell *matCellDef="let element; let i = dataIndex" class="text-right">
                    {{ Math.round(element[1].totalIncVAT) | number}}
                </td>
                <td mat-footer-cell *matFooterCellDef class="fw-bold text-right">
                    {{getTotal('item[1].totalIncVAT') | number}}
                </td>
            </ng-container>

            <!-- Footer -->
            <ng-container matColumnDef="total">
                <td mat-footer-cell *matFooterCellDef class="fw-bold text-left" i18n="@@plannedBudget" [attr.colspan]="this.dataGeneral()?.isECI && this.dataGeneral()?.isLCO ? 5:
                    (this.dataGeneral()?.isECI|| this.dataGeneral()?.isLCO?4:3)">
                    Planned budget
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="headerRowDef1"></tr>
            <tr mat-header-row *matHeaderRowDef="headerRowDef2"></tr>
            <tr mat-row *matRowDef="let row; columns: rowDef;"></tr>
            <tr mat-footer-row *matFooterRowDef="totalRowDef; sticky: true" [hidden]="dataSource.data.length === 0">
            </tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" colspan="999999">No data!</td>
            </tr>
        </table>
    </div>
</div>