:host::ng-deep {
    .wrap-text-1 {
        white-space: normal !important;
        word-wrap: break-word;
        max-width: 200px;
        min-width: 100px;
    }
    .wrap-text-2 {
        white-space: normal !important;
        word-wrap: break-word;
        max-width: 300px;
        min-width: 200px;
    }

    .wrap-text-2 {
        white-space: normal !important;
        word-wrap: break-word;
        max-width: 400px;
        min-width: 300px;
    }

}

.tableau-viz {
  display: block;
}
