<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center justify-content-between mt-2">
        <button type="button" class="btn btn-outline-secondary mr-20" i18n="@@back"
            [routerLink]="['/plan/est-plan/budget-procurement']">
            <i class="material-symbols-outlined">
                undo
            </i>
            Back
        </button>
        <h5 class="mb-0" i18n="@@planSummary">
            Plan summary
        </h5>
    </div>

    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@plan">
            Plan
        </li>
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@estimatedPlan">
            Estimated/Plan
        </li>
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@budgetProcurementPlan">
            Budget & Procurement plan
        </li>
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@summaryPlan">
            Plan Summary
        </li>
    </ol>
</div>

<mat-card class="mb-10 p-15 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="All" i18n="@@all">
                <ng-template matTabContent>
                    <app-budget-procurement-summary-search categoryType="All"
                        (searchEvent)="searchSummary($event,'All')" (formChangeEvent)="formSearchChange($event,'All')">
                    </app-budget-procurement-summary-search>
                    <app-budget-procurement-summary-list [planBudgetProcurementId]="id()"
                        #budgetProcurementSummaryListAll>
                    </app-budget-procurement-summary-list>
                </ng-template>
            </mat-tab>
            <mat-tab label="International" i18n="@@international">
                <ng-template matTabContent>
                    <app-budget-procurement-summary-search [categoryType]="CategoryEnum.INTERNATIONAL"
                        (searchEvent)="searchSummary($event,CategoryEnum.INTERNATIONAL)" (formChangeEvent)="formSearchChange($event,CategoryEnum.INTERNATIONAL)">
                    </app-budget-procurement-summary-search>
                    <app-budget-procurement-summary-list [categoryType]="CategoryEnum.INTERNATIONAL"
                        [planBudgetProcurementId]="id()" #budgetProcurementSummaryListInternational>
                    </app-budget-procurement-summary-list>
                </ng-template>

            </mat-tab>
            <mat-tab label="Domestic" i18n="@@domestic">
                <ng-template matTabContent>
                    <app-budget-procurement-summary-search [categoryType]="CategoryEnum.DOMESTIC"
                        (searchEvent)="searchSummary($event,CategoryEnum.DOMESTIC)" (formChangeEvent)="formSearchChange($event,CategoryEnum.DOMESTIC)">
                    </app-budget-procurement-summary-search>
                    <app-budget-procurement-summary-list [categoryType]="CategoryEnum.DOMESTIC"
                        [planBudgetProcurementId]="id()" #budgetProcurementSummaryListDomestic>
                    </app-budget-procurement-summary-list>
                </ng-template>

            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>