<!-- Breadcrumb -->
<div class="breadcrumb-card mb-10 d-md-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center justify-content-between mt-2">
        <button type="button" class="btn btn-outline-secondary mr-20" i18n="@@back"
            [routerLink]="['/plan/estimate-plan/budget-procurement']">
            <i class="material-symbols-outlined">
                undo
            </i>
            Back
        </button>
        <h5 class="mb-0" i18n="@@planSummary">
            Plan summary
        </h5>
    </div>

    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@plan">
            Plan
        </li>
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@estimatedPlan">
            Estimated/Plan
        </li>
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@budgetProcurementPlan">
            Budget & Procurement plan
        </li>
        <li class="breadcrumb-item d-inline-block position-relative" i18n="@@summaryPlan">
            Summary plan
        </li>
    </ol>
</div>

<mat-card class="mb-10 p-15 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="All" i18n="@@all">
                <app-budget-procurement-summary-search categoryType="ALL"
                    (search)="searchCategoryAll($event)"></app-budget-procurement-summary-search>
                    <app-budget-procurement-summary-list></app-budget-procurement-summary-list>
            </mat-tab>
            <mat-tab label="International" i18n="@@international">
                <app-budget-procurement-summary-search
                    (search)="searchCategoryInternational($event)"></app-budget-procurement-summary-search>
            </mat-tab>
            <mat-tab label="Domestic" i18n="@@domestic">
                <app-budget-procurement-summary-search
                    (search)="searchCategoryDomestic($event)"></app-budget-procurement-summary-search>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>