<mat-card class="mb-15 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-content>
    <form [formGroup]="formGroupSearch" autocomplete="off">
      <div class="row">
        <div class="col-sm-3" sizeInput='sm'>
          <mat-form-field class="mb-1">
            <mat-label i18n="@@airportCode">Airport code</mat-label>
            <input type="text" #marketCode matInput formControlName="marketCode"
                   [matAutocomplete]="marketComplete"
                   (input)="filterMarket()" (focus)="onFocusMarket()">
            <mat-autocomplete autoActiveFirstOption requireSelection #marketComplete="matAutocomplete">
              <mat-option [value]="null">
                -- All airport code --
              </mat-option>
              <mat-option *ngFor="let option of filteredOptionsMarket" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-card-header class="mb-0">
            <mat-card-title>
              <button (click)="search()" class="search-btn" mat-button>
                <i class="material-symbols-outlined">
                  search
                </i>
                Search
              </button>
            </mat-card-title>
          </mat-card-header>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="mb-10 p-15 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-header class="mb-10">
    <mat-card-title>
    </mat-card-title>
    <mat-card-subtitle>
      <button class="add-btn mr-10" type="button" mat-button (click)="toggleDialogUpload()">
        <i class="material-symbols-outlined">
          upload
        </i>
        <span i18n="@@import">Import</span>
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>


  </mat-card-content>
</mat-card>


<!-- Dialog upload file -->
<div class="add-new-popup" [class.active]="showDialogUpload">
  <div class="popup-dialog dialog-with">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none width-percent-100">
      <mat-card-header class="p-15">
        <mat-card-title>
          <h5 class="mb-0">
            Import data
          </h5>
        </mat-card-title>
        <mat-card-subtitle>
          <button mat-button (click)="toggleDialogUpload()">
            <i class="ri-close-fill"></i>
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <span i18n="@@downloadTemplate">Download template</span>
          <button mat-button type="button" class="search-btn min-with-100 mlr-5" style="width: 250px;"
                  (click)="downloadTemplate('tylengudem-template',null,'template')">
            <i class="material-symbols-outlined">
              download
            </i>
            <span i18n="@@airportCodeTemplate">tylengudem-template.xlsx</span>
          </button>
        </div>
        <div class="row mt-20">
          <span i18n="@@selectFile">Select file</span>
          <file-upload [ngClass]="{'invalid':fileUpload.hasError('required') && fileUpload.touched}"
                       [formControl]="fileUpload" class="file-uploader" [multiple]="false"></file-upload>
          @if (fileUpload.hasError('required') &&
          fileUpload.touched) {
            <mat-error i18n="@@fileRequired" style="font-style: italic; font-size: 12px;">File
              {{ MESSAGE.REQUIRED }}
            </mat-error>
          }
          <mat-hint>Note:Please check the planned exchange rate on the system before importing new data</mat-hint>
        </div>
        @if (!!uploadFileError.totalErrors) {
          <div class="row mt-20">
            <p class="text-danger" i18n="@@flightMarket.UploadError">
              Cannot perform excel data import when there are {{ uploadFileError.totalErrors }} error records
            </p>
            <span i18n="@@downloadFileError">Download file error:
                        <button class="pt-0 pb-0" mat-raised-button (click)="downloadFileError()">Download file
                            excel</button>
                    </span>
          </div>
        }
      </mat-card-content>
      <mat-card-actions class="p-15" style="display: flex; justify-content: end;">
        <button type="button" mat-button
                (click)="uploadFileError={};fileUpload.setValue([]) ;fileUpload.reset() ;toggleDialogUpload()"
                class="close-btn  min-with-100 mlr-5">
          <i class="material-symbols-outlined">
            close
          </i>
          <span i18n="@@cancel">Close</span>
        </button>
        <button mat-button type="button" class="add-btn min-with-100 mlr-5" (click)="uploadFile()">
          <i class="material-symbols-outlined">
            upload
          </i>
          <span i18n="@@upload">Upload</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
