<mat-card class="mb-15 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-content>
    <form [formGroup]="formGroupSearch" autocomplete="off">
      <div class="row">
        <div class="col-sm-3" sizeInput='sm'>
          <mat-form-field class="mb-1">
            <mat-label i18n="@@airportCode">Airport code</mat-label>
            <input type="text" #marketCode matInput formControlName="marketCode"
                   [matAutocomplete]="marketComplete"
                   (input)="filterMarket()" (focus)="onFocusMarket()">
            <mat-autocomplete autoActiveFirstOption requireSelection #marketComplete="matAutocomplete">
              <mat-option [value]="null">
                -- All airport code --
              </mat-option>
              <mat-option *ngFor="let option of filteredOptionsMarket" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-card-header class="mb-0">
            <mat-card-title>
              <button (click)="search()" class="search-btn" mat-button>
                <i class="material-symbols-outlined">
                  search
                </i>
                Search
              </button>
            </mat-card-title>
          </mat-card-header>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="mb-10 p-15 border-radius d-block bg-white border-0 shadow-none">
  <mat-card-header class="mb-10">
    <mat-card-title>
    </mat-card-title>
    <mat-card-subtitle>
      <button class="add-btn mr-10" type="button" mat-button (click)="toggleDialogUpload()">
        <i class="material-symbols-outlined">
          upload
        </i>
        <span i18n="@@import">Import</span>
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows="true" class="table-light">
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-center ">#</th>
          <td mat-cell *matCellDef="let element; let i = dataIndex" class="text-center">
            {{ (pageIndex * pageSize) + i + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="marketCode">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@airportCode">
            Airport code
          </th>
          <td mat-cell *matCellDef="let element" class="text-center">{{ element.marketCode }}</td>
        </ng-container>
        <ng-container matColumnDef="nightCount">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@numberOfOvernightStays">
            Number of Overnight Stays
          </th>
          <td mat-cell *matCellDef="let element" class="text-right">
            {{ element.nightCount }}
          </td>
        </ng-container>
        <ng-container matColumnDef="rate">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="font-weight-bold text-center"
              i18n="@@rate">
            Rate
          </th>
          <td mat-cell *matCellDef="let element" class="text-right">
            {{ element.rate }}
          </td>
        </ng-container>
        <ng-container matColumnDef="remark">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@remark" class="text-center">Remark</th>
          <td mat-cell *matCellDef="let element" class="wrap-text-2 text-left">{{ element.notes }}</td>
        </ng-container>
        <ng-container matColumnDef="action" stickyEnd>
          <th *matHeaderCellDef class="text-end" i18n mat-header-cell>
            Actions
          </th>
          <td mat-cell *matCellDef="let element;let i = dataIndex">
            <div class="action-buttons d-flex align-items-center justify-content-end">
              <a mat-button type="button">
              </a>
              <a class="text-warning" (click)="showDialogDetail(i,'index')" mat-button type="button">
                <i class="material-symbols-outlined" i18n-title title="Edit">
                  edit
                </i>
              </a>
              <a (click)="showConfirmDelete(element.id)" i18n-title mat-button type="button">
                <i class="material-symbols-outlined" title="Delete">
                  delete
                </i>
              </a>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center" colspan="7">No data!</td>
        </tr>
      </table>
    </div>

  </mat-card-content>
</mat-card>


<!-- Dialog upload file -->
<div class="add-new-popup" [class.active]="showDialogUpload">
  <div class="popup-dialog dialog-with">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none width-percent-100">
      <mat-card-header class="p-15">
        <mat-card-title>
          <h5 class="mb-0">
            Import data
          </h5>
        </mat-card-title>
        <mat-card-subtitle>
          <button mat-button (click)="toggleDialogUpload()">
            <i class="ri-close-fill"></i>
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <span i18n="@@downloadTemplate" class="text-black">Download template</span>
          <button mat-button type="button" class="search-btn min-with-100 mlr-5" style="width: 250px;"
                  (click)="downloadTemplate('tylengudem-template',null,'template')">
            <i class="material-symbols-outlined">
              download
            </i>
            <span i18n="@@airportCodeTemplate">tylengudem-template.xlsx</span>
          </button>
        </div>
        <div class="row mt-20">
          <span i18n="@@selectFile" class="text-black">Select file</span>
          <file-upload [ngClass]="{'invalid':fileUpload.hasError('required') && fileUpload.touched}"
                       [formControl]="fileUpload" class="file-uploader" [multiple]="false"></file-upload>
          @if (fileUpload.hasError('required') &&
          fileUpload.touched) {
            <mat-error i18n="@@fileRequired" style="font-style: italic; font-size: 12px;">File
              {{ MESSAGE.REQUIRED }}
            </mat-error>
          }
          <mat-hint>Note:Please check the overnight rate on the system before importing new data</mat-hint>
        </div>
        @if (!!uploadFileError.totalErrors) {
          <div class="row mt-20">
            <p class="text-danger" i18n="@@flightMarket.UploadError">
              Cannot perform excel data import when there are {{ uploadFileError.totalErrors }} error records
            </p>
            <span i18n="@@downloadFileError">Download file error:
                        <button class="pt-0 pb-0" mat-raised-button (click)="downloadFileError()">Download file
                            excel</button>
                    </span>
          </div>
        }
      </mat-card-content>
      <mat-card-actions class="p-15" style="display: flex; justify-content: end;">
        <button type="button" mat-button
                (click)="uploadFileError={};fileUpload.setValue([]) ;fileUpload.reset() ;toggleDialogUpload()"
                class="close-btn  min-with-100 mlr-5">
          <i class="material-symbols-outlined">
            close
          </i>
          <span i18n="@@cancel">Close</span>
        </button>
        <button mat-button type="button" class="add-btn min-with-100 mlr-5" (click)="uploadFile()">
          <i class="material-symbols-outlined">
            upload
          </i>
          <span i18n="@@upload">Upload</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


<div class="add-new-popup" [class.active]="showDialogDelete">
  <div class="popup-dialog dialog-delete-with">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none width-percent-100">
      <mat-card-content>
        <div class="text-warning text-center">
                    <span class="material-symbols-outlined font-size-5rem">
                        error
                    </span>
        </div>
        <div class="text-center mb-20">
          <h3 class="mb-0" i18n="@@deleteMessage">Are you sure you want to delete?</h3>
        </div>
        <div class="text-center mb-20">
                    <span class="font-weight-normal color-black font-size-19" i18n="@@warningDeleteMessage">
                        You will not be able to recover the deleted data!</span>
        </div>
        <div class="btn-box text-center">
          <button type="button" mat-button (click)="closeConfirmDelete()"
                  class="close-btn  min-with-100 mlr-5">
            <i class="material-symbols-outlined">
              close
            </i>
            <span i18n="@@cancel">Cancel</span>
          </button>
          <button mat-button type="button" class="add-btn min-with-100 mlr-5" (click)="delete()">
            <i class="material-symbols-outlined">
              save
            </i>
            <span i18n="@@confirm">Confirm</span>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div
  [class.active]="showDialogCreate"
  class="add-new-popup"
>
  <div class="popup-dialog">
    <mat-card class="border-radius d-block bg-white border-0 shadow-none container">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0">
            <span *ngIf="formGroupDetail.value.id" i18n>Edit</span>
          </h5>
        </mat-card-title>
        <mat-card-subtitle>
          <button
            (click)="closeDetail()"
            mat-button
          >
            <i class="ri-close-fill"></i>
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="formGroupDetail" (ngSubmit)="save()" autocomplete="off">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="form-group mb-20" sizeInput="md">
                <mat-form-field class="mb-1">
                  <mat-label i18n="@@airportCode">Airport code</mat-label>
                  <input type="text" #marketCode matInput formControlName="marketCode"
                         [matAutocomplete]="marketComplete"
                         (input)="filterMarket()" (focus)="onFocusMarket()">
                  <mat-autocomplete autoActiveFirstOption requireSelection #marketComplete="matAutocomplete">
                    <mat-option [value]="null">
                      -- Choose airport code --
                    </mat-option>
                    <mat-option *ngFor="let option of filteredOptionsMarket" [value]="option">
                      {{ option }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="form-group mb-20" sizeInput="md">
                <mat-form-field>
                  <mat-label i18n>Number of overnight stays</mat-label>
                  <input formControlName="nightCount" matInput
                         min="1" max="99" required type="number">
                  @if (!!formGroupDetail.controls['nightCount'].hasError('required')) {
                    <mat-error><span i18n>Pilot number</span><span i18n> is required</span></mat-error>
                  } @else if (!!formGroupDetail.controls['nightCount'].hasError('min')) {
                    <mat-error><span i18n>Pilot number</span><span i18n> must be greater than 1</span></mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="form-group mb-20" sizeInput="md">
                <mat-form-field>
                  <mat-label i18n>Rate</mat-label>
                  <input formControlName="rate" matInput
                         min="1" max="99" required type="number">
                  @if (!!formGroupDetail.controls['rate'].hasError('required')) {
                    <mat-error><span i18n>Pilot number</span><span i18n> is required</span></mat-error>
                  } @else if (!!formGroupDetail.controls['rate'].hasError('min')) {
                    <mat-error><span i18n>Pilot number</span><span i18n> must be greater than 1</span></mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <mat-form-field>
                <mat-label i18n>Remark</mat-label>
                <textarea formControlName="notes" matInput></textarea>
                <mat-hint align="end">{{ formGroupDetail.value.notes?.length }} / 500</mat-hint>
                @if (!!formGroupDetail.controls['notes'].hasError('maxlength')) {
                  <mat-error><span i18n>Remark</span><span i18n> must be less than 500 characters</span></mat-error>
                }
              </mat-form-field>
            </div>
          </div>
          <div class="btn-box">
            <button (click)="closeDetail()" class="close-btn" i18n mat-button type="button">
              <i class="material-symbols-outlined">
                close
              </i>
              Close
            </button>
            <button
              (click)="save()"
              class="add-btn"
              i18n mat-button
            >
              <i class="material-symbols-outlined">
                save
              </i>
              Save
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

