<div
  class="forgot-password-area"
  [class.dark-theme]="themeService.isDark()"
>
  <div
    class="trezo-form ml-auto mr-auto"
    [class.component-dark-theme]="themeService.isDark()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
  >
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 order-2 order-lg-1">
        <div class="form-image">
          <img src="images/background.jpg" alt="sign-in-image">
        </div>
      </div>
      <div class="col-lg-6 col-md-12 order-1 order-lg-2">
        <div class="form-content">
          <div class="logo">
            <img src="images/logo_vna4.png" alt="logo">
<!--            <img src="images/white-logo-big.svg" class="d-none" alt="logo">-->
          </div>
          <div class="title">
            <h1 class="fw-semibold" i18n>
              Forgot your password?
            </h1>
            <p class="fw-medium" i18n>
              Enter the email address you used when you joined and we’ll send you instructions to reset your password.
            </p>
          </div>
          <form ngForm  [formGroup]="formGroup" (ngSubmit)="requestForgotPassword()">
            <div class="form-group">
              <label class="main-label d-block fw-medium text-black" i18n>
                Email Address
              </label>
              <mat-form-field>
                <mat-label>
                  example&#64;vna.com
                </mat-label>
                <input matInput type="email"  formControlName="email"  required />
                              <mat-error *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched">
                                <span *ngIf="formGroup.get('email')?.hasError('required')">
                                Email is required
                                </span>
                                <span *ngIf="formGroup.get('email')?.hasError('email')">
                                  Invalid email
                                </span>
                                <span *ngIf="formGroup.get('email')?.hasError('incorrect')">
                                   {{ errorMessage }}
                                </span>
                              </mat-error>
              </mat-form-field>
                          <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#2a6886" type="ball-climbing-dot"
                                       [fullScreen]="false"></ngx-spinner>
            </div>
                    <p *ngIf="successMessage" class="success-message">
                      {{ successMessage }}
                    </p>
            <button type="submit" mat-button>
              <i class="material-symbols-outlined">
                autorenew
              </i>
              Send
            </button>
            <p class="info">
              Back to <a routerLink="/auth/login" class="fw-semibold text-primary"  i18n>Sign In</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
