<div
  class="sign-in-area"
  [class.dark-theme]="themeService.isDark()"
>
  <div class="trezo-form ml-auto mr-auto">
    <div class="login-container">
      <mat-card class="login-card">
        <img class="logo" src="images/logo_vna7.png" alt="Vietnam Airlines Logo" />
        <h2 class="title" i18n>Forgot password</h2>
        <!-- Thông báo thành công -->
        <p *ngIf="successMessage" class="success-message">
          {{ successMessage }}
        </p>
        <!-- Thông báo lỗi -->
        <p *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </p>
        <div class="form-login">
          <form ngForm  [formGroup]="formGroup" (ngSubmit)="requestForgotPassword()">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label i18n>EMAIL</mat-label>
              <input matInput type="email"  formControlName="email"  required />
              <mat-error *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched">
                <span *ngIf="formGroup.get('email')?.hasError('required')">
                Email is required
                </span>
                <span *ngIf="formGroup.get('email')?.hasError('email')">
                  Invalid email
                </span>
              </mat-error>
            </mat-form-field>
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#2a6886" type="ball-climbing-dot"
                         [fullScreen]="false"></ngx-spinner>
            <div class="login-actions">
              <button mat-raised-button type="submit" i18n [disabled]="formGroup.invalid"  class="login-btn">
               Forgot password
              </button>
            </div>
          </form>
        </div>
        <div class="forgot-password-container">
          <i class="material-symbols-outlined">
            undo
          </i> <a href="auth/login" class="forgot-password" i18n>Back to Signin</a>
        </div>
      </mat-card>
    </div>
  </div>
</div>
